[2019-07-11 18:34] #761 closed

[2019-07-11 19:09] stepro71 opened #786 "Valid domain cannot use tunnel site"
I get this error and then "something went wrong" when trying to distribute the app.
Sideloading is enabled for the tennant

[2019-07-11 20:13] vultureman opened #787 "Indented Numbered List re-sorts when deleting item above it in hierarchy"
Running Teams Version 1.2.00.17057 (64-bit) on Win10 1809.

In the Wiki feature for Teams, I've run into an issue with indented numbered lists. Please note that, in the example below, "Burritos" and everything below it is a level **under** "Mexican Food", not at the same level as "Mexican Food":

[code]
If I hit backspace once at the beginning of the "Types of Tacos" line (put cursor before the "T

[2019-07-11 22:11] drewling390 opened #788 "Conversations started that reference two files removes each of their unique conversations"
If you start a new conversation with two files and when you already have unique conversations for each of those files, you will no longer be able to access those unique conversations in the File view.

[2019-07-11 22:17] drewling390 commented on #788
To recreate:

1. Post File 1 to Teams and start a new conversation and post "File 1"
2. Post a File 2 to Teams and start a new conversation and post "File 2"
3. Start a new conversation and attached those two files to the conversation and post "Both files"
4. Open File 1 in File view and open the conversation. Only the "Both file" conversation will remain and the "File 1" item is now lost.

[2019-07-12 04:33] Gousia-MSFT commented on #786
@stepro71 Could you please share a screenshot of youe valid domains? Please list out your valid domains like specified [here](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema#validdomains).

[2019-07-12 04:48] Gousia-MSFT commented on #704
@jadelp Thanks for reporting this. This is a bug and we are looking into it.

[2019-07-12 06:29] NaveenAttri opened #789 "Meetings are only showing in my outlook if i accept the meetings or i have to restart my outlook"
Meetings are only showing in my outlook if i accept the meetings or i have to restart my outlook

[2019-07-12 06:30] NaveenAttri commented on #789
As i received the meeting invite , its not showing up in calender in outlook untill i accept the meeting or if i restart the outlook, calender shows the meetings.

[2019-07-12 09:06] stepro71 commented on #786
I am using a domain in the form of https://yourteamsapp.ngrok.io/ and Ngrok to tunnel to my development pc

[2019-07-12 09:21] Gousia-MSFT commented on #789
@NaveenAttri Is this related to Microsoft Teams meetings?

[2019-07-12 10:00] Gousia-MSFT commented on #784
@pashu1234 Could you please check if there are multiple instances of your app in different teams, delete them and install again?

[2019-07-12 10:37] Trinetra-MSFT commented on #776
We tried your code in both web and windows Teams app. This works fine in both. Can you please provide the repo steps so that we can try it that way. Can you please share BOT id as well.

[2019-07-12 12:06] NaveenAttri commented on #789
yes, Its regarding Microsoft Teams meetings.

[2019-07-12 20:46] stepro71 opened #790 "I am using a domain in the form of https://yourteamsapp.ngrok.io/ and Ngrok to tunnel to my development pc"
I am using a domain in the form of https://yourteamsapp.ngrok.io/ and Ngrok to tunnel to my development pc

_Originally posted by @stepro71 in https://github.com/MicrosoftDocs/msteams-docs/issues/786#issuecomment-510812071_

[2019-07-12 20:49] #790 closed

[2019-07-12 20:51] stepro71 commented on #786
Sorry, closing was in error

[2019-07-12 22:32] laujan commented on #786
Hi, you can use ngrok to test your app in Teams, but it must be on a hosted site prior to submission to the Teams store. Have you tried using the Teams web-based version -- https://teams.microsoft.com --while testing? If so, when the “something went wrong” message appeared, did the dev tools console return any errors?

[2019-07-13 07:53] stepro71 commented on #786
This is solved. The reason for my error  had nothing to do with the valid domains. I loaded the .manifest - file instead of the -zip file.  Deleted App and reconfigured with uploading the zip file - everything ok.
Thank you for your help.

[2019-07-13 07:53] #786 closed

[2019-07-13 09:52] compulim opened #793 "How to "calling us to fetch tokens"?"
In the [How do tabs in Teams differ from a browser viewing the same content URL?](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-overview?view=msteams-client-js-latest#how-do-tabs-in-teams-differ-from-a-browser-viewing-the-same-content-url) section, it mentioned "either via a popup or calling us to fetch tokens".

After reading a few articles around this topic, I still

[2019-07-13 12:42] hradawski commented on #611
Exactly! Good Question is, how to create, wich is the algoritm to create those TeamsUsersId isolated.

[2019-07-14 10:33] aabuhijleh commented on #785
Thanks @Trinetra-MSFT. I'm able to login now.

[2019-07-14 10:33] #785 closed

[2019-07-14 16:52] unt1tled commented on #605
I don't see it documented anywhere but I've noticed that it restricts me from sending a message when the card height is over 750px.

[2019-07-14 17:19] unt1tled opened #797 "URL markdown breaks on mobile with parentheses"
Rendering the following card works as expected in the desktop app, but not the mobile app.
`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "TextBlock",
            "text": "Check out [(555) 194-9393](tel://5551949393)"
        }
    ]
}`

It seems that the markdown breaks if the UR

[2019-07-15 07:19] Gousia-MSFT commented on #788
@drewling390 Thanks for reporting this. We have raised a bug for this and we are looking into it.

[2019-07-15 10:21] Gousia-MSFT commented on #750
@carlowahlstedt Thanks for reporting it. We have raised a bug for this.

[2019-07-15 10:36] Trinetra-MSFT commented on #748
@roalexan - [Try this sample code](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/tree/master/CSharp/Samples/Microsoft.Bot.Builder.Teams.MessagingExtensionBot)

[2019-07-15 10:44] Trinetra-MSFT commented on #766
Currently there is no PowerShell support for creating Outgoing Webhook.

[2019-07-15 11:07] Leks12lk commented on #780
@Gousia-MSFT it works for me. Thanks for your help.

[2019-07-15 11:07] #780 closed

[2019-07-15 11:41] Wajeed-msft commented on #598
Sorry for delay in response, lost track of this. You should be using **/v3/conversations** to create a new reply chain.

Ex:  Create New Conversation:
Request POST https://smba.trafficmanager.net/amer/v3/conversations
[code]

Response:  `{"id":"19:1842ec2df6764baeac2cf887247fe247@thread.skype;messageid=1555420451879","activityId":"1:1sG_SL2Iu1L7zglxUUzOhG2A4xCMV-5LccgqAP336ivk"}`

----------------

[2019-07-15 11:41] #598 closed

[2019-07-15 12:44] Wajeed-msft commented on #572
Please re-open with requested details, if you are still facing this issue.

[2019-07-15 12:44] #572 closed

[2019-07-15 12:52] Wajeed-msft commented on #492
We are tracking this internally. Closing this from documentation issues.

[2019-07-15 12:52] #492 closed

[2019-07-15 12:56] Wajeed-msft commented on #660
We are tracking this internally. Closing this from documentation issues.

[2019-07-15 12:56] #660 closed

[2019-07-15 16:06] vishmonne commented on #751
hi @Wajeed-msft , the above mentioned teams version issue where should i report?

[2019-07-15 16:47] AustinTByrd opened #800 "Private channels not appearing for vendors for the desktop Mac OS client"
Private channels not appearing for vendors for the desktop Mac OS client. Only appears on the web application.

[2019-07-15 23:36] v-kydela opened #801 "OAuth cards"
Are OAuth cards supported in Teams? They're not in the supported list but they're not in the unsupported list either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a3bcf2-332a-8d24-a8d1-7e3816897745
* Version Independent ID: 68fb9551-ce95-0112-2703-721a1af01f23
* Content: [Cards Reference - Teams](https://docs.micro

[2019-07-16 05:08] Gousia-MSFT commented on #787
@vultureman Thanks for reporting this. We have raised a bug for this and we are looking into it.

[2019-07-16 05:30] Gousia-MSFT commented on #797
@unt1tled Thanks for reporting this. We have raised a bug for this.

[2019-07-16 06:57] Gousia-MSFT commented on #800
@AustinTByrd Could you please share a screenshot of the issue you are facing.

[2019-07-16 07:19] Navega commented on #776
I see the problem for any BOT, but the key that I use is "c8772eea-1f82-4611-aefd-752c76658239".

The steps are:

1. Fetch task from messaging extension, then we return a form.
2. Submit the form to create a task.
3. Offer 2 action buttons to:
a. Inject new task in chat.
b. Open new task in iframe.
4. Click "Open the new task" button.
5. We see the screenshot that I attached in my initial comment.

[2019-07-16 11:16] Gousia-MSFT commented on #801
@v-kydela Yes, OAuth cards are supported inside Teams. They are mainly used for Authentication. Please refer to the [docs ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-oauth-card)to understand how to use this. Please let us know if you are facing any issues.

[2019-07-16 15:45] v-kydela commented on #801
@Gousia-MSFT - Can the document be updated to include OAuth cards instead of just sign-in cards?

[2019-07-16 17:58] clearab commented on #727
updated

[2019-07-16 17:58] #727 closed

[2019-07-17 09:25] vishmonne opened #802 "Chat history is persists in Teams ?"
Hi Team,

IN Teams desktop app , i am chatting with the chatbot using the app id from Azure . what i see is that the chat history is always visible in Teams even after i log out and log in to the same chat.

So i wanted to know if there is any way to clear the chat through code , or why is it like that in teams .

[2019-07-17 14:16] einue opened #803 "Connection timeout"
When I try to test the bot, nothing is loaded and I receive the message in the debug console

 `ERROR: Error retrieving OpenId metadata at https://login.botframework.com/v1/.well-known/openidconfiguration, error: Error: connect ETIMEDOUT 52.232.26.228:443`

Do you have any idea what's going wrong? I use the ngrok-variant for testing the hello world app

[2019-07-17 14:23] einue opened #804 "connection timeout"
When I try to test the bot, nothing is loaded and I receive the message in the debug console

 `ERROR: Error retrieving OpenId metadata at https://login.botframework.com/v1/.well-known/openidconfiguration, error: Error: connect ETIMEDOUT 52.232.26.228:443`

Do you have any idea what's going wrong? I use the ngrok-variant for testing the hello world app

---
#### Document Details

⚠ *Do not edit th

[2019-07-17 18:09] damienestewart opened #805 "Clear Cache"
Hi Team,

Is there a way to keep MS Teams from caching the content pages during development?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51ca77fe-cc16-a40c-d157-582d51b29d1a
* Version Independent ID: bb36842e-d434-1464-533f-769879c91bdd
* Content: [Static tabs - Teams](https://docs.microsoft.com/en-us/micro

[2019-07-18 04:23] Wajeed-msft commented on #701
@simiczhang - This function works fine even inside task module which is opened by messaging extension. Could you please confirm if getTabInstances() function is working fine in personal tab for you? Use [the code](https://github.com/MicrosoftDocs/msteams-docs/issues/701#issuecomment-500713940) shared by @Gousia-MSFT and create simple tab which just displays tab instances.

[2019-07-18 05:59] Gousia-MSFT commented on #805
@damienestewart Could you please elaborate on this? Are you saying that the Static tabs content pages are cached and you cannot reload them?

[2019-07-18 06:08] Gousia-MSFT commented on #803
Duplicate of [connection timeout](https://github.com/MicrosoftDocs/msteams-docs/issues/804).

[2019-07-18 06:19] simiczhang commented on #701
@Wajeed-msft  , it would trigger callback now but somehow it just didn't find any tabInstances , e.g. the static tab from app.

[2019-07-18 06:34] Gousia-MSFT commented on #804
@einue Could you please share your bot id with us?

[2019-07-18 06:36] Gousia-MSFT commented on #802
@vishmonne Teams chat is a persistent chat. There is no way to clear chat history with a bot.

[2019-07-18 06:48] Gousia-MSFT commented on #701
@simiczhang Do you have tabs for this app configured in any of the teams?

[2019-07-18 07:01] einue commented on #804
@Gousia-MSFT My bot id is 1be6ab02-6542-4e7e-b590-af8751000de2

[2019-07-18 07:18] einue opened #807 "Action after incoming call.."
Is there a possibility to include an action, when a call is incoming or after end of call like export the callers data to another program? Therefore I want to use the RESt-API of the other program. But I can't find a possibility to listen on such a call event in teams. How can I "listen" on such an incoming event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-18 08:43] damienestewart commented on #805
Hi @Gousia-MSFT! Yes, that was exactly the problem. Visiting the static tab's content page from my browser always showed the most recent version of the page, but the tab itself would always load the same older version of the content (even when I uninstalled/reinstalled the app or restarted Teams).

Eventually, I changed the url for the tab by appending '?', and that seemed to force it to load the

[2019-07-18 13:32] pashu1234 commented on #784
@Gousia-MSFT  we have tries (uninstalling the all  app from other Teams).
 we have even tried with the New Tenant where App Is never configured.
 Issue is appearing when i will install the BOT and Extension in the Same Team.

[2019-07-18 13:35] DanielKapica opened #808 "Emoji Inconsistency in MS Teams Windows Client"
The emoji in the last sent/received message preview in the chat list is different to the actual emoji send in the chat. I have sent a smiley emoji, but the preview shows a laughing/open mouth emoji.

![EmojiChat](https://user-images.githubusercontent.com/43884407/61461738-36f1fe80-a969-11e9-9da4-fef274c81cd8.png)

[2019-07-18 15:04] tsahi commented on #727
The code example was fixed, but the line above it still says, "Call `GetTeamsConversationMembersAsync` using `Team.Id` to return a list of user IDs."

[2019-07-18 15:16] jadelp commented on #704
I have tested in our environment and the links are now correct! Thank you all for such an easy platform to report issues and for resolving this for us!

[2019-07-18 16:53] Ky7m commented on #805
You can try to sign out and sign in back to Teams. I know it is not the easiest way to perform cache clean

[2019-07-18 18:11] damienestewart commented on #805
@Ky7m I'm thinking you were right about that. I signed out, quit, restarted my machine, and now it seems to work. Strange! Thanks.

[2019-07-18 18:11] #805 closed

[2019-07-18 21:56] aosolis commented on #805
@damienestewart Another way is to go to your tab, and bring up the dev tools using this technique: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-tools

Then you can either clear your storage, or disable the cache using the Network tab then reload your tab by running window.location.reload() in the Console tab.

[2019-07-19 00:26] clearab commented on #727
Thanks for pointing that out, will be fixed in the next publish.

[2019-07-19 02:32] simiczhang commented on #701
Yes, I have configured a tab in the manifest of this app and install this app for my team in Teams (by "upload custom app")

[2019-07-19 04:16] Gousia-MSFT commented on #701
@simiczhang Sorry, I could not get that. Could you please confirm if you have added that [configurable tab](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-configuration)(which you have listed in the manifest) as a tab in the team by clicking on the + icon you see in the team?

![image](https://user-images.githubusercontent.com/45553518/61508927-c7801b80-aa09-11e9-846e-

[2019-07-19 05:05] Gousia-MSFT commented on #784
@pashu1234 Could you please share your complete manifest?

[2019-07-19 05:22] Gousia-MSFT commented on #808
@DanielKapica
![image](https://user-images.githubusercontent.com/45553518/61510914-8d674780-aa12-11e9-8d86-58f559a2486b.png)
These are reactions to the message you send/receive. This is not the preview of the emoji.
You could see the preview of the emojis from the bottom rail:
![image](https://user-images.githubusercontent.com/45553518/61510992-da4b1e00-aa12-11e9-8fdd-de6eb95aa6cd.png)
And these e

[2019-07-19 06:47] Gousia-MSFT commented on #804
@einue Can you check if you are able to access this Url from your local machine?
https://login.botframework.com/v1/.well-known/openidconfiguration

[2019-07-19 06:51] einue commented on #804
@Gousia-MSFT : yes, when I open this site, I can see the following json
`{
  "issuer": "https://api.botframework.com",
  "authorization_endpoint": "https://invalid.botframework.com",
  "jwks_uri": "https://login.botframework.com/v1/.well-known/keys",
  "id_token_signing_alg_values_supported": [
    "RS256"
  ],
  "token_endpoint_auth_methods_supported": [
    "private_key_jwt"
  ]
}`

Hm, we are w

[2019-07-19 07:35] simiczhang commented on #701
@Gousia-MSFT  Ok, I see the gap , I didn't add the tab to team or channel, but I hope the getTabInstance would tell me the tab in the App view itself (sidebar click "myapp" would navigate me to the conversation to this app and there I would find the tab I configured in the manifest). So is there anyway to get tab instance information in App conversation ?

[2019-07-19 08:57] Gousia-MSFT commented on #804
@einue Could you please check if it is getting blocked at your end?

[2019-07-19 09:04] einue commented on #804
@Gousia-MSFT how can I check this? And at which part of the application I should do that? I mean, I can go to the endpoint in browser and receive the json.

[2019-07-19 09:36] Gousia-MSFT commented on #701
@simiczhang `getTabInstances `only fetches the configured tabs for your app. Once you [configure a tab](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-configuration) in team you could call it from a [static tab](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-static) or a [message extension](https://docs.microsoft.com/en-us/microsoftteams/pl

[2019-07-19 17:24] clearab commented on #605
There is a limit for card sizes, but it is context and client dependent and can be quite difficult to calculate accurately. We are debating on how best to document the limit, given the complexity.

[2019-07-19 17:28] damienestewart commented on #805
I didn't know about this @aosolis - thanks a lot!

[2019-07-19 19:47] clearab commented on #808
@Gousia-MSFT I can repro this behavior. If you send someone a smiley face from the emoji window, the chat preview message on the left shows a slightly different emoji. Send you a Teams message.

[2019-07-19 22:10] #453 closed

[2019-07-19 22:22] #484 closed

[2019-07-19 22:27] #510 closed

[2019-07-19 22:27] clearab commented on #510
Screenshot was extraneous, and was removed.

[2019-07-19 23:33] clearab commented on #695
@asnow003 This method still shows in the newly generated documentation. Should this be available? https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/?view=msteams-client-js-latest#registerbeforeunloadhandler--readytounload--------void-----boolean-

[2019-07-19 23:34] #704 closed

[2019-07-19 23:40] clearab commented on #706
@lokimeyburg Can you deep link to sub-entities in SharePoint as described here?

[2019-07-19 23:47] clearab commented on #741
fixed by #810

[2019-07-19 23:47] #741 closed

[2019-07-19 23:51] clearab commented on #753
fixed in #810

[2019-07-19 23:51] #753 closed

[2019-07-19 23:53] clearab commented on #746
Hi - thank you for your feedback. We are considering adding this to a future release.

[2019-07-19 23:53] #746 closed

[2019-07-20 18:38] basxib opened #814 "Documentation should contain different versions for different bot framework sdks"
This documentation is confusing because this is based on SDK V3 of the bot framework and V4 is not backwards compatible,, which makes this doc invalid for V4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ff3777-49c4-8cdc-089e-8612a8774ffb
* Version Independent ID: 0d927000-0b55-2129-cbbb-6630c1ec481e
* Content: [Se

[2019-07-22 02:29] simiczhang commented on #701
That should be working .

[2019-07-22 04:28] #701 closed

[2019-07-22 07:16] Navega commented on #556
Re-opening because this is happening again for cards in Messaging extension, for conversations and channgels.

![issue](https://user-images.githubusercontent.com/16117077/61613348-65215800-ac61-11e9-8512-0226b5d01fa5.JPG)

[2019-07-22 07:27] Navega opened #815 ""Unable to reach app": Buttons for invoking a task module from adaptive cards (injected from Messaging Extension) are broken in the first minutes."
This should be fixed here https://github.com/MicrosoftDocs/msteams-docs/issues/556

But I re-open because it is happening again. The behavior now is that button to invoke a task module is broken with the message "Unable to reach app. Please try again".

![issue](https://user-images.githubusercontent.com/16117077/61614089-2c827e00-ac63-11e9-885d-c43414f1a070.JPG)

An interesting point is that the s

[2019-07-22 07:44] Wajeed-msft commented on #815
Could you please put a try-catch in your code and see if there is any failure? Could you please also try [Task Module sample app manifest](https://github.com/OfficeDev/microsoft-teams-sample-task-module-nodejs/blob/master/TaskModule.zip) and see if it is working for you.

[2019-07-22 09:09] ParkHost opened #816 "Navigation Error with switching from "Teams" to "Chat" after opening a document."
MS teams crashes when opening a document like word or excel.
After opening the document and going back to the "Chat" section, Teams crashes with an navigation_error code.

We received the error since the last MS Teams update.

![MS-Teams-Crash](https://user-images.githubusercontent.com/26667983/61620424-0b288e80-ac71-11e9-8377-86a1ff99b378.png)

[2019-07-22 09:13] Navega commented on #815
Hey Wajeed, thanks for your quick answer.

The problem is that button isn't connecting to my server when I click on it, so the try-catch is useless in this case.

With that sample app I see cards with buttons to fetch module tasks and it works fine, but they are injected from bot conversation, and these are working fine also for us. The problem is related to injected cards from Messaging Extension

[2019-07-22 10:01] Gousia-MSFT commented on #816
@MrHpower How many users are facing this? Could you please share the logs which can be obtained by pressing Ctrl+Alt+Shift+1 with Teams app in focus.

[2019-07-22 10:23] MrHpower commented on #816
This is reported by a couple of my colleagues, they are using teams the most in combination with editing office files in the SharePoint environment.

[MSTeams Diagnostics Log 22-7-2019_12_15_32_calling.txt](https://github.com/MicrosoftDocs/msteams-docs/files/3416811/MSTeams.Diagnostics.Log.22-7-2019_12_15_32_calling.txt)
[MSTeams Diagnostics Log 22-7-2019_12_15_32_sync.txt](https://github.com/Micr

[2019-07-22 10:35] Gousia-MSFT commented on #815
@Navega We could not repro this issue. Task Module from Message Extension works as expected for us. Could you please share your app manifest with us?

[2019-07-22 10:52] Gousia-MSFT commented on #816
@MrHpower Thanks for sharing the logs. We are looking into this.

[2019-07-22 12:14] Gousia-MSFT commented on #808
@DanielKapica Thanks for reporting this. We have raised a bug for this and we will look into it.

[2019-07-22 14:03] Navega commented on #815
Is it safe to share the manifest with bot ids here or could you share with me a mail address to send it?

The easiest way to reproduce it in web app:
1. Inject card from messaging extension.
2. Click button
3. It fails
4. Refresh the page
5. Click button again
6. It works

Here a link to video: https://recordit.co/Lqj5nl7PMf

[2019-07-22 17:51] MatthewRock opened #817 "Despite following the instructions the application does not work."
When following the steps from https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-dotnet-app-studio#download-the-sample , the application compiles but does not work - when trying to reach the page with hello world example, an error page is displayed instead. This solution resolved the problem: https://stackoverflow.com/a/34391473

I have included [error_page.txt](https

[2019-07-22 20:36] ajcoll5 opened #818 "Image view not opening on desktop app"
If an image was pasted into a Teams message, the image "preview" that appears when clicking on the thumbnail in chat is broken. For example, right click on an image in Firefox and select copy. Paste this image into a chat message and send the message. If you click on the image, you will just get a broken image icon in the center of the screen.

According to Fiddler us-prod.asyncgw.teams.microsoft.

[2019-07-23 02:28] #771 closed

[2019-07-23 02:28] #766 closed

[2019-07-23 02:39] #803 closed

[2019-07-23 02:39] clearab commented on #764
Can you please confirm that you have enabled developer preview?

[2019-07-23 02:46] Wajeed-msft commented on #646
Please re-open if you are still facing this issue.

[2019-07-23 02:46] #646 closed

[2019-07-23 02:47] #802 closed

[2019-07-23 02:50] Wajeed-msft commented on #750
We are tracking this internally. Closing this from documentation issues.

[2019-07-23 02:50] #750 closed

[2019-07-23 02:57] Wajeed-msft commented on #804
@einue - How were you able to check and fix check it for  npm? Could you please use Fiddler to check if any request is getting blocked?

[2019-07-23 03:01] Wajeed-msft commented on #672
We are tracking this feature request internally. Closing this issue from documentation page.

[2019-07-23 03:01] #672 closed

[2019-07-23 03:02] Wajeed-msft commented on #722
This issue has been fixed. Please re-open if you are still facing it.

[2019-07-23 03:02] #722 closed

[2019-07-23 03:03] #760 closed

[2019-07-23 03:07] Wajeed-msft commented on #808
We are tracking this bug internally. Closing this from documentation issues page.

[2019-07-23 03:07] #808 closed

[2019-07-23 03:19] clearab commented on #793
Hi - you can read about authentication in tabs here: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-flow-tab

[2019-07-23 03:23] clearab commented on #814
Yes, documentation and sample support for v4 bots on Teams will be forthcoming over the next few months. There is an authentication sample available here: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth

[2019-07-23 03:23] #814 closed

[2019-07-23 03:26] cimadai opened #823 "Not supported JSON object in iOS App for invoke action."
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions#invoke
&gt; The invoke action contains three properties: type, title, and value.
&gt; The value property can contain a string, a stringified JSON object, or a JSON object.
It seems support a string, a stringified JSON object, or a JSON object, but actually only a string and a stringified JSON object in iOS App.

[2019-07-23 03:30] Wajeed-msft commented on #823
Could you please share the code snippet for the card which is failing?

[2019-07-23 04:29] cimadai commented on #823
@Wajeed-msft Sure.

This is good activity code.

[code]

And this is bad activity code.

[code]

The difference is the value data type.
Good one is a stringified JSON object and Bad one is a JSON object.

[2019-07-23 04:52] Gousia-MSFT commented on #815
@Navega I was trying this in personal scope and yes I could repro this inside a team. I have raised a bug for this. We are looking into it.

[2019-07-23 13:59] ajcoll5 commented on #818
Looks like the issue has been fixed - closing ticket.

[2019-07-23 13:59] #818 closed

[2019-07-23 16:03] billbliss commented on #766
He's not asking for the ability to _create_ an outgoing webhook using PowerShell. He's asking for an example of how to _respond to messages from an outgoing webhook.

That's not possible either, however, because we require anything that receives messages - outgoing webhook, bots -- to have an internet-facing https:// endpoint.

This is a "behind the firewall bots" request but for PowerShell.

[2019-07-23 16:04] #793 closed

[2019-07-23 16:20] billbliss commented on #611
The algorithm is a one-way hash for privacy reasons, so we have no plans to expose it.

[2019-07-23 17:16] miketeix commented on #344
hey @mastef thanks for posting. I'm using the node.js sample connector https://github.com/OfficeDev/microsoft-teams-sample-connector-nodejs and the webhook url is not coming through in the query params when my config callback is called. Any chance you could open-source your 'Test Connector' to see what I'm doing differently?

[2019-07-23 17:46] AndyLKhuu opened #824 "Commendation"
The Section "Leverage what you've already built" is really useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d160926a-58af-cf0a-bc9d-f9490d04be36
* Version Independent ID: e729fb32-86b3-ceca-3a66-639176e515bc
* Content: [Design apps for Microsoft Teams - Teams](https://docs.microsoft.com/en-us/microsoftteams/platf

[2019-07-24 03:16] azzurolilc opened #825 "botbuilder v4 support"
current version runs on botbuilder v3, examples need updating

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ef8b328-5f30-9a29-bd8a-23281ac917c6
* Version Independent ID: de0c7fce-8153-b87d-0392-40dab998e535
* Content: [Authentication for bots using Azure Active Directory - Teams](https://docs.microsoft.com/en-us/micr

[2019-07-24 03:27] Wajeed-msft commented on #344
@miketeix - Connector configuration page is an HTML page. You can refer to [C# sample](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/master/TeamsToDoAppConnector/Views/Connector/Setup.cshtml) to setup the configuration. Please follow the [Adding a Connector to your Teams App](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-creatin

[2019-07-24 10:29] kronarthereal opened #826 "Dedicated graphics card always in use"
Since the next to last release Mac version of Microsoft Teams Helper always activates the dedicated graphics card. This was not the case for older versions. Causes more heat and power consumption on battery....
Please fix dependency or introduce a setting...

Thank you
Best regards.
Roland

[2019-07-24 17:13] #817 closed

[2019-07-24 17:14] clearab commented on #817
Thanks for letting us know. I've previously added the post-build script that should have made sure the csc.exe file was placed appropriately. I've added a note to the article about force updating the package. We'll consider removing the Roslyn dependency in the future.

[2019-07-25 09:52] crow-ua opened #830 "Where one should get an appId to submit task with parameters?"
`If you do call submitTask() with a result parameter, you must pass an appId or an array of appId strings`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28710a9a-332d-6f67-e4cc-9681a1798e0f
* Version Independent ID: 116d97a4-dabd-036e-630b-7cf080b87099
* Content: [Using Task Modules in Microsoft Teams bots - Teams](ht

[2019-07-25 09:58] HN5 opened #831 "More ressources / guided steps to use TaskModules"
Hi, is there any possibility to get more guided step/turorial to be able to use TaskModules and replicate button modal on a static website :(

i don't figure out how to handle this with the documentation or with the source code from TaksModul Sample from @billbliss . maybe i'm missing something :/

Many thx for your time & help

[2019-07-25 10:05] Trinetra-MSFT commented on #830
you need to pass appID in your taskInfo object from your web.config. Please see the code below
function submitHandler() {
           let taskInfo = {
                title: null,
                height: null,
                width: null,
                url: null,
                card: null,
                fallbackUrl: null,
                completionBotId: null,
            };
taskInfo.completio

[2019-07-25 10:59] crow-ua opened #832 "Closing task module from Bot (back-end)"
I have a flow that submits task with result to back-end, where Bot (this is important, I don't have `HttpRequest/Response` there) handles the result (`task/submit` operation), and sends `InvokeResponse` back.
When I do that, Teams throws `[Bot invoke failed]: <BotError>Error when processing invoke response: Task or Task Type is missing in Task Module response` and task module stays open with `Unab

[2019-07-25 11:44] crow-ua commented on #832
To sum everything up, the only way I currently see to close the task module is to do `microsoftTeams.tasks.submitTask()` on front-end.

[2019-07-25 20:18] jthake-msft opened #833 "Messaging extensions steps are incorrect"
https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-dotnet-app-studio#messaging-extensions

Clicking add command in the Messaging extensions in App Studio gives you two options: "Allow user to query your service for information and insert that into a message" and "Allow users to trigger actions in external services while inside of Teams".
Clicking the first option gets

[2019-07-25 20:19] jthake-msft opened #834 "The default app long name includes Microsoft which throws warning Test and Distribute step"
When publishing the test app. The manifest set the app long name to include "Microsoft Teams". App Studio throws this error:

"Full name should not contain “Microsoft” or any of the Microsoft product names (e.g. "Excel")."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98cd21c7-e87c-3c5b-7574-998a355f9f08
* Version Ind

[2019-07-26 06:12] nyghtrocker opened #837 "Teams chat integration in iOS and angular 7 app?"
We would like to use the chat functionalities in Microsoft Teams, like...
Message chat
Online chat
Video chat (sending video)
Pictures (sending pictures)
Audio (sending audio)
... and get this functionality integrated in our iOS app and in Angular 7
Is it possible to integrated teams chat in iOS app?

[2019-07-26 12:51] Wajeed-msft commented on #832
Could you please share the code snippet of how you are handling _task/submit_ action? Here are [samples for Task Module](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview#task-module-samples) for reference.

[2019-07-26 13:03] crow-ua commented on #832
@wajeed-msft I can’t right now, but off-the-cuff it is based on your samples. The only difference is handling is inside ‘IBot.OnTurnAsync’ method, not Controller Post. Thus I can’t directly return success HttpResponse. I’m looking for InvokeResponse that would close the task module.

[2019-07-26 14:55] Leks12lk opened #838 "Error code 404 "V3 agent not found.""
I have a messaging extension (compose extension) app and a bot app. Both of them have the same Azure Bot Channels Registration resource (the value of botId in manifest.json is the same).

Messaging extension returns an adaptive card which contains the button with "Action.Submit" type. The request to the bot should be sent after clicking on that button. But instead of request to the bot I got the e

[2019-07-26 17:32] billbliss commented on #837
This is not possible yet, other than using Microsoft Graph APIs directly, which is a) difficult for what you are talking about here, b) require elevated privileges that most admins will be reluctant to grant.

We plan to support this in the future, but it unfortunately won't be any time soon, and it may be on web/desktop ahead of mobile (although we are working on converging those codebases over t

[2019-07-27 15:03] Raveendra123 commented on #832
Hello ,
I am running with issue we are using task module with deep link  for upload link in adaptive card .once click that link it will open upload popup in  teams bot but it is not opening  in web browser teams and desktop teams app.
the below URL used to redirecting on upload link click.
https://teams.microsoft.com/l/task/6132add7-9049-472d-a329-de6290441c00?url=https%3A%2F%2Ficebreaker-y5l22i4y

[2019-07-27 15:10] Raveendra123 commented on #830
Hello ,
I am running with issue we are using task module with deep link for upload link in adaptive card .once click that link it will open upload popup in teams bot but it is not opening in web browser teams and desktop teams app.
the below URL used to redirecting on upload link click.
https://teams.microsoft.com/l/task/6132add7-9049-472d-a329-de6290441c00?url=https%3A%2F%2Ficebreaker-y5l22i4ytir

[2019-07-29 07:57] crow-ua commented on #830
@Trinetra-MSFT Good to know, thanks.

[2019-07-29 07:57] #830 closed

[2019-07-29 09:05] Gousia-MSFT commented on #831
@HN5 Are you trying to open Task Module from a tab? Could you please try this sample to open [task module from tabs](https://github.com/OfficeDev/microsoft-teams-sample-task-module-csharp/blob/master/Microsoft.Teams.Samples.TaskModule.Web/Views/Home/Tasks.cshtml)? Please let us know if you are facing any issues.

[2019-07-29 09:21] Raveendra123 opened #840 "Unable to load taskmodule popup in teams bot"
Hello ,
I am running with issue we are using task module with deep link for upload link in adaptive card .once click that link it will open upload popup in teams bot but it is not opening in web browser teams and desktop teams app.
the below URL used to redirecting on upload link click.
https://teams.microsoft.com/l/task/6132add7-9049-472d-a329-de6290441c00?url=https%3A%2F%2Ficebreaker-y5l22i4ytir

[2019-07-29 09:36] Raveendra123 opened #841 "Unable open taskmodule popup in ms teams bot"
Hello ,
I am running with issue we are using task module with deep link for upload link in adaptive card .once click that link it will open upload popup in teams bot but it is not opening in web browser teams and desktop teams app.
the below URL used to redirecting on upload link click.
https://teams.microsoft.com/l/task/6132add7-9049-472d-a329-de6290441c00?url=https%3A%2F%2Ficebreaker-y5l22i4ytir

[2019-07-29 11:31] icelandgrecian opened #842 "suggestedDisplayName or suggestedTabName"
The sample JavaScript uses the parameter suggestedDisplayName, but the text describing the parameters has suggestedTabName. Can you clarify what is the correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb7ac07-169d-860d-d566-e69540df600d
* Version Independent ID: 7863d671-52d9-83e3-7fcc-4eed0f3a62f9
* Content: [

[2019-07-29 12:51] Gousia-MSFT commented on #842
@icelandgrecian suggestedDisplayName is the right one. @clearab Could you please help update the documentation here?

[2019-07-29 13:13] Wajeed-msft commented on #838
We are looking into this issue.

[2019-07-29 13:16] Wajeed-msft commented on #841
Duplicate of https://github.com/MicrosoftDocs/msteams-docs/issues/840

[2019-07-29 13:16] #841 closed

[2019-07-29 15:34] icelandgrecian opened #843 "Privacy Policy and Terms of Use"
Is there any thought on making the privacyUrl and termsOfUseUrl translatable as well... we would like to provide these pages in multiple languages and would be nice if we could do this via the manifest file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a8d718e-46c9-d26b-0483-635832903842
* Version Independent ID: 32

[2019-07-29 16:36] Raveendra123 commented on #830
Can you please help us on the issue. i will create new bug if required.

[2019-07-29 16:39] Raveendra123 commented on #840
could you please us on mentioned issue. currently we are blocked with the issue really appreciate  it if you provide remedy/resolution earliest.

[2019-07-29 17:33] Wajeed-msft commented on #840
Could you please share your App Manifest and Adaptive Card JSON? Also, please try [Task Module](https://github.com/OfficeDev/microsoft-teams-sample-task-module-nodejs/blob/master/TaskModule.zip) sample and let us know if it is working for you.

[2019-07-29 17:43] Wajeed-msft commented on #824
Thank you for your feedback.

[2019-07-29 17:43] #824 closed

[2019-07-30 06:29] Gousia-MSFT commented on #816
@ParkHost We need some more information to investigate this. Could you please help us with the following:
1. When you say chat section are you referring the chat section within the office document (middle pane) or chat in the left rail?
2. Is this mac or windows?
3. Could you please share the fiddler trace captured during the repro?
4. Can you also share the desktop logs which can be accessed from

[2019-07-30 08:28] Gousia-MSFT commented on #826
@kronarthereal We have a bug for this. We are looking into it. Thanks!

[2019-07-30 10:52] liiamjones opened #844 "Convert docs from ADAL to MSAL"
Hi could the following document be updated from ADAL.js to MSAL.js given it's out of support.
msteams-platform/concepts/authentication/auth-silent-AAD.md
I've been pointed in the direction of MSAL from this [issue ](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/659) to use npm with React. ADAL only provided guidance on Angular and neglected the core components on any other

[2019-07-30 10:55] ParkHost commented on #816
i mean the chat tab on the left rail.
this is only reported from windows machines, we don't support MAC's

We cant find out what the exact trigger is that the error message generates.
it only happens some days and on different files.
Several customers complained about the crash error.

[2019-07-30 11:35] Gousia-MSFT commented on #816
@ParkHost Could you please share the desktop logs for windows and the Fiddler trace captured during the repro?

[2019-07-30 12:48] ParkHost commented on #816
well it isn't easy to repro cause it happens so random.

[2019-07-30 12:51] Wajeed-msft commented on #816
Could you please share the logs whenever it happens again?

[2019-07-30 13:13] ParkHost commented on #816
yes, as soon as it happens ill post the logging, thank you

[2019-07-30 17:39] aosolis opened #845 "Call out the need to call trustServiceUrl"
For proactive scenarios it's important to call trustServiceUrl, else the bot gets mysterious 401 errors. We have it in the sample, but it's better to call this out explicitly, as it is a common error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba8d3979-14f5-3105-ad89-ce6f98d11df1
* Version Independent ID: e53a7d1e-

[2019-07-30 18:17] Wajeed-msft commented on #825
We will be updating our documentation around the time that the v4 SDKs go to general availability. You can start looking at [SDKs & Tools](https://docs.microsoft.com/en-us/microsoftteams/platform/#pivot=sdk-tools) section for available sample code. Here are quick links for SDK v4 sample [C#](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/tree/master/CSharp/Samples) & [Node.js](https

[2019-07-30 19:49] basxib opened #846 "How to get the current user email when the user tags the @bot in a teams conversation?"
We’re trying to build a Microsoft Teams compose extension so that our Teams users can reference tasks from projects on a third party task management platform.
We need to get the current user email on teams, but we couldn't find any references on how to do that.
We're using Bot Builder SDK V4 for NodeJS (Typescript)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-30 21:39] daljeet-singh opened #847 "Anyone can mention the users in team"
BUG: I am currently able to tag any user from the world to my teams chat

<img width="486" alt="Screen Shot 2019-07-30 at 5 25 49 PM" src="https://user-images.githubusercontent.com/2284163/62167309-ed060280-b2f0-11e9-90ce-2d5b0b89242e.png">
<img width="498" alt="Screen Shot 2019-07-30 at 5 26 08 PM" src="https://user-images.githubusercontent.com/2284163/62167310-ed060280-b2f0-11e9-82b8-9e38aa3bd68

[2019-07-30 21:50] ShawnC7208 commented on #847
I am seeing this as well, jumped on here to add the exact same thing:
![image](https://user-images.githubusercontent.com/8285110/62167979-0b1c3480-b2ea-11e9-8852-a190b8a10dcf.png)

[2019-07-30 22:38] billbliss commented on #847
This is a service issue which we are investigating now. Thanks for reporting it.

[2019-07-31 09:16] Wajeed-msft commented on #846
You can get the email Id by [fetching the team roaster](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-context#fetching-the-team-roster). This documentation has code for SDK v3, please take a look at the samples present on [GitHub for beta SDK v4](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-node/blob/master/samples/teams-bot/src/bot.ts#L64).

[2019-07-31 10:47] Wajeed-msft commented on #804
Please re-open if you are still facing this issue.

[2019-07-31 10:47] #804 closed

[2019-07-31 11:06] Wajeed-msft commented on #784
Please re-open with your app manifest which can be used to repro this.

[2019-07-31 11:06] #784 closed

[2019-07-31 11:19] Wajeed-msft commented on #748
We are working on SDK v4 sample. You can check the avialble sample [here](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-node/tree/master/samples).

[2019-07-31 11:19] #748 closed

[2019-07-31 11:22] Wajeed-msft commented on #807
Currently there is no such event available. I will check internally about the plans.

[2019-07-31 11:35] Gousia-MSFT commented on #776
@Navega Are you trying to open one task module from another task module? I tried the steps you have mentioned but I could not repro it. Could you please share your manifest with us?

[2019-07-31 13:04] Orso95587018 opened #848 "Does the sample code work in Azure DevOps?"
Can I pull the Git repository from a project in &lt;myusername&gt;.visualstudio.com (Azure DevOps website) and build it from there?

I tried building the project (Build button) and it gave an error about not being able to convert the OriginUrl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98cd21c7-e87c-3c5b-7574-998a

[2019-07-31 13:06] tdwhite0 commented on #838
I'm seeing this too. Looks like it has something undefined when constructing the url to invoke:
![image](https://user-images.githubusercontent.com/2566323/62214154-77427b00-b372-11e9-966d-2f9a6f2d0cb7.png)

[2019-07-31 13:17] einue commented on #804
@Wajeed-msft

I still have the problem.
I added the proxy for npm in the .npmrc file...  and this works since I can install npm packages.

[2019-07-31 14:23] ahmedsaeed-dev commented on #816
Hi, also getting the same issue.

![1](https://user-images.githubusercontent.com/45216883/62219854-0ce30800-b37d-11e9-9419-404057b0a123.jpg)

[2019-07-31 14:59] icelandgrecian opened #849 "Context Different in Mobile Tabs"
We've started looking into the mobile (personal) tabs that are in developer preview in the mobile client and we are noticing a difference between what is provided in the context on the mobile device and what is provided on the desktop client.

In an example we have got (an educational user), the following properties are available in the context in the desktop client, but for the same user are miss

[2019-07-31 15:01] Gousia-MSFT commented on #849
@icelandgrecian Thanks for reaching out. This is a known issue. We have a bug for this. We are working on it.

[2019-07-31 19:34] akinolugbade commented on #843
This is a good suggestion. We will consider it during the next rev of our manifest.

[2019-08-01 02:56] daljeet-singh commented on #847
Thanks, @billbliss is there any bounty for reporting bugs for the platform?

[2019-08-01 05:09] Gousia-MSFT commented on #816
@ahmedsaeed-dev Are you seeing this when you try to navigate after opening a document? If so, could you please follow the comments on this issue to share the required logs and fiddler trace with us?

[2019-08-01 07:38] TeamStriebigSebastian opened #853 "Multitenant message indicator shows read message as unread in other tenant"
Hi I am working for two companies, we use both Teams.
I am logged into company A
When I get a message in the other company B.
A small one in a red circle appears at the name of the other company on the upper right area of teams.
Great!
 I go there (Company B) and read the message, then I go back to the other company. (Company A)
But the message indicator still shows this message. Even if it is alr

[2019-08-01 08:41] Gousia-MSFT commented on #751
@vishmonne Thanks for reporting this. We have created a bug and we are working on getting this fixed.

[2019-08-01 09:09] Gousia-MSFT commented on #749
@elipstein We have a feature request for this. We are tracking this internally.

[2019-08-01 09:10] #749 closed

[2019-08-01 09:13] Wajeed-msft commented on #764
If you are still facing this after enabling developer preview, please quit Microsoft Teams and see if it's visible when you launch it again. Please re-reopen this issue if you are still facing issue even after closing the app.

[2019-08-01 09:13] #764 closed

[2019-08-01 09:20] Gousia-MSFT commented on #823
@cimadai Thanks for reporting this. We have raised a bug for this and we are tracking it internally.

[2019-08-01 09:27] DavidVollmers opened #854 "MS Teams API Rate limit applies falsly on BotFramework Card collections"
When sending a large card collection to MS Teams from our Bot, we receive one of the following responses:

400 Bad Request: If the layout of the card collection is `carousel`
429 Too Many Requests: If the layout of the card collection is `list`

In the latter case MS Teams will display 4 Cards and then throw the error. When using `carousel` you only get the error.

This behaviour seems to be conne

[2019-08-01 09:59] praveendath92 opened #855 "Can't promisify startReplyChain"
This doesn't works
[code]

This works

[code]

[2019-08-01 20:02] clearab commented on #854
Yes, this is happening because of rate limiting. Carousel is your best bet, as you should be able to use up to 10 cards. We're looking at ways to potentially increase the limits or alter the behavior in the future.

[2019-08-01 20:25] billbliss commented on #847
This was mitigated a few hours after this was reported, working fine now.

[2019-08-01 20:25] #847 closed

[2019-08-02 05:55] Gousia-MSFT commented on #853
@TeamStriebigSebastian Thanks for reporting this. We are looking into it.

[2019-08-02 06:01] aosolis opened #856 "Remove section about talking to a bot directly by ID"
Starting a chat with a bot directly by ID is no longer supported, and leads to issues with app policies. Please remove this section, and any references to it.
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test#talk-to-your-bot-directly-by-id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2019-08-02 06:07] Gousia-MSFT commented on #834
@jthake-msft We are working on updating the sample to reflect the expected behavior. Thanks!!

[2019-08-02 06:17] Gousia-MSFT commented on #833
@jthake-msft Thanks for reaching out. We are working on updating the documentation to reflect the current behavior.

[2019-08-02 06:18] SidU commented on #856
Also need to account for the deeplinks on Bot Framework portal to create a chat with bot.

Example:
https://teams.microsoft.com/l/chat/0/0?users=28:<bot_id_here>

[2019-08-02 10:32] Leks12lk commented on #838
Actually I don't have undefined in this url but this issue is still reproduced.

[2019-08-02 15:05] Leks12lk opened #857 "Background-color of .image-container is set as undefined instead of accentColor value"
The standard header for a card returned by ME does not contain background color for icon placed in sideload. The background color value for image-container is set to undefined instead of accentColor property placed in manifest.json file.

![image](https://user-images.githubusercontent.com/13051974/62378836-5c2c6280-b54e-11e9-8e01-c02f2abd98f8.png)

[2019-08-02 15:12] tdwhite0 commented on #838
@Leks12lk This issue basically prevents my whole app from working, have you found any workarounds?

[2019-08-02 17:53] mscaitlina opened #858 "Sample uses old Bot Framework version"
I wanted to build a Teams app and started with this sample. However, as I tried to understand the code for the Bot and modify it for my scenario, I got confused. It turns out this sample uses v3 of the Bot Framework, but the Bot Framework documentation on their site is for v4. This made it hard to know what the code from this sample does, and how to modify it to achieve what I was trying to do. I

[2019-08-02 19:53] clearab commented on #858
Hi - yes, it is a bit confusing right now. We're planning on full support for v4 soon. In the interim, you can use the Teams bot documentation (https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-overview), and the Bot Framework documentation can also be changed to v3 using the option on the top-left of their documentation repository:

![image](https://user-images.githubuse

[2019-08-02 19:53] #858 closed

[2019-08-02 22:03] miketeix opened #859 "registerOnRemoveHandler cannot be called from Config/Settings page or iframeContext"
The registerOnRemoveHandler cannot be called from Config/Settings page or iframeContext, I get an error when I try to do so.

I've created a second page for the removal experience where I call registerOnRemoveHandler (basically a call to our backend to clean up), and register the url for that page when I call setSettings - though, the app doesn't redirect there, so what's the point of the `removeU

[2019-08-03 08:51] Raveendra123 commented on #840
Hello Team,

Apologies for the late reply the issue ha been resolved post correct the
manifest app I'd instead of Appid that leads to resolve the issue.

Thanks & Regards
Raveendra

On Mon, 29 Jul 2019, 23:03 Wajeed-msft, <notifications@github.com> wrote:

[2019-08-05 04:10] Wajeed-msft commented on #840
Thanks for confirmation. Closing this issue. Please raise a new one if you are facing any issues.

[2019-08-05 04:10] #840 closed

[2019-08-05 04:20] #788 closed

[2019-08-05 04:20] #787 closed

[2019-08-05 04:21] #797 closed

[2019-08-05 04:21] #823 closed

[2019-08-05 04:22] #849 closed

[2019-08-05 05:38] Gousia-MSFT commented on #677
@bondsua Thanks for reporting this. We are looking into it.

[2019-08-05 06:06] Trinetra-MSFT commented on #857
Could you please share your manifest.json file?

[2019-08-05 08:24] Leks12lk commented on #838
@tdwhite0  actually I haven't found any workarounds yet.

[2019-08-05 10:49] dfjones1981 opened #860 "Navigating to a different team collapses the previous team if it has one channel"
If I am a member of many teams, some with more than one channel and some with just a single "General" channel, I observe the following behaviour.

Clicking on a channel in a team with many channels and then clicking on channel in a different team that also has many channels, both teams remain open and I can see all the channels from each team.

Clicking on a channel in a team with only a General c

[2019-08-05 11:07] ParkHost commented on #816
@Gousia-MSFT finally i got the logging of my colleague,

Wed Jul 10 2019 16:26:16 GMT+0200 (West-Europa (zomertijd)) <1044> -- info -- Is foreground set to false
Wed Jul 10 2019 16:26:16 GMT+0200 (West-Europa (zomertijd)) <1044> -- event -- eventpdclevel: 2,
Wed Jul 10 2019 16:26:35 GMT+0200 (West-Europa (zomertijd)) <1044> -- event -- status: timeout, scenario: 71dd589c-ab1f-4688-b6f4-83257a5de97

[2019-08-05 11:08] ParkHost commented on #816
Logfile:
[logs.txt](https://github.com/MicrosoftDocs/msteams-docs/files/3467262/logs.txt)

[2019-08-05 11:23] Gousia-MSFT commented on #816
@ParkHost Thanks for sharing the logs. I will keep you posted about this.

[2019-08-05 12:25] Gousia-MSFT commented on #860
@dfjones1981 Thanks for reporting this. We have raised a bug for this and we are tracking it internally.

[2019-08-05 12:36] Abhijit-MSFT commented on #781
@damienestewart - Those two styles are designed separately with different visual styles. We looked at few class names and don't see any conflict

[2019-08-05 15:47] Leks12lk opened #861 "Adaptive cards are not displayed in mobile application"
Adaptive cards are not displayed in mobile application.
(AdaptiveSchemaVersion = 1.0)

I suppose the cause is in **SelectAction** property of AdaptiveCollectionElement. When this property exists on the card the card is not displayed, when it's missed - card is displayed ok.

For web version this issue is not reproduced.

[2019-08-05 16:13] Leks12lk commented on #857
Hi,
Please find manifest.json in attached zip.

[manifest.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3468468/manifest.zip)

[2019-08-05 17:07] Wajeed-msft commented on #861
Could you please share your Adaptive card JSON?

[2019-08-05 20:26] chilla-lifesize opened #865 "Compose Extension Queries not showing more than 100 results"
At most 4 pages (100 elements @ 25 elements per page) are returned when scrolling through the results of the compose extension. After the 4th page is queried, no further queries are made by teams to fetch the next page from the list. This results in incomplete search results.

I have a results list of >2,000 elements and am paginating them at 25 elements per query. I am unable to retrieve more tha

[2019-08-05 20:53] clearab commented on #856
Updated doc to emphasize that this method is for testing purposes. Will leave this open while we work through the other changes discussed.

[2019-08-05 21:02] #845 closed

[2019-08-05 21:04] #842 closed

[2019-08-05 21:07] clearab commented on #834
Fixed, thanks!

[2019-08-05 21:07] #834 closed

[2019-08-05 21:50] clearab commented on #833
Thanks Jake, fixed!

[2019-08-05 21:50] #833 closed

[2019-08-05 22:44] #801 closed

[2019-08-05 22:45] #825 closed

[2019-08-05 22:49] #601 closed

[2019-08-05 22:55] #736 closed

[2019-08-05 23:09] clearab commented on #763
This should be fixed now, please let us know if you are still experiencing any issues.

[2019-08-05 23:09] #763 closed

[2019-08-06 06:49] pashu1234 commented on #784
Thank you
@Gousia-MSFT  @Wajeed-msft

Issue Resolved..

issue was appearing because of the multiple instances of your app.

Get the **BravoNow** App from store to use.

[2019-08-06 10:10] VKAlwaysWin commented on #838
FYI, I also seeing this issue. When trying to click on card from ME:

![image](https://user-images.githubusercontent.com/14337164/62531499-40c1a000-b84b-11e9-9de2-cbeba553969f.png)

But when using same card from Bot. I see:
![image](https://user-images.githubusercontent.com/14337164/62531675-8bdbb300-b84b-11e9-87e9-e7d731343489.png)

[2019-08-06 10:50] Leks12lk commented on #861
Please find Adaptive card JSON in attached zip.

[adaptive-card.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3471770/adaptive-card.zip)

[2019-08-06 11:14] VKAlwaysWin commented on #861
I can confirm the same behavior as well for IOS 12.4 (IPhone XS Max).
MS Teams app version: 1.0.80, Build: 1.077.2019071802, Calling Version: 2019.20.01.1

Broken JSON:
`{
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "TextBlock",
          "size": "small",
          "isSubtle": true,
          "text": "Hello

[2019-08-06 12:07] Gousia-MSFT commented on #861
@Leks12lk This happens when some of the properties for Adaptive card elements are not specified. Could you please try adding title as suggested by @VKAlwaysWin and check if that helps. Please let us know if you are still facing the issue.

[2019-08-06 12:28] TeamStriebigSebastian opened #869 "Multi tenant, changing tenant drops call"
Hi Teams team
when used with two companies and I am doing a call within one company, and then switch to the other company to copy something from another chat...the call gets dropped.

[2019-08-06 12:29] mrik23 commented on #600
Any update on that? Still not working in the web client.

[2019-08-06 12:33] TeamStriebigSebastian opened #870 "Multi tenant, cannot receive calls from unselected tenant"
Multi company
I am in Company A
Someone in Company B tries to call me.
The call is not shown, nor rings.
It is then just noted in the activities.
This is a critical use case for multi-tenant support, that I can be reached within teams from all companies. I have several different customers, with different Teams instances. Teams brings me back to ask people to call my phone since TEAMS is not reliab

[2019-08-06 14:20] 404UsernameNotFound404 opened #871 "Tells us we can, but now how."
It says "your bot can asynchronously post a message to the channel",  but does not reference a tutorial or docs on how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 375145a1-abf2-b2c0-843d-d03247650f82
* Version Independent ID: ff73df5c-d4e6-150a-f32a-771a46905e18
* Content: [Combine bots with tabs - Teams

[2019-08-06 14:38] Wajeed-msft commented on #871
Here is the documentation for [Creating a channel conversation](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-proactive#creating-a-channel-conversation) using Bot.

[2019-08-06 14:56] Leks12lk commented on #861
@Gousia-MSFT adding title property helps me. Thanks.
Is it by designed to have required Title property for SelectAction in mobile application?

[2019-08-06 15:06] 404UsernameNotFound404 opened #872 "Node Example"
A node example, would be fantastic. I know the docs mention we should use startReplyChain, but a code example would be great, and if not a link to the start reply chain docs would also be amazing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba8d3979-14f5-3105-ad89-ce6f98d11df1
* Version Independent ID: e53a7d1e-0e70

[2019-08-06 19:55] Trinetra-MSFT commented on #857
Hi @Leks12lk ,
We side loaded your app manifest in Teams, it seems accent color from manifest is rendering properly. Could you please try to side load your app again in teams? Please let me know if you still facing this issue.

![image](https://user-images.githubusercontent.com/50989436/62572193-c7f52f00-b8b0-11e9-8dbc-8f652a5b884d.png)

[2019-08-06 20:44] VKAlwaysWin commented on #857
Hi @Trinetra-MSFT I think it is a bit different issue.
Could you please try to do the same with Messaging Extension? In case if you post card (for example adaptive card) from ME to channel (like General) you will be able to see issue mentioned by @Leks12lk .

FYI, before posting card into a channel it has background-color:
![image](https://user-images.githubusercontent.com/14337164/62575684-f8829c

[2019-08-07 00:38] clearab commented on #872
Hi - you can find examples in Node here: https://github.com/OfficeDev/microsoft-teams-sample-complete-node/tree/master/src/dialogs/examples/teams

[2019-08-07 07:16] Trinetra-MSFT commented on #870
Thanks for reporting this. We are looking into it.

[2019-08-07 07:50] TeamStriebigSebastian opened #873 "Muli tenant, company switch trys to send me back imidiatly to other company"
Hi I switch from company A to company B. Then this message appears, asking me if i like to switch back to company A.
![image](https://user-images.githubusercontent.com/26815666/62604614-bafc2e00-b8f8-11e9-8153-bd131d1b275d.png)
I don't think this is intended behavior.

[2019-08-07 07:50] Gousia-MSFT commented on #861
@Leks12lk Mobile applications requires properties like Title, Id to be specified for the adaptive card elements to work on mobile.

[2019-08-07 07:52] TeamStriebigSebastian commented on #873
If I press abort (Abbrechen) the it just shows me a screen with nothing. :D
![image](https://user-images.githubusercontent.com/26815666/62604794-12020300-b8f9-11e9-9bfb-4c920e7e7a57.png)
I am now absolutly sure this is not intended behavior. ;)

[2019-08-07 07:58] Gousia-MSFT commented on #873
@TeamStriebigSebastian We could not repro this. Are you facing it on Desktop or on Web client?

[2019-08-07 08:01] Leks12lk commented on #857
Hi @Trinetra-MSFT
Yes, I'm still facing the problem. Steps to reproduce are correct in a comment above by @VKAlwaysWin

[2019-08-07 08:56] VKAlwaysWin commented on #857
Maybe this can be helpful: https://www.youtube.com/watch?v=8q-XeBgXexA link to a video with a bug. Plus my manifest with images.
[TestApp.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3476157/TestApp.zip)

[2019-08-07 11:48] Trinetra-MSFT commented on #857
Thanks for reporting this. We are looking into it.

[2019-08-07 12:00] Leks12lk commented on #861
@Gousia-MSFT thanks for your help and reply.

[2019-08-07 12:00] #861 closed

[2019-08-07 12:03] Leks12lk commented on #838
@Wajeed-msft did you have a chance to look into this issue? Are there any updates?

[2019-08-07 12:08] Wajeed-msft commented on #838
We are able to repro this. I'll update this post as soon as I have updates.

[2019-08-07 13:14] unt1tled opened #874 "SharePoint URLs are not properly encoded for mobile resulting in broken 404 links."
In my tests, accessing any SharePoint file URL that contains a # before the last segment will result in a 404 File not found on iPad & iPhone.

SharePoint supports the use of # in the filename. So if we use a video file as an example, where a # is before the file extension, like "video #1.mp4":
- The video will play in the desktop Teams video player
- The video URL will successfully navigate to th

[2019-08-07 18:51] TeamStriebigSebastian commented on #873
Desktop client on windows 10

Gousia-MSFT <notifications@github.com> schrieb am Mi., 7. Aug. 2019, 09:58:

[2019-08-08 01:02] boredom2 opened #875 "HeroImage Suppot in Teams"
Hi there,

Is it possible, that section.heroImage is not supported in Teams?
If I define it, the Call is sent successfully, but the Image dies not show.
It does show though, if i add the same Image in the images Array. But for our Needs, its displayed too small then.
Is there a way to show an HeroImage?

Thanks!
Christoph

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-08 06:37] Gousia-MSFT commented on #831
Please re-open if you are still facing any issue.

[2019-08-08 06:37] #831 closed

[2019-08-08 07:42] Gousia-MSFT commented on #875
@boredom2 We were able to repro this. We have raised a bug for this. We are looking into it.

[2019-08-08 07:44] boredom2 commented on #875
Thanks,

[2019-08-08 11:36] Trinetra-MSFT commented on #870
Are you trying to make a call with Guest user account? if it is the scenario than it is by design at this time.

[2019-08-09 02:41] stpeteparadox commented on #388
Hi Microsoft / @Wajeed-msft :

Please let us know if there is anything we can further do to help on this one. The issue remains: In Teams on Windows, when clicking an image sent as an AdaptiveImage within the body of an AdaptiveCard, it does not expand to a larger size. However, when clicking an image sent purely as an Attachment (not as part of an AdaptiveCard), it is clickable/expandable.

In bo

[2019-08-09 09:25] Gousia-MSFT commented on #776
@Navega Please reopen with the requested info if you are still facing issue.

[2019-08-09 09:42] Gousia-MSFT commented on #719
@AurisB This is currently by design. We are working on improving the experience.

[2019-08-09 09:52] Gousia-MSFT commented on #775
@bangndnguyen The docs are updated. Thanks!!

[2019-08-09 09:56] #776 closed

[2019-08-09 09:56] #775 closed

[2019-08-09 09:57] #719 closed

[2019-08-09 10:05] Gousia-MSFT commented on #826
@kronarthereal This is fixed now. Please check.

[2019-08-09 10:05] #826 closed

[2019-08-09 10:32] Gousia-MSFT commented on #816
@ParkHost We have fixed this and will start rolling out the fix. This might take some time to reach public rings, we do not have exact ETA to share as of now.

[2019-08-09 10:35] #816 closed

[2019-08-09 10:52] ParkHost commented on #816
@Gousia-MSFT woow thnx, what was the problem?

Will this fix be in a MS teams update or is it something on the backend?

[2019-08-09 11:11] Gousia-MSFT commented on #816
@ParkHost This will be part of MS teams updates.

[2019-08-09 11:24] TeamStriebigSebastian opened #876 "Multi Tenant - cannot chat with one of my coworkers anymore..."
...because I don't am a member of the chat. ???
![image](https://user-images.githubusercontent.com/26815666/62775763-e02f9e80-baa8-11e9-888f-26a8ffb22961.png)
I can chat with anybody else, but this guy.

[2019-08-09 11:25] TeamStriebigSebastian commented on #876
I also don't see any phone or video buttons on the right upper area

[2019-08-09 11:25] TeamStriebigSebastian commented on #876
Desktop app. Restarted it already twice

[2019-08-09 14:19] TeamStriebigSebastian commented on #870
No it is not a guest account, this is my coworker. But it sometimes seems
to think I am a guest account.
Like forgetting my eliviated permissions.

On Thu, 8 Aug 2019 at 13:36, Trinetra-MSFT <notifications@github.com> wrote:

[2019-08-09 14:20] TeamStriebigSebastian commented on #870
It is teams. Since I connected another company (over the same email adress)
Teams got really a pain in the ***

On Fri, 9 Aug 2019 at 16:19, Sebastian Striebig <
striebig.sebastian@gmail.com> wrote:

[2019-08-09 14:21] TeamStriebigSebastian commented on #870
I resolved it by starting the client in the web app. Restarting the desktop
app did not do the trick.

On Fri, 9 Aug 2019 at 16:20, Sebastian Striebig <
striebig.sebastian@gmail.com> wrote:

[2019-08-09 14:36] TeamStriebigSebastian commented on #870
Or forget it, I mixed up tickets, because of all the problems. But now I am
speechless.
Sorry this is not personal, but is feedback for your PRODUCT Owner:

WHY ON EARTH AM I NOT SUPPOSED TO BE CALLED BY MY CO-WORKERS WHILE BEING
LOCKED IN THE OTHER COMPANY?
Is there any Persona, who has the job consultant? Apparently not.

Did PRODUCT ever talk to a customer while creating user stories about the

[2019-08-09 18:56] arielgordon commented on #870
Striebig, Thanks for sending this feedback. We understand your frustration. We're fully aware of the use case and of the current limitation. Unfortunately I don't have an ETA to share at this time. Suggestion: please consider running Teams on your phone as well. This will ensure you remain reachable by your colleagues while you work in another tenant in the desktop app. Thanks again--

[2019-08-10 06:23] TeamStriebigSebastian commented on #870
Thanks for your reply. I use teams on my phone..... That sounds like you
already seem to have a lot of technical debt. If the phone apps behave
different then the desktop and web app, then you already going towards a
bad place. Good luck.

Ariel Gordon <notifications@github.com> schrieb am Fr., 9. Aug. 2019, 20:56:

[2019-08-10 07:54] viksakshum opened #879 "No option for creation outgoing webhook"
my ms teams app on mac do not show option to create a outgoing webhook, see the screenshot
https://www.dropbox.com/s/awb6h5h3kkmgbzq/Screenshot%202019-08-10%2000.54.31.png?dl=0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c224ae-1484-408c-d17a-e7e1ba07e78a
* Version Independent ID: fac8ff1e-a127-c12a-5304-9de39b1a1

[2019-08-10 08:30] stpeteparadox commented on #388
Here is the json for the AdapativeCard, in case of convenience:

[code]

[2019-08-12 09:31] MicleMing opened #880 "How to customize install page?"
When install app, A page will pop up to show the info of this app, but I need to add screenshot or some other items to jump to other card. but I can't find the guideline in this page. how can i do to achieve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80613718-e11b-2d15-853a-9fe3aa9c01d1
* Version Independent ID

[2019-08-12 13:31] FrancoiD commented on #876
Hello, I cannot determine whether you are trying to chat in-tenant or whether you are cross tenant (either federated or using a Guest identity). Can you please confirm? Thanks

[2019-08-12 13:35] FrancoiD commented on #870
The phone app does not behave differently. The suggestion was to be logged as your main tenant identity on the mobile, while you log as a Guest on your desktop app.

Here is another, alternative approach I'd suggest:
Always keep your main desktop app logged in as your main tenant identity.
In addition, open a browser window for teams.microsoft.com and use that one for your Guest account.
We realiz

[2019-08-12 13:48] w-piotr opened #881 "Bot menus incorrectly displayed"
Hi I have developed chatbot for MS Teams with bot menu but as the menu is displayed every time user clicks input text box it covers up the last message send by the bot.
I have checked some other bots available in app store and it looks like the issue occurs for all bots.

Check the MindMeiser example:
![image](https://user-images.githubusercontent.com/49780873/62869242-c0ea7880-bd17-11e9-951f-7044

[2019-08-12 15:19] ngrigoriev opened #882 "Messages are routed to the mobile device only when signed in from both desktop and iPhone"
I am observing the following issue for quite a while:

1. Sign in to Teams using Mac OS client. Use the client to chat, meetings etc.
2. Later sign in to Teams using iOS app
3. Respond to a message using iOS app
4. Put Mac to sleep (usual work cycle, close it in the evening, open in the morning)

From this moment it seems that all incoming messages will be routed only to the mobile application, ev

[2019-08-12 17:23] POFerro opened #883 "Teams Desktop App won't load ASP.NET Core + Angular app with windows authentication WebSite Tab"
Hi,

I have an ASP.NET Core + Angular App published with windows authentication, and have been trying to load it in a Teams WebSite Tab, when I click it authentication popup appears, my index.html page is loaded and shown but all other scripts included by this file example: <script src="sample.js"> fail to load reporting a 401 on the server logs.

Why is authentication succeeding on the index.html

[2019-08-12 17:59] bcote opened #884 "Authorization and Callback pages question"
I found that the Authorization page and the Callback page must be the same as the Redirect Url for the Application Registration in Azure AD (Authentication blade). I tried having more than one Redirct Url for the same domain, and this did not work. If I only listed the Callback page url, I would get a blank login page. When I combined the 'simple-start' and 'simple-end' logic on one page I was abl

[2019-08-13 02:49] #880 closed

[2019-08-13 06:44] Gousia-MSFT commented on #881
@w-piotr Thanks for reporting this. We are looking into it.

[2019-08-13 19:01] davidlinhares commented on #429
Any update on this issue?

[2019-08-14 01:37] searlin opened #886 "Can we localization the app that uploaded to the teams by AppStudio"
So my app is not be published to the app store,  just manually upload the package to the teams, can we use this page's instruction to localization the app, I just did a test, and it doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e76b9c-61a0-55ab-60cd-685d6cf9c1c2
* Version Independent ID: bf7a1892-4468-

[2019-08-14 01:45] MattSFT commented on #886
Hi @searlin ,

You cannot currently add localization to your app from within App Studio; we are working on this feature. However, you can export your package from App Studio and add the localization files manually. Then you can sideload your application from the upload a custom app button in the store:
![image](https://user-images.githubusercontent.com/29067893/62988812-8d344f00-bdfa-11e9-963a-7ce

[2019-08-14 05:13] searlin commented on #886
Thanks @MattSFT , it works perfect!

[2019-08-14 05:13] #886 closed

[2019-08-14 08:34] MagtheRag opened #887 "Navigate from custom tab to Files or/and Conversation Tab"
Is there a way to target the Conversation or the Files tab ?
We have a custom tab that would like to navigate to the Files tab.
We can't get the tab through the microsoftTeams.getTabInstances or the graph as it only returns custom tabs.

I puzzled together a link which can be used with microsoftTeams.executeDeepLink :
https://teams.microsoft.com/_?tenantId=${tenantId}#/files/General?groupId=${grou

[2019-08-14 12:45] Gousia-MSFT commented on #882
@ngrigoriev Thanks for reaching out. We are looking into this.

[2019-08-15 01:59] EthanWang90 opened #888 "How to make bot work in my Custom Microsoft Team App?"
my bot id: **7367666f-abc2-4c19-91c6-aa1bcad01baa**
my bot pwd: **pcYZBx4H6[z4kqis0jShF.n]NDZlrko-**

I want to create a Custom Microsoft Teams App which, for example, can push message card to channel when there is an update in my server.
I followed the [official tutorial](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-dotnet-app-studio#), the tabs functionality w

[2019-08-15 02:04] clearab commented on #888
Hi,
Can you please make sure your bot endpoint address is using /api/messages not just /messages?

Thanks,
Andrew
,

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ethan Wang <notifications@github.com>
Sent: Wednesday, August 14, 2019 6:59:36 PM
To: MicrosoftDocs/msteams-docs <msteams-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Su

[2019-08-15 02:49] EthanWang90 commented on #888
Thanks Andrew, now I receive the bot reply message, it was my mistake, however I get another error message now "Something went wrong. Please try again." when I run my command defined in manifest.

Is it possible to @mention someone using Team App? I use <at></at> wrap my email, it echos back my email with no mention, I only tried @mention team member using Flow Team Connector. Webhook didn't work,

[2019-08-15 03:12] #888 closed

[2019-08-15 09:47] #860 closed

[2019-08-15 09:48] Gousia-MSFT commented on #846
Please reopen if you are still facing any issues.

[2019-08-15 09:48] #846 closed

[2019-08-15 09:49] #875 closed

[2019-08-15 09:50] Gousia-MSFT commented on #871
Please reopen if you still have any doubts.

[2019-08-15 09:50] #871 closed

[2019-08-15 09:51] Gousia-MSFT commented on #800
Please reopen with screenshots if you are still facing issues.

[2019-08-15 09:51] #800 closed

[2019-08-15 09:53] #781 closed

[2019-08-15 09:54] #728 closed

[2019-08-15 20:55] xu-zheng opened #889 "Unable to preview word documents from search results"
Starting this week 08/11/2019, our users found that word documents (docx and doc) found using search can't be previewed in both the web and desktop apps. Excel and PowerPoint files, as well as PDF and video files, can still be previewed.

[2019-08-15 20:58] xu-zheng commented on #889
Added clarification: Word documents can still be previewed when going to a directory and clicking on the file.

Preview is only unavailable when clicking on Word documents in search results.

[2019-08-16 05:37] Wajeed-msft commented on #884
Multiple redirect URLs are supported for the app. What error are you getting?
![image](https://user-images.githubusercontent.com/31851992/63145613-b4b33380-c015-11e9-831a-9268e4021133.png)

Regarding the blank page, could you please share your app manifest which we could try at our end?

[2019-08-16 06:45] Wajeed-msft commented on #883
Are you [Initiatiating authentication flow](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-tab-aad#initiate-authentication-flow) using `microsoftTeams.authentication.authenticate()` method? Could you please share your code snippet for authentication?

[2019-08-16 08:54] Abhijit-MSFT commented on #889
@xu-zheng - I see docx/doc are not searchable. I am checking it internally.

[2019-08-16 10:04] Bryand13 opened #890 "Unexpected behaviour with app created from App Studio"
Hi there,

We have an unexpected behaviour with an app created from App Studio. In a tab, when is add a web page, it does not visualize correctly, while if the page is configured in a random tab in MS Teams, the page is looking fine.

Making the debug in a browser, we see the following message:
Refused to display 'https://ferroxx.xxxxx..com/adfs/ls/idpinitiatedsignon.aspx?logintoRP=https://hana.on

[2019-08-16 11:02] Abhijit-MSFT commented on #874
@unt1tled - Are you following any particular steps when you are facing this. I tested file with the name EC4#.mp4 and it worked on Desktop/Web, Android/iPad/iPhone, Chrome/Safari. No where i received 404 or something went wrong.
Can you please share repro steps. Please check the screen below, it is properly getting encoded at "#".

![image](https://user-images.githubusercontent.com/48427340/631633

[2019-08-16 14:26] EtharAlali commented on #456
Right, what is "sideloading of external apps" called now (16/08/2019)? Being new to this incarnation of Teams, the terminology doesn't mean anything in any of the documents any more.  Is it just enable External apps and setting up an external domain?

[2019-08-16 18:43] clearab commented on #456
If your tenant has migrated to the new permission model, you will enable sideloading of apps (custom app upload) here:

https://docs.microsoft.com/en-us/microsoftteams/teams-app-setup-policies#create-a-custom-app-setup-policy

[2019-08-16 18:45] clearab commented on #890
I don't believe this has anything to do with app studio. It looks like you're trying to just add your sign-in page as an app. However, the process for creating custom tabs is a bit more involved than that. See:

- https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-overview
- https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-tab-aad

[2019-08-16 19:44] textminer opened #891 "There is no documentation for NodeJS and calling APIs with access token"
There is no documentation for NodeJS and there is no documentation on how once the access token is obtained how can be used to call external REST APIs. (like SharePoint).

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c810ce-b432-9135-16ee-55f461a10e78
* Version Independent ID: 70c7c1a0-b5b0-599f-a0b2-ea3e34

[2019-08-17 10:33] #872 closed

[2019-08-17 10:37] #843 closed

[2019-08-17 10:40] Gousia-MSFT commented on #669
This is fixed now. Please re-open if you still face any issues.

[2019-08-17 10:40] #669 closed

[2019-08-17 10:41] #655 closed

[2019-08-17 18:48] Bryand13 commented on #890
Hi clearab,
Thank you very much for the info.

But indeed, as you said I'm just trying to add a webpage sign-in in a app, the webpage is: "https://www.chatxxxxx.com" -> this page is redirected to our adfs page sign-in.

The "problem" is that, i'm able to visualize and sign-in the page in a random tab, unlike with the customized app.So, do you know why this is happening?

[2019-08-17 19:11] clearab commented on #890
My apologies for not being clearer. Adding a website to a tab and creating an app that contains a custom tab are two fairly different things. Creating a custom tab involves adding the Teams JavaScript SDK to the hosted content page and using that SDK to communicate with Teams. Authentication in custom tabs is different than a regular webpage (the link I provided above outlines the details).

Addin

[2019-08-17 21:14] croban opened #892 "Wiki"
Hi, there is no wiki trello connecter and I would like to have it. I am not sure if that is an bug, I would say it is a feature?

And also there is no edit mode for wiki on mobile.

[2019-08-18 16:52] unt1tled commented on #874
@Abhijit-MSFT  I should clarify. After testing, it seems this issue presents itself for non-office files (like mp4 files in the example above).

To reproduce:

1. Download a test mp4 file (I used this [1mb sample video](https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4))
2. Rename to "test #1.mp4" and upload it to a folder on SharePoint.
3. From Teams, Navigate to the folder v

[2019-08-19 05:41] Gousia-MSFT commented on #857
@Leks12lk @VKAlwaysWin We have raised a bug on this. This is being tracked internally.

[2019-08-19 05:41] #857 closed

[2019-08-19 05:54] Gousia-MSFT commented on #873
@TeamStriebigSebastian We are looking into this.

[2019-08-19 05:59] Gousia-MSFT commented on #881
@w-piotr We have a bug for it and we are tracking it internally. Thanks!

[2019-08-19 05:59] #881 closed

[2019-08-19 10:47] Gousia-MSFT commented on #892
@croban Trello connector is already available. Please follow these steps to add Trello connector to your team:
1. Go to the channel and choose "Connectors"
![image](https://user-images.githubusercontent.com/45553518/63259610-8430fb00-c29c-11e9-80f2-b79f7d1659ce.png)
2. Search for Trello and Add
![image](https://user-images.githubusercontent.com/45553518/63259646-9d39ac00-c29c-11e9-840c-c0f315b0ca5

[2019-08-19 11:16] croban commented on #892
@Gousia-MSFT thanks for the info, this I have allready done.
Just what I've meant is, Inside WIKI toolbox there is no action (quick function) to select some trello cards, and of course look&feel inside Wiki of those cards, that would be nice.

I know that i can put the link of the card inside wiki just, i would like that those kind of links have some look&feel from trello cards inside WIKI, simila

[2019-08-19 11:18] Navega opened #895 "Height for iframe in task module response is decreasing for Teams app in Windows"
Related to [Dynamic input using a web view](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions/create-extensions#dynamic-input-using-a-web-view) section.

The height for task modules with an iframe as response is right in Teams web app but not for Windows app.

This is our response:

[code]

And this is the result:

![thin](https://user-images.githubusercontent.

[2019-08-19 11:21] Gousia-MSFT commented on #895
@Navega As mentioned in the [closed issue](https://github.com/MicrosoftDocs/msteams-docs/issues/776), could you please share your app manifest with us?

[2019-08-19 11:24] Navega commented on #895
Hello @Gousia-MSFT, it isn't a problem, but is it safe to share the Prodution manifest here (maybe in other channel)? or should I share the manifest for Stage?

[2019-08-19 11:27] Wajeed-msft commented on #895
@Navega - Please share it on [Microsoft Teams developer support](mailto:microsoftteamsdev@microsoft.com)   mentioned on [Feedback page](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback).

[2019-08-19 12:21] searlin opened #896 "missing locale in onMembersAdded event"
The locale is missing in **onMembersAdded** event, I want to proactively send a **localized** welcome message to a personal chat in the **onMembersAdded** event, but there is **no locale** in the context.activity, it does exist in **onMessage** event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55c04f55-28de-978f-873

[2019-08-19 12:49] Wajeed-msft commented on #896
This is a known limitation currently. Bot has to wait for user to message. The message activity has clientInfo filled out in channelData with locale information.

[2019-08-19 15:42] Navega commented on #895
Thanks, I did it.

[2019-08-19 17:41] billbliss opened #897 "Need to add redirect from get-started-nodejs"
At some point the name of this page was changed from get-started-nodejs.md to get-started-nodejs-app-studio.md but we didn't add a redirect. We should.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cdb816-f2b6-31a4-0e4c-d730435d0a6b
* Version Independent ID: c111eaef-ac66-e245-b2bc-623c1801a7db
* Content: [Get start

[2019-08-19 17:56] #897 closed

[2019-08-19 17:57] clearab commented on #897
There was a redirect, just a bad URL. Change will go with the next publish.

[2019-08-19 19:09] POFerro commented on #883
Hi @Wajeed-msft ,
I found the problem, Microsoft Teams Web Browser is considering script type="module" as being cross site always, regardless of the actual origin of the script being on the same site, because of this all script downloads where sent without the authentication cookies and so they failed to load with 401.
This happened since I migrated to Angular 8 angular-cli bundling was issuing al

[2019-08-19 19:09] #883 closed

[2019-08-19 20:41] billbliss commented on #874
@Abhijit-MSFT likely an artifact of the new SharePoint-based implementation (or an interaction between the client and it).

Please file a bug and assign to the Files team. (I'll post in Files channel and @mention you; they may want to file this themselves.)

[2019-08-19 22:24] bcote commented on #884
[TeamsBluescape.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3517897/TeamsBluescape.zip)

in Views/Home/Index.cshtml, I navigate to /Authentication/simple-start.html
In the simple-start.html, I had to set the redirecUrl to /Authenticate/simple-start, and then handle the callback on that same page. If I changed the redirectUrl to /Authenticate/simple-end, and put both simple-start and s

[2019-08-20 05:34] searlin commented on #896
@Wajeed-msft  thanks for your reply, understood, do we have any timeline to fix it?

[2019-08-20 07:33] Wajeed-msft commented on #896
Currently, we do not have any timelines to share. We are tracking this internally so closing this from documentation issues.

[2019-08-20 07:33] #896 closed

[2019-08-20 10:44] Gousia-MSFT commented on #789
@NaveenAttri Could you please check if you are able to see the meetings in outlook web?

[2019-08-20 11:45] PerOve opened #898 "Teams settings are moved to Teams and Skype administration center"
The content should be updated to show where to do settings in the new Teams and Skype administration center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34043ac-ef9b-3e19-3095-3bcf88fef486
* Version Independent ID: c917cf5d-7563-44f4-58c1-3d460652e59c
* Content: [Prepare your Office 365 tenant - Teams](https://docs

[2019-08-20 12:33] Trinetra-MSFT commented on #832
@crow-ua Could you please try to pass invoke response inside task/submit for closing the task module pop up?

[code]

[2019-08-20 13:14] Trinetra-MSFT commented on #879
@viksakshum, Could you please confirm if [sideloading is enabled](https://docs.microsoft.com/en-us/MicrosoftTeams/teams-app-permission-policies#can-i-use-app-permission-policies-to-restrict-uploading-custom-apps-also-known-as-sideloading) by your tenant admin?

[2019-08-20 16:03] crow-ua commented on #832
@Trinetra-MSFT That's exactly what I was doing and getting `<BotError>Error when processing invoke response: Task or Task Type is missing in Task Module response`.

[2019-08-20 16:56] CIGAdmin commented on #238
Microsoft finally made it enterprise-friendly. I have the full Remote Desktop Server package (RDG, RDCB, RDSH), including User Profile Disk (UPD) and Software Restriction Policies (SRP) yet I got this to work today with the enterprise-friendly installation. You can read about it at https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi. There are a few items to tweak, though:

1. Installati

[2019-08-20 22:08] derkenblosh commented on #889
same issue here ... 8/11/2019 ... no preview of docx files from search available... xlsx files still have preview. (tested with multiple sharepoints/teams, same results)

[2019-08-21 04:05] Gousia-MSFT commented on #853
@TeamStriebigSebastian This is a known limitation. Cross-tenant pill count is currently updated every 15 minutes. We are working on improving this experience. Could you please check if it updates within 15 mins or takes more than that?

[2019-08-21 05:00] viksakshum commented on #879
i have no idea what was the problem it appears now so closing

[2019-08-21 05:01] #879 closed

[2019-08-21 05:04] viksakshum opened #901 "Passing image to outgoing webhook from teams"
i posted @<webhook name> an image attachment.

this is not coming to the webhook channel.  Passing plain text works fine though.  Are images supported?

[2019-08-21 05:06] moblizeitllc opened #902 "Extracting email in the webhook from MS teams"
I have created a outgoing webhook in MS teams. When i send a message mentioning webhook name like "Hi how are you"

i can see the payload which mentions the name and id in the from node. how do i get the email as well here of the user who sent it?

[2019-08-21 06:06] Gousia-MSFT commented on #891
@textminer Please check these docs on [Getting started with NodeJS](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-nodejs-app-studio) and a [Auth sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node) in Node.

[2019-08-21 06:18] wictorwilen commented on #891
In this repo you will find plenty f auth samples. The full sample in `teams-dynamics-code` do all sorts of auth and fetching of access tokens (server and client side)

[2019-08-21 08:58] Gousia-MSFT commented on #895
@Navega Thanks for sharing the manifest. We were able to repro the issue. In this  [closed issue](https://github.com/MicrosoftDocs/msteams-docs/issues/776#issuecomment-511697431) you mentioned you could see this in other bots also. Could you please help us with which app you could repro it so that we could check the issue with a better understanding?

[2019-08-21 11:07] Navega commented on #895
Hey @Gousia-MSFT, when I said that, I meant that problem is consistent for any bot that we created because I shared the bot ID that we use, so is not related to other bot/integrations.

[2019-08-21 11:48] Gousia-MSFT commented on #902
@viksakshum Currently, the payload only contains the AADobjectID and Name of the user. User EmailId cannot be obtained in the outgoing webhook.

[2019-08-21 12:09] Trinetra-MSFT commented on #901
Could you please share a screenshot of what you are sending from Microsoft Teams?

[2019-08-21 12:44] tejasvinishelar opened #903 "Can we install bot for all users directly in MS Teams?"
I have uploaded my bot in MS Teams using App Studio.
Now other users of my organization have to install that bot at their side to chat with it.
This is an extra work for them.
How can I make that chat bot as a new chat window without installing it?
Thanks in advance!!

[2019-08-21 12:58] Wajeed-msft commented on #903
Please take a look at [Publish apps in the Microsoft Teams Tenant Apps Catalog](https://docs.microsoft.com/en-us/microsoftteams/tenant-apps-catalog-teams) and [Install app for user Graph API](https://docs.microsoft.com/en-us/graph/api/user-add-teamsappinstallation?view=graph-rest-beta&tabs=http).

[2019-08-21 12:58] #891 closed

[2019-08-21 14:44] Bryand13 commented on #890
Hi clearab,

Thank you so much for the information and explanation. So, now we know that we have to customized the page that we want to host in MS Teams. The page is the followign one: https://chatbot-ehuak7dmhc.dispatcher.hana.ondemand.com/index.html?hc_reset --> who it's redirect to --> https://ferrofs.ferrovial.com/adfs/ls/idpinitiatedsignon.aspx?logintoRP=https://hana.ondemand.com/ehuak7dmhc

[2019-08-21 16:39] billbliss commented on #844
The MSAL.js library does not allow it to be used inside an <iframe> which is why we haven't switched. We are working with the MSAL team to fix this and once it works, we will update our samples.

[2019-08-21 16:47] liiamjones commented on #844
But the existing ADAL stuff isn’t in an iframe? That’s the point of teams.js it pops it to a new window with teams context

Sent from my iPhone

[2019-08-21 16:48] liiamjones commented on #844
Sorry just remembered we’re talking about silent auth. Yep understand now. Cheers

Sent from my iPhone

[2019-08-21 18:53] viksakshum commented on #902
and there is no way to drive the email in node js using the above id?

[2019-08-21 19:06] billbliss commented on #902
Yes you can retrieve UPN and primary email address if you have a Microsoft Graph access token and an AppId with the right privileges (e.g. User.Basic). You must have application privileges or ask the user to login to do that though.

[2019-08-21 20:09] tejasvinishelar commented on #903
@Wajeed-msft Thank you for your reply!!
I tried your given link but it is only for installing app for specified user.
How can I install app for all users in my organization?

[2019-08-21 22:27] ojasmaru opened #904 "pre-made manifest & helloworldapp.zip"
I don't see any pre-made manifest in the project.

I am using visual studio 2017 to compile the project. I am successfully able to compile the project but I don't see any helloworldapp.zip after compilation.

Am I missing anything?

[2019-08-21 23:56] clearab commented on #890
Yes, that will not work. Please see the documentation I linked above concerning how AAD authentication works in a custom tab in a Teams app.

[2019-08-21 23:56] #890 closed

[2019-08-22 00:41] agladboy commented on #879
@Wajeed-msft I have the same issue and I checked with Mac and Windows version, the option of creating the Outgoing webhooks is not there, I can side-loading third-party apps.

[2019-08-22 00:46] agladboy opened #905 "No outgoing webhook is available on Mac and Windows version of MS Teams."
I can side loading the app.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c224ae-1484-408c-d17a-e7e1ba07e78a
* Version Independent ID: fac8ff1e-a127-c12a-5304-9de39b1a15c6
* Content: [Outgoing webhooks - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/outgoingwebhook)
* Content Source: [mstea

[2019-08-22 00:49] agladboy commented on #905
I can side loading customized app by manifesto zip file.

[2019-08-22 02:48] viksakshum commented on #901
look at the last message where i m attaching the image
https://www.dropbox.com/s/n2ed1x0xjyilfv3/Screenshot%202019-08-21%2019.46.59.png?dl=0

on server side it does not give any data that i can use to extract/download this image

[2019-08-22 02:53] viksakshum commented on #902
is there a code sample that i can use on nodejs server to do this. my payload give me below data and i am using below code for integration of my webhook (i have tried two ways to get email but first one does not get invoked somehow and 2nd gives me 401 access denied

`
const builder = require('botbuilder');
const teams = require('botbuilder-teams');

let connector = new teams.TeamsChatConnector({

[2019-08-22 04:23] Trinetra-MSFT commented on #905
Could you please share screenshot and please confirm if you are using admin account?

[2019-08-22 04:30] Gousia-MSFT commented on #904
@ojasmaru Which sample are you using? Please have a look at the [HelloWorld sample](https://github.com/OfficeDev/msteams-samples-hello-world-csharp) to get started with.This has a manifest file which you could upload. You could also create the manifest file using the [AppStudio](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-app-studio).

[2019-08-22 04:30] agladboy commented on #905
@Trinetra-MSFT
Thanks! yes, I am the admin.

![Screen Shot 2019-08-21 at 9 29 53 PM](https://user-images.githubusercontent.com/42755854/63486072-dc156080-c45a-11e9-9510-f5357c9f9903.png)

[2019-08-22 04:37] Abhijit-MSFT commented on #874
@billbliss - Bug is filed for this issue. @unt1tled - Thanks for your findings

[2019-08-22 04:38] agladboy commented on #905
@Trinetra-MSFT
Side-loading app.
![Store_Microsoft_Teams](https://user-images.githubusercontent.com/42755854/63486334-f439af80-c45b-11e9-96fa-ab694143732f.png)

[2019-08-22 04:39] Trinetra-MSFT commented on #901
Webhooks are not authenticated, by design. It is not possible to send and access the image with webhook but this works with Bot you can use the bot's token in the http headers for the GET on the image URL.

[2019-08-22 04:43] agladboy commented on #905
![Microsoft_365_admin_center_-_Active_users](https://user-images.githubusercontent.com/42755854/63486499-a96c6780-c45c-11e9-8dfc-76c3d9c3aca4.png)

[2019-08-22 04:46] viksakshum commented on #901
The documentation of webhook does not say in limitation of webhook about it.  but sure thanks for responding. at least i know this is not the right path

[2019-08-22 04:49] agladboy commented on #905
![Edit_app_permission_policy_-_Microsoft_Teams_admin_center](https://user-images.githubusercontent.com/42755854/63486723-84c4bf80-c45d-11e9-81d3-1982ddfc4666.png)

[2019-08-22 04:51] agladboy commented on #905
@Trinetra-MSFT Please feel free to let me know if you need more information.

[2019-08-22 05:02] Trinetra-MSFT commented on #905
@agladboy- Could you please confirm if [sideloading ](https://docs.microsoft.com/en-us/MicrosoftTeams/teams-app-permission-policies#can-i-use-app-permission-policies-to-restrict-uploading-custom-apps-also-known-as-sideloading)is enabled in your tenant?
![image](https://user-images.githubusercontent.com/50989436/63486529-8fb33a80-c4c5-11e9-8d3b-705875f7a433.png)

[2019-08-22 06:13] Gousia-MSFT commented on #892
@croban We don't support embeddable 3P objects in Wiki but it's something that we have on our roadmap (leveraging our extensibility framework similar to messaging). Same goes for Edit capabilities on mobile Wiki (in backlog). But I do not have a timeline to share with you.

[2019-08-22 06:33] Gousia-MSFT commented on #855
@praveendath92 Thanks for reporting this. It looks like an issue with the SDK. We are looking into it.

[2019-08-22 06:33] #844 closed

[2019-08-22 06:34] Abhijit-MSFT commented on #889
@xu-zheng, @derkenblosh - Can you please help me with screenshot. My understand of this issue was different.

[2019-08-22 07:33] liiamjones commented on #844
If you’ve closed this issue can I have a link to the relevant Issue with MSAL so I can track its progress please

Sent from my iPhone

[2019-08-22 10:31] Gousia-MSFT commented on #895
@Navega Thanks! We have raised a bug for this and we are looking into it.

[2019-08-22 11:58] #892 closed

[2019-08-22 14:57] crow-ua opened #906 "A lot of 410 Gone responses from outlook.office.com"
I'm developing one of the most popular Teams integrations, and constantly seeing A LOT (thousands) of 410 Gone responses from `https://outlook.office.com/webhook`  on production. Retries do not help, seems like an unrecoverable error on Office365 side. Recreating connector in Teams sometimes help, but does not look a good workaround in general. Can we gather together and troubleshoot this problem

[2019-08-22 16:00] agladboy commented on #905
@Trinetra-MSFT Yes, I have this option enabled.
<img width="1079" alt="Edit_app_setup_policy_-_Microsoft_Teams_admin_center" src="https://user-images.githubusercontent.com/42755854/63530420-48c04780-c4bb-11e9-8b18-afbdf10a764e.png">

[2019-08-22 16:56] ojasmaru commented on #904
@Gousia-MSFT,

Thanks for your response. I was able to upload manifest.json file and continue with the rest of the steps. Somehow from the steps, it gave me a feeling that I needed to upload **helloworldapp.zip** to teams app but obviously that was incorrect.

Once again thanks...

[2019-08-22 17:35] xu-zheng commented on #889
![image](https://user-images.githubusercontent.com/29580364/63535777-14eb1f00-c4c7-11e9-9f05-ab106f679b0a.png)
When you search for a MS Word file, you can't preview the file by clicking on the file in the results. Preview used to work and still works for Excel and PowerPoint files but **NOT** Word files.

Also, Word files can still be preview by going to the directory and clicking the files direct

[2019-08-22 19:38] mooreds opened #907 "For outgoing webhook, hmac header is in the Authorization header, not the hmac header"
Per the docs here https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/outgoingwebhook :

"To guarantee the legitimacy of the client (in this case, to guarantee it's Microsoft Teams that's calling you and not someone else, Microsoft Teams provides an HMAC code in the HTTP hmac header."

But I set up a listener and never saw the `hmac` header. Instead, I saw a header like this:

`Autho

[2019-08-22 19:40] mooreds opened #908 "For outgoing webhook, hmac header is in the Authorization header, not the hmac header"
Per the docs here https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/outgoingwebhook :

"To guarantee the legitimacy of the client (in this case, to guarantee it's Microsoft Teams that's calling you and not someone else, Microsoft Teams provides an HMAC code in the HTTP hmac header."

But I set up a listener and never saw the `hmac` header. Instead, I saw a header like this:

`Autho

[2019-08-22 19:40] mooreds commented on #907
see #908

[2019-08-22 19:40] #907 closed

[2019-08-22 21:24] laujan opened #909 "executeDeepLink API documentation"
I would like to add documentation for the executeDeepLink API to reference in a how-to article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb1abbc2-5376-fa0f-c557-420a50968fa3
* Version Independent ID: dfc61e10-9516-11d9-8927-26e044c9943c
* Content: [microsoftTeams module - Teams](https://docs.microsoft.com/en-us/j

[2019-08-23 01:03] aosolis commented on #429
The activity feed customization only applies to 1:1 messages between a bot and a user, as called out in the [page](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/activity-feed):

Note
This applies to one-to-one messages between a bot and a user. Messages inserted into a channel generate a notification in the activity feed based on the user's notification settings for that channe

[2019-08-23 04:16] #904 closed

[2019-08-23 04:40] #901 closed

[2019-08-23 06:19] Wajeed-msft commented on #906
@crow-ua - Are those connectors still configured? If user removes the configuration, you get 410.

[2019-08-23 06:42] TeamStriebigSebastian commented on #876
It was in-tenant.

Francois Doremieux (Microsoft) <notifications@github.com> schrieb am Mo.,
12. Aug. 2019, 15:31:

[2019-08-23 07:46] harshchawda commented on #514
Hi, do anyone knows when version 1.2 of adaptive card will be supported in teams

[2019-08-23 08:16] TeamStriebigSebastian commented on #853
Lol, it pops up when I log in in the morning and switch to a guest tenant.
Then it shows me that my home tenant has a message for me, I switch back no
message.

So no the 15 minutes thing is not working.
Better built a non-time bound process in a real-time messaging system...

On Wed, 21 Aug 2019 at 06:05, Gousia-MSFT <notifications@github.com> wrote:

[2019-08-23 17:32] #909 closed

[2019-08-23 17:32] laujan commented on #909
Will resolve with the 1.5.0 update.

[2019-08-24 03:35] okulygin opened #911 "https://dev.botframework.com/bots/new is not found"
Please update the URL (https://dev.botframework.com/bots/new), it is 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 379bdae4-b9d3-bc6e-ecbd-264108d76cd2
* Version Independent ID: b40d773f-d0fd-983f-f063-b3409bdedcef
* Content: [Registering a calling and meeting bot for Microsoft Teams - Teams](https://docs.microsof

[2019-08-24 03:37] okulygin commented on #911
looks like URL contains '.'

[2019-08-25 16:44] icatchx22i opened #912 "Browser engine used within Tabs is not stated anywhere"
Please add what browser is Tabs using to view the data within the iframe. I imagine this is probably IE? or does it just use the default browser on the machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c8cce1c-c091-090d-82de-13a57834e240
* Version Independent ID: 13f73468-3c62-d612-dd69-82b43ec31e95
* Content: [

[2019-08-26 04:56] #870 closed

[2019-08-26 05:37] Gousia-MSFT commented on #789
Please re-open if you are still facing the issue.

[2019-08-26 05:37] #789 closed

[2019-08-26 07:23] Trinetra-MSFT commented on #832
Please try this piece of code and let us know if you are still facing issue with closing task module pop-up.
[code]
[code]

[2019-08-26 09:12] Abhijit-MSFT commented on #889
@xu-zheng, @derkenblosh - Thanks for reporting this issue. We have raised a bug and team is looking into it.

[2019-08-26 09:41] mayureshjaiswal commented on #605
As per the below URL sending adaptive card is not possible in messaging extension can anyone please confirm this.
Url: https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/issues/15

[2019-08-26 16:27] BryantVail opened #913 "smaller window size pushes the thread of the main content panel behind the left-sidebar"
Microsoft Teams 'Responsiveness' needs support, a smaller window size pushes the thread of the main content panel behind the left-sidebar (this is occurring in at least 'Chat', and 'Teams') consistently on the most up to date version of Teams, on Windows & Mac computer machines.

[2019-08-26 17:11] Wajeed-msft commented on #913
Could you please share screenshot of the issue?

[2019-08-27 04:39] Wajeed-msft commented on #859
`removeUrl` is used for Tab removal experience. For Connectros `removeUrl` is not used. Please take a look at [Integrating the configuration experience](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-creating#integrating-the-configuration-experience).

For Connectors, Register a `microsoftTeams.settings.registerOnRemoveHandler()` event handler, which gets c

[2019-08-27 08:41] dhananjayece244 commented on #534
I am also getting the same issue ? Not getting outgoing Webhook option.

[2019-08-27 10:07] crow-ua commented on #906
@Wajeed-msft The customer claims that is true, and I myself hit this problem few times too. I will follow-up with them once more to ensure we are not dealing with removed connector.
p.s. Is there any easy way to verify the connector url is still valid other than posting card to it? GET is obviously not implemented and returns 404.

[2019-08-27 10:28] Trinetra-MSFT commented on #905
Could you please check and share related screenshot of app section?

![image](https://user-images.githubusercontent.com/50989436/63764004-7a824580-c8e3-11e9-8fe4-a1d76a120fcf.png)

[2019-08-27 10:46] Gousia-MSFT commented on #869
This is currently by design. Switching between tenants restarts the teams app and hence the call gets disconnected.

[2019-08-27 14:20] Leks12lk commented on #832
Hi @Trinetra-MSFT,
I also see this issue. I tried your piece of code mentioned above and still got  _<BotError>Error when processing invoke response: Task or Task Type is missing in Task Module response_  with status code 502.
At the same time the task module is still opened with error message "Unable to reach app. Please try again."

[2019-08-27 15:41] crow-ua opened #918 "Ensure creating of new Outlook webhook every time new connector is added to channel"
We have following code that creates connector on our configuration page (essentially an excerpt from ToDo connector sample):
[code]
It creates the same url every time.
How to ensure resulting webhook url that is generated when we do `getSettings` later is new and unique? Should we add some guid to `entityId` or `configName`? I don't think it's documented anywhere. I've tried Jira Cloud connector,

[2019-08-27 15:43] crow-ua commented on #918
@Wajeed-msft I guess you may have some insight on the above.

[2019-08-28 07:25] Alexees opened #919 "Switching tenants doesn't work after using web launcher"
I'm member of two tenants A, member, and B, guest.
When I'm on A and open a channel of B through the summary email (web launcher, don't know what to call it), teams opens and asks to switch to tenant B, which works.
But switching back to A shows a popup if I want to switch to B, which I can acknowledge or cancel. Cancel, as the only option to remain on A leaves the tenant blank as if I was in some

[2019-08-28 07:43] Wajeed-msft commented on #906
Currently, only other option would be to post card, check for 410 and cleanup.

We can handle [microsoftTeams.settings.registerOnRemoveHandler()](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-creating#handling-removals) and perform cleanup operations such as removing entries from a database.

[2019-08-28 09:39] joejames12 opened #920 "Link broken - Get started link at the end of the article is broken."
Link broken - Get started link at the end of the article is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6adff4a9-1f94-e638-b62f-0ad205a7af54
* Version Independent ID: a04cd7b3-2d98-b08a-8a61-0ef20459130e
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform

[2019-08-28 15:20] crow-ua commented on #906
@Wajeed-msft We are doing some processing that can be skipped if webhook is dead, but I guess we want to much. Any chance to add GET capability to webhook endpoints that would return 404/410 if the configuration has been removed? `registerOnRemoveHandler` won't help since our integration is stateless and we don't store configurations on our side.

As for originating issue, customer recreated all c

[2019-08-28 22:38] clearab commented on #912
Hi - This is dependent on the client that is used to launch the tab:

For the Teams web app - the iFrame is rendered in the browser that is hosting the Teams app
For Desktop - The iFrame is rendered withing a web view which itself is hosted within the Teams Electron client, hence is Chromium-based.
For iOS - it is rendered within WKWebView (essentially Safari)
For Android - Chromium mobile

[2019-08-28 22:39] #912 closed

[2019-08-29 04:12] Gousia-MSFT commented on #865
@chilla-lifesize We don't support more than 100 results and while that may change, we don't have any plans to do so in the near future.

[2019-08-29 05:16] Gousia-MSFT commented on #913
@BryantVail Thanks for sharing the screenshot. We are looking into it.

[2019-08-29 06:46] Navega commented on #815
This is working fine now for Web and Native apps. I guess that you fixed the problem, thanks!

[2019-08-29 08:42] #815 closed

[2019-08-29 12:09] Wajeed-msft commented on #918
@crow-ua - You get a different Webhook URL every time you configure the Connector. Could you please check it one more time if you are getting same URL? If you have manifest which we can use to repro, please send it to Microsoft Teams developer support alias mention on [Feedback channel](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback).

[2019-08-29 12:22] Wajeed-msft commented on #919
@Alexees - Is this what you are referring as void state?
![image](https://user-images.githubusercontent.com/31851992/63939694-7ee66400-ca85-11e9-9d1f-6f4be929586d.png)
Could you please confirm if clicking on Activity or Chat rendering UI fine for you?
![image](https://user-images.githubusercontent.com/31851992/63939740-9887ab80-ca85-11e9-90b3-b0f1253f8a49.png)

[2019-08-29 12:39] Wajeed-msft commented on #832
@Leks12lk , @crow-ua - Could you please try this inside your ActivityHandler?

[code]

[2019-08-29 14:31] Alexees commented on #919
@Wajeed-msft yes, that's the state I am talking about. Selecting for example Chat does show the chat, but my status is "Offline" and I am not entirely sure what else is broken in this case.
Manually trying to go online does not work.
Switching tenants back and forth seems to fix that, but the dialogue about switching to the tenant I came from remains.

[2019-08-30 04:20] Gousia-MSFT commented on #913
@BryantVail This is the expected behavior. If you scale the window smaller until the left rail collapses and then click on an app in the app bar, the left rail becomes sticky and doesn't go away until you click outside of it. If you scale the window smaller until the left rail collapses and hover on an app in the app bar, the left rail will appear and you can dismiss it by hovering outside of it.

[2019-08-30 05:51] Gousia-MSFT commented on #919
@Alexees Thanks for reporting this. We have raised a bug for this and we are looking into it.

[2019-08-30 09:10] Wajeed-msft commented on #903
@tejasvinishelar - As an admin, you can use app setup policies to customize Microsoft Teams to highlight the apps that are most important for your users. You choose the apps to pin and set the order that they appear. Please take a look at [Manage app setup policies in Microsoft Teams](https://docs.microsoft.com/en-US/microsoftteams/teams-app-setup-policies?WT.mc_id=TeamsAdminCenterCSH) documentati

[2019-08-30 09:21] #889 closed

[2019-08-30 09:22] Abhijit-MSFT commented on #889
we tracking this bug internally.

[2019-08-30 10:44] Trinetra-MSFT commented on #884
@bcote, We tried your sample code and successfully able to get the access token from Azure AD for multiple redirect URI.

**Setting Up multiple redirect URI in Azure AD authentication**
![image](https://user-images.githubusercontent.com/50989436/64014447-c03b4a00-cb3f-11e9-94e7-2752724403f0.png)

**Authentication access token for web view**
![image](https://user-images.githubusercontent.com/509894

[2019-08-30 11:42] brokenthorn opened #923 "Microsoft Teams and Microsoft Outlook log eachother out when logging in on Android"
With MFA on, on Android, each time one of Teams or Outlook signs in, the other gets signed out, or their session token gets replaced, revoked or deleted. I can reproduce this easily. When I open Teams, if it's signed out, it asks for sign in, after succesful sign in, Outlook shows a notification that I need to sign in again, and vice-versa is similar.

EDIT: It turns out it isn't that easy to repr

[2019-08-30 12:13] Gousia-MSFT commented on #902
@viksakshum The code that you have shared is for bot. Please check this [sample ](https://github.com/microsoftgraph/csharp-teams-sample-graph/tree/master/Node) to fetch the UPN of the user. You could also get the Email address of the user in bots using [Bot Context](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-context).

[2019-08-30 13:12] Gousia-MSFT commented on #923
@brokenthorn We could not repro this on our side. Could you please share a video recording of the issue?

[2019-08-30 17:02] tejasvinishelar commented on #903
@Wajeed-msft  Thank you!!

[2019-08-30 17:07] BryantVail commented on #913
Thanks for the quick reply. I saw how it was the expected behavior, but its not behavior sufficient to view & interact efficiently when the window is beyond a pre-defined window size. I use Windows Text Editors -among other programs but where text editors probably try to incorporate more apps/functions in a single workspace- and it seems appropriate to not limit the implementation of sidebar re-si

[2019-08-30 18:10] brokenthorn commented on #923
@Gousia-MSFT I will have to try. My first attempt didn't work although on the recording it is quite evident that the first thing I do is open Outlook and it starts by logging in.

[2019-08-31 05:12] GauravES opened #926 "Misleading description of openURL behaviour."
This description of openURL: "openUrl 	Opens a URL in the built-in browser." is misleading.  Later in the document you mention that : "openUrl This action type specifies a URL to launch in the default browser"

The built-in browser (html rendered inside Teams)  is not the same as the default  browser (which is external to Teams)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-09-01 10:02] HiltonGiesenow opened #928 "Possible bug in "Get the user context" sample code"
I think

if (loginHint) {
    config.extraQueryParameter = "scope=openid+profile&login_hint=" + encodeURIComponent(loginHint);
...

should actually be
if (context.loginHint) {
    config.extraQueryParameter = "scope=openid+profile&login_hint=" + encodeURIComponent(context.loginHint);
...

(note the addition of the "context." in two places)

---
#### Document details

⚠ *Do not edit this section. I

[2019-09-01 10:27] HiltonGiesenow opened #929 ""You should treat the identity-related information in the tab context simply as hints and validate them before use.""
Is it possible to better explain, at least high-level, what this means: "You should treat the identity-related information in the tab context simply as hints and validate them before use."? What should we be validating, and in what way?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22c5f1eb-f67b-5ecd-b417-644f6476e2e1

[2019-09-01 10:28] HiltonGiesenow opened #930 "Another possible bug, in "Authenticate" section"
I think
   if (user.profile.oid !== userObjectId) {
should be
   if (user.profile.oid !== context.userObjectId) {

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be314181-4800-4d02-cf62-fb276dc7cdd2
* Version Independent ID: 259e41a3-0607-c3f8-f635-f6bce767ad2b
* Content: [Silent authentication and SSO - Teams](https://

[2019-09-02 12:00] #918 closed

[2019-09-02 15:51] Humandoodlebug opened #931 "`authorizeEndpoint` url string is incorrect"
In the second code block on the page, the `authorizeEndpoint` url is incorrect.
It is currently set to `"https://login.microsoftonline.com/" + context.tid + "/oauth2/authorize?" + toQueryString(queryParams)`
But should actually be `"https://login.microsoftonline.com/" + context.tid + "/oauth2/v2.0/authorize?" + toQueryString(queryParams)` according to the [Graph docs](https://docs.microsoft.com/en

[2019-09-03 06:55] Wajeed-msft commented on #930
@HiltonGiesenow - These code snippets are copied from the [Microsoft Teams Authentication Sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/src/views/tab/silent/silent.hbs#L72) which has complete code. In documentation we have kept only relevant snippets for better understanding.

[2019-09-03 06:55] #930 closed

[2019-09-03 07:01] Wajeed-msft commented on #928
@HiltonGiesenow - These code snippets are copied from the [Microsoft Teams Authentication Sample](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/src/views/tab/silent/silent.hbs#L71) which has complete code. In documentation we have kept only relevant snippets for better understanding.

Similar [issue](https://github.com/MicrosoftDocs/msteams-docs/issues/930).

[2019-09-03 07:01] #928 closed

[2019-09-03 07:21] s3651907 opened #932 "Example code snippet for Microsoft.Bot.Connector.Teams SDK (v4)"
Can we have a .Net core sample code snippet for SDK 4 as well. If you already have them published somewhere a link to the recourse will be very helpful since I did not have any luck finding any.

[2019-09-03 07:26] TheCSir opened #933 "Example code snippet for Microsoft.Bot.Connector.Teams SDK (v4)"
Can we have a .Net core sample code snippet for SDK 4 as well. If you already have them published somewhere a link to the recourse will be very helpful since I did not have any luck finding any.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaa0ea75-7363-3ef5-39df-ad07c493c118
* Version Independent ID: ab9a2a6e-e2ca-8

[2019-09-03 07:27] #932 closed

[2019-09-03 08:23] Ky7m commented on #932
Did you take a look at
https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/tree/master/CSharp/Samples
and experimental branch https://github.com/microsoft/BotBuilder-Samples/tree/teams-samples/samples/csharp_dotnetcore

[2019-09-03 09:01] #865 closed

[2019-09-03 09:06] #895 closed

[2019-09-03 09:14] Navega commented on #895
Hello @Gousia-MSFT , will the fix be deployed in next version? We continue with this problem in MS Teams for Windows.

[2019-09-03 09:16] Gousia-MSFT commented on #895
@Navega We have a bug on this which is being tracked internally. I will post it here once it is fixed.

[2019-09-03 09:18] Navega commented on #895
Ok, thanks!

[2019-09-03 09:23] Wajeed-msft commented on #933
Currently, SDK4 for Microsoft Teams is in beta state. Please take a look at all the available [SDK and Tools](https://docs.microsoft.com/en-us/microsoftteams/platform/#pivot=sdk-tools&panel=sdk-tools-all). Please take a look at currently available [SDK4 samples for Microsoft Teams on GitHub](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/tree/master/CSharp/Samples).

[2019-09-03 09:23] #933 closed

[2019-09-03 09:51] Gousia-MSFT commented on #887
@MagtheRag Currently, this is not available. We are working on updating the docs to add Deeplinking to files but we do not have an ETA for this.

[2019-09-03 11:03] Gousia-MSFT commented on #913
@BryantVail Thanks for reaching out. I will check internally if there are plans to change this behaviour.

[2019-09-03 11:29] #906 closed

[2019-09-03 18:03] clearab commented on #932
Please keep in mind the samples there a subject to change as we move to incorporate full MS Teams support in the Bot Framework SDK.

[2019-09-03 23:30] TheCSir commented on #933
Thanks for the reply, I'll take a look at the links provided.

[2019-09-04 04:47] Gousia-MSFT commented on #838
This has been fixed now. Please try out and re-open if you still face any issues.

[2019-09-04 04:47] #838 closed

[2019-09-04 04:55] Gousia-MSFT commented on #853
This is an unfortunate design gap on how the service works today. We're planning to sunset this service (for this and a variety of other reasons) and move to a new service but we do not have a firm timeline to share.

[2019-09-04 04:55] #853 closed

[2019-09-04 06:45] MagtheRag commented on #887
Is there not a need for navigating between tabs in the native client, not just deep linking to files (without opening a browser from the native client)?

In order to make the UX unified and understandable we should implement a pattern that make sense to the user and not have islands with functionality that only confuses and do not help the users in their daily tasks. Just being able to navigate to

[2019-09-04 06:49] Gousia-MSFT commented on #923
@brokenthorn Please capture a video recording the next time you see the issue. It will be helpful for our mobile team to investigate this.

[2019-09-04 06:53] #903 closed

[2019-09-04 22:45] aosolis opened #935 "Document /teams/{teamId}"
Document the API to return information about a team, including the name and AAD object ID. This corresponds to FetchTeamDetailsAsync in the SDKs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16f5795-7015-3a4e-2e64-d08d4a6be78d
* Version Independent ID: 6f8a9a3a-33c9-acc5-83d8-7645373bee3d
* Content: [Get context for

[2019-09-04 23:10] robin-liao commented on #855
for the callback function, the first argument is `error`, followed by `address`. However, in the original post the promisify usage seems bind the first argument as address. Please check if it's because of this reason. Thanks!

[2019-09-04 23:17] praveendath92 commented on #855
I'm only using the `then` clause on the promise - which is expected to deliver only when the promises finishes without an error.

The error will be deliver in the `catch` clause (which I don't use in my example). This is another nice advantage of promisifying things - success and error paths can be seperated nicely

[2019-09-05 06:28] Gousia-MSFT commented on #873
@TeamStriebigSebistian We have raised a bug for this. This is being tracked internally.

[2019-09-05 06:28] #873 closed

[2019-09-05 07:50] Gousia-MSFT commented on #931
@Humandoodlebug There are two different samples for Tab authentication.
1. [sample1](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/src/views/tab/simple/simple-start.hbs) uses resource field in queryParameters
![image](https://user-images.githubusercontent.com/45553518/64322050-6a532000-cfdf-11e9-89ad-75936ca2c852.png)
2. [Sample 2](https://github.com/OfficeDev/microsoft

[2019-09-05 08:34] VKAlwaysWin commented on #838
@Gousia-MSFT I can confirm that it is working fine for me. Thank you for all your help.

[2019-09-05 08:55] Humandoodlebug commented on #931
@Gousia-MSFT to clarify, the problem is the sample on the docs page, which uses the v2 scope field format (`https://graph.microsoft.com/User.Read openid`), calls it resource (v1 naming) and uses the v1 endpoint (`"https://login.microsoftonline.com/" + context.tid + "/oauth2/authorize?" + toQueryString(queryParams)`).

The full sample, as it is currently written [here](https://docs.microsoft.com/en

[2019-09-05 14:37] Gousia-MSFT commented on #677
@bondsua We have raised a bug for this and we are tracking it internally. Thanks!!

[2019-09-05 14:37] #677 closed

[2019-09-05 15:36] antonvdl opened #936 "Correlation ID in HTTPPost changes"
I try to work with the correlationId field in the MessageCard, sending the message card using Webhooks to a Teams channel.

My POST looks like this:

[code]

When I catch the headers at the "response.php" side I receive a different CorrelationID.

    [HTTP_ACTION_REQUEST_ID] => 754555e7-c38a-4283-ae08-62f801f5b615
    [HTTP_CARD_CORRELATION_ID] => b277b4bb-eedd-4deb-9069-b1d9b5fe3fc3
    [UNIQUE_

[2019-09-06 07:18] antonvdl commented on #936
For all other details about Connector card properties, see the Actionable message card reference. The only Connector card properties that Microsoft Teams does not currently support are as follows:

heroImage
hideOriginalBody
startGroup (always treated as true in Teams)
originator
**correlationId**

[2019-09-06 07:18] #936 closed

[2019-09-06 11:26] figgsoftware opened #937 "Deep Link Scheduling dialog - Group/Channel"
Deep link to schedule meeting – there certainly should be a parameter to specify what Group/Channel to meet in. If there isn’t already?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a891841a-a110-d18e-25c1-fc29e7d4a5e3
* Version Independent ID: c1a11eb8-00d1-e1d2-1e9d-71d059a6478a
* Content: [Create deep links - Teams

[2019-09-06 15:02] Leks12lk commented on #838
Hi @Gousia-MSFT it works for me as well. Thanks.

[2019-09-06 15:07] Leks12lk commented on #832
Hi @Wajeed-msft,
It does not work for me with mentioned above SendResponse method implementation, but it works with the next implementation of that method
`private static async Task SendResponse(ITurnContext<IInvokeActivity> turnContext, object body = null)
        {
            await turnContext.SendActivityAsync(new Activity { Value = null, Type = ActivityTypesEx.InvokeResponse });
        }`

T

[2019-09-06 17:00] HerrickSpencer opened #938 "Readme.md has link to NodeJS sample for Webhook that is a copy paste of the C# sample."
"Outgoing Webhook for Node.js	Illustrates how to create a simple Outgoing Webhook for Microsoft Teams in ~50 lines of Node.js code."

The link here is https://github.com/OfficeDev/microsoft-teams-sample-outgoing-webhook
This is the C# sample (same as the line above)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2b0e7

[2019-09-06 17:34] #938 closed

[2019-09-06 17:35] clearab commented on #938
Thanks, this will go live with the next publish to production. If you need the link before that it is here:

https://github.com/OfficeDev/msteams-samples-outgoing-webhook-nodejs

[2019-09-06 18:01] HerrickSpencer commented on #938
Yup, I found the link… I also made you a Pull Request to update and fix this issue if you wish to just merge it in.

Cheers,

[cid:image001.png@01D4D2A0.FD2F8FE0]
Herrick Spencer| Senior SDE
(631) 327-8345m | (425) 538-7106w
109/1334

Microsoft Partner App Experience
🐱‍👤 App Ninja

[HxS - 18975 - 16.0.11929.20177]

________________________________
From: Andrew Clear <notifications@github.com>
Sent

[2019-09-06 18:20] clearab commented on #938
Oh, hah. That's what I get for working Issues from email. I also made a PR and merged to master. I'll merge yours as well since you took the time to create it. Thanks again!

[2019-09-06 18:45] HerrickSpencer commented on #938
Aww, that’s nice man.  Thanks for giving me ‘credit’ for the change.  You are a gent.

[cid:image001.png@01D4D2A0.FD2F8FE0]
Herrick Spencer| Senior SDE
(631) 327-8345m | (425) 538-7106w
109/1334

Microsoft Partner App Experience
🐱‍👤 App Ninja

[HxS - 18975 - 16.0.11929.20177]

________________________________
From: Andrew Clear <notifications@github.com>
Sent: Friday, September 6, 2019 11:20:19 AM

[2019-09-06 21:38] aosolis opened #939 "Document the wire protocol for settings (composeExtension/querySettingUrl, composeExtension/setting)"
The current documentation assumes devs are using the Teams Node.js SDK (v3).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ff3777-49c4-8cdc-089e-8612a8774ffb
* Version Independent ID: 0d927000-0b55-2129-cbbb-6630c1ec481e
* Content: [Search with messaging extensions - Teams](https://docs.microsoft.com/en-us/microsoft

[2019-09-07 00:50] #920 closed

[2019-09-07 00:59] clearab commented on #929
This is just saying that you shouldn't assume that the personal identification information included in the getContext call should not be used for authentication or authorization purposes. You need to prompt the user to actually log in for that. Otherwise you are opening yourself to a man in the middle attack.

[2019-09-07 00:59] #929 closed

[2019-09-07 01:01] clearab commented on #911
Fixed, thanks!

[2019-09-07 01:01] #911 closed

[2019-09-07 01:04] #926 closed

[2019-09-07 01:06] #710 closed

[2019-09-09 04:27] #832 closed

[2019-09-09 04:28] Gousia-MSFT commented on #884
@bcote Please re-open if you are still facing issues.

[2019-09-09 04:28] #884 closed

[2019-09-09 04:30] Gousia-MSFT commented on #902
Please re-open if you still face any issues.

[2019-09-09 04:30] #902 closed

[2019-09-09 04:32] #859 closed

[2019-09-09 05:13] Gousia-MSFT commented on #919
This is being tracked internally.

[2019-09-09 05:13] #919 closed

[2019-09-09 05:28] Gousia-MSFT commented on #913
@BryantVail This might be addressed later next calendar year, but there are no near-term plans to change this.

[2019-09-09 05:28] #913 closed

[2019-09-09 07:20] #854 closed

[2019-09-09 07:40] Gousia-MSFT commented on #860
@dfjones1981 This is currently by design.

[2019-09-09 20:54] aosolis opened #941 "Document deep links for app installation"
We support deeplinking to an app, need to document that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a891841a-a110-d18e-25c1-fc29e7d4a5e3
* Version Independent ID: c1a11eb8-00d1-e1d2-1e9d-71d059a6478a
* Content: [Create deep links - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deep-links)

[2019-09-09 21:00] MarshHawk commented on #534
Same, where is it?

[2019-09-10 15:25] bpflugfelder commented on #514
Hi there, same question. Does everyone know when version 1.2 of adaptive cards will be supported. Thanks

[2019-09-11 09:39] alexespencer opened #943 "Duplicate sentence in Message formatting section"
"You can set the optional TextFormat property to control how your message's text content is rendered." can be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d266eb0-2a29-db56-aeaf-dd14dfcdbe66
* Version Independent ID: d7a1fa1d-c083-9232-2259-4f8b267c7ee3
* Content: [Send and receive messages with a bot - Team

[2019-09-11 13:02] Leks12lk opened #944 "Impossible to update activity for Messaging Extension card"
Hi,
I have ME adaptive card. Some elements of that card contain SelectAction property. By clicking to that SelectAction the some logic is done in code and as a result there should be updated activity (activity in this case means the card that was sent to chat from ME). When attempt to update that card I got the exception with message **"Operation returned an invalid status code 'BadRequest'"**. Th

[2019-09-12 05:41] Gousia-MSFT commented on #944
@Leks12lk It is not possible to update the card sent from ME because a Message Extension card is sent by a user and bot cannot update the card which is sent by a user.

[2019-09-12 21:19] aosolis opened #947 "Document how Action.Submit works in a messaging extension result"
Adaptive card Action.Submit in ME result sends an "invoke" activity to the bot w/ a value. Note that this is different from the way Action.Submit works in a conversation, where it sends a "message" activity w/ a value. The docs should describe this difference in behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-09-13 07:10] Gousia-MSFT commented on #876
Please re-open if you are still facing the issue.

[2019-09-13 07:10] #876 closed

[2019-09-13 07:12] Gousia-MSFT commented on #882
@ngrigoriev We have a ticket created for this and we are tracking it internally. Thanks!!

[2019-09-13 07:12] #882 closed

[2019-09-13 07:17] Gousia-MSFT commented on #898
@PerOve Thanks for reaching out. We have this on the backlog.

[2019-09-13 07:17] #898 closed

[2019-09-13 07:19] Gousia-MSFT commented on #908
@mooreds Thanks for reaching out. We are working on updating the docs.

[2019-09-13 07:19] #908 closed

[2019-09-16 00:52] pcolby opened #951 "Can't see any "Developer Preview" menu item."
Following the steps for the **web client**, I've done steps 1 and 2, that is, I can side load apps now.  However, when I try step 3, there is no "Developer preview" option under the About menu.

![screen-2019-09-16-10-49-54](https://user-images.githubusercontent.com/5195222/64930021-fda61400-d86f-11e9-9c41-2234fd6f35c1.png)

Is there a step missing, or the developer preview option moved to somewhe

[2019-09-16 05:16] Gousia-MSFT commented on #951
@pcolby Could you please check if [sideloading is enabled](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-tenant) for your tenant?

[2019-09-16 05:39] pcolby commented on #951
Hi @Gousia-MSFT, yes, as mentioned in OP, I have sideloading enabled:

![image](https://user-images.githubusercontent.com/5195222/64936065-72d90f80-d897-11e9-9cfe-ca43dfdd6293.png)

![image](https://user-images.githubusercontent.com/5195222/64936006-36a5af00-d897-11e9-920f-43b162bc568f.png)

![image](https://user-images.githubusercontent.com/5195222/64936034-550baa80-d897-11e9-9e55-dd0e802962eb.pn

[2019-09-16 05:47] treyco opened #952 "Can't create new app in App Studio"
Whenever I go and create a new app from scratch, I get the error "Failed to create app." I've seen some of the issues raised here before but I don't know how they were fixed.

[2019-09-16 06:54] Gousia-MSFT commented on #952
@treyco Are you getting the error when you try to install the app? Can you please share a screenshot for a better understanding?

[2019-09-16 07:17] treyco commented on #952
This is the error I get when I create a new app.

![image](https://user-images.githubusercontent.com/8473380/64939895-0826d480-d895-11e9-8a20-ec24e4e4f8a6.png)

[2019-09-16 07:33] Gousia-MSFT commented on #952
@treyco  Thanks for sharing the screenshot. We are looking into it.

[2019-09-16 15:46] jkshapiro opened #953 "No underline on links"
Steps to reproduce, in the Teams desktop app on Windows 10:
1. Type some text in Teams, e.g. in Conversations or Wiki
2. Highlight the text and press Ctrl-K. The "Insert link" dialog comes up.
3. Enter a URL in the "Address" field and click "Insert".

Expected: The text is turned into a clearly visible URL, with the standard blue colour and underline.

Observed: The text is turned into a URL and m

[2019-09-17 08:44] Linreg-gmx-net commented on #534
I can not see this Option too.
I created a new Team, but no Link/Option to create a outgoing webhook is visible.
Incomming Webhook is no Problem

[2019-09-17 10:43] deepak-gaddi opened #955 "Error in creating app from App Studio"
![image](https://user-images.githubusercontent.com/40228239/65035093-fc571300-d965-11e9-9ece-747bfc660ee9.png)

[2019-09-17 10:45] deepak-gaddi commented on #955
Is this an issue with my network/firewall?

[2019-09-17 13:12] Linreg-gmx-net opened #956 "Outgoing Webhook not visible Reopen #534"
Hello,
In Teams , there is a option for Incoming Web hook, but there is no option to configure Outgoing Webhook.

I mean the option to create outgoing webhooks as described in the documentation isn't there!
I use german locale.
![Screenshot_20190917_150514](https://user-images.githubusercontent.com/7877755/65044394-1a6c4580-d95d-11e9-9ad2-9566221d2bac.png)

[2019-09-17 15:09] alexespencer opened #957 "Linux or Windows?"
After clicked "new" and entering a globally unique name, I do not get asked which version on Node.JS I want to run, instead I am asked "Linux" or "Windows"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08b13b0-8c05-c6f1-c3fa-a58b67ae0123
* Version Independent ID: 14116a6d-f66b-a81b-9808-cf6db771325f
* Content: [Host

[2019-09-17 17:49] MattSFT commented on #955
Generally this means that you are not able to access the API due to a connection issue. It is likely that the UI piece was cached on your computer and possible that network was interrupted when trying to fetch data.

Also, if you have never been able to use App Studio before, it is possible you have some network or firewall rule blocking connections to the App Studio API.

[2019-09-17 18:48] aosolis commented on #947
"invoke" and "Action.Submit" actions on cards that were shared via an ME cards are sent back to the bot as an invoke activity with name = composeExtension/onCardButtonClicked, and value = the usual payload.

[2019-09-18 06:00] Trinetra-MSFT commented on #956
@Linreg-gmx-net, Could you please confirm if [sideloading ](https://docs.microsoft.com/en-us/MicrosoftTeams/teams-app-permission-policies#can-i-use-app-permission-policies-to-restrict-uploading-custom-apps-also-known-as-sideloading)is enabled in your tenant?
![image](https://user-images.githubusercontent.com/50989436/65117213-56f47b80-da07-11e9-9768-5d9466f38f1e.png)

[2019-09-18 06:10] Gousia-MSFT commented on #957
@alexespencer Could you please share a screenshot of the issue you are facing?

[2019-09-18 11:14] larshub commented on #816
Hi there any updates about this fix? Running teams version 1.2.00.22654 and having same issues as above!

[2019-09-18 12:16] Linreg-gmx-net commented on #956
Am Mittwoch, 18. September 2019, 08:00:37 CEST schrieb Trinetra-
MSFT:

in your tenant?

Hello,

thats is it. Sideloading is now enabled. I can now see that option.

Thank you.

[2019-09-18 12:57] Trinetra-MSFT commented on #956
@Linreg-gmx-net, Thanks for confirming. FYI, This issue is resolved so closing it.

[2019-09-18 12:57] #956 closed

[2019-09-18 16:16] deepak-gaddi commented on #955
Thank you, yes it's firewall issue. I'm able to work by connecting to VPN from office network. It works perfectly fine with home network.

[2019-09-18 16:16] #955 closed

[2019-09-19 02:31] xantari opened #958 "What types of cards are supported in connectors?"
The example here shows MessageCards are a valid type. What about adaptive cards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0fd8e4d-f110-36f8-5bd3-db3325b14c01
* Version Independent ID: 717ea854-1d3a-2c15-e495-b6f170fe7aff
* Content: [Using Office 365 Connectors - Teams](https://docs.microsoft.com/en-us/microsoftt

[2019-09-19 04:01] Gousia-MSFT commented on #952
Duplicate of [#955](https://github.com/MicrosoftDocs/msteams-docs/issues/955). Please refer this issue for the solution.

[2019-09-19 05:41] Gousia-MSFT commented on #958
@xantari Please check this [document ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards)to see the cards supported. Adaptive cards are not supported in connectors.

[2019-09-19 07:47] lre871 opened #959 "Could not save the new tab"
I have followed all the steps of this page but at step "Configure the app tab" I had installed the app and if I klick on the "+" to add the new tab the save button is disabled. I have developed a few test apps for teams with tabs, too, and there also the save button is disabled. I have checked all configurations in the admin center and there is no error at the pop up or in the console, but the sav

[2019-09-19 08:25] Trinetra-MSFT commented on #959
Could you please check `microsoftTeams.settings.setValidityState(true)` is set to enable the save button and `websiteUrl`, `contentUrl`, `removeUrl `is added in validDomains List in your app manifest?  Please take a look at documentation for [Configuration page](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-configuration#configuration-page-example) example.

[2019-09-19 08:26] chouav10 opened #960 "Message getting wiped out in teams"
This bug is related to teams chatting window. While chatting with someone if you are fast in typing you may face this issue. This is how the issue happens.
Type something in chat window. Hit Enter.
As soon as you hit enter you quickly start typing the next chat and you will see the message getting wiped out.

[2019-09-19 08:46] lre871 commented on #959
Thanks for your answer. I have changed the microsoftTeams.settings.setValidityState(true), it was set to another value. But could you tell me where to find the three urls? I took a look at the Configuration page but this does not help me, because there are two objects but i have to give an array of urls as strings and i dont know where to find them.

[2019-09-19 08:50] Gousia-MSFT commented on #960
@chouav10 Could you please share a screenshot of the issue for our better understanding?

[2019-09-19 14:21] xantari commented on #958
Thanks, really hope adaptive cards will be supported soon. It appears only "legacy" MessageCard type is supported :(

[2019-09-19 14:21] #958 closed

[2019-09-19 15:40] HendricksonTyler commented on #826
@Gousia-MSFT This is definitely still an issue. Can you please provide a fix?

[2019-09-20 00:20] #429 closed

[2019-09-20 03:58] tosurbhisharma commented on #394
I am facing issue with this deeplink. In case if user already had a conversation with user...deeplink is able to open chat on mobile. But in case, if user is initiating chat for 1st time, it is not able to open chat window. It gives message as ' can't load chat'

[2019-09-20 06:22] Trinetra-MSFT commented on #959
What appears in a tab on desktop/web is defined by the value of `contentUrl`: Teams displays the contents of `contentUrl `in the tab. ([See Determine the content to display in the tab](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-configuration#determine-the-content-to-display-in-the-tab)). If the tab has a value for `websiteUrl`, another icon appears with the others

[2019-09-21 21:31] softwarecraft opened #963 "Text says "Uploaded" but screen snap shows "Sideloaded""
In section https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-creating#testing-your-connector, text "in the Uploaded section"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21a27c1-d01a-6cc7-c991-73af6492aad8
* Version Independent ID: b15d2142-df29-250e-9a0a-b734dcb93162
* Content:

[2019-09-21 21:34] softwarecraft opened #964 ""Store" is now called "Apps""
In section https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/connectors/connectors-creating#publish-connectors-for-your-organization, text and screen snap shows "Store" but in Teams desktop and web clients, as of today, it is called "Apps" in the left nav icon and page title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-09-22 15:15] sguryev opened #966 "Add note that ActionCard ActionSet is not supported"
I was trying make ActionSet working in Teams. But I was not able even to see it. I guess that `ActionSet` is not supported yet. I have updated `ActionCards` package to version 1.2.2 but `ActionSet` is not showing.

Reprosteps:
1. Open https://adaptivecards.io/designer/ with `Flight Details` sample (contains `ActionSet`)
2. Make sure to update `AdaptiveCard` package to version 1.2.2 (otherwise it w

[2019-09-23 06:48] Gousia-MSFT commented on #953
@jkshapiro Thanks for reaching out!! We are looking into this.

[2019-09-23 17:48] clearab commented on #966
Hi - Teams only supports v1.0 of Adaptive Cards. Support for 1.2 is coming soon.

[2019-09-23 17:48] #966 closed

[2019-09-24 08:36] Gousia-MSFT commented on #953
@jkshapiro We have raised a bug for this which is being tracked internally. Thanks!!

[2019-09-24 08:36] #953 closed

[2019-09-24 09:25] dbalabka opened #968 "Teams bug reporting"
Unfortunately, I didn't found in the documentation where I can report the Teams bugs with the possibility to track the bug status and in which release it would be fixed.
Could you please provide a link to the bug tracker (e.g. Github)?

[2019-09-24 09:32] catchmeifyou opened #969 "how action.submit works in messaging extension of teams"
Adaptive card Action.Submit in ME result sends an "invoke" activity to the bot w/ a value. Note that this is different from the way Action.Submit works in a conversation, where it sends a "message" activity w/ a value. The docs should describe this difference in behavior.

[2019-09-25 05:54] Trinetra-MSFT commented on #968
@dbalabka , Thanks for reaching out to us. You can report a bug at [Microsoft Teams UserVoice!](https://microsoftteams.uservoice.com/forums/908686-bug-reports.).

[2019-09-25 07:14] Gousia-MSFT commented on #937
@figgsoftware Thanks for reaching out!! We have created a feature request for this and it is being tracked internally.

[2019-09-25 09:23] dbalabka commented on #968
@TravisCragg-MSFT thank you! I'm already aware of this resource that mostly looks like a forum rather than regular bug tracker. Also, there no any information about in what expected version it will be fixed. There are a lot (hundred) of posts with status "working on it" sitting there for months.
Тhere are about ~600 bugs reported and only one (!) is with status "completed" and another one (!) with

[2019-09-25 18:38] moirf opened #972 "Manifest Json : Formatting of Text Support?"
Can we use custom formatting while providing the manifest.json into Teams Application?

For example : In App full description I want to add some highlight feature as bold, italics, bullet points etc.

[2019-09-26 05:26] hwangzhiming commented on #951
Any updates? I need this to debug my custom app, I updated a app and it works perfectly in the Teams web client, but the desktop client can not load the UI.

[2019-09-26 05:34] ArjunMahesh97 opened #973 "Receiving notifications after being logged out"
I have already left my previous company and have been logged out from my company mail(outlook) and from teams.
The issue is that I am able to see the messages in teams through notifications, but on opening the app it says I've been logged out.

[2019-09-26 05:49] Trinetra-MSFT commented on #972
Currently manifest schema do not have text-format property defined for description. Please take a look at [Reference: Manifest schema for Microsoft Teams](https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json).

[2019-09-26 05:55] Gousia-MSFT commented on #951
@hwangzhiming We have raised a bug for this and we are tracking it internally.

[2019-09-26 06:37] Gousia-MSFT commented on #957
Please re-open with screenshot if you are still facing an issue.

[2019-09-26 06:37] #957 closed

[2019-09-26 06:39] Gousia-MSFT commented on #960
Please re-open with screenshot if you are still facing an issue.

[2019-09-26 06:39] #960 closed

[2019-09-26 06:57] #937 closed

[2019-09-26 07:05] figgsoftware commented on #937
So @Gousia-MSFT is it on the long,notgonnahappen backlog or is it realistic to expect that it will be done? :)

[2019-09-26 08:38] Gousia-MSFT commented on #973
@ArjunMahesh97 Could you please share a screenshot of the issue you are facing?

[2019-09-26 09:14] ArjunMahesh97 commented on #973
I actually found another issue here. As soon as I open the app I can see the messages for a second before it asks me to sign in. I have attached screenshot for the notifications issue. I have a screenrecording for the second issue but not able to upload here.
![InkedScreenshot_20190926-105725_LI](https://user-images.githubusercontent.com/20819465/65675496-e46d4680-e06b-11e9-9b93-7a211e3d5b96.jpg)

[2019-09-26 09:18] ArjunMahesh97 commented on #973
The compressed screen recording.
[Inked19-09-26-14-34-42.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3657007/Inked19-09-26-14-34-42.zip)

[2019-09-26 10:21] softwarecraft opened #974 ""Store" has changed to "Apps""
In Teams desktop and web clients, as of today.

Refer to section https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload#upload-your-package-into-a-team-or-conversation-using-the-store.

Refer to related issue, https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/3066.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-26 11:18] jepeal85 opened #975 "Keep selections of ChoiceSet"
1)
I am sending a ChoiceSet from my bot to an MS teams channel:
![image](https://user-images.githubusercontent.com/54553419/65684049-fa283f00-e05e-11e9-9319-0e4dd6623c8e.png)

2)
The user makes his selection (e.g. selects Car and Train) and clicks the Send button.

3)
The bot receives the selected values and replies with the message "... You selected Car, Train."_
![image](https://user-images.gith

[2019-09-26 11:22] Gousia-MSFT commented on #975
@jepeal85 Once you fill the values and submit them all the values filled in the card will be sent to the bot in the activity payload in `activity.value`. However, after submit, all the values are reset. This is the current behavior of cards. It is not possible to show the selected values after sending response.

[2019-09-26 11:25] jepeal85 commented on #975
Thanks for the quick answer!

[2019-09-26 11:25] #975 closed

[2019-09-26 12:08] catchmeifyou commented on #969
@Gousia-MSFT, I'm stucked with the issue while implementing message extension actions in my teams app , There is no documentation or sample code for how to invoke actions in messaging extension. any help will be greatly appreciated.

[2019-09-26 13:10] Gousia-MSFT commented on #969
@catchmeifyou Please go through [Initiate actions with Message extension.](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions/create-extensions?tabs=typescript) Please let us know if you face any issues.

[2019-09-26 23:32] matt-dp opened #976 "Immersive experience link broken"
Immersive experience link broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6adff4a9-1f94-e638-b62f-0ad205a7af54
* Version Independent ID: a04cd7b3-2d98-b08a-8a61-0ef20459130e
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/design/overview#feedback

[2019-09-30 05:26] Gousia-MSFT commented on #959
@lre871 Please re-open if you are still facing an issue.

[2019-09-30 05:26] #959 closed

[2019-09-30 11:17] #951 closed

[2019-09-30 11:29] Gousia-MSFT commented on #973
@ArjunMahesh97 Thanks for sharing the video. We are looking into this.

[2019-09-30 11:30] Gousia-MSFT commented on #952
Please re-open if you still face an issue.

[2019-09-30 11:30] #952 closed

[2019-09-30 11:33] Gousia-MSFT commented on #974
Duplicate of #964

[2019-09-30 11:33] #974 closed

[2019-09-30 13:05] imdat1guy opened #981 "how to disable tab conversation?"
I would to disable/remove the conversation/chat in my tabs in my Microsoft Teams app. This is very crucial for my use case.

[2019-09-30 13:13] imdat1guy opened #982 "How to change tab name with reconfiguration?"
I would like to automatically have the tab name change when a user reconfigures that tab and not have him manually renaming it.

[2019-09-30 13:47] imdat1guy opened #983 "How to post an update message in conversation tab after an event occurs in my app tab?"
Is there a simpler way to post a message other than using the graph API for creating a message?
Also that API is in beta

[2019-09-30 17:00] icelandgrecian opened #984 "Mobile Clients - Timelines"
When you say 'Full support for tabs on mobile clients is coming soon', do you have any more detailed timeline on this, e.g. is it 1 week, 3 months or a year?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f5dd248-ec28-4bc2-32e6-2e6072a5eedf
* Version Independent ID: 4c45b690-0a35-d460-54fb-c0b61a2c5e8c
* Content: [Tab

[2019-09-30 18:37] clearab commented on #981
If your app contains both a bot and a tab that have the personal scope, they personal app will contain a conversation tab. The only way to remove it would be to remove the bot from your app (you could still have a messaging extension).

[2019-09-30 18:39] clearab commented on #983
To post a message to Teams you can either use the Graph endpoint, or proactive messaging with a bot (https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-proactive)

[2019-09-30 18:39] #983 closed

[2019-09-30 19:14] imdat1guy commented on #981
I am referring to this:
![image](https://user-images.githubusercontent.com/49979350/65908713-0d793880-e3d8-11e9-9101-856e0f9a6484.png)

and not the conversations tab. My app does not contain a bot.

[2019-09-30 19:46] xtianus79 opened #985 "messageBack text property isn't working for the emulator"
{
  "buttons": [
    {
    "type": "messageBack",
    "title": "My MessageBack button",
    "displayText": "I clicked this button",
    "text": "User just clicked the MessageBack button",
    "value": "{\"property\": \"propertyValue\" }"
    }
  ]
}

text isn't being sent back to the bot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-09-30 23:07] clearab commented on #981
Oh, my apologies. That is also not an extensible/configurable part of the platform.

[2019-10-01 00:41] clearab commented on #983
You can also use an Incoming Webhook, which creates an endpoint you can post a card to. They need to be configured for each channel you want to post messages to.

[2019-10-01 02:03] softwarecraft commented on #974
This is not a duplicate as it refers to a different page in the MS docs site. Both doc pages need to be updated and other report doesn't reference the same page. You should re-open this issue and fix the doc page.

[2019-10-01 07:25] Gousia-MSFT commented on #984
@icelandgrecian We are planning to release the support for personal apps and sideloaded, on mobile over the end of October.

[2019-10-01 09:57] weq opened #986 "Bug in Set-teams cmdlet - GiphyContentRating"
There is a bug with the Set-Team cmdlet.

If I run `get-team -GroupId dbeda73c-c317-42f5-8fe1-9aa3f159c1a4 | select -ExpandProperty GiphyContentRating` it returns "strict".
But if you then wish to alter this to "moderate", set-team fracks things up.
`Set-Team -groupid dbeda73c-c317-42f5-8fe1-9aa3f159c1a4 -GiphyContentRating moderate` doesn't change from strict to moderate, it simply "does" nothing

[2019-10-01 12:56] imdat1guy commented on #981
No worries. Is there any plans to have this configurable in the future?

[2019-10-01 13:14] dbalabka commented on #968
@Trinetra-MSFT now UserVoice service returns 404. Are you experience any technical issue? or you are going to migrate to a new service (e.g. Github 😄)?
![image](https://user-images.githubusercontent.com/1269372/65964893-6becf800-e466-11e9-9f33-2813c971a602.png)

[2019-10-01 13:54] #972 closed

[2019-10-01 20:26] clearab commented on #981
Not currently. If you're interested in seeing it added to the platform, please add it to our User Voice page: https://microsoftteams.uservoice.com/forums/555103-public (use the Apps, Connectors, Messaging Extensions category).

[2019-10-02 03:46] pcolby commented on #951
@Gousia-MSFT, why close this? Is the bug resolved?

[2019-10-02 11:42] vman opened #987 "Deep link from a Bot to a Channel message?"
Is there a way to create a deep link to a channel message from within a Bot? So I want to show and Adaptive card from the Bot and on it, want to have an OpenUrl action. When the user will click on the action, they should be taken to a particular Teams message in a channel. Is there something in the Teams Bot builder or Bot Framework for this already? I have the `ConversationReference` of the messa

[2019-10-03 04:52] Gousia-MSFT commented on #973
@ArjunMahesh97 After you pressed the signout button, did you wait for the signout to complete or you killed it and reopened the app?

[2019-10-03 08:03] AliLoUuU commented on #600
Hello,

I need one simple thing : launch teams desktop application and chat with someone.

When i call https://teams... /chat/0/0?users=<mail> it opens a webpage that opens teams on desktop BUT the webpage is still here, I don't want that page, how to close it automatically or ignore that?!

I think that passing from https://teams is useless...so I checked process execution after redirecting from

[2019-10-03 08:08] ArjunMahesh97 commented on #973
As I mentioned earlier, I have logged out of my company mail(The mail attached to this Teams account). I have not directly logged out using teams.

[2019-10-03 10:18] Gousia-MSFT commented on #987
@vman Yes, it is possible to deeplink to a channel message from a bot. But currently we do not have any document to share with you. Could you please try getting the link of a message in the channel using "Copy link" (see the image attached to get link) and use that format to generate your deeplink?
![image](https://user-images.githubusercontent.com/45553518/66118724-bd2af200-e5f4-11e9-89da-f9067e8

[2019-10-03 10:57] vman commented on #987
Thanks @Gousia-MSFT, I tried to do that but but the links contains the message id as well. E.g. `https://teams.microsoft.com/l/message/<team_internal_id>/<message_id>?tenantId=<tenant_id>` and I have confirmed it internally that the message id is not yet available from within the Bot Framework as of now.

[2019-10-03 10:57] #987 closed

[2019-10-03 17:13] vman commented on #832
`turnContext.SendActivityAsync(new Activity { Value = null, Type = ActivityTypesEx.InvokeResponse });` worked for me as well.

The documentation probably needs to be updated for Bot Framework v4.

[2019-10-04 14:53] Vikrant2585 opened #990 "On Mac machine not able to switch the tenant"
Hi Team,

I have been part of more than one tenant as a guest and now not able to switch between the tenant from TEAMS apps installed on my mac book.

When i try to switch back it will keep brining me to my organization tenant.

[2019-10-05 12:55] innovationhub-asia commented on #951
We are seeing the same issue, followed all required steps but the Development preview option is not available, even though we are able to upload custom apps.

[2019-10-06 04:26] clearab commented on #984
We don't have a specific timeline to share currently. We want to give developers ample time to add mobile friendly tabs to existing apps before we make this the default behavior.

[2019-10-06 04:26] #984 closed

[2019-10-07 10:26] Wajeed-msft commented on #986
@weq - Just to isolate the problem, could you please try [Update team](https://docs.microsoft.com/en-us/graph/api/team-update?view=graph-rest-1.0&tabs=http) in [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) and see if you are getting the same results?

[2019-10-07 10:41] weq commented on #986
@Wajeed-msft I'm afraid I can't. It seems I don't have the correct permissions in our tenant for this API I suspect. We use PIM for management so it might be that prevents be from using the API directly?

Including a screenshot in case I've done something wrong and you might notice it.
![image](https://user-images.githubusercontent.com/16988742/66305500-b86d8300-e8ff-11e9-8622-1a83c65798ea.png)

[2019-10-07 15:30] Blackbaud-ChristiSchneider opened #999 "Immersive experience "learn more" link is broken"
https://docs.microsoft.com/en-us/microsoftteams/platform/resources/design/framework/basics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6adff4a9-1f94-e638-b62f-0ad205a7af54
* Version Independent ID: a04cd7b3-2d98-b08a-8a61-0ef20459130e
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/

[2019-10-08 08:40] kains4 opened #1009 "Sometimes I receive "ReflectionTypeLoadException" error when I post a msg by Incomming Webhook."
The error msg is as below.
------------------------------------------------------------------------------------------------------
System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.

I don't know why this error was happend.
Incomming Webhook was okay and I didn't change any source in my sourc

[2019-10-08 21:55] ericrrichards opened #1013 "How to deal with inline pasted images?"
Something has changed with the way that this works.  In the past, I could use the Teams client to contact my bot, and then copy/paste a screenshot image into the chat, and the bot would receive a media attachment that could be downloaded.

As of the past two weeks, when I do this, the contentUrl value in the attachment that is sent to my bot, for example https://smba.trafficmanager.net/amer/v3/att

[2019-10-09 02:28] hwangzhiming commented on #951
Try quit and reopen your Team client, it came back unexpectedly/

![dev](https://user-images.githubusercontent.com/1012374/66447018-5c316d00-ea7f-11e9-96e3-a7c535390bfd.png)

[2019-10-09 05:41] Gousia-MSFT commented on #999
Duplicate of #976 .

[2019-10-09 06:14] Gousia-MSFT commented on #999
Thanks @Blackbaud-ChristiSchneider This is fixed now!!

[2019-10-09 06:14] #999 closed

[2019-10-09 06:14] Gousia-MSFT commented on #976
@matt-dp Thanks for reporting. This is fixed now.

[2019-10-09 06:14] #976 closed

[2019-10-09 08:37] JanOnGit opened #1015 "Authentication does not work in teams app with tabs on mobile using v1.5.2(latest)"
Hi there,
I just created an Azure Web-App application (.NETCore 2.2.0, MVC) with tabs for teams with authentication. I implemented a silent authentication and SSO like in this example (https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-silent-aad). On teams desktop the authentication works as expected. On teams mobile the authentication fails (same application).

[2019-10-09 09:02] Gousia-MSFT commented on #990
@Vikrant2585 Thanks for reporting it. We are looking into this.

[2019-10-09 12:45] icelandgrecian opened #1017 "Personal Tab - Context"
We are looking at implementing our personal tabs so it works on a mobile device, however we are seeing issues with the context in the preview mode, where many of the properties set on the desktop/web version are coming back as null or are missing (we are checking on iOS).

The properties set on the web version that are null on the mobile device are entityId, subEntityId, sessionId, loginHint,

The

[2019-10-10 04:44] Gousia-MSFT commented on #951
@pcolby @innovationhub-asia This has been fixed now. Could you please check and confirm once?

[2019-10-10 04:50] Gousia-MSFT commented on #973
@ArjunMahesh97 Thanks for reporting this. We have raised a bug for this and we are tracking it internally.

[2019-10-10 05:23] Gousia-MSFT commented on #968
@dbalabka Currently we do not have any publicly available bug tracker. We don't have any plans for this as of now. Please raise an issue on GitHub if you want to report a bug and we will track it internally.

[2019-10-10 05:54] apatils opened #1032 "Microsoft Teams Connectors giving 503 - Something went wrong :'("
I am getting this error when I am trying to add new connector in Microsoft teams, also my pre-configured Incoming Webhooks are not working.
<img width="594" alt="connector_issue" src="https://user-images.githubusercontent.com/41283108/66542562-8a32b200-eb50-11e9-859e-2a75c9922421.PNG">

[2019-10-10 06:02] apatils opened #1033 "Microsoft Teams Connectors giving 503 - Something went wrong :'("
I am getting this error when I am trying to add new connector in Microsoft teams, also my pre-configured Incoming Webhooks are not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2fa7fb-49bf-8c92-88b1-fe2e14c5edee
* Version Independent ID: ff62f069-6977-8e27-7301-d3e29df3abc7
* Content: [Office 365 Connectors

[2019-10-10 06:14] apatils opened #1034 "Microsoft Teams Connectors giving 503 - Something went wrong :'("
I am getting this error when I am trying to add new connector in Microsoft teams, also my pre-configured Incoming Webhooks are not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0fd8e4d-f110-36f8-5bd3-db3325b14c01
* Version Independent ID: 717ea854-1d3a-2c15-e495-b6f170fe7aff
* Content: [Using Office 365 Conn

[2019-10-10 06:45] nayanshah commented on #1013
I don't have the documentation handy but Skype & MS Teams attachment URLs are secured by a JwtToken. So you need to pass the token to access those attachments (usually hosted on *.trafficmanager.net, *.skype.com)

[code]

[2019-10-10 08:50] dneduva commented on #1034
This is happening for me as well

[2019-10-10 08:51] dneduva commented on #1009
This has been happening for the last week!
I have been in contact with Microsoft as well. Waiting on the Dynamics Engineer to get back to me..

[2019-10-10 09:00] gustavomcarmo commented on #1034
The same to me :(

[2019-10-10 10:00] Sameen1234567 opened #1035 "MS Teams - Unable to open 'Connector' window for a Chat (Channel)"
- Windows 10 / MAC High Sierra 10.13
- Login to MS office365
- Navigate to MS Teams
- Open any Chat -->Channel --> Connectors

Error will be shown in its windows

<img width="1680" alt="Screen Shot 2019-10-10 at 2 52 31 PM" src="https://user-images.githubusercontent.com/56390521/66559349-ae04f080-eb6e-11e9-8de0-012e74d3fcce.png">

[2019-10-10 10:21] anomepani opened #1036 "Is there people picker control available?"
Is there people picker control available in teams app studio control?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c181f8cb-871f-09f5-1210-352afeaf0271
* Version Independent ID: 2a62e83d-0dd5-0cff-e45f-73d451f10b63
* Content: [Get started with App Studio for Microsoft Teams - Teams](https://docs.microsoft.com/en-us/m

[2019-10-10 10:34] #923 closed

[2019-10-10 10:35] #869 closed

[2019-10-10 10:39] #837 closed

[2019-10-10 10:39] #807 closed

[2019-10-10 10:39] #783 closed

[2019-10-10 10:41] #611 closed

[2019-10-10 11:04] Gousia-MSFT commented on #1036
@anomepani App Studio is mainly used for creating and integrating the apps into Teams. Could you please elaborate more on your scenario and what are you trying to achieve?

[2019-10-10 11:08] Gousia-MSFT commented on #1033
Duplicate of #1034

[2019-10-10 11:08] #1033 closed

[2019-10-10 11:08] Gousia-MSFT commented on #1032
Duplicate of #1034

[2019-10-10 11:08] #1032 closed

[2019-10-10 11:49] Wajeed-msft commented on #1034
We are looking into this.

[2019-10-10 11:57] Gousia-MSFT commented on #1035
@Sameen1234567 Thanks for reaching out! We are looking into this.

[2019-10-10 14:59] ericrrichards commented on #1013
Thanks Nayan, that was exactly what I was missing

[2019-10-10 17:00] Ky7m commented on #1036
@anomepani you can take a look at preview components https://docs.microsoft.com/en-us/graph/toolkit/components/people?context=graph%2Fapi%2F1.0&view=graph-rest-1.0

[2019-10-10 17:38] StingyJack opened #1037 "There is no SDK for this that uses a Microsoft programming language?"
This SDK doesn't seem to be aligned with the customer base without it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aadca17b-de5c-0d06-caa6-d7bafd04f99b
* Version Independent ID: 91035790-5d36-067e-4400-04bb51cb03e3
* Content: [Microsoft Teams client SDK - Teams](https://docs.microsoft.com/en-us/javascript/api/overvi

[2019-10-10 19:56] norachuga opened #1040 ""You don't have permissions to add Hello World to this team.""
When I click Install under Test and Distribute, this is what I see:

![Teams_Hello_World_denied](https://user-images.githubusercontent.com/4997476/66601135-2969a080-eb75-11e9-86d2-8d851081ba4b.PNG)

The dialog UI appears to have changed since this tutorial was written, so I'm not quite sure of the issue. There is no option for "Add for you", nor is there even a place to search for a team. "This te

[2019-10-11 00:57] gmajian commented on #854
@clearab, what's the rate limit of list of cards?  Are the list of cards be treated as multiple operations regarding the MS Teams API Rate limit?

[2019-10-11 04:04] Gousia-MSFT commented on #1015
@JanOnGit Thanks for reporting it. We have raised a bug for this and we are tracking it internally.

[2019-10-11 04:50] pcolby commented on #951
Hi @Gousia-MSFT, yes, the menu option is there now, thanks! :)

[2019-10-11 05:45] Gousia-MSFT commented on #1040
@norachuga Are you trying to upload the app from App Studio? Could you please try downloading the manifest and [sideload it](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload)?

![image](https://user-images.githubusercontent.com/45553518/66627049-0d6b0b00-ec18-11e9-85be-f998ec13dc85.png)
Clicking on Add directly adds the app in your personal scope. If you want to a

[2019-10-11 06:03] Trinetra-MSFT commented on #1037
Could you please tell us more, what actually you are looking for?

[2019-10-11 06:08] #1013 closed

[2019-10-11 07:25] anomepani commented on #1036
Thanks, @Ky7m  and @Gousia-MSFT I will take a look and If I have any issue I will let you know.

[2019-10-11 07:25] #1036 closed

[2019-10-11 07:38] anomepani opened #1043 "Is there any MS Graph API or Powershell available to hide teams for specific owner?"
Currently, we have 1000s Microsoft teams and on a daily basis, 10 to 15 teams are created based on contract and in that special Security group's owners(Company Admin and Other Stakeholders) added as an owner for security reasons in groups.
As this owner is added to every team, their Teams app is too slow and unresponsive due to this all teams loaded in their app.

Is there any Microsoft Graph API

[2019-10-11 10:38] StingyJack commented on #1037
Not JavaScript;  VB, c#, power shell, etc.

[2019-10-11 12:01] nicojdejong opened #1044 "Reading the Teams Activity feed"
Hi content writers,

I can see in the documentation descriptions of posting to the activity feed but not reading it. Is that possible? I also checked Graph API 1.0 documentation and it is not there under team work and under activity feed there it seems not to refer to MS teams but to Windows 10 TimeLine etc. Can you be more explicit about reading the Team activity feed programmatically? Thank you.

[2019-10-11 13:49] norachuga commented on #1040
Yes, I was trying to add through the Apps Studio.

My UI does not match what is shown in the sideload doc either, and I do not have the options it offers.

In the [first option](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload#upload-your-package-into-a-team-or-conversation-using-the-store), there is not a Store icon. Instead, it says Apps (as well as Help instead

[2019-10-11 14:07] anomepani opened #1045 "Is there any full working demo for Silent SSO Authentication in Teams Tab with different clientId"
Is there any full working demo for Silent SSO Authentication in Teams Tab with different clientId?
Using adal.js I am able to redirect in Microsoft Teams Web Version using clientId but Desktop Microsoft teams app not returning back only showing a blank screen.
Redirection not working in Desktop MS Team App.
Does code available in C# or javascript langauge ?

Thanks In Advance

---
#### Document De

[2019-10-11 14:41] Wajeed-msft commented on #986
Could you please try waiting for some time before calling get-Team command? This to confirm if you this is happening due to any cache issue. Also, you should be able to get the request/response details if you use Fiddler.

[2019-10-11 15:45] Ky7m commented on #1045
@anomepani did you check this project https://github.com/OfficeDev/msteams-sample-contoso-hr-talent-app, specifically
https://github.com/OfficeDev/msteams-sample-contoso-hr-talent-app/blob/master/TeamsTalentMgmtApp/src/TeamsTalentMgmtAppV4/StaticViews/OpenPositionsPersonalTab.html

[2019-10-12 13:19] chenxizhang opened #1047 "Good article"
Good writing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c8cce1c-c091-090d-82de-13a57834e240
* Version Independent ID: 13f73468-3c62-d612-dd69-82b43ec31e95
* Content: [Add tabs to Microsoft Teams apps - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-overview)
* Content Source: [m

[2019-10-13 17:25] anomepani commented on #1045
@Ky7m Thanks for the reply. Let me take a look. I want to create an app for ms teams that will work for multi-tenancy based on Microsoft graph delegated permission. I am stuck with redirection in the Microsoft Team Desktop version installed app.

[2019-10-14 01:40] bk1412 commented on #804
hey,now i meet same problem with you ,did you solve it ?my company network also should using proxy,i also didnt know how to set proxy to fix this problem ....if you fix this problem ,please reply me

[2019-10-14 01:56] bk1412 commented on #804
yo bro ,i fix it ,yeah after i send you messages 1 min ,then i find how to fix it ,well you should set the proxy be your linux system ,my linux system is Centos 7

this is what i do 👇 (if you system also is Centos,other system you can try do same thing or search how set you system level proxy )

added these code to /etc/profile this file ,you can using vi to open the file
`# add proxy for network

[2019-10-14 03:59] Gousia-MSFT commented on #1047
@chenxizhang Thanks for the feedback!

[2019-10-14 04:39] Gousia-MSFT commented on #1043
@anomepani Currently there is no API available to hide teams. The only possible way to hide teams is to do it manually from the Teams UI:
![image](https://user-images.githubusercontent.com/45553518/66729645-5f0ad400-ee6a-11e9-95b8-a1e438ea9f54.png)
Please try the Graph API for [Archive team](https://docs.microsoft.com/en-us/graph/api/team-archive?view=graph-rest-1.0) and see if that works in your

[2019-10-14 07:03] Gousia-MSFT commented on #1044
@nicojdejong Currently there is no way to read the activity feed of a user. You can only send notifications through activity feed but not read.

[2019-10-14 07:22] Gousia-MSFT commented on #1040
@norachuga Could you please check if Sideloading is enabled in Setup Policies?
![image](https://user-images.githubusercontent.com/45553518/66734572-43f78e80-ee81-11e9-8cf5-68c3bc861940.png)
Please follow this document to enable [sideloading ](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-tenant)if you haven't done it already.

[2019-10-14 07:23] anomepani commented on #1043
Thanks for reply @Gousia-MSFT. Actually Archive team feature not work for us for moderating and security purposes we are adding security group owner to Microsoft team as an owner. So all this team is active.

Let us know if we can hide somehow automated way for all teams for a specific users with other possible API.
Your suggestion much appreciated.

[2019-10-14 08:54] afrischk opened #1050 "Point out manifestVersion for DevPreview"
Please make it more clear what manifestVersion is needed for the DevPreview.
For parsing the DevPreview schema it is necessary to use 'devPreview' as the manifestVersion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 379bdae4-b9d3-bc6e-ecbd-264108d76cd2
* Version Independent ID: b40d773f-d0fd-983f-f063-b3409bdedcef
*

[2019-10-14 14:58] paul-cheung opened #1051 "Is it possible to create a deep link to chat in Task Module?"
According to [deep-linking-to-a-chat](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deep-links#deep-linking-to-a-chat).

i am building a deep link to a chat in my Teams Tab like below:
https://teams.microsoft.com/l/chat/0/0?users=xx@xxx.com&topicName=Prep%20For%20Meeting%20Tomorrow&message=Hi%20folks%2C%20kicking%20off%20a%20chat%20about%20our%20meeting%20tomorrow

Tab Page:
![

[2019-10-14 16:47] Ky7m commented on #1051
@paul-cheung, did you try `microsoftTeams.executeDeepLink(/*deepLink*/);`?
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deep-links#deep-linking-from-your-tab

[2019-10-14 17:32] Trinetra-MSFT commented on #1051
@paul-cheung , Could you please take a look at [Task module deep link syntax](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview#task-module-deep-link-syntax)? Let me know if you face any issue.

[2019-10-14 18:59] rneal4 opened #1052 "Test and Distrubute Fail - You don't have Permissions"
I've followed through all the steps of the tutorial several times, but once I reach the "Test and Distribute" step I get an error.
When attempting to install the app, the "Add" button is grayed out with a message below it saying "You don't have permissions to add Hello World to this team."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-15 01:54] paul-cheung commented on #1051
@Ky7m @Trinetra-MSFT thanks, maybe i am picking the wrong thing to do this. i will try it later.

[2019-10-15 04:26] Trinetra-MSFT commented on #1052
Could you please download your app manifest and try side loading in teams?
![image](https://user-images.githubusercontent.com/50989436/66800114-a27c4580-ef31-11e9-83bd-90ec6e8cb912.png)

[2019-10-15 05:25] Trinetra-MSFT commented on #1050
If you want your IDE to properly validate the manifest.json schema for your calling and meeting bot than using Dev preview version is necessary as documented.

[2019-10-15 07:13] Trinetra-MSFT commented on #1045
Please take a look at [msteams-sample-contoso-hr-talent-app](https://github.com/OfficeDev/msteams-sample-contoso-hr-talent-app) which have SSO implementation for tabs. Let us know if you need any assist on that.

[2019-10-15 07:28] anomepani commented on #1045
@Trinetra-MSFT  Thanks for the reply. I will take a look and let you know if it works or not.

[2019-10-15 08:35] jfranch commented on #951
Hi @Gousia-MSFT, don't work for me. Developer preview option is missing.

[2019-10-15 10:15] jfranch commented on #951
@Gousia-MSFT it's ok for 32bits version, but don't work on 64bit.

[2019-10-15 11:01] Trinetra-MSFT commented on #1037
@StingyJack , As of now Microsoft Teams Client SDK is written in Javascript only. It makes it easy to integrate your own services with Teams, whether you develop custom apps for your enterprise or SaaS applications for teams around the world.

[2019-10-15 12:31] rneal4 commented on #1052
Thank you. This allowed me to test my app and run through the rest of the tutorial.

[2019-10-15 12:31] #1052 closed

[2019-10-15 13:47] paul-cheung commented on #1051
@Trinetra-MSFT i want to build a link in Task Module, and clicking that link will take me to chat screen.
The docs link you provided is for building a link to open a Task Module instead. so they are not the same thing, thanks all the same.

@Ky7m You helped, thanks.

[2019-10-15 13:47] #1051 closed

[2019-10-15 17:16] clearab commented on #1037
This is a client-side SDK that runs inside of an Electron shell, which is essentially a browser. JavaScript is essentially the only language that makes sense in this context. This SDK cannot be run outside of the context of a web browser.

[2019-10-15 17:16] #1037 closed

[2019-10-15 19:43] StingyJack commented on #1037
Microsoft makes a significant use program using a non-MSFT tech (a really crummy one that has all kinds of graphical and is OS incomplete/incompatible), and then only makes it extensible via a non-MSFT programming language.

This is not the best way to reward and foster the investment your long time customers have made in MSFT tech.

Why not use blazor or have this be a pilot for the netcore 3 UI

[2019-10-16 04:19] marknettle commented on #987
The element of the URL you have listed as <message_id> is the timestamp (milliseconds past epoch). You can deep link to a reply as

https://teams.microsoft.com/l/message
/<team_id>@thread.skype
/<reply_timestamp>
?tenantId=<tenant_id>
&groupId=<group_id>
&parentMessageId=<parent_timestamp>
&teamName=<team_name>
&channelName=<channel_name>
&createdTime=<reply_timestamp>

Some elements can be left o

[2019-10-16 05:44] #1047 closed

[2019-10-16 08:45] anomepani opened #1053 "Can you please provide example for "resource" in SSO using Teams App Studio"
Can you please provide an example for "resource" in SSO using Teams App Studio?
I am having difficulty understanding the supported value for "resource" can you please provide a demo for this.
I am assuming it also requires redirection handling with popup URL as well otherwise it will never return to the main landing page.

If workable demo is available it is very helpful.

---
#### Document Detail

[2019-10-16 10:52] weq commented on #986
@Wajeed-msft It would seem like you are correct yes. So used to everything being in real time sync that I got blinded I guess. This may be closed. It works "faster" in my personal experience now however, so if there was some latency issues on certain APIs might also have caused this.

Guess we close this now.

[2019-10-16 10:52] #986 closed

[2019-10-16 12:22] daniel0x00 commented on #514
+1. This is needed, please. Support for version 1.2 will bring support for Action.ToggleVisibility, a must for us.

[2019-10-16 15:09] afrischk commented on #1050
Maybe I misunderstood the comment, but what I meant was: If you want to side-load the bot in Teams with the manifest.json schema Dev preview (e.g. with added supportsCalling property), then you also have to set the manifestVersion property in the manifest.json to the value 'devPreview'. This is not documented and causes issues like [this](https://github.com/microsoftgraph/microsoft-graph-comms-sam

[2019-10-16 15:25] anomepani commented on #1045
Thank you @Trinetra-MSFT and @Ky7m I am able to integrate and test provided solution reference for SSO Login with ClientID in Web version of Microsoft Teams.

If I am logged into **Microsoft Teams Desktop App** and Go to my app in teams app and open my app it will not auto-login. It is showing **"Sign In"** Button.

When I Sign In it will redirect to Microsoft login page in popup and prompting cre

[2019-10-16 15:50] billbliss commented on #1037
Microsoft Teams is a web-based application. It runs on the desktop via Electron and it runs in the browser directly. Browsers only support JavaScript, so that's what the SDK is written in. That's not going to change.

If you prefer a Microsoft language, you can use TypeScript.

I started at Microsoft in 1987, so I've been through the "not invented here" days. Now, we focus on using what works.

[2019-10-16 15:59] norachuga commented on #1040
There appears to be a **very** long delay between enabling/disabling "Allow uploading custom apps" and the functionality appearing/disappearing.

The features eventually showed up with no further action from myself, but I did not keep track of how long it took. It could be more than a day.

I have now disabled sideloading, but the features remain completely available. It has been 2 hours since I d

[2019-10-16 23:50] clearab commented on #1050
Hi - You can find the documentation for the Developer Preview program here: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-intro

I'll update that section to include a link to the full developer preview documentation

[2019-10-16 23:50] #1050 closed

[2019-10-17 05:52] #1044 closed

[2019-10-17 05:53] Gousia-MSFT commented on #1043
@anomepani Currently there is no automated way to hide teams. The only way to do it is from the Teams UI.

[2019-10-17 05:53] #1043 closed

[2019-10-17 12:57] norachuga commented on #1040
It seems that the features appear to appear/disappear at different rates from each other as well.

6 hours after disabling:

- Teams > Apps tab - _Upload a custom app_ option is no longer visible
- App Studio > Test and Distribute > Install > Add is disabled

23 hours after disabling:
- Apps > _Upload a custom app_ is still available. I was able to upload a new app using it.

[2019-10-17 16:59] hobpet opened #1055 "Dead link in the first sentence"
https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/calls-api-overview link is dead!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89db73b2-18ba-b362-ae8e-e03d78da936f
* Version Independent ID: 9bf981e3-389e-e10e-f63b-76be3a164756
* Content: [Calls and Online Meetings Bots - Teams](https://do

[2019-10-17 16:59] infact commented on #1045
In teams users are already logged in.Then why asking to authenticate again? The bot should be able to silently identify the user and move on ?

[2019-10-17 23:11] IdiotLeon opened #1057 "No AddMentionToText(,) for Activity[class]"
There is no such a method for `AddMentionToText()` for Activity class. The Nuget package is `Microsoft.Bot.Connector.Teams 4.3.0-beta1` for .NET Core 2.1.

Were there not any by design, how can I at-mention users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14392b78-c698-ab2e-b7c2-60680cba3b7f
* Version Independent

[2019-10-17 23:16] IdiotLeon opened #1058 "How to at-mention legit users in an Adaptive Card, better without the Flow[Bot]?"
The experience I had is to display "&lt;at&gt;blahblah@example.com&lt;/at&gt;" as literal texts.

(The email address actually sent is valid. The above dummy email address is just for safety's concern.)

Here is the JSON sent as a Channel message

[code]

Better to use my own bot, instead of the Flow[bot].

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-10-18 06:57] Gousia-MSFT commented on #1058
@IdiotLeon Currently, it is not possible to at-mention a user in an Adaptive card. You could mention in a  [text message](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-channel#constructing-mentions) but not in card. This is something we are working on but we do not have an ETA to share with you.

[2019-10-18 08:28] Gousia-MSFT commented on #1040
@norachuga App setup policies usually take some time to update. Were you able to add the app to the Team? Is your issue resolved?

[2019-10-18 08:29] Gousia-MSFT commented on #1017
@icelandgrecian This is a known issue. We have raised a bug for this and we are looking into this internally.

[2019-10-18 08:32] Gousia-MSFT commented on #985
@xtianus79 Does this work in Microsoft Teams? Could you please share a screenshot of the difference you see in Teams vs Emulator?

[2019-10-18 08:40] Gousia-MSFT commented on #982
@imdat1guy Could you please try [updating an existing tab instance](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-update-remove#updating-an-existing-tab-instance) and let us know if you face any issues

[2019-10-18 08:43] #968 closed

[2019-10-18 13:15] norachuga commented on #1040
Sure, I guess my issue is resolved.

I feel like it should probably be made clear on any or all of these pages that it takes more than entire day for a change in settings to take effect. Otherwise, a reasonable person would assume the documents are wrong, they have done something wrong, or there was a bug.

https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-dotnet-app

[2019-10-18 13:18] xtianus79 commented on #985
@Gousia-MSFT teams, I don't have access to the teams channel

[2019-10-18 17:58] IdiotLeon commented on #1058
@Gousia-MSFT  thanks for your quick response and confirmation.
However, I also find it difficult to at-mention users in regular text messages. The example provided in the doc seems to work only on .NET Framework, instead of .NET Core. To be exact: `addMentionToText() `seems to exist in `Microsoft.Bot.Connector.Teams 0.9.0`, yet to be included in prerelease version `4.3.0-beta1` for .NET Core 2.1.

[2019-10-18 18:28] anomepani commented on #1045
I am not sure why it's asking credential but it is asking credential and it is prompting Microsoft login popup.

[2019-10-18 21:32] clearab commented on #1057
You can see an example of that here: https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/blob/622f88cccc5339b85129cb3cd0b39a31867dd6f7/CSharp/Samples/Microsoft.Bot.Builder.Teams.AuditBot/MessageActivityHandler.cs#L57

The documentation is targeted the latest GA version of the SDK, not the 4.3 preview SDK.

[2019-10-18 21:32] #1057 closed

[2019-10-19 11:36] Gousia-MSFT commented on #1058
@IdiotLeon Please see the comment from clearab on the other issue.

[2019-10-19 11:36] #1058 closed

[2019-10-19 16:13] NewFuture opened #1062 "How to return a pure image (without card wrapper) in message extension?"
I what to it render an image just like the Giphy does.
[code]
But, it says `composeExtension.attachments` can only be 4 kinds of cards.
What should it return?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ff3777-49c4-8cdc-089e-8612a8774ffb
* Version Independent ID: 0d927000-0b55-2129-cbbb-6630c1ec481e
* Content: [Se

[2019-10-20 02:04] chenxizhang opened #1063 "How to refresh token"
Since this authentication flow can return an accesstoken to call the GraphService, how can we refresh token for the next time?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 7d939a56-d1be-f2a2-3454-0f0c5144bc27
* Version Independent ID: ec4d5574-ddeb-9408-ad82-d86507a5111b
* Content: [Authentication for tabs using Azure Active Directory - Teams](https://docs.microso

[2019-10-20 12:52] salmanmkc opened #1064 "Upload a custom app is not an option for me"
I have no option to upload the custom app, whether it's from the app configuration or store page
![image](https://user-images.githubusercontent.com/32169182/67159770-45253180-f341-11e9-9b7c-bef29fe85c4f.png)
![image](https://user-images.githubusercontent.com/32169182/67159774-4f473000-f341-11e9-9c88-e474a2066d94.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-21 03:12] cjthompson commented on #941
I want to allow a user to install my bot from my website after they login.  How do I create a deep link they can use to install the bot?  Can I pass some state / info along with the request that the bot can use to know which user / account clicked the link?

[2019-10-21 04:25] Gousia-MSFT commented on #1064
@salmanmkc Could you please check if Sideloading is enabled in Setup Policies?
![image](https://user-images.githubusercontent.com/45553518/67176705-cc79b000-f3e8-11e9-9704-14627cbb693d.png)
Please follow this document to enable [sideloading ](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-tenant)if you haven't done it already.

[2019-10-21 07:46] Gousia-MSFT commented on #1040
@norachuga Thanks for the feedback!

[2019-10-21 07:46] #1040 closed

[2019-10-21 09:10] #1017 closed

[2019-10-21 10:32] Gousia-MSFT commented on #1062
@NewFuture In order to return plain images from Message Extension, please try setting the `composeExtension.attachmentLayout` to grid as described [here ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions/search-extensions#respond-to-user-requests)and send thumbnail images.
[code]
Each attachment will only contain a thumbnail image. Please try sending a thumbna

[2019-10-21 11:45] Trinetra-MSFT commented on #1063
Could you please take a look at [Use the refresh token to get access token](https://docs.microsoft.com/en-us/graph/auth-v2-user#5-use-the-refresh-token-to-get-a-new-access-token)?

[2019-10-21 12:49] Mark-Bailey-SingleWire opened #1065 "Commas (&#39;) in Adaptive Card Input.ChoiceSet"
I am creating an input.ChoiceSet on an Adaptive Card for our bot. If the "value" is set to something with an apostrophe it shows the HTML encoded value, but the real value in the drop-down. Anyone have any ideas? E.g. "Foo's" will show in my card as "Foo&\#39;s\". Does the request need to be submitted with a Content-Type other than "application/json"?

---
#### Document Details

⚠ *Do not edit thi

[2019-10-21 13:57] NewFuture commented on #1062
@Gousia-MSFT thank you.
Yes, it will insert a `thumbnailCard` as an image, which has a fixed width and height.

And I also have tried the `Adaptive card`.
But. they have two problems:
1.  fixed width and height ,I want to insert images with different width and height.
2. The GIF can not play in mobile teams (iOS).

so I want to send a HTML img tag from the extension， which works in bots response.

[2019-10-21 14:53] jiruss opened #1066 "Doc needs to be updated for Bot SDK v4"
The code in the referenced document only works for SDK v3 bots which is deprecated. Customers need to know how to code this for Bot SDK V4.

https://github.com/MicrosoftDocs/msteams-docs/blob/master/msteams-platform/scenarios/limited-tenant.md

[2019-10-21 17:39] clearab commented on #1066
Hi - v3 is most definitely not deprecated! You may be referring to a blog post that announced that you would no longer be able to create a v3 bot from a template on the Azure portal, but the actual SDK will continue to work just fine.

However, Teams functionality will be included in the 4.6 release of the Bot Framework SDK, and we're updating samples and documentation to reflect that. You can see