[2021-04-21 07:31] plamber opened #3148 "App Studio 1.6.1 breaks with an "activities" section included"
Hello,
I was trying to follow the instructions for sending teams notifications to users with a custom app in Teams [blog](https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/concepts/teams-send-activityfeednotifications.md#:~:text=Send%20activity%20feed%20notifications%20to%20users%20in%20Microsoft,Graph%20to%20extend%20this%20functionality%20to%20your%20apps.).

During the process

[2021-04-21 07:48] #2740 closed

[2021-04-21 07:49] #2360 closed

[2021-04-21 07:50] #3059 closed

[2021-04-21 08:12] marwalsch commented on #3098
Thanks

[2021-04-21 08:12] #3098 closed

[2021-04-21 10:57] Nikitha-MSFT commented on #3041
You will not receive the user mail in teams activity handler. You will receive AadObjectId,id,name.properties, role. To get the user email details you need to implement code. Could Here is the [sample code](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-context#nodejs-example) to get email id from the Teams. Please try and let me know if this works for you?

[2021-04-21 11:24] Mamatha-MSFT commented on #3007
Hi @charliedavison, Could you please try to uninstall the existing app and create a new app. Make sure to enter correct entity ID https://teams.microsoft.com/l/entity/<appId>/<entityId>
Try and let me know if you still persist the issue.

[2021-04-21 13:00] #3090 closed

[2021-04-21 14:06] Nikitha-MSFT commented on #2968
Thank you received a mail, Tracking it on email.

[2021-04-22 07:27] Wajeed-msft commented on #3020
@surbhigupta12 - could you please help here?

[2021-04-22 07:47] surbhigupta12 commented on #3020
HI @Rick-Kirkham,

We've recently revamped the get started module. The content will be merged by next week. Here is the review site and the PR link. This issue should be resolved in this PR:
**PR**: https://github.com/MicrosoftDocs/msteams-docs/pull/2907
**Review Site**: https://review.docs.microsoft.com/en-us/microsoftteams/platform/build-your-first-app/build-first-app-overview?branch=hello-world

[2021-04-22 08:09] ashubabu opened #3154 "MS Teams | Accessibility Insight & Automation API | Dual Monitor"
I raised a bug under Accessibility Insight project, however, I suspect MS Teams behavior under Dual Monitors at different scales is not consistent.
I would request to take a look at https://github.com/microsoft/accessibility-insights-windows/issues/1114, please.

[2021-04-22 09:38] Wajeed-msft commented on #2612
closing this issue after confirming with SubbaReddi.
@nastassiar - please let us know if you are still facing this issue.

[2021-04-22 09:38] #2612 closed

[2021-04-22 10:27] Mamatha-MSFT commented on #2981
@xstos There is an active PR for this. The document will be updated once the PR merged.

[2021-04-22 12:07] #2999 closed

[2021-04-22 12:26] sgasparini opened #3155 "MS Teams - Leave Button on Touch Bar not working"
On MacBook Pro with Touch Bar, Teams display buttons
"Show participants", "Show conversation", ... and the Leave Button.

Leave Button does nothing.

Microsoft Teams Version 1.4.00.8872
MacOS 11.2.3 (20D91)

[2021-04-22 19:41] kmkaliraj opened #3159 "Teams bot - Hero card with open url button doesn't open task module when clicking."
[Enter feedback here]

---
#### Document Details
Ring0/Ring1
https://teams.microsoft.com/_?container=220527-oncdn-c63aa57-7212413#/apps/c95a45cd-91af-4f89-b138-434556e8d5b8/sections/conversations?slug=28:6f8c3a32-e4c0-4f34-a358-c8c81a0c16a2

![image](https://user-images.githubusercontent.com/23566351/115775600-f27a6a80-a367-11eb-8146-5fa8841e71fb.png)

⚠ *Do not edit this section. It is required f

[2021-04-23 04:47] ashubabu commented on #3154
I received a reply from Accessibility Insight team's member that MS Teams does seem to not respond correctly. Please read it here
https://stackoverflow.com/questions/67189742/ms-teams-accessibility-insight-dual-monitor

The response is from the same person who is responsible to handle the bug https://github.com/microsoft/accessibility-insights-windows/issues/1114

If you take a look, please or gui

[2021-04-23 06:08] Mamatha-MSFT commented on #3007
Hi @charliedavison Please let us know if you still persists the issue.

[2021-04-23 09:12] Jagadeesh-MSFT commented on #3035
Hi @SwathiPatti , could you please share the error details with us.

[2021-04-23 12:04] #2724 closed

[2021-04-23 12:23] #1679 closed

[2021-04-24 16:25] shail4wrs opened #3164 "Want a link in deeplink"
Hi Teams,

We have a script which trigger the teams app and sending the message to the user . i want to draft a message to user which has a url of a ticket in message but it not working , it sends whole url of the ticket with html tag

for Example :

Hi caller, this is regarding ticket: <a hre =https://dev123.service-now.com/incident.do?sys_id=6040a2f21b2b24902djc5868464bcb4fed>INC1234567 /a> - Ot

[2021-04-25 04:28] aimskl commented on #3124
Hi,

We'd like to provide an update to the above in light of some further testing we've done on our side.

It turns out that the Azure Blob log entries mentioned above are not driven by the Teams iOS client, but instead from other clients (Teams Desktop and web browser). We previously did not have detailed Azure Monitor logging enabled so were not able to dig deeper into the related UserAgent stri

[2021-04-25 16:39] Jakubk15 opened #3165 "„Login with another Microsoft account issue”, macOS Big Sur"
When user try to log in using another MS Account, it refreshes the login window and asks for password for the same e-mail.
macOS Big Sur 11.2.3

[2021-04-25 19:00] #2923 closed

[2021-04-25 20:16] Jagadeesh-MSFT commented on #2979
Hi @Aliandi, I have tested this from my end and this is by design, we cannot remove/edit the default exit button of teams tab.

[2021-04-26 08:04] ozw1z5rd commented on #3100
Are you using the same versions shown in the original request?

[2021-04-26 09:28] #2671 closed

[2021-04-26 10:21] Sebachowa commented on #2961
Having the same issue.
Only happening as a guest and everytime you enter a room its add another string scape, and eventually having a name, like so: \“\”\“\”\“\”\“\”\“\”\“\”\“\”\“\”\“\”\“Name` (Guest)\“\”\“\”\“\”\“\”\“\”\“\”\“\”\“\”\“\”\“

[2021-04-26 12:31] Aliandi commented on #2979
Trough testing we have also noted that the default header works inconsistently, which is what gave us the need of a second header. In some mobile devices, the back button navigates through the tab, but in other devices it goes back to the Teams menu.
Which is the correct behaviour?

[2021-04-26 13:43] vimil opened #3177 "CARD-IN-BODY header not causing cards to refresh"
[Enter feedback here]
I have been using the CARD-UPDATE-IN-BODY header to refresh cards sent using the incoming webhook connector. This used to work flawlessly until recently. It seems like ths header is being ignored now and the card does not refresh.

Could you look into this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-26 18:01] ja-onereach opened #3178 "Custom app installation fails with "Something went wrong" (AddAppBotToChatRosterFailed) error"
# Issue summary

* When attempting to install a custom app into Teams, the error "Something went wrong" is presented in a modal. If we use the Teams web browser client, an HTTP 500 response with the body `{errorCode: "AddAppBotToChatRosterFailed"}` can be seen in the network monitor.
* Given the ambiguity of the error message, it has been impossible for us to discover the actual cause of the error

[2021-04-26 18:07] chavomeneses commented on #2923
This is great. Thanks!
However, I cannot find anything related to **Teams Meeting**. We know [this exists](https://moodle.org/plugins/atto_teamsmeeting), but Moodle customers are looking for a deeper Teams Meeting integration, such as [BBB](https://moodle.org/plugins/mod_bigbluebuttonbn) or [Zoom](https://moodle.org/plugins/mod_zoom).

Regards

[2021-04-27 05:45] Wajeed-msft opened #3180 "Unable to open .docx file downloaded from SharePoint site / Azure Blob Storage in desktop app(Word) in Teams"
Copied bug from: https://github.com/microsoft/botframework-sdk/issues/6276

Describe the bug
When I'm trying to read files from SharePoint/ Azure Blob Storage, The file from SharePoint site / Azure Blob Storage is properly downloaded in teams and uploaded in one drive as well. on clicking the three buttons and choosing different actions gives different results:-

Edit in teams: Doc.aspx is request

[2021-04-27 07:16] SwathiPatti commented on #3035
Issue is intranet site when added as a tab in the personal app of MS teams, tab is not loading in the desktop and mobile clients.
Error in Teams: This site won't load in our desktop app.

[2021-04-27 08:01] shail4wrs commented on #3164
any update ?

[2021-04-27 09:21] #3131 closed

[2021-04-27 14:51] aimskl commented on #3124
@Trinetra-MSFT @Nikitha-MSFT @Wajeed-msft

Please would someone help us on this.

We are now just over two weeks with an effectively broken Teams AdaptiveCard image rendering client. I tried going directly to 365 customer support, but after they consulted with their "senior" people, they pointed me to Azure Support, whose automated problem detector refused to detect any issue, and which then told

[2021-04-27 15:02] Sridevi-MSFT commented on #3159
Hi @kmkaliraj, I will repro this issue at my end and will get back to you.

[2021-04-27 15:48] Wajeed-msft opened #3185 "OnTeamsFileConsentAcceptAsync is not getting Fired"
Issue copied from: https://github.com/microsoft/BotBuilder-Samples/issues/3144

**Steps to reproduce the behavior:**

1. Hosted TeamsFileUpload sample on our Azure.
2. FileUpload needs permission to upload this file to your One Drive.
3. Clicked on 'Allow'
4. Nothing happens.
5. But when clicked on Declined it works as expected.

**Expected behavior**
It should copy the file to One Drive and also

[2021-04-27 16:02] ydogandjiev opened #3186 "File deep link has a typo"
The documentation for deep linking to a file has a typo in it. The deep link path should start with `/l/file` instead of `/I/file`. The character after the first slash should be a lower case "L" instead of an "I".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent

[2021-04-27 16:11] Wajeed-msft commented on #3186
Raised PR for the fix: https://github.com/MicrosoftDocs/msteams-docs/pull/3187

[2021-04-27 16:38] Wajeed-msft opened #3188 "Please add link to sample code for App Localization"
Could you please help to update following sample code links to respective doc pages?

1. [**Localization for Apps**](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/apps-localization)
| App Localization | Microsoft Teams app localization using Bot and Tab | [View](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/app-localization/csharp)

2. [*

[2021-04-27 17:23] #3165 closed

[2021-04-27 17:44] Wajeed-msft commented on #3154
Please track the issue raise here: https://github.com/microsoft/accessibility-insights-windows/issues/1114
Closing this one from Microsoft Teams platform issues page.

[2021-04-27 17:44] #3154 closed

[2021-04-28 03:59] #3186 closed

[2021-04-28 05:35] Trinetra-MSFT commented on #3124
@aimskl , Thanks for raising this issue, Let me confirm this at my end, it seems it is a Bug, will raise it

[2021-04-28 06:39] Jagadeesh-MSFT commented on #3094
Hi @andy-rsa, This issue got fixed  as part of #[2907](https://github.com/MicrosoftDocs/msteams-docs/pull/2907).

[2021-04-28 06:39] #3094 closed

[2021-04-28 07:46] #2457 closed

[2021-04-28 07:46] #3019 closed

[2021-04-28 07:48] #3018 closed

[2021-04-28 07:54] surbhigupta12 commented on #3020
Issue resolved in PR #2907

[2021-04-28 07:54] #3020 closed

[2021-04-28 09:24] #3188 closed

[2021-04-28 11:35] Robert-F opened #3193 "Deep links to sideloaded app do not work in some channels"
We have a custom app which is manually installed by customers by publishing it in the organization's app catalog via "Manage Apps". The app is using deep links in action cards using `Action.OpenUrl` following the scheme as documented in https://github.com/MicrosoftDocs/msteams-docs/blob/master/msteams-platform/concepts/build-and-test/deep-links.md

`https://teams.microsoft.com/l/entity/${appId}/${

[2021-04-28 17:29] Wajeed-msft commented on #3178
@Jagadeesh-MSFT - could you please look into this issue?

[2021-04-28 18:55] ashubabu opened #3196 "MS Teams | Automation API & Accessibility Insight | Dual Monitor"
I had raised an issue with Accessibility Insight Team  [here](https://github.com/microsoft/accessibility-insights-windows/issues/1114) and on [stackoverflow](https://stackoverflow.com/questions/67189742/ms-teams-accessibility-insight-dual-monitor) . In response to Stackoverflow question, Accessibility Team has mentioned that the issue seems be with MS Teams Application in supporting Accessibility.

[2021-04-28 23:44] ascott18 opened #3198 "Teams design documentation links to a third party site with no instructions about what to do with the third-party content"
There used to be some perfectly usable guidelines in this documentation. Now, the pages that used to be here that we had linked to from our application's code to reference the style guidelines we had used are 404, seemingly replaced by links to a third party website ("Figma") that just has nothing on it but a single picture of the "Microsoft Teams UI Kit".

How are we supposed to use this new docu

[2021-04-29 03:51] GauravES opened #3199 "Schema changes to make certain fields customizable"
[Enter feedback here]
It appears from https://docs.microsoft.com/en-us/MicrosoftTeams/customize-apps that developers can mark certain fields customizable in the Manifest.  Yet there is no documentation in the Schema on how the developers should indicate this ability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a

[2021-04-29 04:08] RajdeepRay0411 commented on #3180
Hi @Wajeed-msft, Do we have any update on this issue?

[2021-04-29 05:38] Jagadeesh-MSFT commented on #3178
Hi @ja-onereach, Thank you for reaching us, we are working on it, will update you soon.

[2021-04-29 06:02] Nikitha-MSFT commented on #3041
@Rajapalgiri - Are you still facing the issue? if yes please feel free to reopen the issue. Closing the issue as of now.

[2021-04-29 06:02] #3041 closed

[2021-04-29 06:15] Nikitha-MSFT commented on #3064
Checking internally, get back to you soon.

[2021-04-29 06:35] Jagadeesh-MSFT commented on #3199
Hi @GauravES, there is a hyper link for details about the fields that you can customize in Teams Manifest schema. could you please check the below image.
![image](https://user-images.githubusercontent.com/73812940/116510452-9329d680-a8e2-11eb-98ca-d327f2a3a83e.png)

[2021-04-29 07:48] GauravES commented on #3199
That hyper link points to this same page about which the comment was made ; that destination page does NOT have any information on how to customize the fields.  The Teams Manifest schema page needs to be updated with this information

[2021-04-29 07:58] Jagadeesh-MSFT commented on #3100
Hi @ozw1z5rd , yes we have tested with the same versions which you have provided with us.

[2021-04-29 11:06] Mamatha-MSFT commented on #3193
Hi @Robert-F - Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-04-29 12:33] Sridevi-MSFT commented on #2923
@chavomeneses - The meeting solution for Moodle is an atto bar plugin that enables meeting scheduling https://moodle.org/plugins/atto_teamsmeeting
And there are no LTI meetings apps like zoom has as of yet.

[2021-04-29 14:38] Sridevi-MSFT commented on #3198
@ascott18 - Will check this issue at our end and will get back to you.

[2021-04-29 19:00] #3007 closed

[2021-04-29 20:18] jonmill opened #3202 "No clarity for doing At Mention user"
Bug transfer from Adaptive Cards: https://github.com/microsoft/AdaptiveCards/issues/5739

# Target Platform

Please list the platform(s) that your application is targeting and remove platforms you are not targeting:
- iOS
- Android
- UWP

# Target Application

Teams

# Problem Description

I'm trying to mention `@John Doe` but there's no clarity on the documentation. After spending several hours l

[2021-04-29 21:00] jonmill opened #3204 "The search drop down menu with Cards behind the embed app content in Teams app\web"
Bug transfer from Adaptive Cards: https://github.com/microsoft/AdaptiveCards/issues/5526

# Platform
- [x] .NET HTML

# Details
The search drop down menu with Cards behind the embed app content in Teams app\web

**Expected behavior**
A clear and concise description of what you expected to happen.
Drop-down is visible with correct z-index property
![image](https://user-images.githubusercontent.com/

[2021-04-30 01:51] TracyGH opened #3205 "Code Sample for Responding with Another Task Module?"
Can anyone point me towards a C# code sample demonstrating what's described in the highlighted text below?
The image is referencing [this paragraph](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/action-commands/respond-to-task-module-submit?tabs=dotnet%2Cdotnet-1#respond-with-another-task-module), and I'm currently working off of [this sample](https://github.

[2021-04-30 05:22] Wajeed-msft commented on #3021
Please change point 3 and 4 for [Azure AD V1](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/add-authentication?tabs=dotnet%2Cdotnet-sample#azure-ad-v1) and [Azure AD V2](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/add-authentication?tabs=dotnet%2Cdotnet-sample#azure-ad-v2)

3. On the resource page, select Configuration.

[2021-04-30 05:48] #3112 closed

[2021-04-30 07:11] Mamatha-MSFT commented on #3205
Hi @TracyGH, Currently there is no Code Sample for Responding with Another Task Module.

On `microsoftTeams.tasks.submitTask()` action you need to create a new new card to fetch another task module in `OnTeamsMessagingExtensionSubmitActionAsync()` method .

[code]

[2021-04-30 07:13] #3021 closed

[2021-04-30 07:16] #3144 closed

[2021-04-30 08:37] Mamatha-MSFT commented on #3202
Hi @jonmill, Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-04-30 12:26] Mamatha-MSFT commented on #3202
Hi @jonmill, You need to get user id from ` turnContext.Activity` in From field. For your understanding I have highlighted the id in below image. Please check.

![image](https://user-images.githubusercontent.com/78795357/116694428-ea13d680-a9dc-11eb-966e-844f2c766e52.png)

[2021-04-30 13:51] Sridevi-MSFT commented on #3177
@vimil - Could you please share the code you are trying, so that we can repro at our end.

[2021-04-30 13:56] Sridevi-MSFT commented on #3159
@kmkaliraj, Could you please confirm if you have assigned the deeplink url to the task module in open url button.

[2021-05-01 01:37] BrendanAndrade opened #3217 "Rate limiting not resetting"
Hi,

I am trying to implement a strategy to handle rate-limiting for one of my bots. I am testing in development and triggered a rate limit error (429 response) after sending multiple context.updateActivity() requests. This was expected. However, now 6 hours later, I am still receiving 429 errors. I waited a few hours before trying again. According to the docs, the limit periods are at most 1 hour

[2021-05-01 18:39] dtsoy95 opened #3218 "302 Moved Temporarily error"
![Screenshot_3](https://user-images.githubusercontent.com/78314727/116791720-924c9c80-aabc-11eb-930e-e4e900124a6a.png)

Have an issue with Conversation bot installation, by Microsoft toolkit.
All packages are empty with an error "302 Moved Temporarily"

May I ask you to advise what could be the reason?

Thank you in advance!

[2021-05-01 19:36] BrendanAndrade commented on #3217
I'm still getting the rate limit error more than 24 hours later.

[2021-05-01 20:41] vimil commented on #3177
Hi @Sridevi-MSFT
Here is the json response sent from the code

**Headers:**
CARD-ACTION-STATUS: Shelveset status updated
CARD-UPDATE-IN-BODY: true

**JSON body**

`{
    "summary": "car-api-locations",
    "themeColor": "0076D7",
    "@type": "MessageCard",
    "potentialAction": [{
            "@type": "ViewAction",
            "name": "View",
            "@context": "http://schema.org",

[2021-05-03 04:13] Nikitha-MSFT commented on #2951
Checking the Issue internally, will update soon.

[2021-05-03 08:16] #3196 closed

[2021-05-03 09:58] Mamatha-MSFT commented on #3218
Hi @dtsoy95 Could you please confirm are you following all the steps provided in the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/build-your-first-app/build-bot).

[2021-05-03 11:10] Nikitha-MSFT commented on #3217
How many request you are processing for a bot? When you receive 429 error you can use [Handle rate limits](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit#handle-rate-limits) code to overcome the error.

[2021-05-03 11:30] dtsoy95 commented on #3218
Hi Mamatha, yes I followed exactly these steps, provided in the documentation. Once i've chose the folder, all packages saved there with 1KB for some reason and all of the files contains "302 Moved Temporarily..."

[2021-05-03 11:31] Mamatha-MSFT commented on #3202
@jonmill Please let us know if your issue has been resolved.

[2021-05-03 11:32] sammadaan30 opened #3219 "Broken Content"
[Enter feedback here]
User authentication part is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5964e0a9-bba0-c5a3-8099-f3845037726c
* Version Independent ID: 24565c3b-2bb5-2482-a6c7-7b1f62e38abb
* Content: [Create Share-to-Teams button - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts

[2021-05-03 11:36] Mamatha-MSFT commented on #3218
@dtsoy95 I am unable to repro the issue. Could you please try again to create a new bot by following the documentation and let me know if the issue still persists.

[2021-05-03 13:04] FloJ12 opened #3221 "Assignments with numbering shows always as 1."
I assign an assignment for example "3. Homework" but in posts it shows "1. Homework". If I click on the assignment it says "3. Homework" (correctly)
I use teams for Android

[2021-05-03 14:07] Sridevi-MSFT commented on #3219
@sammadaan30 - There is no need to use authentication to use Share-to-Teams buttons. Could you please explain what exactly are you trying.

[2021-05-03 14:23] BrendanAndrade commented on #3217
I figured out the issue. It was on my side. Thanks much for the quick response!

[2021-05-03 14:23] #3217 closed

[2021-05-03 15:42] dtsoy95 commented on #3218
@Mamatha-MSFT Unfortunately issue still persist. I've tried to disable VPN, thought that it could cause the issue, but still the same message in all files.
![image](https://user-images.githubusercontent.com/78314727/116898601-dc598d80-ac36-11eb-9f4c-9bd2dae05975.png)
![image](https://user-images.githubusercontent.com/78314727/116898654-ef6c5d80-ac36-11eb-9c54-2e173b3cc6b5.png)

[2021-05-03 17:12] Grunge opened #3222 "howto build the package?"
It describes howto adjust the icons, but how can I build package?
In SPFX we would  use:
gulp bundle --ship
gulp package-solution --ship

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b75ec1-0ded-400e-7291-b7776d510ae4
* Version Independent ID: 157f3a51-42f6-f70f-a599-6775fcb34ed1
* Content: [Package your app - Teams

[2021-05-03 18:03] xanderfehsenfeld opened #3223 "Deep linking mobile doesn't work"
Deep links don't work in a mobile teams.

We're using deep links to transfer the focus to another static tab when the user clicks a `react-router` link. On desktop and teams for web the links work. However on mobile, a message appears "link not supported. you cannot open this link on the mobile app. Please open it on a desktop or web app."

I'm aware the part of the part of the docs:

But we aren'

[2021-05-03 19:43] TracyGH commented on #3205
Thank-you for the response, @Mamatha-MSFT!  I was able to get the code in [this sample](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/action-commands/create-task-module?tabs=dotnet#example-7) working, but I cannot figure out how to distinguish between the 2 submits.  The `turnContext` and `action`object parameters in the `OnTeamsMessagingExtensionSubmitAction

[2021-05-03 22:06] TracyGH commented on #3205
I was able to use the `MessagingExtensionAction action.Data` content to distinguish between the calls.

[2021-05-03 22:06] #3205 closed

[2021-05-04 01:43] chenxizhang opened #3224 "can't request the device permission"
[Enter feedback here]
I try to request the media permission for my app, follow the doc I can't see any prompt to request the permission, And I can't see the "App permissions" menu on the mobile app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19804dba-009f-2eb1-cc7f-1e0fabbebb6b
* Version Independent ID: a9373e78-b3

[2021-05-04 04:24] Nikitha-MSFT commented on #3064
Using the msteams: protocol directly is not correct since that will only work in Windows. Teams launcher has logic that knows how to launch the Teams Desktop Client correctly on a variety of platforms (e.g. Windows, MacOS, Linux, iOS, Android, etc.). Bypassing it should be discouraged.

[2021-05-04 04:43] RajdeepRay0411 commented on #3180
Hi @Wajeed-msft , @Nikitha-MSFT , do we have any updates on this issue?

[2021-05-04 04:56] Trinetra-MSFT opened #3225 "Add link to deep link subentity id sample codes node js"
Please add deep link sample code Microsoft Teams samples repo link to our documentation:
**Node js**
[https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-deeplink/csharp](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-deeplink/csharp)

**CSharp**
[https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-deeplink/nodejs](https://g

[2021-05-04 09:43] Mamatha-MSFT commented on #3223
Hi @xanderfehsenfeld - Are you following this sample deeplink `https://teams.microsoft.com/l/entity/<appId>/<entityId>?webUrl=<entityWebUrl>&label=<entityLabel>&context=<context>`. This error will occurs when you give incorrect entityId or appId. Please make sure to add correct values.

[2021-05-04 09:48] Mamatha-MSFT commented on #3224
Hi @chenxizhang  I am able to repro the issue. Taking this for internal discussion with team, I will update you with resolution.

[2021-05-04 09:59] Mamatha-MSFT commented on #3218
@dtsoy95 Could you please update the Microsoft Teams tool kit and VS code to latest versions.

[2021-05-04 10:30] dtsoy95 commented on #3218
@Mamatha-MSFT I've uninstalled Microsoft Teams toolkit and install again. Version 1.2.3. But still the same issue... Will try with older toolkit versions and will update you.

[2021-05-04 10:38] dtsoy95 commented on #3218
@Mamatha-MSFT Seems with version 1.1.8 everything was installed properly:
![image](https://user-images.githubusercontent.com/78314727/116991938-969fd200-acd5-11eb-913c-a284e75c9313.png)

[2021-05-04 11:08] Sridevi-MSFT commented on #3204
@jonmill - Thanks for bringing up this issue,  will repro at our end and will let you know.

[2021-05-04 11:38] aimskl commented on #3124
Hi Folks @Trinetra-MSFT @Nikitha-MSFT @Wajeed-msft

This is still broken...and thus also our team. Amazing to think we are now considering returning to Slack.

[2021-05-04 12:50] #3225 closed

[2021-05-04 13:52] xanderfehsenfeld commented on #3223
@Mamatha-MSFT Yes, I am following that pattern, or more specifically
`https://teams.microsoft.com/l/entity/<appId>/<entityId>?webUrl=<entityWebUrl>`
I assume I'm using the right pattern because it works on the Teams desktop app as well as the "Teams for web" site. Is there a discrepancy between mobile and desktop? If so, what is it?

[2021-05-04 14:24] Jagadeesh-MSFT commented on #3222
Hi @Grunge, It is clearly explaining that we required Zip file in the below image. Are you expecting the same using terminal?
![image](https://user-images.githubusercontent.com/73812940/117018742-66c2ef80-ad12-11eb-99f5-5851d71ee8e9.png)

[2021-05-04 17:09] jonmill opened #3230 "Add High Contrast theme(s) to the Designer"
Issue ported from Adaptive Cards repo, initial opened by @josverl in issue https://github.com/microsoft/AdaptiveCards/issues/5761

In order to make sure that cards are clearly legible and accessible I would like so see a (Teams) High contrast theme in the editor,
This would allow cards be designed with accessibility in mind from the start , and would lessen the amount of re-work than needs to be d

[2021-05-04 18:43] surbhigupta12 commented on #3089
WIP: Working with the localization team to get this resolved.

[2021-05-04 19:40] aaronverhoeven opened #3231 "Teams flashes loading screen on Android app"
Issue: White screen with the loading circle flashes repeatedly between the teams chat list (or whatever was last viewed). Usually goes away after some time of flashing, but hasn't recently.

Debugging steps taken: uninstalled and reinstalled, force close app, tap in-between flashes.

Details: I'll try and attach a video of the issue. This is not a new issue and has happened before on my Google Pix

[2021-05-04 20:33] jonmill opened #3232 "Adaptive card Input.Choice set placeholder not rendering on iOS"
Migrated from Adaptive Cards; initially opened by @TheBluLion in issue https://github.com/microsoft/AdaptiveCards/issues/5762

# Target Platform

Please list the platform(s) that your application is targeting and remove platforms you are not targeting:
- iOS

# Target Application

MSTeams

# Problem Description

When adaptive card JSON below is posted by a bot, the card renders correctly on Teams

[2021-05-04 21:46] heath-hamilton commented on #3198
@ascott18 Thank you so much for the feedback! Sorry about the 404s; we actually had to deprecate those pages when we released our totally revamped design docs late last year. There should be redirects in place now so you won't get the errors.

The docs are a lot more extensive now, and the Figma tool is intended to make them more interactive and design-friendly. That said, can you elaborate on wha

[2021-05-05 04:12] ascott18 commented on #3198
@heath-hamilton When I go to the Figma site, all I see is a picture and a short description. I don't know what I'm supposed to do with this. I see a "duplicate" button (not quite sure what it does), but that forces me to make an account.

When the old docs were hosted by Microsoft, I didn't have to click a "duplicate" button and make an account with a third-party service so I could get spammed wit

[2021-05-05 05:39] #3231 closed

[2021-05-05 11:20] Sridevi-MSFT commented on #3232
@jonmill - Thanks for bringing up this issue, I will repro at my end and will let you know.

[2021-05-05 11:20] Jagadeesh-MSFT commented on #3230
Hi @jonmill/ @josverl, we are checking this with our internal team, will update you soon.

[2021-05-05 12:09] Grunge commented on #3222
So I figured no out:

1.Zip
building the Zip goes like this: "gulp manifest"
-> The i go to Teams, Start in Teams the "App Studio", verify the Zip und import it.
-> There i did install after I changed all settings (repeated upload) so they validate.

2. Web
buolding the web wsa like "gulp build"
-> Then i went to azure portal, created a storage account
-> Activated WEB and exposed to all internet.

[2021-05-05 13:00] #3100 closed

[2021-05-05 13:31] Sridevi-MSFT commented on #2675
@ihorsnihur - Please let us know if you are still facing the issue. If yes please share the recording of the issue.

[2021-05-05 14:16] NicolasMCAG commented on #3199
Hi,

I'm using the developer preview manifest that includes the "configurableProperties" section (https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema-dev-preview) on a test app I'm developing, yet when I add said section to the manifest I can't upload it.

This is the manifest I have (sections collapsed to keep it short):
![image](https://user-images.githubuse

[2021-05-05 16:10] blesliecan opened #3241 "Incorrect/incomplete info for link unfurling documatation."
The manifest example is incorrect: "composeExtensions[0].commands" is required.

Currently if you provide an empty set of commands you will get the "Something went wrong" error when you try to upload it.

There doesn't seem to be a way to just do link unfurling with out providing an action also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-05 17:36] ja-onereach commented on #3178
@Jagadeesh-MSFT Thanks for your follow-up. Apologies if this is being pushy, but I want to reiterate something from the original message:

As well, I should clarify that we've attempted to automate the app creation and installation process from start to finish, which is what is described in the _Detailed issue description_ section. But we've also tried the process manually, which is where the obse

[2021-05-05 19:18] iComputer7 opened #3245 "JS DOM beforeunload events stop links from working"
Microsoft Teams Desktop version 1.4.00.8872
User agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Teams/1.4.00.8872 Chrome/80.0.3987.163 Electron/8.5.5 Safari/537.36`

My application is a website that has been added as a tab to a team.
Dependencies:
* Bootstrap version 4.6.0
* Popper.js version 1.16.1
* JQuery version 3.6.0

Relevant code from my website:
`

[2021-05-05 19:32] bonjo opened #3246 "Sideloading doesn't work"
Hi folks
I'm following this tutorial but at the moment to sideloading the app i have the following error.
![image](https://user-images.githubusercontent.com/362653/117191630-64aa7080-ada6-11eb-8821-05c144e8c80a.png)
And in the debug console of VS Code
{message: '', status: 400, errorCode: 'CreateUserAppDefinitionFailed'}

Mi development environment is

VS Code: 1.55.2 (user setup)
Commit: 3c4e3df9

[2021-05-06 05:15] Nikitha-MSFT commented on #3221
We are checking internally, get back to you soon

[2021-05-06 06:34] Jagadeesh-MSFT commented on #3241
Hi @blesliecan , we are practically checking this from our end . If required concern team will update the document.

[2021-05-06 09:05] Wajeed-msft commented on #3124
@aimskl - Thank you so much for sharing the Adaptive card JSON and the image. We are able to repro the issue at our end.

![image](https://user-images.githubusercontent.com/31851992/117271680-0d74d080-ae78-11eb-871e-5e1878309018.png)

Internal Tracker: [Bug 1311239](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1311239)

Could you please keep the test storage account till I share upda

[2021-05-06 09:28] Nikitha-MSFT commented on #3246
We are not able to repro the issue at our end could you please share your manifest?

[2021-05-06 10:09] aimskl commented on #3124
@Wajeed-msft Thank you, thank you so much for reproducing and actioning the bug for resolution. Sure, will leave the test storage account as is until you tell me otherwise.

[2021-05-06 10:17] Mamatha-MSFT commented on #3223
Hi @xanderfehsenfeld  Could you please try to uninstall the existing app and create a new app.

[2021-05-06 10:45] Sridevi-MSFT commented on #3245
@iComputer7 - Thank you for the insights. will repro at our end and will let you know.

[2021-05-06 12:10] RajdeepRay0411 commented on #3180
Hi, @Wajeed-msft and @Nikitha-MSFT, can you please let us know the status on the issue as we are following up for the past seven days but not hearing anything from your side. As this is a big issue escalated from our client-side, we need to update them as soon as possible.

[2021-05-06 15:25] JesusPenafiel opened #3248 "Conversations not showing in Mac desktop app"
Conversations are not showing in the Mac desktop app, I can see the preview on the feed, but when I click on any of them the post page appears blank, and I cannot read the message, even if I post a new conversation it won't apper.  It also happens if I go directly to the channel conversation tab It appears that there are no messages.   If I use the web version of the app everything is working corr

[2021-05-06 16:11] Jagadeesh-MSFT commented on #2979
Hi @Aliandi, are you still facing the issue, we are unable to repro this issue from our end.

[2021-05-06 16:22] luciendutoitit opened #3249 "Conversation order wrong"
Hello,

For the last few days, the conversation order in Teams on Windows has been wrong. New messages get placed above older messages making conversations hard to follow, and it also makes missing crucial messages easy to miss. We've attempted to reboot our systems, as well as uninstalling and reinstalling the application.

Thank you

[2021-05-06 16:52] Wajeed-msft opened #3250 "TeamsActivityHandler: 429 too many requests when adding an AD group to a team"
Copied issue from: https://github.com/microsoft/botbuilder-dotnet/issues/5467
Posted by: @martinlarosa

When using this TeamsActivityHandler and then adding an Active Directory group to a Team where the bot is after around 75 calls to this line, it receives a 429 and then the bot throws an exception.

https://github.com/microsoft/botbuilder-dotnet/blob/fbb4eb8b98ccce17ebcfc8e061237def33a68305/libr

[2021-05-06 18:44] Mamatha-MSFT commented on #3193
@Robert-F - In tab deeplink` https://teams.microsoft.com/l/entity/<appId>/<entityId>?webUrl=<entityWebUrl>&label=<entityLabel>&context=<context>`,  all query parameters are properly URI encoded. Please change webUrl and context  to encoded format and let me know if you still persist the issue.

[2021-05-06 19:28] Jagadeesh-MSFT commented on #3222
Hi @Grunge, Thanks for the update, I think for all that you can fallow [this](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/build-a-hello-world-web-part) document, it explains about building the app, creating web part, connecting with web part etc.,

[2021-05-06 19:55] bonjo commented on #3246
Hi @Nikitha-MSFT
This is the content of my manifest.json
Thank you for your help.

{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.8/MicrosoftTeams.schema.json",
    "manifestVersion": "1.8",
    "version": "1.0.0",
    "id": "16a4aacf-4de1-4fde-8e1e-4d7b80807303",
    "packageName": "com.microsoft.teams.extension",
    "developer": {
        "name": "Teams App, Inc."

[2021-05-06 20:24] Aliandi commented on #2979
Yes, we can still verify this issue exists. It's not on every device though. I've had issues with iOS but not on Android. Pressing the default back navigation button takes me outside of the custom tab instead of navigating through it in some devices, while in others it lets me navigate through the tab.

[2021-05-06 20:35] jonmill opened #3252 "Card fails to render in Teams on iOS"
Bug ported from Adaptive Cards, opened by @jameskleinschnitz: microsoft/AdaptiveCards#5755

# Target Platform

Please list the platform(s) that your application is targeting and remove platforms you are not targeting:
- iOS

# Target Application
teams iOS

# Problem Description

Card stop rendering on iOS but it does work in web, teams desktop, android.
Last time this happened the app source team

[2021-05-06 21:27] heath-hamilton commented on #3198
@ascott18 Understood! Thanks again for the detailed feedback and input. It really helps--we're actively investigating how to make this a better experience.

[2021-05-07 03:15] GauravES opened #3253 "Update Last Modified Date of this page"
[Enter feedback here]
The Configurable Properties section of this document seemed to have only been launched in April 2021 but doc date is still from 2019 so it is confusing.

(i.e https://docs.microsoft.com/en-us/MicrosoftTeams/customize-apps was launched in 2021 and the Configurable Properties section is for this capability)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-05-07 04:50] Wajeed-msft commented on #3124
@aimskl - engineering team is looking into the bug, meanwhile just wanted to share possible workaround to unblock this scenario.

Given that issue is happening for image stored in Azure blob, alternative option to display image would be as Base64 image string.

**Example JSON:**

[code]

**Output:**
![image](https://user-images.githubusercontent.com/31851992/117399050-45821f00-af1d-11eb-810b-c7e9b

[2021-05-07 05:36] Nikitha-MSFT commented on #3253
@GauravES - What is confusing in the document - what need to update here? Could you please share more details on what need to be update in the document.

[2021-05-07 05:55] aimskl commented on #3124
Hi @Wajeed-msft

Appreciate the efforts to help, but the Base64 approach for the image won't work for us. We explored this avenue a few years ago but were restricted by payload size limits.

Though our image size varies depending on the time of day, it is generally around 228 KB, or ~240k characters in Base64.

Also, our process uses Logic Apps and the Teams connector to post to the Teams channel.

[2021-05-07 08:08] Grunge commented on #3222
Thank you I understand howto build an SPFX and deploy it in SharePoint App Store.
But where and how do I deploy a Teams App? Not the zipped Icon+Manifest, the part that is running on a WebServer?

[2021-05-07 09:34] vikramjit-singh-chug opened #3255 "Task Module invocation via JS SDK is supported on mobile"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 501d3295-997c-d252-d458-534673b36a52
* Version Independent ID: c90dcc98-df65-b45b-4f78-64d2cab91852
* Content: [What are task modules? - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules)
* Co

[2021-05-07 09:35] Mamatha-MSFT commented on #3250
@martinlarosa I will repro at my end and will let you know.

[2021-05-07 10:28] Jagadeesh-MSFT commented on #3249
Hi @luciendutoitit, we are unable to repro your issue from our end , are you sill facing the issue , could you please share the repro steps ?

[2021-05-07 15:56] smchargue opened #3260 "microsoftTeams.converstations has no meaningful documentation"
How in the world are you supposed to learn anything about using microsoftTeams.converstations from the information provided here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d120eb51-2f23-c875-9b2d-3b1f098671fe
* Version Independent ID: 2cd41da2-60f5-a0ba-e9f1-daa1ff09e634
* Content: [conversations module - Teams](h

[2021-05-07 17:02] jonmill commented on #3202
@gethari - apologies for not tagging you when I transferred the issue; it looks like Teams has a potential solution for you. Could you please verify if their solution works? Thank you!

[2021-05-07 19:21] iComputer7 commented on #3245
I was able to boil the event code down to its bare essentials and came up with this:
https://gist.github.com/iComputer7/e456b8ba0c5db14313e74686c3812252

All of the links work before the beforeunload event is set. While the event is set, any links that try to navigate to another page stop functioning. Links that have an onclick event or `javascript:` links still function. When the beforeunload eve

[2021-05-07 23:12] ascott18 commented on #3063
`ssoAcquireTokenRenewFailed` is an error that we've seen happen if the user hasn't used the app before and has to be prompted for consent. If the user clicks "cancel" on the popup request for OAuth permissions that appears, this is the error that `failureCallback` is called with.

[2021-05-10 04:37] abdulkareemnalband commented on #3063
@ascott18 thanks

[2021-05-10 04:56] Wajeed-msft commented on #3124
@aimskl - Updates on the investigation:  Engineering team has identified the root cause of the issue and working on finding an appropriate solution.

[2021-05-10 06:21] Mamatha-MSFT commented on #3223
@xanderfehsenfeld Please let us know if your issue has been resolved.

[2021-05-10 06:51] CapinWinky opened #3262 "Relative times (example: Yesterday at 2PM) don't update until the page is reloaded."
Any time the Teams UI on PC uses a relative date-time it will not update to an absolute date-time until the content is reloaded. For instance, leaving a chat open for a few days since the last communication (like over a weekend) will still display language like `Yesterday` for items that were sent several days prior until that chat is closed and re-opened.

Perhaps reload stale content when it reg

[2021-05-10 06:53] Mamatha-MSFT commented on #3224
@chenxizhang  could you please explain which device permission are you using and also share the code snippets?

[2021-05-10 07:42] Jagadeesh-MSFT commented on #3255
Hi @vikramjit-singh-chug, Thanks for the insights, this will be automatically fixed once the [PR](https://github.com/MicrosoftDocs/msteams-docs/pull/3256) pushed into master.

[2021-05-10 11:10] Jagadeesh-MSFT commented on #3262
@CapinWinky, we are practically working on this, we will update soon.

[2021-05-10 11:20] Jagadeesh-MSFT commented on #3260
Hi @smchargue , we are checking with our internal team, will update you soon.

[2021-05-10 12:49] chenxizhang commented on #3224
I've solved this problem, so thank you all, and I will close this issue.

[2021-05-10 12:49] #3224 closed

[2021-05-10 14:45] luciendutoitit commented on #3249
Thanks for the reply, and apologies for my delay in responding.

Aside from attaching a screenshot exhibiting the behavior, there is not much else to do to replicate the issue.

An example is I send a message to someone on Teams, but their response gets nested above my message. Please see image.
![wrong order](https://user-images.githubusercontent.com/83778130/117677765-bf641380-b17c-11eb-864d-47e

[2021-05-10 17:33] clearab opened #3268 "Bot Framework SDK versions are wrong on this page"
The current latest version of the bot framework SDK is 4.13.1 - I recommend removing references to specific "latest" versions, as the SDK is updated ~4-5 times a year.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c780d605-b1b2-716f-5888-503608769b5a
* Version Independent ID: 53c724f8-d9a2-4af6-6d75-ddeaef084137
* Con

[2021-05-10 18:58] sudoaccessdenied commented on #3043
@Wajeed-msft did not receive any response yet.

[2021-05-10 20:28] ascott18 commented on #3063
@Sridevi-MSFT the docs you linked are for LinkedIn and do nothing more than describe the very basic workings of OAuth2. How is this in any way applicable to Teams SSO?

[2021-05-11 04:04] RajdeepRay0411 commented on #3180
Hi, @Wajeed-msft and @Nikitha-MSFT, can you please let us know the status on the issue as we are following up for the past fourteen days but not hearing anything from your side. As this is a big issue escalated from our client-side, we need to update them as soon as possible.

[2021-05-11 04:16] surbhigupta12 opened #3272 "Doc bug-Overview"
[Enter feedback here]
Spelling issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57a31a0-e815-faa4-653d-795ae8a8e4d7
* Version Independent ID: 8f48ea3d-231b-2776-41b7-11890ea2d3c0
* Content: [Build apps for the Microsoft Teams platform - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/overview)
* Co

[2021-05-11 06:12] Nikitha-MSFT commented on #2951
@MatthiasWeibel The issue is fixed. Could you please check and update?

[2021-05-11 06:20] GizmoChicken commented on #1633
@inks007   I agree with you.  And I was disappointed/frustrated to learn that there is still no _easy_ way to use two XLR microphones (connected to my two channel interface) with Teams.  I say no "easy" way, because of course I could use something like JACK or Voicemeeter to route channel 2 to channel 1, but that's not "easy" for most, especially if you don't have authority to install such program

[2021-05-11 10:11] Jagadeesh-MSFT commented on #3262
Hi @CapinWinky, we are able to repro the issue, will take to the internal team. If it is a bug we will raise and share with you.

[2021-05-11 10:49] Jagadeesh-MSFT commented on #3222
Hi @Grunge, here is the documentation for [deploying the App](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/serve-your-web-part-in-a-sharepoint-page).

[2021-05-11 11:48] Nikitha-MSFT commented on #3246
We am not able to repro the issue at our end. we are able to upload the manifest success fully. Here is the screen shot:
![image](https://user-images.githubusercontent.com/61688740/117809848-4c41c680-b27c-11eb-9b99-4f253815774f.png)
Here is the uploaded manifest
[manifest.zip](https://github.com/MicrosoftDocs/msteams-docs/files/6458878/manifest.zip)

[2021-05-11 19:00] #3159 closed

[2021-05-11 19:42] abhineshada opened #3279 "Images sent through web hook are not expanding even afte setting allowExpand as True."
We are using web hook to share some images in teams channels. But, the images are not expandable in Teams desktop client or web browser. However it is working fine in mobile app. Tried enabling allowExpand but nothing worked.

Is the 'allowExpand' feature not yet released in production?

Sample JSON:
`{
  "attachments": [
    {
      "content": {
        "$schema": "http://adaptivecards.io/schemas

[2021-05-11 21:04] YPillay opened #3280 "Invalid appId specified error Messaging Extension"
I created Messaging Extension search which I populate the results with thumbnail cards with 1-6 buttons depending on the context.
The buttons don't work consistently and I get the error when copying from the preview as well as clicking the buttons.

AppsService: getInstalledAppForUser - Invalid appId specified

[2021-05-11 21:17] YPillay commented on #3280
Further information, The issue occurs in my test environment where I install the app via a zip as well as where the app is available from the store(For my Org)

[2021-05-12 06:01] Jagadeesh-MSFT commented on #3241
Hi @blesliecan ,Thanks for the insights. This question is tracking from [stack overflow](https://stackoverflow.com/questions/67393384/how-can-i-provide-an-ms-teams-app-to-provide-link-unfurling-and-nothing-more). For now I'm closing this issue. If the changes are required , we will update in the document.

[2021-05-12 06:01] #3241 closed

[2021-05-12 07:43] Jagadeesh-MSFT commented on #2979
Hi @Aliandi, sorry for asking this again, could you please try again in iso devices with different versions, if you still facing the issue then we will raise a bug for this.

[2021-05-12 08:06] Mamatha-MSFT commented on #3279
Hi @abhineshada - I have reproduced the same code that you have provided. I am unable to repro the issue. The image is expanding as expected.
![image](https://user-images.githubusercontent.com/78795357/117940639-e6f6df80-b326-11eb-9a45-039a34482147.png)

[2021-05-12 08:16] #3249 closed

[2021-05-12 08:19] abhineshada commented on #3279
Hi @Mamatha-MSFT Can you please confirm if you are testing this in dev mode or in production app. Also, please let me know which OS are you testing this on? I am testing it on MacOS and nothing seems to work here.

[2021-05-12 09:12] Nikitha-MSFT commented on #3253
Please reopen the issue with the required details. Closing the issue as of now

[2021-05-12 09:12] #3253 closed

[2021-05-12 09:33] Mamatha-MSFT commented on #3279
@abhineshada - I am testing it in windows Teams desktop client. Could you please share the MacOS version details and Teams version details.

[2021-05-12 09:42] abhineshada commented on #3279
@Mamatha-MSFT
MacOS version: Big Sur (11.2.3)
Microsoft Teams Version 1.4.00.8872.

[2021-05-12 09:42] Mamatha-MSFT commented on #3280
@YPillay - Could you please try this [sample ](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/50.teams-messaging-extensions-search)code.
For buttons which action method are you using, explain briefly.

[2021-05-12 10:09] Mamatha-MSFT commented on #3218
@dtsoy95 - I have tried with Version 1.2.3. I am unable to repro the issue. Could you please check once now and if you still persist the issue please share the logs.

[2021-05-12 10:13] Sridevi-MSFT commented on #3268
@clearab -  Could you please refer us exact documentation link where we have make changes.

[2021-05-12 10:18] YPillay commented on #3280
I am using a CardAction list with type = "invoke".
I have used the sample code referenced previously and it works as intended.

[2021-05-12 10:24] YPillay commented on #3280
`
ThumbnailCard card = new ThumbnailCard();
            List<CardAction> buttons = new List<CardAction>();
            foreach (item in SomeList)
            {
                buttons.Add(new CardAction { Type = "invoke", Value = new CardTaskFetchValue<string> { Data =  "data"  }, Title = "title"});
            }

            card = new ThumbnailCard
            {
                Title = CommonNam

[2021-05-12 14:33] Mamatha-MSFT commented on #3280
@YPillay Could you please share the screen recording of your issue. So that it helps me to check where exactly your facing the issue.

[2021-05-12 16:24] LuiseFreese opened #3285 "Teams UI Toolkit: sample app in App Studio doesn't work"
in App Studio in Teams, I wanted to install the sample app of Teams UI Toolkit to Teams with the **Install to Teams** button,

![image](https://user-images.githubusercontent.com/49960482/118010098-fb4ed280-b34e-11eb-833a-09f3f737d6c0.png)
but I get this error message: "We're sorry. We couldn't prepare your sample app. Please try again later".

Tried later, several times, in different tenants, same

[2021-05-12 18:09] dastewa opened #3286 "isFullScreen is not respected from side loaded app"
Please document that isFullScreen does not work with apps that have been side-loaded from the Teams client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* Content: [Manifest schema reference - Teams](https://docs.micro

[2021-05-12 20:09] clearab commented on #3268
Its the page linked in the Issue above ⬆️ . This page contains references to specific versions of the SDK, and should instead just say something like "later than version 4.8"

[2021-05-13 04:13] Boorda opened #3287 "Misspelled word - Franework"
Just noticed a misspelled word in the following section, _Franework_ should be _Framework_ ...

<html>
<body>

Bots | Chatbots that interact with users in personal and shared contexts | VS Code with Teams Toolkit extension or Yeoman Generator | Bot _Franework_ SDK | Node.js, C#, or Python
-- | -- | -- | -- | --

</body>
</html>

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-05-13 06:41] abhineshada commented on #3279
@Mamatha-MSFT Were you able to check the issue on MacOS? This is becoming a blocker for us. Let me know if there is any workaround for this. Our use case is : automated sharing of images in Teams channels on some scheduled time interval.
But as most of users are on Mac OS, we can not move ahead if users are not able to enlarge/expand/zoom the image as these images have tabular data, numbers, metri

[2021-05-13 08:22] Kristoffer88 opened #3291 "Microsoft Team SSO in Personal tab with Authentication and authorization (Easy Auth)"
Hi.

I am trying to get SSO working with  Authentication and authorization,
I have set my webapp to following authentication settings:
Require authentication
Unauthenticated requests
Return HTTP 302 Found (Redirect to identity provider)

It works perfectly in teams browser and mobile, but in desktop, it does not work.

Inside App registration i have followed the Single Sign On documentation and it

[2021-05-13 14:42] BobGerman opened #3293 "Need for token exchange is not clear"
The document gives the impression that exchanging the SSO token for an access token is optional, and really doesn't make the need clear to the reader. (The token exchange is needed in the vast majority of cases). Further, the doc implies that admin consent will solve the problem, but really that just removes the need to prompt the user for consent.

I'm looking for an authoritative doc to site fro

[2021-05-13 17:10] abhineshada commented on #3279
@Mamatha-MSFT I am facing the same issue in windows machine as well. Can you please confirm if you tested this in dev mode or production and the feature is live in prod or not.

[2021-05-14 05:17] Nikitha-MSFT commented on #3285
@LuiseFreese  Which template you are trying to install using the sample app? Could you please repro steps and app template you are trying to install?

[2021-05-14 05:56] Mamatha-MSFT commented on #3223
Hi @xanderfehsenfeld  is your issue got resolved?

[2021-05-14 07:48] Krukovich commented on #3223
I need your help, I am developing a bot for ms teams and in my scenario the user must be redirected from chat to tab, for this I use a deep link here is an example link

`https://teams.microsoft.com/l/entity/${process.env.APPLICATION_ID}/${process.env.TAB_ID}`

and it works great everywhere in the browser in the desktop version and in window and in ubuntu and even on Android, but as it turned out,

[2021-05-14 07:57] GauravES opened #3295 "Conflicts with Advice for SSO for Bot/Static Web Tabs"
[Enter feedback here]

We have an existing bot with a static web tab that uses SSO.  Microsoft instructions for using SSO recommends creating a dedicated "identity" app with the required permissions to interact with the Graph, rather than using the Bot's own app ID to interact with the Graph.  See advice in https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bo

[2021-05-14 09:01] noblockhit commented on #1633
Ex. I'm using a steinberg Yamaha UR 22mk 2. I am connecting a microphone to the right channel, and my e-Guitar to the right one.
Teams registeres the sound coming from my pre amp, but does not transmit it. This is 1. very confusing, 2. a pretty big problem. If i switch up the slots, it's vice versa. I'd really like to have an option to just transmit both, without the cancelling. My mic is pretty h

[2021-05-14 09:08] Mamatha-MSFT commented on #3223
@xanderfehsenfeld Could you please add webUrl in your deeplink and try. Let me know if the issue still persists.

[2021-05-14 09:29] Robert-F commented on #3193
@Mamatha-MSFT Yes, all query parameters properly encoded - we only use the `label` and `context` parameters, but no `webUrl`. This is the relevant code:

[code]

When using the app catalog's app ID all deep links work as expected.

[2021-05-14 09:40] Krukovich commented on #3223
@xanderfehsenfeld Thanks for the quick response, I tried your suggestion and got the following behavior after clicking on the button, the browser was opened, then there I was redirected back to the application, after which this error was reproduced again

this is an example link

https://teams.microsoft.com/l/entity/${process.env.APPLICATION_ID}/${process.env.TAB_ID}?webUrl=https://teams.microsoft

[2021-05-14 10:01] Mamatha-MSFT commented on #3223
@xanderfehsenfeld - the weburl should be static tab content url which you gave in manifest like https://tasklist.example.com/123
Example:  `https://teams.microsoft.com/l/entity/fe4a8eba-2a31-4737-8e33-e5fae6fee194/tasklist123?webUrl=https://tasklist.example.com/123`

[2021-05-14 10:18] LuiseFreese commented on #3285
1. Open Teams
2. Open App Studio
3. Select **UI Tools**
4. Select **Install to Teams** right below **Sample App**

I get the error message that I screenshotted. Can you confirm?

[2021-05-14 10:59] Mamatha-MSFT commented on #3193
@Robert-F -webUrl  optional field with a fallback URL to use if the client does not support rendering the tab. Even though mentioned as optional add webUrl to your deeplink.

[2021-05-14 12:02] Krukovich commented on #3223
@Mamatha-MSFT
Yes I have a static tab in my manifest here is an example
[code]
it turns out that my link should look like this

`https://teams.microsoft.com/l/entity/${process.env.APPLICATION_ID}/${process.env.PANDADOC_TAB_ID}?webUrl=https://${process.env.HOSTNAME}/pdTab/?name=${name}&tenant=${tenantId}`

and replacing the path I get the following behavior opens a new window in the browser and get

[2021-05-14 12:59] jcklein opened #3296 "Powerpoint file name containing single quotation mark trips up Teams client"
Dear all,
When trying to present a Powerpoint in a Teams meeting, the presentation's filename cannot contain a single quotation mark. Otherwise the IOS Teams client refuses to open the file, see attached image. It looks like there's a bug tripping it up when that character is present.
Best,
Johannes

![image](https://user-images.githubusercontent.com/18620800/118273708-2d317780-b4bc-11eb-8771-9263

[2021-05-14 13:23] Mamatha-MSFT commented on #3223
@Krukovich - We have a backlog bug item for this and will inform you if it gets resolved.

[2021-05-14 14:50] Mamatha-MSFT commented on #3279
Hi @abhineshada It is working only in developer preview. This feature is not yet documented. Will check this with internal team and get back to you.

[2021-05-14 15:13] Mamatha-MSFT commented on #3280
@YPillay If you are still facing the issue then please share the screen recording.

[2021-05-14 15:25] Nikitha-MSFT commented on #3043
@sudoaccessdenied - Internally team is working on it - We are tracking the bug - will update once it is fixed. We don't have ETA to share when it will be Fixed.

[2021-05-14 15:30] Jagadeesh-MSFT commented on #3295
Hi @GauravES, we are working on it , will update you soon.

[2021-05-14 15:35] Nikitha-MSFT commented on #3285
Which template you are trying to install using the sample app?

[2021-05-14 18:38] YPillay commented on #3280
@Mamatha-MSFT Yes, Will share shortly

[2021-05-15 07:50] abhineshada commented on #3279
@Mamatha-MSFT Thanks for the update. It would be a great help if you could confirm when the feature will be made live in prod app.

[2021-05-15 10:46] Jagadeesh-MSFT commented on #3222
Hi @Grunge, we can deploy our application in azure from there we can use.

[2021-05-15 10:51] Grunge commented on #3222
Very good, please add the description how to add it to azure. Thank you very much and Good Luck to you and your family.

[2021-05-15 11:07] Jagadeesh-MSFT commented on #3260
Hi @smchargue, you can check [this ](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bot-conversations/bots-conversations)document for microsoftTeams.converstations

[2021-05-15 13:25] Jagadeesh-MSFT commented on #3199
Hi @GauravES, our document team is recently updated the document, could you please verify once again.

[2021-05-15 13:28] Jagadeesh-MSFT commented on #3199
Hi @NicolasMCAG, could you please raise a new question for better tracking with you manifest. Thank you.

[2021-05-15 14:26] smchargue commented on #3260
Thanks. That’s helpful but I guess I was asking the wrong question.  Not interested in bots.  Wanted to start a chat with a person from my custom teams app I’m building.   What I really want to do is open a user profile card in my app by clicking on the name in a list.  just like you would do in chat.  Is there an api for that that you know of?

[2021-05-15 14:27] smchargue commented on #3260
Issue about conversations is closed though.  Thanks for the response.

[2021-05-15 14:27] #3260 closed

[2021-05-15 17:05] GauravES commented on #3199
Thanks.   The documentation is now fixed.

[2021-05-15 17:05] #3199 closed

[2021-05-15 23:11] GizmoChicken commented on #1633
@noblockhit   You're not alone!  I was using an M-Audio AIR 192|6 USB audio interface, and had pretty much the exact same frustrating experience that you described.  And no fault of the AIR 192|6, which worked perfectly and as it should.  Rather, Teams simply refused to acknowledge channel 2.

As I wrote above, my solution was to purchase a USB mixer, and use it instead of my M-Audio AIR 192|6 USB

[2021-05-16 13:24] ReddragonLR opened #3297 "Cannot create webhook connector"
Hi

Hope you are well. I have tried numerous times to create a an Incoming Connector Webhook but keep getting the following error

<img width="520" alt="Screenshot 2021-05-16 at 15 20 22" src="https://user-images.githubusercontent.com/2574856/118398859-b1216600-b65a-11eb-9995-7368cb0abff0.png">

No luck on multiple attempts, both with and without uploading of an image

[2021-05-16 16:32] quantrpeter opened #3298 "I should use yeoman or vscode teams toolkit to build teams app"
Hi
   I should use yeoman or vscode teams toolkit to build teams app?
thanks
Peter

[2021-05-17 02:24] Jagadeesh-MSFT commented on #3291
Hi @Kristoffer88, we are working on it, will update you soon.

[2021-05-17 04:14] Wajeed-msft commented on #3124
@aimskl - Engineering team has identified the fix and we verified that it's working fine on iOS device. Currently fix is undergoing review process.

[2021-05-17 04:15] aimskl commented on #3124
Thank you for the update @Wajeed-msft

[2021-05-17 05:58] quangnguyen30192 opened #3301 "Sequential workflow - Clarification the invoke response to return Adaptive Cards"
[Enter feedback here]

  Hello guys,

  I'm trying to use the [sequential workflow](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/universal-actions-for-adaptive-cards/sequential-workflows) on MS Teams.

  It was ok when I hit the submit button from the MS Teams, the function `onAdaptiveCardInvoke` was called. But after returning an adaptive card that is supp

[2021-05-17 07:03] GauravES opened #3302 "How to send a proactive message to a user after retrieving the chatid"
[Enter feedback here]
Per this document, GET https://graph.microsoft.com/beta/users/{user-id}/teamwork/installedApps/{teamsAppInstallationId}/chat will get the chatid, however it appears there is no way to send a 1:1 message FROM the bot to the user using this chatid?

The documentation for the https://docs.microsoft.com/en-us/graph/api/chat-post-messages?view=graph-rest-1.0&tabs=http   specifies

[2021-05-17 07:20] #3296 closed

[2021-05-17 07:34] Mamatha-MSFT commented on #3223
@Krukovich - Could you please share the complete deeplink url your using and manifest.

[2021-05-17 07:37] Krukovich commented on #3223
@Mamatha-MSFT yes of course I can send it to you by mail

[2021-05-17 07:40] Mamatha-MSFT commented on #3223
@Krukovich Please write a mail to microsoftteamsdev@microsoft.com

[2021-05-17 07:59] Mamatha-MSFT commented on #3298
Hi @quantrpeter - You can create bot using  both yeoman and vscode teams toolkit.
Please follow this [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/tutorials/get-started-yeoman) for creating bot using yeoman generator and for vscode teams toolkit go through [this](https://docs.microsoft.com/en-us/microsoftteams/platform/build-your-first-app/build-bot).

[2021-05-17 08:05] Krukovich commented on #3223
@Mamatha-MSFT I sent you our manifest and a small example of code how we use deep link by e-mail

[2021-05-17 08:33] v-pmuthyala opened #3303 "Bot SDK versions should be later than version 4.8."

[2021-05-17 08:34] #3303 closed

[2021-05-17 09:11] nickshen33 opened #3305 "App Permissions Setting lost in 3.6.0"
Hi,

I'm currently using Teams Mobile App 3.6.0 in iOS but can NOT find App Permissions setting.
![teams app permission](https://user-images.githubusercontent.com/24607793/118463947-e600ec00-b732-11eb-9917-e77b3e393839.png)
.
--------------------------------------------
Open Teams.

Go to Settings > App Permissions.

Select the app for which you need to choose the settings.

Select your desired se

[2021-05-17 09:28] YPillay commented on #3280
![image](https://user-images.githubusercontent.com/28230656/118466256-f7320480-b702-11eb-86a7-85d916c0d3cd.png)

[2021-05-17 09:41] Mamatha-MSFT commented on #3280
@YPillay Could you please share the screen recording of when you're trying it in messaging extension so that we can clearly understand what is the exact issue.

[2021-05-17 09:59] quangnguyen30192 commented on #3301
After several tries, it's working if I try with
[code]
`AdaptiveCardInvokeResponse` requires `type`
![image](https://user-images.githubusercontent.com/17941233/118470754-2d867880-b731-11eb-88f8-8c172379780f.png)

But it is weird that inside the library, it ignores the value of `type`

![image](https://user-images.githubusercontent.com/17941233/118470556-fb751680-b730-11eb-9959-1812ed62217c.png)

S

[2021-05-17 10:02] YPillay commented on #3280
![Animation](https://user-images.githubusercontent.com/28230656/118471120-af61ac00-b707-11eb-8f26-7f7b389a2ba4.gif)

[2021-05-17 10:35] #1633 closed

[2021-05-17 12:08] Jagadeesh-MSFT commented on #3297
Hi @ReddragonLR, could you please try [incoming webhook](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook) document, it explains creating incoming webhook.

[2021-05-17 13:45] Nikitha-MSFT commented on #3180
@RajdeepRay0411 - We are not able to re-pro the issue at our end. Could you please share the console logs that you receive in the developer tools.

[2021-05-17 13:55] Ernaldairte opened #3309 "Going back from "files" section in a Team always brings you to main folder"
As the title says, if I go back from deep within any folder in the "files" screen inside a Team, with the back arrow button on top, it always brings you to the main folder, and I don't see any way to move a single step back.

[2021-05-17 14:53] Sridevi-MSFT commented on #3232
@jonmill -We have raised a bug for this issue, concerned engineering team is working on it.

[2021-05-17 15:09] Sridevi-MSFT commented on #3286
@dastewa - isFullScreen is working as expected while side-loaded from the Teams client. Could you explain where exactly your facing this issue like in desktop client/ Web application.

[2021-05-17 18:23] iComputer7 commented on #3245
I noticed that Teams updated recently, and the bug is still present. Version is `Teams/1.4.00.11161`

[2021-05-17 19:00] #3202 closed

[2021-05-17 21:45] micventer opened #3310 "Android teams app"
I am unable to switch organisations on the android app. When I click on a guest organisation it shows the switching popup but then takes me back to my main organisation. On the Web app and Windows app it works correctly - I can change between organisations with no issue.
Please help fix this issue.

[2021-05-18 03:19] #3287 closed

[2021-05-18 03:26] #3268 closed

[2021-05-18 06:19] Jagadeesh-MSFT commented on #3302
Hi @GauravES, we are checking with our internal team, will update you soon.

[2021-05-18 06:21] #3310 closed

[2021-05-18 06:22] #3309 closed

[2021-05-18 07:58] #3301 closed

[2021-05-18 09:26] OskarNet opened #3317 "Manifest version differences"
Hi

I feel it's a bit unclear what has changed between versions of the manifest file.
Why isn't there a version history with changes linked on this page?

Regards,
Oskar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* C

[2021-05-18 13:00] #2979 closed

[2021-05-18 17:59] patelbharat001 commented on #3297
@Jagadeesh-MSFT
I am also facing the same issue,
I have created a new team and in that, I tried removing permission and adding the permission for incoming webhook as you mentioned.
but it doesn't work and still giving an error as Something went wrong.

[2021-05-19 05:39] Jagadeesh-MSFT commented on #3178
Can we discuss this over call? Could you please write to us at microsoftteamsdev@microsoft.com

[2021-05-19 11:31] Mamatha-MSFT commented on #3280
@YPillay - We are able to repro the issue. But that error does not effect the functionality. I am able to copy the the card from preview mode. We will raise a bug for this issue.

For buttons, the `invoke `action will not work in preview mode, but it will work in chat. only `open URL` action will work in preview.

[2021-05-19 11:52] YPillay commented on #3280
@Mamatha-MSFT Great, But I have encountered that the buttons do not work consistently.
Sometimes when I click them they generate no event and sometimes they do.

[2021-05-19 13:11] Mamatha-MSFT commented on #3280
@YPillay - The invoke action will send message but it will not display in chat and will sends payload to the bot. To handle invoke action in message extension use below code .

[code]

[2021-05-19 14:42] abhineshada opened #3332 "On disabling developer preview, all messaged in teams are lost."
Hi,
I was testing image flow through web-hook. I was facing issue mentioned in #3279 so I enabled developer preview to test the feature. Now when I disable developer preview again, I am not able to see any of my messages. Please refer the screenshots.

Kindly look into this and let me know how I can retrieve my messages again.

<img width="755" alt="Screenshot 2021-05-19 at 8 11 37 PM" src="https:

[2021-05-19 16:03] Mamatha-MSFT commented on #3250
@martinlarosa - The 429 error occurs when to many requests comes to bot.

You can handle this exception `Microsoft.Rest.HttpOperationException` and check for the status code.

[code]

Please go through this [documentation ](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit)for more information to handle the error.

[2021-05-19 16:41] GauravES opened #3333 "Version 1.10 of the manifest not supported by App Studio App and many Teams tenants"
Version 1.10 of the manifest not supported by App Studio App and many Teams tenants

Is it possible to add a note to documentation when Manifest schema version is updated as to when the feature will be rolled out to Teams tenants, as well as synchronize the updates to App Studio to match the new versions.   Currently the App Studio only validates to 1.9

[2021-05-19 17:36] martinlarosa commented on #3250
Hi @Mamatha-MSFT!
The bot is getting only one event: an AD group being added to a team where the bot is.
It's not me who's iterating through the members and calling you, it's Bot Framework: https://github.com/microsoft/botbuilder-dotnet/blob/fbb4eb8b98ccce17ebcfc8e061237def33a68305/libraries/Microsoft.Bot.Builder/Teams/TeamsActivityHandler.cs#L516

I think they moved the issue to this repo to chec

[2021-05-19 18:37] Mamatha-MSFT commented on #3279
@abhineshada -**`allowExoand`** will be enabled in R4 next week.

[2021-05-19 18:54] drewberrymore opened #3334 "Teams App Studio available in commercial tenants only"
Documentation needs to reflect that Teams App Studio is not available in GCC/GCCH/DoD tenants and at this time Microsoft has no intention of making this available in the future for government tenants. Please reference MS Support ticket Case #25228514

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f4a41f1-2993-7869-a1a

[2021-05-19 19:02] Aliandi commented on #2979
We will be testing this tomorrow and will let you know if we can still repro it. Sorry for the delay.

[2021-05-19 19:08] ja-onereach commented on #3178
I'd be glad to... I'm free any day after 10am MT if you'd like to pick a
time that's convenient for you.

Thanks!
-jonathan anderson

Jagadeesh-MSFT wrote on 5/18/21 11:39 PM:

[2021-05-20 02:03] Jagadeesh-MSFT commented on #3305
Hi@nickshen33, I'm able to reproduce the issue from my end , we will create a bug and share the details with you.

[2021-05-20 03:02] Jagadeesh-MSFT commented on #3317
Hi @OskarNet, Thank you for the insights on the document. We will ask document team to look into this and make the document better.

[2021-05-20 03:34] Jagadeesh-MSFT commented on #3230
Hi @jonmill/ @Josverl, As this feature is not available at present, could you please raise an [User Voice](https://microsoftteams.uservoice.com) if this needs to be consider as a future request.

[2021-05-20 05:38] #3246 closed

[2021-05-20 05:52] Jagadeesh-MSFT commented on #3305
Hi@nickshen33, Update your app's manifest.json by adding devicePermissions and specifying which of the five properties that you use in your application:

"devicePermissions": [
    "media",
    "geolocation",
    "notifications",
    "midi",
    "openExternal"
],

After sideloading this manifest, you have to accept the allow / deny prompt message, then you can able to see the permission setting. p

[2021-05-20 06:00] #3279 closed

[2021-05-20 08:55] marcinburak commented on #3223
Same here. Deep links work in MS Teams web client, Windows desktop, Android, but no luck using iOS mobile.

[2021-05-20 09:16] Mamatha-MSFT commented on #3223
@Renevdo @marcinburak  we have created a bug for this issue and concerned team is working on it.

[2021-05-20 11:14] Jagadeesh-MSFT commented on #3332
Hi @abhineshada, we are unable to repro your issue from our end , could you please try again and check if you are sill facing the issue.

[2021-05-20 12:28] Sridevi-MSFT commented on #3204
@jonmill - We have raised a bug for this issue, concerned engineering team is working on it.

[2021-05-20 20:21] Wajeed-msft opened #3345 "[Designer]: selectAction Action.OpenUrl, on TextRun, does not work"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5804

**Details from original post:**
Below you can find an excerpt from my payload. When my bot sends this, and I click on example@email.com, nothing happens. I would have expected to have my email client to pop up and have this email prepared. Is there something I am doing wrong?

[code]

[2021-05-20 20:30] Wajeed-msft opened #3346 "Submit happening multiple times"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5842

**Details from original post:**
I am using Adaptive card 1.0 version with one input box and submit button. I am using Teams channel. I build the json format using adaptive card designer.

When I enter text in the text box and clicking on submit button, the data is posting 2 times. I am unable to find the root cause. Can you h

[2021-05-20 20:33] Wajeed-msft opened #3347 "Action.OpenUrl not working anymore"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5839

**Details from original post:**

# Target Application

Teams

# Problem Description

When clicking on the action button in Teams it should open a browser but since a few days it is not working anymore. When clicking on "open app in new tab" in Teams and then clicking the button, it somehow does work. I have tried the url in p

[2021-05-20 20:36] ervingayle opened #3348 "Dialog in Meetings sample?"
The documentation references an in meeting ability to display a dialog box but says not to use task modules (if I am reading this properly). Is there a sample that can demonstrate how to implement this?

[2021-05-20 20:42] npherson opened #3349 "Review for GCC caveats?"
What are the chances that we could get the PG to review every page of the platform developer docs to update/call out caveats for GCC customers? Things like adaptive cards and the publishing process have limitations, and I'm sure a lot more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57a31a0-e815-faa4-653d-795ae8a8

[2021-05-21 05:59] ja-onereach commented on #3178
Hi @***@***.***>, I'm scheduling this call on your's Monday morning 9:00AM MT. I hope it would work for you, otherwise please let me know your available time.

Thanks & Regards,
Jagadeesh Lankireddy

________________________________________________________________________________
Microsoft Teams meeting
Join on your computer or mobile app
Click here to join the meeting<https://teams.microsoft.com/

[2021-05-21 06:41] Mamatha-MSFT commented on #3346
Hi @srinutamada  - I am unable to repro the issue. Could you please share the adaptive card Json.

[2021-05-21 09:08] nickshen33 commented on #3305
We've updated manifest accordingly. It works on iOS 12.5.3, but not working on iOS 14.5.1.

[2021-05-21 10:38] Nikitha-MSFT commented on #3348
You can use message extension to open a dialog. Could you please check[ Designing your Microsoft Teams meeting extension](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/design/designing-apps-in-meetings#use-an-in-meeting-dialog)?

[2021-05-21 12:11] Mamatha-MSFT commented on #3349
Hi @npherson - Could you please explain your query briefly with more details.

[2021-05-21 12:19] abhineshada commented on #3332
@Jagadeesh-MSFT Thank you for looking into it. In our case, developer preview was disabled at org level initially. Once we enabled it and then started it in our apps, we were noticing this issue.
However, on re-installing the app, we were able to see all the messages again in normal mode.

This issue can be closed now.

[2021-05-21 12:19] abhineshada commented on #3332
Closing the issue.

[2021-05-21 12:19] #3332 closed

[2021-05-21 12:50] Hahkarthick opened #3353 "Images are broken if we download"
Issue: I download the images from the "Teams" chat the downloaded image is broken.

![image](https://user-images.githubusercontent.com/22488363/119139857-1f05cd00-ba61-11eb-854d-6ccd01cc5a03.png)

Solution: After I did some analysis the I think all images seem to be downloading as "PNG" by default.  if I change it to jpeg manually it works. so teams download should maintain the image extensions to

[2021-05-21 13:52] Nasicus opened #3354 "Changing the domain of an app"
As far as I understand (and also the results from my tests) the domain used for the `webApplicationInfo.resource` and the `contentUrl` must be from the same domain.

Example manifest (omitted unnecessary stuff):

[code]

Now I have the case that we're changing the URL of the application from `sub.whatever.com` to `sub.new-cool-site.com`.

Does this now mean I also need to create a new AAD app so I

[2021-05-21 17:52] ervingayle commented on #3348
Thank you so much for the response. I took a look at the mentioned sample and tried it. While as it describes the content bubble is provided in meeting invocation and response in chat, the notification that I am looking for is the Dialog box which still is not clear to me based on the documentation and this sample.

[2021-05-22 07:44] Mamatha-MSFT commented on #3218
Hi @dtsoy95 - This looks like a network problem not an issue with teams toolkit version. If you look at the message it clearly states its an error coming from the security gateway.

[2021-05-23 11:58] Sridevi-MSFT commented on #3245
@iComputer7 - I have reproduced the same code that has been provided and able to repro the issue. Will be raising the same as bug if it's get confirmed from internal team and will inform you as soon as possible.

[2021-05-23 12:41] Sridevi-MSFT commented on #3334
@drewberrymor - Thanks for bringing up this issue, Let us investigate at our end and will inform you as soon as possible.

[2021-05-23 19:00] #3298 closed

[2021-05-23 19:01] TobiasAT opened #3390 "Step 1 with an empty response"
I think step 1 has currently a bug or issue. The response is always empty, reproducible in v1 and Beta API. The team was created and is visible in the Teams Admin Center, just the response is empty. In step 2 the response is ok for the channel creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5687f17-f3c7-39be-

[2021-05-24 03:19] Jagadeesh-MSFT commented on #3305
Hi@nickshen33, could you please let us know that the issue persist only in IOS or in both ISO and android.

[2021-05-24 03:42] JonVaillant opened #3391 "Duplicate sentence paragraph"
"The botActivityHandler.js file, located in the root directory of your project, is the Teams-specific handler that handles bot activities, such as how the bot responds to specific messages. The app scaffolding provides a botActivityHandler.js file located in the root directory of your project, is the Teams specific handler that handles bot activities such as how the bot responds to specific messag

[2021-05-24 07:40] Wajeed-msft commented on #3124
@aimskl - we will keep this open till the deployment rolls out to public store build.

[2021-05-24 10:10] theo-crepin opened #3401 "Teams Screen Flickering"
Dear all,

I found a bug, i have my main house at home, and for my school we're using Teams to do the virtual lessons.
In France, there is no problem with Teams.

But when i use Teams in UK the screen flickers (the cameras in the bottom flickers in white and the shared objects in the centre are flickering in black).

It is flickering 1 time every 10-15 seconds.
I know that in France, the electrici

[2021-05-24 10:46] Mamatha-MSFT commented on #3391
Hi @KirtiPereira - Please remove the duplicate sentence from the below paragraph.
![image](https://user-images.githubusercontent.com/78795357/119336435-4ea81580-bcab-11eb-8149-5ae7bcd22d30.png)

[2021-05-24 11:00] robertmeaplus opened #3403 "localization in swedish"
Hi im having in my teams application manifest.json

"localizationInfo": {
        "defaultLanguageTag": "en",
        "additionalLanguages": [
            {
                "languageTag": "sv",
                "file": "sv.json"
            }
        ]
    },

And in the sv.json file

{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.9/MicrosoftTeams.Localization.schema.

[2021-05-24 11:26] Mamatha-MSFT commented on #3354
@Nasicus - If you are changing the domain there is no need to create aad app. You can update the domain in aad app registration.

[2021-05-24 11:56] Nikitha-MSFT commented on #3333
Wr are able to repro the issue, we are checking internally get back to you soon

[2021-05-24 12:13] Chetana-MSFT commented on #3403
We are checking this internally we will reach out you soon.

[2021-05-24 12:16] Jagadeesh-MSFT commented on #3295
Hi @GauravES, If you are building an app with a bot and a tab, enter the Application ID URI as api://fully-qualified-domain-name.com/botid-{YourBotId}.

[2021-05-24 12:26] Nasicus commented on #3354
@Mamatha-MSFT don't know what you mean. For all existing teams app users the app still should work and I think if I update the existing AAD app it will break existing apps or not?

[2021-05-24 12:36] Mamatha-MSFT commented on #3346
@srinutamada - If you are still facing the issue please share the adaptive card json.

[2021-05-24 12:51] Nikitha-MSFT commented on #3390
We are to repro the issue, checking internally get back to you soon.

[2021-05-24 13:27] surbhigupta12 commented on #3135
The issue is resolved in #3399

[2021-05-24 13:27] #3135 closed

[2021-05-24 13:30] ysnoek2 commented on #3347
Fixed this by making the url smaller and redirecting. The urls before were about 221 characters long.

[2021-05-24 14:59] dimmon908 opened #3409 "Bot Framework AdaptiveCard attachment response to card action not shown on mobile"
Hi. I've an issue with card action responses on mobile. We posted via Bot a few cards with card action. When user click on button in that cards it display a modal. If Bot card response attachment have `Input.Text`element modal on mobile would be empty. It works on web.
IOS app - 3.7.0 (IOS 14.5.1).

Example of card response json:
[code]

It display properly on mobile if I remove `Input.Text` eleme

[2021-05-24 16:38] #3391 closed

[2021-05-24 19:00] #3285 closed

[2021-05-25 00:20] heath-hamilton commented on #3198
@ascott18 We just published updated design docs, including the following link that may help:

- [Understand the design process](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/design/design-teams-app-process): We have a lot of design resources and tools now. This doc attempts to explain when and how you use all of these (including the UI kit Figma file).

[2021-05-25 00:20] #3198 closed

[2021-05-25 04:39] #3401 closed

[2021-05-25 05:12] Choongkyu opened #3434 "Unable to open AppStudio on VS code on macos"
Hello. I'm trying to follow the hello world tutorial and was wondering how I might be able to
1) get AppStudio to sideload an app, since AppStudio does not respond to my clicking on install
2) address the error `The webpage at https://localhost:3000/tab might be temporarily down or it may have moved permanently to a new web address.` when working with the F5 alternative method.

Both issues are de

[2021-05-25 05:28] Nikitha-MSFT commented on #3348
@ervingayle  - could you please check [this](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/design/designing-apps-in-meetings?tabs=desktop#use-an-in-meeting-dialog)?

[2021-05-25 05:38] Wajeed-msft commented on #3403
@Chetana-MSFT - could you please try to repro using manifest snippets provided by @robertmeaplus ?

[2021-05-25 06:07] ervingayle commented on #3348
@Nikitha-MSFT . Thank you for your reply. I have read this post but I must be missing something. This is just the UI guide for how to ensure that the dialog would meet the standards set. Its referenced implementation in the content bubbles sample does display a card in an online meeting but in the chat and what I am trying to do is replicate the scenario where the dialog pop-up occurs outside of a

[2021-05-25 07:18] robertmeaplus commented on #3403
Cannot upload manifest file here should i send it or post here?

[2021-05-25 08:51] Mamatha-MSFT commented on #3223
@Krukovich @Renevdo There was a fix done for this issue in latest store app. Please check.

[2021-05-25 08:51] #3223 closed

[2021-05-25 10:48] Josverl commented on #3230
@Jagadeesh-MSFT, The feature request is not for Teams , the issue/request I submitted is actually for the AdaptiveCards Team with a suggestion to use the Teams High Contrast theme as an option.

per your request I have submitted to [uservoice](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/43495434-allow-developers-to-build-and-test-adaptive-cards) as well, although I person

[2021-05-25 11:11] Sridevi-MSFT commented on #3434
@Choongkyu  - We are unable to access the video you have provided. Could you please share it again.

[2021-05-25 11:15] Sridevi-MSFT commented on #3286
@dastewa - Please provide the above mentioned details if your are still facing the issue.

[2021-05-25 13:00] #3193 closed

[2021-05-25 16:04] Choongkyu commented on #3434
@Sridevi-MSFT can you advise on any alternatives that would work best for you? I've tried reloading the page and am still able to view the video on my end. Thanks.

[2021-05-25 16:57] Nikitha-MSFT commented on #3348
Out of the chat? could you please explain the scenario in more detail? Which images you are mentioning?

[2021-05-25 18:13] Mamatha-MSFT commented on #3354
@Nasicus - If you update the domain name in AAD app users needs to consent again.

[2021-05-25 20:37] heath-hamilton commented on #3334
@drewberrymore this is now reflected in the Teams platform docs: https://docs.microsoft.com/microsoftteams/platform/concepts/build-and-test/app-studio-overview.

[2021-05-25 20:37] #3334 closed

[2021-05-26 02:37] nickshen33 commented on #3305
We've tested Android 11 and everything is okay. Still have issue on iOS 14.5.1, any suggestion?
Thanks in advance!

[2021-05-26 02:41] ervingayle commented on #3348
Hello @Nikitha-MSFT . Thanks for your patience. In this picture there is a dialog box that is not inline with a chat conversation as with the content bubble sample.
![image](https://user-images.githubusercontent.com/20663596/119594489-dffdb180-bda9-11eb-87ce-530419eea8ab.png)

If we agree on that I am asking how can I accomplish this functionality. The provided links thus far unless I am missing s

[2021-05-26 05:45] Nikitha-MSFT commented on #3221
Are you still facing the issue, if yes could you please share the screen shot of the issue?

[2021-05-26 06:10] FloJ12 commented on #3221
Yes. Screenshots are attached.

Mit freundlichen Grüßen
Florian Jandl
Am 26. Mai 2021, 07:45 +0200 schrieb Nikitha-MSFT ***@***.***>:

[2021-05-26 06:45] RajdeepRay0411 commented on #3180
![image](https://user-images.githubusercontent.com/51920866/119614356-d0b74c00-be1b-11eb-8960-7158cf59704e.png)

@Nikitha-MSFT, PFA for console logs for MS Teams developer tools for the issue.

[2021-05-26 06:47] RajdeepRay0411 commented on #3180
@Nikitha-MSFT, Can you please look into this and take some necessary steps as early as possible as I too need to report to my client about the troubleshooting.

[2021-05-26 08:19] luismanez opened #3469 "Empty State desktop image is empty"
The Empty State desktop image is empty. As far as I see it points to https://raw.githubusercontent.com/MicrosoftDocs/msteams-docs/master/msteams-platform/assets/images/ui-templates/empty-state.png, but that image is empty.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e739fdd6-8835-cfcd-f25c-1b4c7cb42afa
* Ve

[2021-05-26 09:35] Jagadeesh-MSFT commented on #3305
Hi@nickshen33, checking with internal team, we will update soon.

[2021-05-26 10:32] Nikitha-MSFT commented on #3221
Where did you attach the screen shots?

[2021-05-26 11:09] Nikitha-MSFT commented on #3390
Currently you will receive the 200 okay status with out any response. You need to pick the team id from the headers. This is by design

[2021-05-26 11:16] Nikitha-MSFT commented on #3180
@RajdeepRay0411 - Could you please share the manifest with us?

[2021-05-26 12:05] Jagadeesh-MSFT commented on #3297
Hi @ReddragonLR/ @patelbharat001, Looks to be user specific issue as no repro on our side, Could you please help with getting the network/HAR capture for the repro to help with the investigation?

[2021-05-26 12:19] Chetana-MSFT commented on #3403
Hi @robertmeaplus Yes, You need to add both JSON files in a single folder and upload as manifest. Please go through the [sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/app-localization/csharp) for your reference.

[2021-05-26 12:25] manihere opened #3490 "During remote session, whenever you press letter 'c' the Teams window jumps up even when it is minimized"
Hello Folks,

When we are using Teams for remote session with customer, sometimes when you press letter 'c' the Teams window jumps up even when it is minimized.

This is especially problematic when typing on the customer environment. This has been reported by some other teammates and seems to be fixed by restarting Teams.

[2021-05-26 17:59] RajdeepRay0411 commented on #3180
{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.7/MicrosoftTeams.Localization.schema.json",
    "manifestVersion": "1.8",
    "version": "5.0.16",
    "id": "",
    "packageName": "",
    "developer": {
        "name": "",
        "websiteUrl": "",
        "privacyUrl": "",
        "termsOfUseUrl": ""
    },
	"localizationInfo": {
    "defaultLanguageTag": "en",
    "

[2021-05-26 19:33] Wajeed-msft opened #3497 "[Rendering] ios teams mobile app, entire adaptive card not showing when text (Input Text) is used after last teams update"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5870

**Details from original post:**
# Target Platform

Please list the platform(s) that your application is targeting and remove platforms you are not targeting:

- iOS

# Target Application

Microsoft Teams

# Problem Description

When you use Input.Text in an Adaptive card on IOS the entire card will not render when called from

[2021-05-26 20:28] Jagadeesh-MSFT commented on #3490
Hi @manihere, I'm unable to repro your issue from our end, could you please let us share more details/repro steps with us.

[2021-05-26 21:53] Jagadeesh-MSFT commented on #3347
Hi @ysnoek2, Thanks for the update, we are closing this issue for now, please feel free to reopen if you have any issue on this.

[2021-05-26 21:53] #3347 closed

[2021-05-26 22:04] Jagadeesh-MSFT commented on #3222
Hi @Grunge, do you want the document should be updated ? now are you able to build your application ?

[2021-05-26 23:21] ojasvichoudhary opened #3498 "This page doesn't make sense to me, can add context or move it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9d17811-3418-b8a4-b540-b36ac877b406
* Version Independent ID: 03bf3f55-31c7-02ab-91e3-2ad9e8dae63d
* Content: [Add a configuration page to your messaging extension - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions

[2021-05-26 23:23] BrendanAndrade opened #3499 "iOS not handling task/fetch adaptive card submit action properly"
I have an adaptive card that is sent to a teams channel with an action like:

"type": "ActionSet",
"actions": [
    {
        "type": "Action.Submit",
        "id": "edit",
        "title": "Edit",
        "data": {
            "foo": "bar",
            "msteams": {
                "type": "task/fetch"
            }
        }
    }
]

When that button is clicked in browser, desktop app, or android

[2021-05-27 01:08] BrendanAndrade commented on #3499
A quick update: I was able to send a card via handleTeamsTaskModuleSubmit in response to the activity from the iOS app but no card I send is rendering. It should the card's title and a blank white box. I tried some pretty simple cards and none worked.

[2021-05-27 02:13] 1411381 opened #3500 "Don't work `Deep linking to an audio or audio-video call` in mobile device."
[Enter feedback here]
Calls between users in Teams are not working well on mobile.
ex ) https://teams.microsoft.com/l/call/0/0?users=test@hogehoge.net

Is this normal behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent ID: 6b4203f0-2844-06c9-eaa3-9cc03e6f7

[2021-05-27 05:26] Nikitha-MSFT commented on #3333
Currently we have not updated our tooling yet to use 1.10.  There is currently a bug in our services that is moving its way to production.  This bug only causes issue while trying to upload your custom app to Teams.

If you want to test their app with 1.10 features you can use the Dev-Preview version of the manifest.
If you want to publish your app with 1.10 features you can update your app packag

[2021-05-27 05:26] #3333 closed

[2021-05-27 05:35] Nikitha-MSFT commented on #3469
Hi @luismanez - Which image you are referring about? Is there any image in the doc that you are not able to view? Could you please explain your scenario in more detail?

[2021-05-27 06:24] luismanez commented on #3469
Hi @Nikitha-MSFT,

In this link: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/design/design-teams-app-ui-templates?tabs=desktop

In the section "Empty state -> Top use cases", the image is not appearing, as you can see in the screenshot below:

![image](https://user-images.githubusercontent.com/9392197/119775648-3101c880-bec4-11eb-8696-d1d782e25713.png)

As far as I see in sou

[2021-05-27 06:31] ManthanGajjar opened #3504 "Microsoft Teams meeting extension | Not able to see Add app + Icon during or before the meeting"
I tried couple of times to add custom apps to use during the meeting but not able to found that + icon to add an app.

also if any one familer with creating Teams meeting extension with react then please share any reference, thanks in advance.

here is the SC...

![Screenshot 2021-05-27 at 12 00 23 PM](https://user-images.githubusercontent.com/31969308/119776982-3f131180-bee3-11eb-97a5-1f2297959fc

[2021-05-27 06:51] Ravindra-MSFT commented on #3500
HI @1411381, We are able to repro the issue, We have raised a bug and our internal team is working on it.

[2021-05-27 07:02] Mamatha-MSFT commented on #3498
@ojasvichoudhary - Thank you for the insights on the document. Our document team will work on it.

[2021-05-27 08:56] Renevdo commented on #3223
I can confirm that it's fixed on IOS in Teams!

[2021-05-27 09:19] robertmeaplus commented on #3403
I realised why it doesnt work. Im using visual studio and microsoft teams toolkit and it doesnt add language files when building the appPackage.zip so i have now added the sv.json to appPackage.zip and it works.

Sorry for your time

[2021-05-27 09:43] Chetana-MSFT commented on #3403
@robertmeaplus Good to hear that issue is resolved. Thanks for confirming on the same with us.

[2021-05-27 09:43] #3403 closed

[2021-05-27 10:22] Mamatha-MSFT commented on #3504
Hi @ManthanGajjar -  When you join a meeting or in meeting chat  **+ icon** will be there to add a custom apps as shown in below screenshot and select "add to meeting" and search the meeting name where you want to add the custom app.
![image](https://user-images.githubusercontent.com/78795357/119809596-e6ec0780-bf02-11eb-8bd3-03f1f4263b28.png)

or you can sideload custom app from App Studio and wh

[2021-05-27 10:28] ManthanGajjar commented on #3504
ok, thank you for the response :)

one questions, these tab apps are different than team apps? or it'll automatically convert my custom uploaded app to a tabs app? or I need to build another one like the customized app?

[2021-05-27 10:32] Jagadeesh-MSFT commented on #3345
Hi @floqast-tim, currently openUrl will not  support **mailto** . we already have a backlog feature request on this. Concern team is working on this.

[2021-05-27 12:40] Mamatha-MSFT commented on #3504
Could you please confirm are you developing a Teams Bot or Tab application?

[2021-05-27 12:43] ManthanGajjar commented on #3504
Currently, I have a custom app that I can upload using this option...

![Screenshot 2021-05-27 at 6 12 07 PM](https://user-images.githubusercontent.com/31969308/119827693-0e4ccf80-bf17-11eb-964b-2722ab1f1c87.png)

now my question is, can I use this app as a tab application? or need to create and upload a separate application? if you've any valid references for it then please share them here.

Rega

[2021-05-27 13:00] #3280 closed

[2021-05-27 13:24] Mamatha-MSFT commented on #3504
Please go through this [documentation ](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/create-apps-for-teams-meetings?tabs=dotnet) to build apps in teams meeting and also there are samples provided for reference.

[2021-05-27 13:31] ManthanGajjar commented on #3504
thank you :)

[2021-05-27 13:31] #3504 closed

[2021-05-27 14:02] christianpilz opened #3505 "Call deeplink using E.164 number format"
[Enter feedback here]

Looking at the example below I wasn´t able to dial a number formatted in **E.164 international format** (+4912345678) through the deeplink. The "+" sign is always stripped off and only eg. 4912345678 is transferred to the Teams application. Is there any chance to also transfer the plus sign?

https://teams.microsoft.com/l/call/0/0?users=joe@contoso.com,4:9876543210 = **worki

[2021-05-27 14:24] npherson commented on #3349
There are several parts of the Teams platform documentation that do not work as described if the customer is using the Office 365 Government Community Cloud (GCC). As this was an emphasis item this year, and it sounds like will be an even bigger area of focus next fiscal year, having documentation that our customers can trust to reflect the product reality is incredibly important. Relying on the c

[2021-05-27 14:28] Chetana-MSFT commented on #3497
Hi @vindevries Thanks for reaching out us. I will repro at my end and will let you soon.

[2021-05-27 17:51] TBara opened #3507 "Import app package and command menu not found in VS Code"
I cannot see the commend menu and the Import app package option. I followed these prerequisite steps
https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#prerequisites
1. Developer preview enabled
![image](https://user-images.githubusercontent.com/37635264/119871899-c195d400-bed7-11eb-88af-96197a979ed3.png)

2. ASP.NET and web development module is installed with

[2021-05-27 20:06] ReddragonLR commented on #3297
@Jagadeesh-MSFT - Hi. I have tried again and was able to create the webhook connector without error this time around

Thank you for your time. Apologies if the search yielded wasted time. I was consistently getting errors before but today it worked

<img width="510" alt="Screenshot 2021-05-27 at 22 04 17" src="https://user-images.githubusercontent.com/2574856/119890066-a5298400-bf37-11eb-88f5-4354

[2021-05-27 20:06] #3297 closed

[2021-05-27 20:09] Wajeed-msft opened #3508 "Upgrade Adaptive cards to version 1.3"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5815

**Details from original post:**
Hi

Hopefully this is in the correct area,  we have adaptive cards version 1.2 but we would like 1.3,  does anyone know how we can upgrade to this?

thanks
Andrew---
#### Document Details

⚠ *Do not edit this section.It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb4394d

[2021-05-27 20:38] Wajeed-msft opened #3509 "Background color doesn't respect RGBA values"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5294

**Details from original post:**
Though the documentation doesn't suggest RGBA values work, the adaptivecards.io designer previews a functioning backgroundColor when using RGBA. In practice however when using the card in Teams the RGBA value doesn't working, you MUST use a hex value.

Please fix this issue with Adaptive Cards,

[2021-05-27 20:55] Wajeed-msft opened #3510 "[MS teams] Adaptive card image partially rendered in MS Teams"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5228

**Details from original post:**
I'm generating dynamic images and include them as part of the adaptive card, the images are relatively small only 60kb, when I reply with the image for the first time, it's partially shown until I scroll up or leave the conversation I assume that triggers native update, as soon as image is cach

[2021-05-27 20:56] Wajeed-msft opened #3511 "[Microsoft Teams Desktop][Accessibility - Usability] [MS Teams Adaptive card Multi select UX different in pop out app to normal app]"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5226

**Details from original post:**
# Platform

- MS Teams Desktop

# Author or host

Host - Adaptive card on MS Teams looks different from normal to pop out app

# Version

Adaptive card 1.0

# Details

MS Teams Adaptive card Multi-select UX different in pop out app to normal app. Same adaptive card designed using adapticard.io

[2021-05-28 08:33] christianpilz commented on #3505
I think I found the solution, the "+" sign needs to be encoded as "%2b" in the URL to make it visible and format the number as expected.

[2021-05-28 09:13] Wajeed-msft commented on #3349
Thanks @npherson. @SurbhiGupta12 could you please help with this request?

[2021-05-28 10:42] Ravindra-MSFT commented on #3509
Hi @prejedj I will repro at my end and get back soon.

[2021-05-28 10:49] Mamatha-MSFT commented on #3508
Hi @Andrewhoddie Taking this for internal discussion with team and will get back to you.

[2021-05-28 11:41] Chetana-MSFT commented on #3511
Hi @prasanthrpadharthi I am not able to repro the issue, so could you please share Adaptive card JSON file to look back in to the issue.

[2021-05-28 12:51] Sridevi-MSFT commented on #3434
@Choongkyu - Please share your recording video to this microsoftteamsdev@microsoft.com.

[2021-05-28 12:59] Nikitha-MSFT commented on #3348
We are checking internally get back to you soon

[2021-05-28 13:17] Nikitha-MSFT commented on #3507
We are checking the issue, we will get back to you soon

[2021-05-28 13:21] Mamatha-MSFT commented on #3508
@Andrewhoddie - Currently version 1.3 is not supported in teams. The engineering team is working on this feature and we don't have any ETA to share with you.

[2021-05-28 14:17] RajdeepRay0411 commented on #3180
Hi @Nikitha-MSFT, can you please let me know the status of the issue. As this is a big issue escalated from our client side, we need to update them as soon as possible.

[2021-05-28 20:30] Choongkyu commented on #3434
@Sridevi-MSFT thank you. I just sent an email.

[2021-05-28 22:32] funnyletter commented on #2577
We're also having this problem at my workplace, is there a way to resolve it?

Thanks!

[2021-05-28 22:41] Choongkyu commented on #3434
I also checked the website and it appears as if this page has been removed: https://github.com/MicrosoftDocs/msteams-docs/blob/master/msteams-platform/build-your-first-app/build-and-run.md

[2021-05-30 12:18] shail4wrs commented on #3164
update please

[2021-05-30 13:00] #3218 closed

[2021-05-30 19:00] #3346 closed

[2021-05-30 19:00] #3295 closed

[2021-05-31 05:45] Mandy-Lf opened #3516 "Action.OpenUrl cannot work when showing Adaptive Cards in Carousel format rendered in pop-out window"
Have several adaptive cards that contains ActionSet with Action.OpenUrl inside. In Teams, return these adaptive cards as a carousel. In normal windows, the Action.OpenUrl works as expected. If we open the chat in pop-out window, these Action.OpenUrl cannot work.
![image](https://user-images.githubusercontent.com/85094499/120145662-7866bc80-c216-11eb-9a58-b98b979ccf07.png)

[2021-05-31 06:02] Ravindra-MSFT commented on #3509
HI @prejedj I am able to repro the issue let me check this issue with our internal team, will be raising same as a bug once its confirmed.

[2021-05-31 06:48] Mamatha-MSFT commented on #3499
@BrendanAndrade - I will repro at my end and will get back to you.

[2021-05-31 07:14] #3508 closed

[2021-05-31 09:22] Ravindra-MSFT commented on #3509
HI @prejedj Hi @ we have raised a bug on this issue. Our engineering team will be soon working on it.

[2021-05-31 09:43] milandebuck opened #3519 "ShareToTeams script no option to share to person while this is mentioned in the docs."
Hi,

While creating a ShareToTeams button we noticed a discrepancy between the docs and the actual functionality.
In the docs it is clearly stated it can be used to share something directly with a person.
See [Create Share-to-Teams button](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/share-to-teams) first paragraph

While testing a ShareToTeams button we were on

[2021-05-31 10:53] Chetana-MSFT commented on #3497
Hi @vindevries  You need pass `ID` for input.text array please go through below example
[code]

[2021-05-31 11:07] #3498 closed

[2021-05-31 11:30] Mamatha-MSFT commented on #3499
@BrendanAndrade - I am able to repro the issue. In IOS teams channel, the task module is not fetching where as it's working in teams personal app. We will raise a bug for this issue and will inform you.

[2021-05-31 12:08] Chetana-MSFT commented on #3516
Hi @Mandy-Lf Could you please share the JSON which describes your Adaptive card, So that we can repro at our end.

[2021-05-31 12:40] vindevries commented on #3497
@Chetana-MSFT
As shown in issue microsoft/AdaptiveCards#5870 we tried that already and is has no effect.

[2021-05-31 13:04] Mamatha-MSFT commented on #3499
@BrendanAndrade - We have created a bug on this issue and concerned engineering team is working on it.

[2021-05-31 16:41] #3317 closed

[2021-05-31 16:44] Coderast opened #3522 "Does this way is correct and right to send and update messages of MS Teams Bot?"
I know about existence of Microsoft Graph, but Bot Framework looks like independent way. Does it actual or outdated and should use some Graph way for it? And should I use dynamic base uri for this api, like shown in [this article](https://docs.microsoft.com/en-us/previous-versions/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-3.0#base-uri), or we have

[2021-05-31 19:00] #3286 closed

[2021-05-31 19:00] #3230 closed

[2021-05-31 19:13] TobiasAT commented on #3390
@Nikitha-MSFT Thanks for the hint. 👍 I used Invoke-RestMethod which does not return a header. With Invoke-WebRequest I received the header and team guid. Closing the issue.

[2021-05-31 19:13] #3390 closed

[2021-05-31 23:45] 1411381 commented on #3500
Hi Ravindra , Thanks for checking.
Do you know when the fix for this bug will be completed?

[2021-06-01 01:32] Mandy-Lf commented on #3516
Here are three files for three adaptive cards in the uploaded zip file. Each card are wrapped in a attachment,
Here are sample codes we are using in C#
[code]
and then in TeamsActivityHandler sends the attachments in the format of `MessageFactory.Carousel(attachements)` via `ITurnContext.SendActivityAsync`.

Then in the chat, we can see that the action buttons in each card can not work.
[3516.zip]

[2021-06-01 04:24] RajdeepRay0411 commented on #3180
Hi @Nikitha-MSFT, I have already shared the manifest and waiting for some solution as I need to tell my client the same. Can you please look into the issue and help me out asap.

[2021-06-01 04:51] Ravindra-MSFT commented on #3500
Hi @1411381 The concerned engineering team is working on it. We don't have any ETA to share with you.

[2021-06-01 05:29] Ravindra-MSFT commented on #3519
Hi @milandebuck Thanks for reaching out to us. We are checking this issue internally and get back to you.

[2021-06-01 05:50] vikramjit-singh-chug opened #3524 "Title of the Design tabs page calls says Design for desktop and web, but it also has information for mobile"
Title of the Design tabs page calls says Design for desktop and web, but it also has information for mobile. Title should be more generic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd35a9c-c868-a7b9-825a-4be9419539d7
* Version Independent ID: 814c8be1-eae8-7316-8553-283ef07ffc09
* Content: [Designing your tab for

[2021-06-01 06:51] #3524 closed

[2021-06-01 09:16] Ravindra-MSFT commented on #3519
@milandebuck We are able to repro the issue with public version. We have raised a bug and our Engineering team will work on it.

[2021-06-01 09:27] Chetana-MSFT commented on #3497
@vindevries Can I know the IOS and MS teams version.

[2021-06-01 11:10] Chetana-MSFT commented on #3522
Hi @Coderast Thanks for reaching out us. We are looking into this issue and will get back to you.

[2021-06-01 13:23] Sridevi-MSFT commented on #3434
@Choongkyu - Could you please confirm are you able to to render https://localhost:3000/tab in browser. Meanwhile we will repro the sideloading an app issue and will get back to you.

[2021-06-01 14:16] chialiyun opened #3531 "Unable to receive channel message without mentioning bot"
I followed the documentation where I added the webApplicationInfo inside manifest.json to include RSC permissions. However, I still do not receive any message activity when the bot is not mentioned in the message.
[code]

Below is my code to echo the message:
[code]

I have checked against permissionGrant restful API (https://graph.microsoft.com/v1.0/groups/{groupid}/permissionGrants) and it inclu

[2021-06-01 14:41] fgarciachipi commented on #3497
@Chetana-MSFT I have the same problem that @vindevries
I detected the problem in the MS Teams version 3.7.0 (current version is 3.7.1 with the same issue)
iOS version: 14.4.2

[2021-06-01 15:29] vindevries commented on #3497
@Chetana-MSFT I'm using IOS 12.5.3 and Teams version 3.7.0

[2021-06-01 19:00] #3354 closed

[2021-06-01 20:04] michaelwechner opened #3533 "Adaptive cards as attachment"
See

"For some reason this is not documented very clearly, but what teams requires is for the "Card" to be created as an attachment, instead of just getting the response directly."

https://stackoverflow.com/questions/65849243/outgoing-webhook-what-is-the-format-of-the-response-message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-06-01 22:26] heath-hamilton commented on #3089
Per localization, "scaffolding" is an approved Spanish term. However, some translated docs pages may use "andamiaje."

[2021-06-02 07:00] #3490 closed

[2021-06-02 07:00] #3222 closed

[2021-06-02 07:03] 1411381 commented on #3500
Hi @Ravindra-MSFT  Thanks for the answer.
I'm waiting for it to be fixed.

[2021-06-02 07:14] Chetana-MSFT commented on #3522
Hi @Coderast Currently teams is providing only Proactive message type to send/update message to MS Teams Bot.
If you need further assistance, you can give an upvote to the corresponding [uservoice](https://microsoftteams.uservoice.com/) request.

[2021-06-02 08:03] zhouweiwei opened #3536 "Incoming webhook @mention not work"
#### Description

I send message  to incoming webhook with  Adaptive cards. but @mention not work .
I use json to send teams message.
but i have chinese chars in json. looks like this:
[code]

https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format?tabs=adaptive-md%2Cconnector-html#constructing-mentions

UserID is obtained through teams outgoing webhook.

[2021-06-02 08:06] Chetana-MSFT commented on #3516
Hi @Mandy-Lf,

Could you please try with this sample code in Bot.cs file
[code]

[2021-06-02 08:07] Jagadeesh-MSFT commented on #3262
Hi @CapinWinky, we have raised a bug for this and our internal team is working on it.

[2021-06-02 09:05] Mandy-Lf commented on #3516
It seems that we are using the similar code.
We are using `MessageFactory.Carousel(attachements) `, and you suggest
[code]
 Should they be the same?

Also for creating adaptive card, the sample code uses the following
[code]
What we are using now is
[code]
I didn't see any difference between my existing code vs your suggestions. Also this issue only occurs on the Teams Windows Desktop pop-out wind

[2021-06-02 10:34] Nikitha-MSFT commented on #3533
Thank you for reporting the issue. The document Team will be followup and update the document.

[2021-06-02 10:38] Jagadeesh-MSFT commented on #3531
Hi @chialiyun, we are working on it, will we update you soon.

[2021-06-02 10:55] michaelwechner commented on #3533
great, thanks!

Am 02.06.21 um 12:34 schrieb Nikitha-MSFT:

[2021-06-02 10:58] #3035 closed

[2021-06-02 11:13] Chetana-MSFT commented on #3516
@Mandy-Lf, Could you please share your `Bot.cs `file. so, that we will repro with your code and get back to you.

[2021-06-02 12:54] Nikitha-MSFT commented on #3507
Are you trying to install the application to teams could you please check [Install and run your app locally](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-code-overview#install-and-run-your-app-locally)?

[2021-06-02 13:02] Nikitha-MSFT commented on #3510
This is a known issue, as an alternative please specify certain dimensions for images. (BTW, "large" image isn't only defined by file size, but also defined by dimensions. 2048x2048 is way larger than suggested image size. Please keep it under 1024x1024 that may also mitigate this issue):
**Example:**
{
  "type": "AdaptiveCard",
  "version": "1.2",
  "$schema": "http://adaptivecards.io/schemas/ada

[2021-06-02 22:05] clearab commented on #3250
Following up on this issue - the call to getMember is made if the Teams channel sends an incomplete teamsChannelAccount object in the members array in the initial payload. Teams was sending the correct payload for some time (I believe), and this method functionality in the SDK was essentially never getting called (the expected behavior).

This leaves a couple of open questions:

1. Does the conver

[2021-06-03 02:08] Nikitha-MSFT commented on #3124
Bug is Resolved now, we have tested this at our end,Hence, we are closing this question for now. If you still face any issue please feel free to reopen the issue

[2021-06-03 02:08] #3124 closed

[2021-06-03 02:22] aimskl commented on #3124
@Nikitha-MSFT are you serious? The matter is not resolved on our end. We don't see any fix, nor any update in the public app store. Why would you close a ticket before verifying with the client whether or not they have received the fix and that it works on their side?

Yet another example of rather tone-deaf Microsoft and customer communications. Just to get you guys to pay some attention to me he

[2021-06-03 05:19] nickshen33 commented on #3305
Hi Jagadeesh,

Any update on this? Thanks in advance!

[2021-06-03 05:26] Mamatha-MSFT commented on #3536
Hi @zhouweiwei -  The @mention for adaptive card will works only when you send the card from bot. Because the ms teams object will only work in bots not in incoming webhooks.
we recommend you to raise a Teams UserVoice [here ](https://microsoftteams.uservoice.com/)if this needs to be consider as a future request.

[2021-06-03 05:32] Jagadeesh-MSFT commented on #3305
Hi @nickshen33, we have raised a bug for this, concern team is working on this.

[2021-06-03 05:59] Nikitha-MSFT commented on #3469
Thank you for Reporting the issue. Added the required doc labels, the Tech writing team will be followup.

[2021-06-03 06:07] Chetana-MSFT commented on #3497
Hi @vindevries I am able to repro the issue. I have raised a bug at our end. Our engineering team will work on it.

[2021-06-03 06:28] Chetana-MSFT commented on #3511
@prasanthrpadharthi Could you please confirm that your issue got resolved.

[2021-06-03 06:38] Jagadeesh-MSFT commented on #3353
Hi @Hahkarthick, Microsoft will always focus on customer’s feedback and experience, some new features would be added to the services based on customers' feedback in the future, we also recommend you give your new idea in Teams [UserVoice](https://microsoftteams.uservoice.com/).

[2021-06-03 09:13] Jagadeesh-MSFT commented on #3353
We are closing this issue for now, If you still face any issue please feel free to reopen the issue.

[2021-06-03 09:13] #3353 closed

[2021-06-03 10:12] koen-vissers opened #3541 "Context.EntityId not populated in MS Teams webclient"
We have developed a custom tab in Microsoft Teams. Since a couple of weeks we're getting a complaints that the content on the Custom Tab is unable to load. Researching the issue, we see it is caused by the Context.EntityId being null/empty in Microsoft Teams **webclient**.

In desktop client, iOS/Android Teams App the Custom Tab works fine. The Custom Tab was working in webclient before.

(Could t

[2021-06-03 11:03] MacroMan opened #3543 "File download save dialog no longer shows"
Since a recent update to desktop teams, I no longer see a save dialog when downloading files and the files automatically save in the Downloads directory.

I don't see any settings to be able to change the behaviour, so unsure if this is now the intended behaviour.
If deliberate, this is a feature regression and my entire team is now frustrated with teams.

My team uses a mix of Ubuntu and MacOS

[2021-06-03 14:28] Sridevi-MSFT commented on #3434
@Choongkyu - Could you please update your Teams Toolkit to latest version and follow this updated [documentation ](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/first-app-bot?tabs=vscode)for your reference.

[2021-06-03 14:44] Mamatha-MSFT commented on #2945
Hi @adoronin  - We have added this to our backlog bug. We will inform you once it's resolved.

[2021-06-03 14:50] Mamatha-MSFT commented on #3541
Hi @koen-vissers - Thanks for bringing up this issue. I will repro at my end will get back to you.

[2021-06-03 16:07] Coderast commented on #3522
@Chetana-MSFT did I get it right, that proactive message is about sending POST requests to https://{base_url}/v3/conversations/{conversationId}/activities, [like in this doc](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-send-and-receive-messages?view=azure-bot-service-4.0#send-message)?

[2021-06-03 19:30] kevin-secrist opened #3551 "Missing Documentation on Outgoing Webhook Response Format"
The example response in this document is very helpful for getting starting with a basic outgoing webhook. However, the document also mentions the different types of cards and actions that may go along with the response, but does not specifically state how to format the response in order to utilize those cards.

Another difficulty is that if you try to specify a more complicated response and do not

[2021-06-03 20:32] Wajeed-msft opened #3553 "Action.OpenUrl not working in Teams meeting chat for guest users"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5940

**Details from original post:**
If a person is logged into the Teams tenant with a guest user (Microsoft account or out of tenant Office 365 account ) and click a button in an Adaptive Card with an Action.OpenURL in a meeting chat, they get a strange error message: "This card action is not supported by . " It seems Action.Ope

[2021-06-04 02:52] clearab opened #3556 "Messaging extensions: Missing Input.ChoiceSet options in adaptive card"
Migrating this issue: https://github.com/microsoft/botbuilder-js/issues/3169#

Original internal bug is here: https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1437562?tracking_data=ew0KICAic291cmNlIjogIkF6dXJlRGV2T3BzVGVhbXNBcHAiLA0KICAic291cmNlX2V2ZW50X25hbWUiOiBudWxsDQp9

[2021-06-04 04:14] #3469 closed

[2021-06-04 04:25] Jagadeesh-MSFT commented on #3302
Hi @GauravES, If we send message using graph API, it will be shown sender as an user not a bot. So if you want bot as a sender we have to use [send proactive messaging](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp&preserve-view=true), currently we don't have any alternative way to send 1:1 message from bot.

[2021-06-04 05:22] laurentkempe opened #3559 "Add capabilities"
Hi,

The doc states as the step 5 of [Set up a new Teams project](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#set-up-a-new-teams-project)

    A pop-up window labeled Add Capabilities will allow you to choose one or more capabilities for your project setup.

I installed Teams Toolkit 0.1.44.25044 for Visual Studio and I don't see such a popup.

How can I

[2021-06-04 05:24] laurentkempe opened #3560 "Configuration steps"
Hi,

On step 1 of [Configuration steps](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#configuration-steps) there is a mention of "Microsoft Teams Toolkit landing page". Where can I find this? It is not obvious for people trying this for the first time, like me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-04 05:33] Wajeed-msft opened #3561 "Unstable error "BadGateway" at sending activities"
Copied from:  https://github.com/microsoft/botframework-sdk/issues/6302
Raised by: @WhiteCyClop

**Description:**
A few weeks ago I noticed that sometimes my bot throws an error "Microsoft.Bot.Schema.ErrorResponseException: Operation returned an invalid status code 'BadGateway'" when it tried to send activity to user. This is the stack of error:

[code]
The strangest thing is unstable behavior of

[2021-06-04 07:06] NicolasMCAG opened #3565 "Configurable properties not working"
Hi,

I'm testing the configurable properties for Teams apps on my dev tenant, and it seems the feature is not working.

I tried uploading to the Teams admin center a simple app manifest using schema 1.10 without configurable properties, and it gets uploaded without problems. If I take the same manifest, add the configurable properties section, and increase the app version number, the upload fails,

[2021-06-04 07:12] Mamatha-MSFT commented on #3553
Hi @figgsoftware - I have reproduced the same scenario by creating a meeting and added a guest user to that meeting. When guest user clicks on adaptive card Action.openUrl button in teams meeting chat and it's working fine as expected on Teams web and desktop client.

[2021-06-04 07:17] Sridevi-MSFT commented on #3559
@laurentkempe - I have tried to set up a new Teams project following the steps provided in documentation with Teams Toolkit version 0.1.44.25044 and able to see a pop up to Add Capabilities. So, after step#4 click on **create** button to get  Add Capabilities popup.

[2021-06-04 07:25] figgsoftware commented on #3553
Great @Mamatha-MSFT ! Let us know if you need any info from our side.

[2021-06-04 07:30] Mamatha-MSFT commented on #3553
@figgsoftware - The context from my above comment is that I am unable to repro the issue. It's working completely fine at our end.
Could you please share your adaptive card json and also share your teams client details.

[2021-06-04 08:25] Mamatha-MSFT commented on #3541
Hi @koen-vissers  - I am unable to repro the issue. I am able to get the value of context.entityId on Teams web client. Could you please explain when exactly are you getting this issue.

[2021-06-04 10:08] Mamatha-MSFT commented on #3536
we are closing this issue from our end and you can re open if you have further queries.

[2021-06-04 10:08] #3536 closed

[2021-06-04 10:18] laurentkempe commented on #3559
@Sridevi-MSFT This is the experience I am having! I am on Microsoft Visual Studio Professional 2019
Version 16.10.0. I run Repair of VS from the installer and I still have the same problem, I don't see the pop-up window labeled Add Capabilities.

https://user-images.githubusercontent.com/272612/120786718-d8b77000-c52e-11eb-86cd-c97135020a28.mp4

[2021-06-04 10:33] #3543 closed

[2021-06-04 11:00] Mamatha-MSFT commented on #3560
Hi @laurentkempe  - After [Teams Toolkit installation ](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#install-the-teams-toolkit) the Teams toolkit Icon will be added to the activity bar as shown in below image. Click on that icon to get  Microsoft Teams Toolkit landing page

![image](https://user-images.githubusercontent.com/78795357/120787816-61450900-c54

[2021-06-04 11:07] Ravindra-MSFT commented on #3556
HI @rmincheva Issue got resolved from our end. Please let us know if you face any issues.

[2021-06-04 11:48] Chetana-MSFT commented on #3522
@Coderast Please go through the [example](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=json#samples) post request to send proactive message.

[2021-06-04 12:14] laurentkempe commented on #3560
Hi @Mamatha-MSFT
The link I gave and that you link back with "[Teams Toolkit installation](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#install-the-teams-toolkit)" is about Visual Studio. The screenshot you linked is about Visual Studio Code. I am working with Visual Studio not Visual Studio Code. So, in Visual Studio where is the "Microsoft Teams Toolkit

[2021-06-04 12:27] Nikitha-MSFT commented on #3565
We are checking the manifest and trying to repro at our end we will get back to you.

[2021-06-04 13:20] Mamatha-MSFT commented on #3560
Hi @laurentkempe After installing [Microsoft Teams App](https://marketplace.visualstudio.com/items?itemName=TeamsDevApp.vsteamstemplate) and [Teams Toolkit](https://marketplace.visualstudio.com/items?itemName=msft-vsteamstoolkit.vsteamstoolkit) from market place.

- Open visual studio --> click on create a new project --> select Microsoft Teams app with quick start tool as shown in below image.

!

[2021-06-04 14:39] Sridevi-MSFT commented on #3551
@kevin-secrist - Could you please check this [sample ](https://github.com/OfficeDev/Microsoft-Teams-Samples/blob/main/samples/outgoing-webhook/csharp/WebhookSampleBot/Models/SampleResponseProvider.cs) for different cards for response. Please make sure to append /api/sample to content URL while creating outgoing webhook.

[2021-06-04 15:33] kevin-secrist commented on #3551
Hi @Sridevi-MSFT, before making this issue I had come across that link in the SO post. It was not very helpful to me and I wouldn't classify it as a sample response. It also assumes you're using the `AdaptiveCards` and `Microsoft.Bot.Builder` C# packages which isn't helpful for someone who is crafting the response from scratch using the same or another language. The nodejs sample from that same re

[2021-06-04 15:39] laurentkempe commented on #3560
Hi @Mamatha-MSFT

Ok I see the landing page now.
The documentation "[Install the Teams Toolkit](https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/visual-studio-overview#install-the-teams-toolkit)" mention the following

    The Microsoft Teams Toolkit for Visual Studio is available for download from the Visual Studio Marketplace or directly from the Extensions menu within Visual Stu

[2021-06-04 15:49] erniukas86 commented on #3541
Hi @Mamatha-MSFT, we are getting context using this function: microsoftTeams.getContext(), then we extracting context object and saving entityId to the session, but entityId appears to be null when using Teams from the browser (used Edge). When we are using it as a desktop app it works ok.

[2021-06-04 15:58] SubbaReddi opened #3566 "Stage View - Is it available in Public dev preview?"
Dev preview is enabled. Tried to open stage view using deep link and with adaptive card action.openURL, but the tab which opens is showing blank.
Is it available in Public dev preview?

[2021-06-04 19:05] TBara commented on #3507
I create a new project as shown in the "install and run your app locally" link above. The new project contains manifest.source.json, but no manifest.json. I copied the first file and renamed it to manifest.json and pressed F5 to run it. I get an error stating that gulp.js module could not be found. It's looking for this path which does not exist. There is also no node_modules folder created when n

[2021-06-04 19:10] nastassiar opened #3567 "Are Action.Http and Action.Execute support for Adaptive Card from Incoming Webhooks?"
Action.Execute was recently added for Adaptive cards is it supported?

There is also a not on the page that says:

" All native adaptive card schema elements, except Action.Submit, are fully supported.

The supported Actions are Action.OpenURL, Action.ShowCard, and Action.ToggleVisibility"

This makes it unclear whether or not Action.Http is supported

---
#### Document Details

⚠ *Do not edit thi

[2021-06-04 20:31] nastassiar opened #3568 "Are mentions limited to users?"
In the documentation everything to do with mentions just references users. Is it possible to @ mention  a group or channel? And if so how do you differentiate between which items in the mentions are users and which are groups or channels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31b49dc-2890-fbb9-1b30-a3f93469d1

[2021-06-04 20:38] Coderast opened #3569 "Why I should use SDK in Bot authorisation flow"
I want to implement authorisation flow for MS Teams Bot and see that I should use MS Teams SDK for it (initialise and notifySuccess methods). But what is reason to do it if I will start auth flow in new tab, but not in pop-up like for tabs flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1ce448-e51e-73db-ba9a-53f

[2021-06-05 10:14] Sridevi-MSFT commented on #3559
@laurentkempe - Seems like you are not using teams toolkit to create a new Teams Project. While creating new project please select Microsoft Teams App with quickstart tool as shown in below image.

![image](https://user-images.githubusercontent.com/80752198/120888239-d4658280-c614-11eb-9f06-fedd78be9481.png)

[2021-06-05 10:26] laurentkempe commented on #3559
Thanks @Sridevi-MSFT
As I wrote on #3560, it is [hard to follow the instructions](https://github.com/MicrosoftDocs/msteams-docs/issues/3560#issuecomment-854822697)

[2021-06-05 15:54] FloJ12 commented on #3221
![Screenshot_20210526-080831_Teams](https://user-images.githubusercontent.com/5287213/120897536-01229580-c627-11eb-957e-3304700ef56c.jpg)
![Screenshot_20210526-080854_Teams](https://user-images.githubusercontent.com/5287213/120897539-054eb300-c627-11eb-958e-7f35f9c04205.jpg)

[2021-06-07 00:22] Nikitha-MSFT commented on #460
Document is updated: [Integrating the configuration experience](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-creating#integrating-the-configuration-experience).

[2021-06-07 00:22] #460 closed

[2021-06-07 00:30] Nikitha-MSFT commented on #1158
@LalitAgrawala004 - If you are still facing the issue, please feel free to reopen the issue. Closing the issue as of now.

[2021-06-07 00:30] #1158 closed

[2021-06-07 00:37] Nikitha-MSFT commented on #1167
@radicalapps -Are you still facing the issue? if yes, please feel free to reopen the issue.

[2021-06-07 00:37] #1167 closed

[2021-06-07 00:41] Nikitha-MSFT commented on #1231
@MagtheRag -Are you still facing the issue?if yes, please free to reopen the issue

[2021-06-07 00:41] #1231 closed

[2021-06-07 00:47] Nikitha-MSFT commented on #1276
Could you please follow the guide here to [Send Messages to Connectors and Webhooks](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using). If you are still facing the issue please feel free to reopen the issue.

[2021-06-07 00:47] #1276 closed

[2021-06-07 01:08] #1595 closed

[2021-06-07 01:18] Nikitha-MSFT commented on #1667
@dchathu - If you are still facing the issue, please feel free to reopen the issue

[2021-06-07 01:18] #1667 closed

[2021-06-07 01:19] #1702 closed

[2021-06-07 01:25] #1790 closed

[2021-06-07 01:29] #1862 closed

[2021-06-07 06:19] endiom opened #3571 "HTTP error 400"
"INCstring(215) "Webhook message delivery failed with error: Microsoft Teams endpoint returned HTTP error 400 with ContextId tcid=0,server=msgapi-production-wuk-azsc6-1-44,cv=Bsl8E+rFTkyPhteKHUmpOQ.0,MS-CV=Bsl8E+rFTkyPhteKHUmpOQ.0.."

loading data from json as $str to an ActionCard

 "sections": [
    {
      "activityTitle": "text",
       "facts": $str,
       "text": $text
    }

Once the recor

[2021-06-07 06:43] Nikitha-MSFT commented on #3348
Content bubble refer to the same, which will invoke a [dialog box](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/design/designing-apps-in-meetings?tabs=desktop#use-an-in-meeting-dialog) using [NotificationSignal API](https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/create-apps-for-teams-meetings?view=msteams-client-js-latest&tabs=dot

[2021-06-07 07:00] Mamatha-MSFT commented on #3541
@erniukas86 - Could you please share the Microsoft teams version details, SDK version and device details(windows or MAC).

[2021-06-07 08:09] radicalapps commented on #1167
This issue was apparently closed with no investigation and no action. It was not a transient issues, so surely it's not correct to close.

[2021-06-07 08:52] Mamatha-MSFT commented on #3568
Hi @nastassiar - Currently from bot  you can only @mention user.  If you want to @mention the channel or team you need to do it manually.

[2021-06-07 08:59] Sridevi-MSFT commented on #3567
@nastassiar - Thanks for reaching out to us. Let us check this at our end and will get back to you.

[2021-06-07 09:48] figgsoftware commented on #3553
@Mamatha-MSFT  The strange thing is that we can no longer repro it either :) I guess a fix have been rolled out...

[2021-06-07 10:49] Mamatha-MSFT commented on #3553
@figgsoftware - Good to hear that issue is resolved. Thanks for confirming on the same with us.

[2021-06-07 10:49] #3553 closed

[2021-06-07 10:56] aimskl commented on #3124
@Wajeed-msft @Nikitha-MSFT @Trinetra-MSFT

I can confirm that our team received the updated Teams app from the iOS store today and the issue mentioned above is now resolved on our end. We will go ahead and disable the testing storage accounts used to demonstrate the above.

Thank you to all who helped to get this fixed and turned around. Much appreciated.

[2021-06-07 11:32] #3559 closed

[2021-06-07 11:52] Nikitha-MSFT commented on #3221
We are checking with internal team, get back to you soon.

[2021-06-07 12:03] Nikitha-MSFT commented on #3409
This is a known issue, there is a bug, we are tracking it internally. We don't have ETA to share when it will be fixed.

[2021-06-07 12:28] Nikitha-MSFT commented on #3566
We are able to repro the issue at our end. Raised a bug

[2021-06-07 13:29] Ravindra-MSFT commented on #3571
HI @endiom Could you please provide JSON file. So that I can repro from my end and come back to you.

[2021-06-07 14:12] Ravindra-MSFT commented on #3569
HI @Coderast We can also authorize the user in the new tab with out using any SDK in the authorization flow but, we cannot retrieve the user details from the tab context, whereas if we authorize the user through SDK we can get users details in tab context using microsoftteams.getcontext which will be used to get some access from user. Please go through the [documentation](https://docs.microsoft.co

[2021-06-07 14:56] maksokami opened #3574 "Teams contacts - GUI for adding people into Contacts groups is broken"
Since the last update in our org Teams GUI of adding contacts to groups has been broken.
When you click on Contacts, select a group and click "Add a contact to this group" the dialog appears. Previously people list appeared right under the dialog search input field as you start typing. As of the update the list of people now appears in the bottom right corner, so far that a vertical scroll bar is

[2021-06-07 15:01] endiom commented on #3571
[imooc.txt](https://github.com/MicrosoftDocs/msteams-docs/files/6610019/imooc.txt)
Could not upload .json so rename to *.txt

64"INCstring(215) "Webhook message delivery failed with error: Microsoft Teams endpoint returned HTTP error 400 with ContextId tcid=0,server=msgapi-production-wuk-azsc6-2-34,cv=YLGCG9x1ZECkceTLTHjMPA.0,MS-CV=YLGCG9x1ZECkceTLTHjMPA.0.."

If I deleted some records, make it le

[2021-06-07 15:51] MatteoPini1973 opened #3575 "Outlook Calendar Time Marker Line Turned into Black Half Circle"
Please provide a fix on the Client Outlook 2019 to have the chance to change the apparence of time marker line as in teams or outlook online. Actualy a single bar in the week view is confusing

[2021-06-07 16:41] MatteoPini1973 commented on #3575
The problem is related on how time marker line appear on Outlook 2019 desktop application. Actually looks like Black Half Circle on the first day of the week and like a line during the week.
We ask to fix  time marker line apparence in the client application like it appear on online application of the calendar in outlook or teams.

[2021-06-07 17:57] Wajeed-msft commented on #3250
@martinlarosa - we are checking internally if there was any recent change in payload which is causing this. I'll keep this thread updated with latest information.

[2021-06-07 22:22] heath-hamilton commented on #3565
@NicolasMCAG, this may be a manifest issue. We recently discovered an error in the [docs that has been fixed](https://docs.microsoft.com/microsoftteams/platform/resources/schema/manifest-schema#configurableproperties): Instead of `websiteUrl`, which you have in your manifest, you need the `developerUrl` property. Please let us know if this solves the issue.
![image](https://user-images.githubuserc

[2021-06-08 03:51] Nikitha-MSFT commented on #3063
Are you running fiddler in the back-end? Could you please conform?

[2021-06-08 04:06] #3531 closed

[2021-06-08 04:11] Nikitha-MSFT commented on #3221
Could you please file a ticket at https://aka.ms/edusupport?

[2021-06-08 04:11] #3221 closed

[2021-06-08 04:17] abdulkareemnalband commented on #3063
No fiddler, proxy or vpn
I'm running it on directly

[2021-06-08 06:50] Ravindra-MSFT commented on #3571
Hi @endiom There is a Limit of conversation size in Teams Channel. Make sure that you can send a card size not more than 28KB approximately. You can also go through the [docs](https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams#teams-and-channels) of limitation for you reference

![image](https://user-images.githubusercontent.com/84447722/121136959-d9fcdb80-c853-11eb-9974-a

[2021-06-08 07:03] NicolasMCAG commented on #3565
Hi @heath-hamilton,

I tried changing the property you mention, and still no luck. I also tried removing all the properties except **name**, and still doesn't work.

Here are the manifests I tried...
[Manifests with configurable properties.zip](https://github.com/MicrosoftDocs/msteams-docs/files/6614129/Manifests.with.configurable.properties.zip)

For the record, before uploading the customizable

[2021-06-08 07:24] Nikitha-MSFT commented on #3063
The renewalTimeout error is returned from our auth stack. could you please share some Teams logs showing this error being returned so we can investigate further. Also, we have noticed that WAM and Fiddler don’t get along so when you’re running Fiddled the getAuthToken calls fail with renewalTimeout error

[2021-06-08 07:45] #1468 closed

[2021-06-08 09:33] Chetana-MSFT commented on #3516
Hi @Mandy-Lf  This issue got fixed in this [PR](https://domoreexp.visualstudio.com/Teamspace/_git/teams-modular-packages/pullrequest/347412) it will be available in R4/preview mode as soon as possible. Currently I am closing this bug, you can reopen if you are facing any issues.

[2021-06-08 09:33] #3516 closed

[2021-06-08 11:13] Jagadeesh-MSFT commented on #3574
Hi @maksokami, we are working on it , will update you soon.

[2021-06-08 12:21] tchapeaux opened #3588 "Device Permissions: allow requesting clipboard permission"
As an app developer, I would like my Tab app to be able to write to the user's clipboard. This does not seem possible currently.

Technically, this would be supported by the browser [Permissions Policy](https://w3c.github.io/webappsec-permissions-policy/), by adding an option to the `allow` attribute of the embedded `iframe`.
https://web.dev/async-clipboard/#permissions-policy-integration

I would

[2021-06-08 12:41] endiom commented on #3571
noted and thanks.
btw the post size should be extended as html, css, or rich text that are literally count.
Hope we can reach to that point in future.

[2021-06-08 12:41] #3571 closed

[2021-06-08 17:43] GauravES commented on #3302
The documentation leads up to steps to install the app, with a goal that the bot should be able to send  a message to the user who has previously not installed the app.   It then shows steps to  retrieve chatid, but it is really not usable then as this path (retrieval of chat id)  does not solve the issue of a bot sending a message to a new user.   The member added event is a hit or miss and can b

[2021-06-08 18:12] Nikitha-MSFT commented on #3038
We have Raised a bug. We don't have ETA to share when it will be fixed.

[2021-06-08 18:17] Nikitha-MSFT commented on #3291
Is your personal tab is Iframable? Currently teams support only Iframable pages. Could you please conform?

[2021-06-08 18:23] clearab commented on #3568
What does manually mean in this context?

[2021-06-08 18:24] Kristoffer88 commented on #3291
Hi.

Is it a setting in teams? I am not sure i understand your question

My example is just a Azure Web App with App Service Authentication / Authorization turned on. With always authenticate on. There is no custom code added to the web app. I do not get redirected to the login screen, as i should with always authenticate on.

[2021-06-08 18:30] Nikitha-MSFT commented on #3302
To send a proactive message to user the bot requires the conversation reference. The conversation can be only retrieved when bot installed. Without conversation reference you cannot send a proactive message using bot. You can use [Send message in a chat](https://docs.microsoft.com/en-us/graph/api/chat-post-messages?view=graph-rest-1.0&tabs=http) API to send message to chat with delegated permissio

[2021-06-08 19:00] #3180 closed

[2021-06-08 19:03] Coderast opened #3590 "Can I rely to Azure user's ids for mapping and provisioning?"
I see that in [this page](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-messages?tabs=json#receive-a-message) I can receive `from.aadObjectId` and `channelData.tenant.id`. Will I receive these ids **always** if user authenticated in MS Teams and messaging with bot? Can I use it to map MS Teams user with inner representation of user?

---
#### Docum

[2021-06-08 20:14] Jagadeesh-MSFT commented on #3519
The people and group chats selector wasn't yet enabled in R4 when this bug was opened. It has since then been enabled and the functionality should now be available for all users worldwide:
![image](https://user-images.githubusercontent.com/73812940/121251041-0fd9a880-c8c4-11eb-98b5-9bec08334c7d.png)

For now we are closing this issue, feel free to reopen the bug if you are still facing the issue.

[2021-06-09 00:03] heath-hamilton commented on #3565
Hi @NicolasMCAG, how are you publishing your app? You can only test this feature with apps published to the Teams store (or AppSource). You can't test this feature by sideloading or publishing to a tenant's app catalog.

[2021-06-09 05:52] Ravindra-MSFT commented on #3590
HI @Coderast Yes `aadObjectId` and `channelData.tenant.id` will get always when user authorize the bot. And could you explain what exactly inner representation of user?

[2021-06-09 07:04] NicolasMCAG commented on #3565
Hi @heath-hamilton,

Thank you for your answer, indeed I'm sideloading the app, so that solves the mystery.

Can you give me some insight if this feature being available for sideloaded apps in the near future?

[2021-06-09 08:28] santhoshkr047 commented on #3178
I also had this same issue when I tried to install a custom app in MSFT teams. In my case, I was able to fix it by adding the MSFT teams channel in Azure portal under the bot service channels section.

[2021-06-09 08:36] Coderast commented on #3590
@Ravindra-MSFT I have some user entity in my internal system and I want to match MS Teams user with user in internal system.

[2021-06-09 09:41] Ravindra-MSFT commented on #3590
@Coderast Yes, you can map Internal system  user entity with MS Teams user.

[2021-06-09 09:55] Mamatha-MSFT commented on #3568
@clearab -  You need to @mention team or channel name in Compose message area.

[2021-06-09 10:47] #3574 closed

[2021-06-09 12:38] Coderast opened #3593 "Authorization header in events from MS teams Bot"
How can I validate Authorization header value when receive events [such these](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet)? As I see I received Bearer JWT token, but how I can validate it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-09 12:40] Coderast commented on #3590
@Ravindra-MSFT thanks! This info helps me.

[2021-06-09 12:41] #3590 closed

[2021-06-09 12:43] Nikitha-MSFT commented on #3507
We are able to reproduce the issue at our end. Raised a bug

[2021-06-09 12:50] Sridevi-MSFT commented on #3588
@tchapeaux  - Thanks for your insights. Taking this for internal discussion with team and will get back to you.

[2021-06-09 13:03] manihere commented on #3490
Hello sorry for the delay, please find me on teams mapanwar@microsoft.com :)

[2021-06-09 14:11] Fradantim opened #3594 "Full width Adaptive card - Wrong image example?"
[Enter feedback here]
See [Sample adaptive card with full width](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format?tabs=adaptive-md%2Cconnector-html#sample-adaptive-card-with-full-width)

I may be seeing it wrong, but both example images seem to be the exact same, only resized. Shouldn't this property affect how adaptive cards are rendered in ms-tea

[2021-06-09 14:16] Kristoffer88 commented on #3291
This seems to be triggered by clearing of the teams cache. If i clear the cache, then restart teams, it seems to work fine. It is only the first load of the app, after clearing the cache, that is triggering the "bug"

[2021-06-09 16:50] slcwebguy commented on #1763
Hi, @Jagadeesh-MSFT. To be honest I'm not sure. I will see if I can recreate it and get back to you.

[2021-06-09 16:51] Nikitha-MSFT commented on #3593
Are you trying to validate the auth token? if yes could you please check [Validating tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens)?

[2021-06-09 18:02] heath-hamilton commented on #3565
Hi @NicolasMCAG, glad to help! I'm not aware of plans to support this feature with sideloaded apps. The idea is the app publisher can choose to simply allow their users to customize some basic aspects of the app. Users who then get the app from the store can configure these changes (for example, swapping out the icon) in the Teams admin center and test the changes in their own tenant.

Does this h

[2021-06-10 01:00] #3434 closed

[2021-06-10 05:15] Sridevi-MSFT commented on #3177
@vimil- We have raised a bug on this and it is being tracked internally.

[2021-06-10 06:47] Rajeshwari-v commented on #939
The required information is available in the content page - Search with messaging extensions - Teams, "Important" section.
![image](https://user-images.githubusercontent.com/70377537/121476593-7ce45f80-c9e4-11eb-8dfc-75ab0812b5b9.png)
Hence closing the issue.

[2021-06-10 06:47] #939 closed

[2021-06-10 07:23] Jagadeesh-MSFT commented on #3490
Thanks for reaching out us. According to your description, your issue is more related to Teams product, which we do not support. For issues related to teams product, please reach out to the Product support channels for Microsoft Teams. Thanks for your understanding and patience!

[2021-06-10 07:47] jeffwu85182 opened #3598 "Bot command list did not change after install new manifest."
Hi,

I have a question about modifying the bot command list in the manifest file.

Even I have removed some command that is no longer used; it's still displayed in the command list after installation.

I am not sure which parts are wrong or something I did not note.

Thanks,
Jeff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-06-10 08:14] marcinburak commented on #3178
I have a similar issue, in my case I can register the bot without problems when my AAD registered app has `"accessTokenAcceptedVersion": null` but after i change it to ` "accessTokenAcceptedVersion": 2` it starts to throw this "AddAppBotToChatRosterFailed" exception when I'm uploading the MS Teams manifest.

Maybe it's because the null/1 version uses different format of the audience claim than the

[2021-06-10 08:41] Nikitha-MSFT commented on #3598
We are not able to repro the issue at our end. Could you please try changing the app version also before installing new manifest please uninstall the previous instance of the application. Try if that helps.

[2021-06-10 08:57] jeffwu85182 commented on #3598
Could you provide more detail about that uninstall the previous instance of the application?
For uninstallation, I right-click the bot app and choose the uninstall option.

[2021-06-10 09:16] milandebuck commented on #3519
@Jagadeesh-MSFT  I am still able to reproduce this issue. Seems like it is not yet out there for all users.
![image](https://user-images.githubusercontent.com/17318991/121498966-3b03eb00-c9dd-11eb-925b-f7e20a84828c.png)

[2021-06-10 09:23] tegenterter commented on #3519
Doesn't work for me either ➕

[2021-06-10 09:25] KhrystynaHalak commented on #3519
The issue is still reproducible for me for both accounts that I've tried

[2021-06-10 09:35] andrei88c commented on #3519
Still reproduces, 2 different accounts
![Untitled](https://user-images.githubusercontent.com/4559333/121501891-50cadd80-c9e8-11eb-81aa-3f6b72b49f0a.png)
![Untitled 2png](https://user-images.githubusercontent.com/4559333/121501911-558f9180-c9e8-11eb-843d-df28c9255703.png)

[2021-06-10 10:07] Ravindra-MSFT commented on #3519
Hi we took this issue to our Engineering team we will let you know once issue is fixed.

[2021-06-10 10:19] Sridevi-MSFT commented on #3594
@Fradantim - Thanks for your insights. The documentation team will update the changes.

@v-abirade - Please update the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format?tabs=adaptive-md%2Cconnector-html#sample-adaptive-card-with-full-width) with following images.

A full width Adaptive Card appears as follows:

![Capture01](https://u

[2021-06-10 13:04] rpm192 opened #3601 "Lazy loading of files and folder breaks select all functionality"
#### Description

When the amount of folders or files in a Team exceeds the amount that are displayed on screen, the select all feature will not select those that are out of view. Attempting to download all the files within the folder will result in files missing in the zip file (those that were not displayed).

This is particularly annoying when wanting to quickly create a backup of a folder with

[2021-06-10 15:19] #3565 closed

[2021-06-10 19:00] #3556 closed

[2021-06-11 05:42] Jagadeesh-MSFT commented on #3499
Hi @BrendanAndrade - thanks for providing the above code. We have figured out the parity issue. This will be fixed soon. In the meantime to unblock yourself, you can either remove `turnContext.SendActivityAsync(reply)` from your `OnTeamsTaskModuleFetchAsync` function or use the synchronous version of `OnTeamsTaskModuleFetchAsync` function.

[2021-06-11 06:53] Nikitha-MSFT commented on #3598
Could you please try signin/signout?

[2021-06-11 06:54] NicolasMCAG commented on #3565
Hi @heath-hamilton,

In our case we are migrating some features from our product to Teams, and we are doing this using Teams apps.

Right now we are considering publishing our apps, but that is still far away for us, for the moment we rely on sideloading the apps, and of course, all of our customers want customized manifests. The way we split the features helps us have quite static manifests, exce

[2021-06-11 06:57] Ravindra-MSFT commented on #3601
HI @rpm192, Thanks for reaching out to us. We are checking internally we will get back soon.

[2021-06-11 07:02] Nikitha-MSFT commented on #2432
@ryfow - About which note you are talking  we don't see any note as you reporting- could you please specify more on the document.

[2021-06-11 07:05] jeffwu85182 commented on #3598
Yes, I have tried it, still no luck.

We create a bot app by App Studio on Teams, and we have a requirement that removes one of the commands in the bot command list. From my understanding, we only need to remove the command from the manifest file, then re-install the bot by click the install button in the `Test and Distribute` section. Is anything I missed?

[2021-06-11 07:28] erniukas86 commented on #3541
@Mamatha-MSFT i'm using Windows 10 and Edge Browser for teams.

There is my Microsoft edge version:

![image](https://user-images.githubusercontent.com/12614029/121647940-a0b8ab80-ca9f-11eb-9920-ecfb8e103e48.png)

Not sure what you mean by Microsoft teams version details since I'm using it from the browser, not a desktop app.

[2021-06-11 08:25] Sridevi-MSFT commented on #2675
Copy/paste from mouse working for both angular and react

[2021-06-11 08:46] Ravindra-MSFT commented on #3601
@rpm192 I am able to repro this issue, We have raised a bug for this issue, concerned engineering team is working on it.

[2021-06-11 08:50] WhiteCyClop commented on #3561
What exactly information do you need from author?

[2021-06-11 09:52] mp3qwer opened #3603 "Notifications disabled - still got mails"
I disabled ALL mail notifications but I still got mails for mentions of me or channels I'm in.

It worked for a while but now I got spammed again. How do I get rid of this unnecessary BS ????

I even get this useless junk after I already read this specific message. Therefore the notifications should not send at all

[2021-06-11 10:39] #3603 closed

[2021-06-11 12:05] MaxMeng1985 opened #3605 "Instruction is broken, don't know how to get the mainfest file for .net"
The instruction is broken in step 3 of section:
**Use App Studio to update the app package**

I couldn't find any mainfest file for .Net, and I don't know how to generate one using Visual Studio.  Therefore, I have nothing to import in step 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f98c73d-bb68-3088-6e7d-2c576

[2021-06-11 12:53] Mamatha-MSFT commented on #3605
Hi @MaxMeng1985 - First you need to download the samples as instructed [here ](https://docs.microsoft.com/en-us/microsoftteams/platform/tutorials/get-started-dotnet-app-studio#download-the-sample) in documentation. Example if you are trying this [hello world sample](https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/app-hello-world/csharp) you need to zip the [manifest folder](

[2021-06-11 12:59] oyvindam opened #3607 "Android Teams app: App Permissions missing"
Hi.

The menu for App Permissions is missing on thecurrent Teams-app on Android.
App-version: 1416/1.0.0.2021063702/0602
Android-version:  10

#3305 looks like the same exact problem , but for iOS in that case.

Following the docs on requesting permissions for apps on [Request device permissions for your Microsoft Teams app](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-

[2021-06-11 14:42] ryfow commented on #2432
@Nikitha-MSFT I'm looking at the final bullet point of this page: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/team-chat-member-api-changes

I want to know what the plan is for "must be made easier for bots to get an access token"?

[2021-06-11 19:58] adoronin commented on #2945
Hi @Mamatha-MSFT,
We're keeping our fingers crossed that the issue will be fixed soon. Thank you!

[2021-06-11 22:56] BrendanAndrade commented on #3499
@Jagadeesh-MSFT I'm not using those functions. I'm using the node sdk and extending the TeamsActivityHandler class.

The relevant code is just:
export default class MessageExtension extends TeamsActivityHandler {
    async handleTeamsTaskModuleFetch(context, action) {
        const card = **some card**:
        const task = {
                task: {
                    type: 'continue',

[2021-06-12 12:32] Sridevi-MSFT commented on #3567
@nastassiar - Action.Http feature only works for actionable messages(outlook) whereas Action.Execute is a new feature that can be used as a replacement for Action.Submit(currently used by Bots) and Action.Http. So, these two actions won't work for Incoming Webhook.

[2021-06-12 13:32] Githamza commented on #3038
I get same error also

[2021-06-12 13:32] Sridevi-MSFT commented on #3551
@kevin-secrist - The documentation team is working on this. You can track this from here.https://github.com/MicrosoftDocs/msteams-docs/issues/3533#event-4869168147

[2021-06-12 15:33] hkaur008 opened #3610 "Keypad in teams does No work on web"
I came across one issue that Microsoft teams keypad does no work in  Microsoft Teams Video Conferencing.
Why I tried to search about the use of it but could find any relevant material.
Can let me me if its a bug ?

[2021-06-12 15:38] hkaur008 opened #3611 "Side chat section is not responsive on sending Codes"
The side chat section is not responsive doesn't allow the user to resize to view code more clear on the screen while sending code in a video call. The size of the chat section width is fixed which makes code a bit difficult to read and reduces its readability
Let me know if the team requires an example on this :)
If it's opensource, I would like to contribute

[2021-06-12 16:27] ja-onereach commented on #3178
Thanks to @santhoshkr047 and @marcinburak for adding their observations here. The variety of potential causes of the same error underscores what I think is the real, critical issue here: this single error message encompasses too many possible actual underlying causes such that people have to guess their way to a solution instead of being pointed directly to it by the error message. Instead of seei

[2021-06-12 16:43] ja-onereach commented on #3178
In case it helps anyone else, here are the instructions we've been giving our customers that run into this:

The problem is most likely related to what Microsoft describe as “side-loading” apps, which seems to mean uploading the manifest instead of getting it from a marketplace, and the security and permissions settings that bear on that activity. Please go to https://admin.teams.microsoft.com and

[2021-06-13 05:53] #3594 closed

[2021-06-13 06:19] #941 closed

[2021-06-13 06:32] #3560 closed

[2021-06-13 06:37] #1907 closed

[2021-06-13 09:01] TejaReddy0226 opened #3613 "File downloading is getting failed in MS Teams Bot (Desktop and Web) using File consent card."
Bot Framework SDK 4.8.1

File downloading is failing in MS Teams Bot (Desktop and Web) whereas files are properly getting uploaded in Users OneDrive.

We are using a File Consent Card to upload the file in the User’s OneDrive. And once, the file is uploaded in OneDrive, Bot brings back the option to download the document locally in the MS Teams BOT. After clicking on 3 Dots > Download > it is show

[2021-06-13 19:00] #3511 closed

[2021-06-14 04:06] #3610 closed

[2021-06-14 04:44] EDMIStephen opened #3614 "When adding a users to chat and selecting "Don't include chat history" newly added users are able to see one message from the history"
This has huge privacy implications. I had 2 other users in a chat. Added 3 others selecting "Don't include chat history". The added users were able to see one message from me prior to adding them to the chat (It was made about an hour before with a few dozen messages from myself and the other 2 participants in between which were successfully hidden).

Here you can see the message I sent at 2.18pm.

[2021-06-14 07:30] #3614 closed

[2021-06-14 07:37] #3611 closed

[2021-06-14 07:41] Mamatha-MSFT commented on #3605
Hi @MaxMeng1985  - Please let us know if your issue has been resolved.

[2021-06-14 07:44] MaxMeng1985 commented on #3605
Hi Mamatha,
Thanks for the follow up, yes, I guess that would work.  Please consider to edit the document for the same, it might help the others.

[2021-06-14 08:49] Mamatha-MSFT commented on #3541
@erniukas86  - We are unable to repro the issue from our end. We are able to get the entityId from static tab and channel tab. Could you please explain where exactly you're trying to get `context.entityId` (like in [configuration page](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/configuration-page#example) or channel tab).

[2021-06-14 10:34] Sridevi-MSFT commented on #3245
@iComputer7 -Microsoft Team SDK have  microsoftTeams.registerBeforeUnloadHandler() method to use it in their tab content pages.

[2021-06-14 11:16] Mamatha-MSFT commented on #3607
Hi @oyvindam - Thanks for bringing up this issue. I am able to reproduce the issue. We will raise a bug and will inform you.

[2021-06-14 11:35] Chetana-MSFT commented on #3613
@TejaReddy0226 Thanks for bringing up this insights, Let us check this at our end and will get back to you.

[2021-06-14 12:21] Mamatha-MSFT commented on #3607
@oyvindam - I have created a bug for this issue and concerned engineering team is working on this.

[2021-06-14 12:30] Mamatha-MSFT commented on #3605
@MaxMeng1985 - Thank you for the insights on the document. Our document team will work on it.

[2021-06-15 04:51] Nikitha-MSFT commented on #3593
@Coderast - Are you still facing the issue? if yes Could you please update.

[2021-06-15 07:53] Sridevi-MSFT commented on #3177
@vimil -We are  not able to repro with your payload when clicking on Approve button.
Could you please check if the back end service is throwing any errors? Please confirm how the HTTP post is made in your backend or Fiddler capture with the service running locally?

[2021-06-15 10:46] Chetana-MSFT commented on #3613
Hi @TejaReddy0226 Could you please go through the [sample](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/56.teams-file-upload/Bots/TeamsFileUploadBot.cs) That shows the entire flow, including creating the download card in the `FileUploadCompletedAsync` method.

[2021-06-15 10:58] NewFuture opened #3632 "check device permission in client"
When disabled the permission in the client for a  test app. the check permission status is still `granted`.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19804dba-009f-2eb1-cc7f-1e0fabbebb6b
* Version Independent ID: a9373e78-b3c9-7182-d253-5ac8d8988936
* Content: [Request device permissions for your Microsoft T

[2021-06-15 10:59] Jagadeesh-MSFT commented on #3038
Hi @Githamza , did you tried with the above code which subbareddy has provided.

[2021-06-15 13:00] #3348 closed

[2021-06-15 13:18] truezanuda opened #3633 "Duplicates"
Second paragraph in "[Send the message](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet#send-the-message)" section is a complete duplicate of last sentence in the first one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd

[2021-06-15 13:45] Lolzzs opened #3634 "Missing my status icon"
Hello, dear developers,
I would like to report bug in MS. My status picture was missing even after restart MS. I was unable to change my status during bussiness hours.
![image](https://user-images.githubusercontent.com/25302448/122063506-9fb1b200-cdf0-11eb-9548-85880f3f5a19.png)
![image](https://user-images.githubusercontent.com/25302448/122063573-ac360a80-cdf0-11eb-88f0-ec3caef1aa58.png)

[2021-06-15 19:00] #3568 closed

[2021-06-15 20:04] npherson opened #3638 "Contrary to this article App Studio is available in GCC"
App Studio released to GCC a long time ago. These kinds of quality issues in the platform docs have been a significant roadblock to achieving FY21 platform scorecard metrics. Anything that can be done to get the product group to review all the Teams Platform documentation to accurately call out what is and what is not expected to work in GCC would be much appreciated - FY22 is likely to have this

[2021-06-15 20:37] asnow003 commented on #3638
@npherson are you using App Studio in GCC... I would like to know how this is working because we do not officially support App Studio and the services that back it in GCC.

[2021-06-15 22:30] smchargue opened #3639 "do you test anything? None of the Figma links will load correctly."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e13fe9ac-9ae6-4f86-e800-e667ea49cd73
* Version Independent ID: d1034128-eda7-8d57-3d1d-dd862043db17
* Content: [Design your app - Understand the design system - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/design/design-tea

[2021-06-16 04:32] Wajeed-msft commented on #3124
@aimskl - apologies for closing this without confirming in the first place. Glad to know it's working for you now. Please let me know if you are facing any other issues.

[2021-06-16 04:44] #3634 closed

[2021-06-16 04:54] iComputer7 commented on #3245
I'm not sure what you mean

[2021-06-16 07:41] Sridevi-MSFT commented on #3633
Remove second paragraph in this [documentation.](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet#send-the-message)

[2021-06-16 07:47] Ravindra-MSFT commented on #3632
Hi @NewFuture, Thanks for reaching out us. Could you please share more info, for which device you are trying to access the permissions (Desktop or Mobile).

[2021-06-16 07:50] NewFuture commented on #3632
@Ravindra-MSFT the Desktop Client App

[2021-06-16 08:51] erniukas86 commented on #3541
@Mamatha-MSFT we are trying to get it from channel tab

[2021-06-16 09:50] Sridevi-MSFT commented on #3245
@iComputer7 - Teams won't support many JS events. So, you can use microsoftTeams.registerBeforeUnloadHandler() event in your teams tab instead of beforeunload event.

[2021-06-16 11:13] Chetana-MSFT commented on #3639
Hi @smchargue Thanks for reaching out us. Could you please share more details what exactly you are trying.

[2021-06-16 11:19] Nikitha-MSFT commented on #2432
We are checking internally get back to you soon.

[2021-06-16 11:23] Nikitha-MSFT commented on #3598
Is the issue is facing by everyone who has the previous version of app? Could you please conform?

[2021-06-16 13:00] #1763 closed

[2021-06-16 13:33] Githamza opened #3644 "not able to make an sso authentification in tabs"
I would run in-meeting app sample , that requires to authenticate using sso in a tab.

When I authenticate user I get `ssoAcquireTokenRenewFailed`

 I have make the step listed in the readme file:

#### Registering your app through the Azure Active Directory portal in-depth:

1. Go to Azure Portal -> Azure Active Directory -> App Registrations.
2. Select same AAD application created in previous st

[2021-06-16 13:57] smchargue commented on #3639
Sorry, having a bad day and am frustrated trying to find out the most basic information about what color schemes to use to make my custom ms teams app look like a teams app.   All the links on that page to "figma" open a page that locked up the browser - edge and chrome.

[2021-06-16 14:43] SnirShechter opened #3645 "Teams connector sample is broken"
I'm unsuccessfully trying to create our own connector for Teams. The configuration save button (which I really don't even need since we're in the 21st century and nobody needs to explicitly save anything) just throws an error:
`Unable to save "<APP_NAME>" connector configuration. Please try again.`

I took the simplest sample from [here](https://docs.microsoft.com/en-us/microsoftteams/platform/web

[2021-06-16 15:17] #1892 closed

[2021-06-16 15:26] surbhigupta12 commented on #1624
Issue resolved in PR: #3627

[2021-06-16 15:26] #1624 closed

[2021-06-16 15:28] #3633 closed

[2021-06-17 01:09] jeffwu85182 commented on #3598
Yes, we have tried installing the app in the testing org teams, which did not install before, and it is working fine with showing the correct command menu. But for others that have installed the previous version, even removed and reinstall the new app, the command menu is not updated.

[2021-06-17 03:49] MrEmanuel opened #3648 "add npx installation instruction"
I think it would be beneficial to add instructions for how to set up a teams app project using `npx`
`npx` is a package runner. It downloads a package (in this case `generator-teams`), installs it, runs a command and then removes the package. It's great for anyone who doesn't want to install a package globally or locally.

`npx` is widely used and easy to use. The syntax is the following `npx <com

[2021-06-17 04:01] #3648 closed

[2021-06-17 04:08] MrEmanuel opened #3651 "Add instructions to generate project without installing"
TLDR: Generate a teams app project without installing packages globally using the following command: `npm init yo teams`

Generators like this one are not frequently used. Installing the package globally means it will most likely be outdated the next time you want to use it, and updating and keeping track of versions is a bit of a pain.

A convenient solution is to utilize npm's init-feature. It i

[2021-06-17 07:01] andydford opened #3654 "Cannot Connect to IIS Express (VS2019) [Teams Toolkit [Preview] Version 0.1.48.43394]"
Following the instructions provided for the Teams Toolkit (preview), I created an application using the "Teams Toolkit [Preview] Version 0.1.48.43394". I then followed the guidance and ran the Project->TeamsFx->Configure for SSO... All goes fine, new registration in Azure etc however, running the app in debug mode (IISExpress) I get the error dialog with the message "Unable to connect to web serve

[2021-06-17 07:10] #3605 closed

[2021-06-17 10:31] attauf opened #3658 "Recorded meeting shows NaNs instead of a valid duration"
The meetings that are getting recorded, shows up the duration as "NaNs" instead of a valid duration.

Microsoft Teams Version 1.4.00.11161 (64-bit)
OS: Win10

![image](https://user-images.githubusercontent.com/59413505/122380005-0c5db580-cf85-11eb-9530-34508bba0a58.png)

[2021-06-17 10:37] SimonJHudson opened #3659 "Errors and issues on the page"
The page refers repeatedly to *'Preview' *the scene. The feature to do this is actually labelled 'View in Teams'.
![image](https://user-images.githubusercontent.com/42973791/122381009-5c765100-cf60-11eb-926e-3de4480d13bd.png)

The page refers to the Together Mode selection menu in the top left. In all my tenants (3 of them), there is no top left selector, it is in the ellipsis menu (I suspect you

[2021-06-17 10:51] Sridevi-MSFT commented on #3644
@Githamza -  Thank you for the insights. Will repro and will inform you as soon as possible.

[2021-06-17 10:55] Githamza commented on #3644
Thanks , for information I'm using ms authenticator app as login security

[2021-06-17 11:01] Chetana-MSFT commented on #3645
Hi @SnirShechter Thanks for reaching out us, will repro at our end and will update you soon.

[2021-06-17 11:44] Nikitha-MSFT commented on #3598
We are Not able to repro the issue at our end. Could you please share both the manifest, so we can test at our end.

[2021-06-17 13:00] #3302 closed

[2021-06-17 20:19] Wajeed-msft opened #3671 "[Rendering] Type image dosent show under the "Action.ShowCard" button"
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/5962

**Details from original post:**
Hello,

i created an adaptive card, everythings was working fine until the moment when the type image under the showcards action button dosent render anymore. the following exemple shows the porblem

![scrrenshot](https://user-images.githubusercontent.com/63977812/120619340-2a42fa80-c45c-11eb-8

[2021-06-17 20:20] Wajeed-msft opened #3672 "[iOS] Adaptive cards not rendering in Teams iOS app but show up on the desktop client."
Copied bug from: https://github.com/microsoft/AdaptiveCards/issues/6013

**Details from original post:**
# Target Platform

Please list the platform(s) that your application is targeting and remove platforms you are not targeting:
- iOS

# Target Application

Microsoft Teams for iOS

# Problem Description

Microsoft Teams app on iOS is not rendering adaptive cards when sent via an inbound webhook.

[2021-06-18 04:05] TejaReddy0226 commented on #3613
Hi @Chetana-MSFT we have implemented code as per the sample provided in the github. It is use to work fine before we facing this issue recently.

[2021-06-18 04:49] 1411381 commented on #3500
Hi @Ravindra-MSFT
Bug is fixed?

[2021-06-18 07:04] Tanmay-MSFT opened #3674 "Update Additional Access Permission screenshot in the document"
[Enter feedback here]

Please update the Access Permission screenshot in the document with this new one, because the existing one is blurry
![image](https://user-images.githubusercontent.com/85108465/122520560-5ef4ab80-d031-11eb-94c5-e0c77decff3b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9549caa9-99a2-2568-19

[2021-06-18 07:35] Ravindra-MSFT commented on #3500
Hi @1411381, We are tracking internally with our engineering team. Currently there is no ETA as of now. We will update you once the issue got fixed.

[2021-06-18 10:50] Jagadeesh-MSFT commented on #3658
Hi @attauf, we are unable to repro your issue from our side. Could you please go through the below screenshots for the same.
![image](https://user-images.githubusercontent.com/73812940/122550143-f61d2b80-d050-11eb-807a-6052a2548752.png)
![image](https://user-images.githubusercontent.com/73812940/122550197-033a1a80-d051-11eb-90d4-a19ade1704b1.png)

[2021-06-18 11:03] Jagadeesh-MSFT commented on #3654
Hi @andydford, Thanks for reaching us, we are checking with our internal team. Will get back to you.

[2021-06-18 11:20] Ravindra-MSFT commented on #3671
Hi @mourasss, I am able to reproduce the issue, I have raised a bug and concern team is working on it.

[2021-06-18 11:26] Chetana-MSFT commented on #3672
Hi @ved-dave Thanks for reaching out us, will repro at our end and will get back you soon.

[2021-06-18 12:21] mourasss commented on #3671
Hi @Ravindra-MSFT @Wajeed-msft  thanks a lot.
Hope it will be fixed soon !!

[2021-06-18 12:25] Ravindra-MSFT commented on #3651
Hi @MrEmanuel, Thank you for the insights on the document. Taking this for internal discussion with team.

[2021-06-18 15:18] SouthJordanDev2 opened #3676 "Teams can't hear you - Either you're being really quiet, or you should check your device settings."
This silly message is shown every time I press the mute button on my PC mic. I guess the Teams developer team never heard of a mic with a mute button and they think the only way to mute is via the software.

Is there any way to suppress this useless message permanently? If not, there needs to be - it's a bug.

<img width="716" alt="teamsbug" src="https://user-images.githubusercontent.com/68065482/

[2021-06-18 17:07] RajdeepRay0411 opened #3677 "AdaptiveCard with “mailto” Action.OpenUrl is not working for buttons with Image set as well"
On Microsoft Teams, we are using a customized who bot scenario where we are sending data from Graph API in the adaptive card about the person whom the user is looking for in our bot. The adaptive card contains two icons one chat icon and one mail icon. The chat icon will open a particular person's chat in teams and the mail icon will redirect to outlook with the particular user's email id in the T

[2021-06-18 17:56] andydford commented on #3654
Forgot to add error info

Seems to be a permissions error but I am not an IIS Express expert!

Starting IIS Express ...
Failed to register URL "http://localhost:50086/" for site "TeamsApp01" application "/". Error description: Access is denied. (0x80070005)
Successfully registered URL "https://localhost:44357/" for site "TeamsApp01" application "/"
Registration completed for site "TeamsApp01"

![S

[2021-06-18 19:00] #3567 closed

[2021-06-19 01:01] icyfire0573 opened #3682 "Instructions don't seem to work"
![image](https://user-images.githubusercontent.com/40814526/122626348-101e3480-d078-11eb-8a79-8dba4307930a.png)
Above is my view when I get to step 3 here: https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-outgoing-webhook#create-an-outgoing-webhook

it says look in the lower right, as you can see, my teams has nothing in the lower right;
I searched for ou

[2021-06-20 05:40] colletteuk72 opened #3684 "Run into an issues Teams"
I am having issues when I have installed the desktop Teams app.  When I run it it comes up with We're sorry - we've run in to an issue.

![Screenshot 2021-06-19 at 07 25 48](https://user-images.githubusercontent.com/6958147/122663365-c32e8100-d191-11eb-9892-987c80d0f222.png)

I have followed instruction on how clear the folder and reinstall.  There is nothing in Keychain Access to delete.  I have

[2021-06-21 05:57] Ravindra-MSFT commented on #3632
Hi @NewFuture, Currently, Microsoft Teams support for media capabilities is only available for mobile clients.
You can go through this in [docs](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-capabilities/native-device-permissions?tabs=desktop#access-device-permissions).
![image](https://user-images.githubusercontent.com/84447722/122713616-98bcf080-d283-11eb-9ba2-adfd1476

[2021-06-21 06:07] Mamatha-MSFT commented on #3677
Hi @RajdeepRay0411 - Currently `openSafeUrlMT ` in adaptive card does not allow `mailto `urls. we already have a backlog feature request on this and engineering team is looking into it

[2021-06-21 06:37] #3676 closed

[2021-06-21 06:48] Chetana-MSFT commented on #3672
@ved-dave Could you please share your JSON file. So that we can repro and get back to you.

[2021-06-21 07:15] #3684 closed

[2021-06-21 08:44] Sridevi-MSFT commented on #3682
@icyfire0573 - In documentation Step1 it is mentioned clearly that you need to select appropriate team. But from your image, seems like you're trying it in Apps. So, for your better understanding I have attached an image by highlighting the steps.

![Capture](https://user-images.githubusercontent.com/80752198/122733542-e7c25000-d29a-11eb-814c-e575853e8406.PNG)

[2021-06-21 09:24] Mamatha-MSFT commented on #3541
Hi @erniukas86  - Please check this working code

**In configpage.cshtml**

[code]

`
    **In tab.cshtml**

[code]

Please go through this sample
https://github.com/OfficeDev/Microsoft-Teams-Samples/tree/main/samples/tab-channel-group-quickstart

[2021-06-21 10:26] Sridevi-MSFT commented on #3588
@tchapeaux - Microsoft will always focus on customer’s feedback and experience, some new features would be added to the services based on customers' feedback in the future, we also recommend you give your new idea in Teams [UserVoice ](https://microsoftteams.uservoice.com/)here. If this needs to be consider as a future request.

[2021-06-21 13:00] #3593 closed

[2021-06-21 13:00] #3177 closed

[2021-06-21 13:27] michaelwechner opened #3691 "How to customize the bot input field?"
When I have the "Wikipedia Search" bot/app installed and when I enter "@wikipedia" and hit return/enter, then the input field is being modified, whereas at the beginning the wikipedia logo occurs and the text "Wikipedia Search > Browse Wikipedia" and is following by an input field with a placeholder "Enter a search term".

It tried to find some documentation in order to do this for my own bot/app,

[2021-06-21 13:44] #3674 closed

[2021-06-21 13:46] Chetana-MSFT commented on #3659
@SimonJHudson  Thanks for reaching out us, we are checking internally.

[2021-06-21 15:03] SouthJordanDev2 commented on #3676
Why is this an App Dev issue? It's a standard usability issue. You misunderstood the issue I think.

[2021-06-21 16:52] ascott18 commented on #3063
@Nikitha-MSFT Why is this closed? The original question about what the different errors from SSO are and how they should be handled by developers has not been answered.

[2021-06-21 21:25] corinagum opened #3695 "Update Bot Framework SDK link"
Current Bot Framework SDK link directs to the archived repository:
![image](https://user-images.githubusercontent.com/14900841/122829924-77b4c980-d29c-11eb-901d-1fdbf7583e54.png)

Updated text with url should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd5f91c-206f-f03c-d82e-3bf1cc81d13e
* Version Independent I

[2021-06-21 22:47] Githamza commented on #3644
Any updates ?

[2021-06-22 05:11] Chetana-MSFT commented on #3613
@TejaReddy0226 I am able repro the issue, we have raised a bug for this, concerned engineering team is working on it.

[2021-06-22 05:30] Nikitha-MSFT commented on #3566
We are tracking the bug internally, we don't have ETA to share when it will be fixed.  We will update once it is fixed.

[2021-06-22 06:09] Sridevi-MSFT commented on #3695
@corinagum- Thanks for your insights. The documentation team will update the changes.

[2021-06-22 09:59] SergeyGrayman commented on #3672
Same Issue. All of the old cards not rendering too

[2021-06-22 10:09] Chetana-MSFT commented on #3639
@smchargue Could you please go through this [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/design/design-teams-app-ui-templates?tabs=desktop#microsoft-teams-ui-library) it will help you.

[2021-06-22 11:55] Sridevi-MSFT commented on #3691
@michaelwechner - Taking this for internal discussion with team, I will update you with resolution.

[2021-06-22 11:57] #3695 closed

[2021-06-22 12:02] #414 closed

[2021-06-22 12:02] #3533 closed

[2021-06-22 12:14] Ravindra-MSFT commented on #3651
Hi @v-abirade Could you please replace `npm init yo teams` instead of `yo teams` and remove below snip in the documentation.

![image](https://user-images.githubusercontent.com/84447722/122922456-43670900-d381-11eb-827e-f2eb0563a5d6.png)

[2021-06-22 12:19] Chetana-MSFT commented on #3659
@SimonJHudson To add some application to your account, you need to have permissions from IT team. Could you please check this [documentation](https://docs.microsoft.com/en-us/microsoftteams/app-permissions-admin-center) for more details.

[2021-06-22 13:00] #3638 closed

[2021-06-22 13:17] kevin-secrist commented on #3551
Closed by https://github.com/MicrosoftDocs/msteams-docs/pull/3596

Thanks all, docs for this are a lot better now 👍

[2021-06-22 13:17] #3551 closed

[2021-06-22 13:58] smchargue commented on #3639
Thanks, that is very good information - if you are building a Teams Application in react.  I am not.  I'm trying to build a html/javascript/kendo jQuery UI application that runs in Teams and looks like it belongs in Teams.  If there is a way to incorporate Fluent UI in a non-react application, i haven't found it.

But thanks again for the link.

[2021-06-22 14:03] YPillay commented on #3677
Hi,  On a related note.
Are all URI activations not allowed for openUrl or just mailto ?

Is there a workaround available ?

[2021-06-22 16:04] SimonJHudson commented on #3659
As stated in my original report, I have confirmed that App Permissions are globally permissive. For clarity, I hereby confirm, again, that third party apps are allowed in settings, see this screenshot.
![image](https://user-images.githubusercontent.com/42973791/122960356-3c3cfc80-d37b-11eb-960a-11705f3bf4bd.png)

The documentation link is unhelpful as it simply states what I had already checked an

[2021-06-22 19:00] #3245 closed

[2021-06-22 21:32] toellbe commented on #3500
What is the current ETA? Our app development depends on it.

[2021-06-23 05:53] jaindipankar opened #3701 "Mention a user in Input.Text Field of Adaptive Card"
I want to mention a user in Input.Text field of Adaptive Card. Whenever we type "@" in Input.Text, I want a list of all the members of channel to appear like in a normal mention.

[2021-06-23 06:56] Jagadeesh-MSFT commented on #2012
Hi @apurva1112, Issue got fixed , could you please check and revert back. Adding image below for you reference.
![image](https://user-images.githubusercontent.com/73812940/123050134-fd13b780-d41d-11eb-9f32-31c30714454c.png)

[2021-06-23 09:10] v-vrajaraman commented on #3651
Fixed as part of [Tutorials and Code Samples](https://github.com/MicrosoftDocs/msteams-docs/pull/3604/).

[2021-06-23 09:26] Nikitha-MSFT commented on #3510
Bug is Resolved now, we have tested this at our end. Could you please test and confirm.

[2021-06-23 11:18] Mamatha-MSFT commented on #3677
@YPillay - Currently Adaptive card `openUrl `supports https,http,ftps and ftp Urls. There is no workaround for this.

[2021-06-23 11:41] Ravindra-MSFT commented on #3500
@toellbe, This feature is in the test progress on the Android now. Currently there is no ETA to share with, we will let you know once it is resolved.

[2021-06-23 12:03] sudoaccessdenied opened #3703 "Not sync the user's progress across devices using Universal Actions for Adaptive Card Sequential Workflows"
SDK  version: 4.13.2
Teams Client: Desktop and Android.

### Problem: I am using the sequential workflows of universal action for adaptive card. But the progress is not syncing on different devices. I have set the refresh property also but the problem is same.
### Screenshot for desktop
![image](https://user-images.githubusercontent.com/30634773/123092574-41b44880-d448-11eb-8bd8-cd042085ad00.png)

[2021-06-23 12:07] Nikitha-MSFT commented on #2432
Need to Update the note in the doc - Final bullet point of this page: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/team-chat-member-api-changes. Need to change the Year in the last point from 2021 to 2022-

[2021-06-23 12:23] ryfow commented on #2432
Thanks!

[2021-06-23 12:23] #2432 closed

[2021-06-23 13:01] Sridevi-MSFT commented on #3691
@michaelwechner - Could you please share screen recording of your issue so that we can understand more clearly.

[2021-06-23 13:48] scottstensland opened #3705 "clicking on a meeting in outlook fails to take me to meeting in teams application"
starting in a browser logged into outlook email when I click on a meeting ( the Join button ) say from my calendar it launches my desktop Teams application however it fails to pull up the matching meeting ... it just launches Teams and takes me to the last location I  was in in Teams

Because of this bug its very hard if not impossible to pull up in Teams the meeting I am supposed to attend

issue

[2021-06-23 14:04] scottstensland commented on #3705
case closed ... I purged Teams application and did a fresh install and all is well

[code]

[code]

then I did a fresh install of the linux deb file

[2021-06-23 14:10] michaelwechner commented on #3691
please see the following screenshots:

<img width="1097" alt="1 mention wikipedia" src="https://user-images.githubusercontent.com/1078960/123111668-60f9a880-d43d-11eb-9490-7f1c4dd17f31.png">
<img width="1076" alt="2 mention wikipedia after hitting return:enter" src="https://user-images.githubusercontent.com/1078960/123111676-62c36c00-d43d-11eb-8101-88712a02b252.png">
<img width="1033" alt="3 wikip

[2021-06-23 14:13] ja-onereach commented on #3178
One of our customers that's been having this problem reported that the cause turned out to be the Azure subscription they were trying to use had been disabled or deactivated somehow. They fixed that and were able to proceed. So people experiencing this issue really need to check every single little piece of the App Registration, Bot Channels Registration, subscription, resource group, their AAD pe

[2021-06-23 14:32] scottstensland commented on #3705
evidently the problem happened in between the time I did the initial teams install of version 1.3.00.30857_amd64 and teams itself did its own internal updates ... below is my Download dir of teams install deb files ( Ubuntu 21.04 )

[code]

[2021-06-24 01:22] icyfire0573 commented on #3682
Yep; that appears to resolve it for me. It looks like my issue was related to the initial "manage team" part. I guess the first team I created by default was pinned, so when I clicked the "..." on it, it was not the team itself but the team/channel general which didn't have the "manage teams" option, and therefore not the outgoing webhook.

[2021-06-24 06:36] jeffwu85182 commented on #3598
Sorry for the late reply. Can we discuss this issue by email?

[2021-06-24 07:16] mohsinhere opened #3708 "Error: Not able to get response from get chat id endpoint"
Hi,

I used to be able to hit the

GET https://graph.microsoft.com/beta/users/{user-id}/chats?$filter=installedApps/any(a:a/teamsApp/id eq '{teamsAppId}') endpoint until 2 weeks back with Chat.Read.All permissions in application-only context.

But now I'm getting a 412 error with this response message

[code]

Did something change? It would be great if I can get a quick response.

Thanks!
---
####

[2021-06-24 09:11] jparams opened #3709 "OpenUri not working with IP address"
When the OpenUri target is an IP address, clicking the button only ever opens the URL : https://teams.microsoft.com/null

[2021-06-24 10:24] #3705 closed

[2021-06-24 10:31] Chetana-MSFT commented on #3705
Thanks for reaching out us. We are the developer support team for Microsoft teams focused on helping developers resolve their issues. For issues related to teams product, please reach out to the [product support channels](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback) for Microsoft Teams.

[2021-06-24 10:38] Nikitha-MSFT commented on #3598
Please Drop a mail to microsoftteamsdev@microsoft.com

[2021-06-24 10:42] Jagadeesh-MSFT commented on #3709
Hi @jparams,  we have a bug on this , this issue has been fixed and the fix is rolling in the internal rings. We have verified that internally and I will keep you updated once it will available publicly. Currently we don’t have any ETA to share.

[2021-06-24 11:18] Jagadeesh-MSFT commented on #3703
Hi @sudoaccessdenied, we are working on it, will get back to you soon.

[2021-06-24 15:00] tchapeaux commented on #3588
Thanks for your reply. So to clarify, there is no way for a Microsoft Teams app to write to the user's clipboard currently?

This feature would be useful for us as we have some "click to copy" button as part of our UI. This is also a [frequent UI element](https://www.w3schools.com/howto/howto_js_copy_clipboard.asp) that we feel many App users and developers would expect to be available.

[2021-06-24 15:24] casandrafarfan opened #3713 "Team meeting recordings do not display time in the proper format. They currently show "NaN""
I could see that the recordings of the meetings, at the end, did not show a correct format.

The expected result is hours minutes, for example 1hr 43 min, but the current result is the following "NaN s"
![image](https://user-images.githubusercontent.com/10502421/123289649-41fb2500-d4d6-11eb-8b7c-37fa5a26541a.png)

Applied functionality
Microsoft Teams / Teams for Business / Meetings and Calls / Re

[2021-06-24 16:54] mourasss opened #3716 "App studio Teams"
Hello Everyone,

I ceated an app with appstudio in MS .teams.  i add a tabs and putted my content URL which a Qlik hub. Everythings worked fine until when i clicked on an app in the hub it opens the app in CHrome browser nor in the same canvas of teams app.

Is there an options which let us to force navigaute in teams app canvas ?

Thanks in advance

[2021-06-24 19:00] #3658 closed

[2021-06-24 21:17] faceoffers28 opened #3717 "OnTeamsMembersRemovedAsync doesn't get called in TeamsActivityHandler 4.11.1.0"
When uninstalling a BOT, this method never gets called. We are running Microsoft.Bot.Builder, Version=4.11.1.0.

Please advise. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6d00a4-dd28-33c4-002e-2e8e7c653ce2
* Version Independent ID: 0856927a-25f4-b1e0-5f1b-d55dc61796f3
* Content: [Conversation events - Tea

[2021-06-25 04:57] Nikitha-MSFT commented on #2668
Bug is Resolved now, we have tested this at our end, could you please also check and confirm?

[2021-06-25 06:15] Mamatha-MSFT commented on #3708
Hi @mohsinhere  - We will repro at our end and will get back to you.

[2021-06-25 06:30] Mamatha-MSFT commented on #3708
Hi @mohsinhere - I am able to get the response from get chat id endpoint. Could you please add below permissions and check
![image](https://user-images.githubusercontent.com/78795357/123380308-e94a8b80-d5ac-11eb-917a-85be07965a19.png)

[2021-06-25 06:34] mohsinhere commented on #3708
Hi,

I'm using application permissions... and it has elevated permission: Chat.Read.All. Did you try using delegated or application permissions?

[2021-06-25 06:38] mohsinhere commented on #3708
![image](https://user-images.githubusercontent.com/14170957/123381104-a18b2a80-d5d3-11eb-8e30-5830ac4c0597.png)

This is the permission set on the app registration. I cant use delegated here as it is an automated process that calls this.