[2020-02-24 05:07] Subhasish-msft commented on #1387
@mjzwick,Thanks for reporting the issue. We have identified and logged this bug, however this is not yet prioritized and we don't have an ETA yet.

[2020-02-24 08:07] Gousia-MSFT commented on #1338
@GabrielSandor Were you able to check this with someone from your team? We still can't repro it.

[2020-02-24 08:14] Trinetra-MSFT commented on #1389
@feifeiJun , Could you please share your app manifest so we can check it at our end?

[2020-02-24 08:21] Trinetra-MSFT commented on #1330
@laujan , Could you please help to update the document?

[2020-02-24 08:24] Trinetra-MSFT commented on #1337
@GabrielSandor , We will update you once it will be rolled out. Please feel free to reopen this

[2020-02-24 08:24] #1337 closed

[2020-02-24 08:43] GabrielSandor commented on #1338
@Gousia-MSFT no, i didn't manage to check with a colleague yet. How would that be useful if you can't repro it anyway?

[2020-02-24 09:26] Trinetra-MSFT commented on #1360
@icatchx22i , Thanks . Please feel free to reopen if you still have any query.

[2020-02-24 09:26] #1360 closed

[2020-02-24 09:28] Gousia-MSFT commented on #1301
@GauravES You could send the notification back to the web page using new Notification(). Please try the sample [here](https://www.pubnub.com/blog/sending-desktop-html5-notifications-for-web-browsers-with-pubnub/)

[2020-02-24 09:39] Gousia-MSFT commented on #1321
We could see this in the Microsoft Bot framework documentation:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-send-activity?view=azure-bot-service-4.0

[2020-02-24 09:40] #1324 closed

[2020-02-24 09:43] Gousia-MSFT commented on #1338
@GabrielSandor We could not repro the issue so i wanted to check if this is a tenant specific issue if someone from your tenant is also seeing this.

[2020-02-24 09:53] #1378 closed

[2020-02-24 10:32] Gousia-MSFT commented on #1390
@rizwanja You could try getting the timezone of the user using the Date functions. Please try this code below:
[code]

[2020-02-24 10:55] Gousia-MSFT commented on #1280
@louisnow Any update on this? Are you still facing any issue?

[2020-02-24 16:32] tingyiy commented on #1321
I am sorry, where does it say if both text and attachments are sent then no activity id will be returned?

[2020-02-24 23:31] daybarr opened #1392 "Cannot add "incoming webhook" connector - no results from search"
The [Add an incoming webhook to a Teams channel](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook#add-an-incoming-webhook-to-a-teams-channel) section says:

But when I do that, I get...

...so I cannot continue with step 3.

![screenshot](https://user-images.githubusercontent.com/140142/75200238-1ab70b00-575d-11ea-8e35-3a7a0f5518e3.png)

[2020-02-25 01:59] clearab commented on #1330
Hi - If you remove the command from your manifest you'll need to redeploy your app for the changes to take effect (any changes to the manifest require this).

As far as handling the commands in code, they are sent to your bot as a regular message so you'll need to handle them as you would any other message from your users. They are purely a UI treatment that inserts pre-configured text into the te

[2020-02-25 06:06] Gousia-MSFT commented on #1392
@daybarr Could you please check if your tenant administrator turned off access to external applications?

[2020-02-25 11:04] #1387 closed

[2020-02-25 16:50] NischaiV opened #1393 "Is there a way to get the current tab instance only, instead of a list of all tabInstances owned by the app?"
Is there a way to retrieve only the current tabInstance object? The getTabInstances() returns all the tabInstances owned by the app. I want to get the TabName of the current tab where my code is executing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2f7c821-fefa-af6b-0a48-605554c0e8ff
* Version Independent ID: 100b

[2020-02-26 00:44] #1325 closed

[2020-02-26 08:17] wasim8906 opened #1399 "Inconsistent behaviour for scrollable list card in desktop client and mobile app"
The scrollable list card is working fine in desktop client app with scroller but fails to load the scroller in android and iOS app, it just shows as a long list of items.

 Desktop App:
<img width="751" alt="Screenshot 2020-02-26 at 1 44 41 PM" src="https://user-images.githubusercontent.com/61415896/75325100-3a098180-589e-11ea-9c5d-df83860e051b.png">

Android App:

![Screenshot_20200226-134549_Tea

[2020-02-26 10:43] Trinetra-MSFT commented on #1393
@NischaiV , Currently This is not possible to get only current instance of a tab, get tab instance will return all the tab instance. However you can fetch the current tab by using the Graph API. Please take a look at [Get Tab using Graph API](https://docs.microsoft.com/en-us/graph/api/teamstab-get?view=graph-rest-1.0#http-request)

[2020-02-26 20:26] gabbsmo opened #1401 "Process the return value fails due to cross origin frame access"
This code snippet from the docs will fail if there is no existing session to reuse, i.e. when testing in incognito mode and going directly to the Teams tab without signing in to the tab's app first.

[code]

`handleWindowCallback` fails on line 1321 in adal.js 1.0.17 which looks like this: `else if (window.parent && window.parent._adalInstance) {`. `window.parent` in this case has the origin teams

[2020-02-27 03:04] simiczhang opened #1404 "Use taskInfo with fetchTask to "true" and without any parameters"
Document said: "If you are using a taskInfo object, be sure to also set the fetchTask parameter to false."

But for my case, my message extension command didn't contain any parameter, it only needs to load a embedded web view from url, if I set fetchTask as false, if user open this message extension, the page associated with the url would not be loaded , after I set the fetchTask to true, everythi

[2020-02-27 07:27] simiczhang commented on #1404
Updates, it seems after set fetchTask to true, it would still find bot endpoint to ask for taskInfo definition .

Just wonder if it is possible to let compose extension to load from static url so it won't ask bot endpoint every time ?

[2020-02-27 07:38] ramagirish123 opened #1405 "Error in package.lock.json"
Version of clean-css package in the dependencies pug filter was wrong. It was mentioned &gt;=4.4.11 but there was no such version.
It is working when it gets changed to 4.1.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4fa27cb-544f-f8a2-97a7-4b31528c1b80
* Version Independent ID: fa69cd6f-1ef4-706d-2816-aa709714b0

[2020-02-27 09:50] chaitnya12 opened #1406 "Not getting 'Member added activity'"
I am adding bot to team using ' Add app to team' api. However, I am not getting 'memberAdded' activity. I am getting 'memberAdded' activity when I add app manually.

[2020-02-27 11:29] Gousia-MSFT commented on #1406
@chaitnya12 Currently, the bot gets the conversationUpdate event only on the first installation of the app. Your bot will not get a memberaddded event during the 2nd installation. We have a bug on this but we do not have an ETA about the fix.

[2020-02-27 13:23] yjayousi opened #1407 "Publishing ms-teams extension to app source"
Greetings,

I'm following [this documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deploy-and-publish/appsource/publish) to publish a new Microsoft Teams extension to App Source. Step 5 in this page refers to [another page](https://docs.microsoft.com/en-us/office/dev/store/use-partner-center-to-submit-to-appsource) for submitting the package to App Source through Part

[2020-02-27 15:07] TechWatching opened #1408 "Additional explanation needed to make it work"
The 3rd Step "Get an authentication token from your client-side code" does not explain where the call to getAuthToken should be done on the client side.
There is no sample for a a Teams application with a .NET backend. Is there something specific to do in the backend ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 522

[2020-02-27 17:39] justinlee12 commented on #1235
I have the same issue

[2020-02-27 20:22] agladboy opened #1409 "Will the Microsoft Teams need to retrieving the new access token once old token expired."
Hi There,

In OAuth case once the access token expired, will the Microsoft Teams need to issue the request to retrieve the new access token, or the Microsoft Bot Frameworks will responsible to retrieve it.

Another question is how to deal with the expiration of the verification code.

Would you please elaborate the expiration case of authentication artifacts.

Thanks!

Best regards,

Jason
---
###

[2020-02-27 23:58] guillaumemeyer opened #1412 "Refresh Token"
I successfully implemented SSO and I can retreive the access token. But what about the refresh token?
As far as I can understand, the generated token is a regular AD token with 1h of validity, so how could it be renewed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52221dd3-95ec-96b9-1da8-9478527c2602
* Version Indep

[2020-02-28 00:18] guillaumemeyer commented on #1412
OK my bad... the ```microsoftTeams.authentication.getAuthToken``` method returns an ID Token (that needs to be used server-side to get an Access Token by calling the ```https://login.microsoftonline.com/${tid}/oauth2/v2.0/token``` url), not an Access Token...

[2020-02-28 04:00] chaitnya12 commented on #1406
@Gousia-MSFT I am facing this issue for the bots that I have created recently( a week ago). For the old bot(created in Jan) everything works fine. Is this behaviour expected?

[2020-02-28 08:43] Gousia-MSFT commented on #1301
Please re-open if you have any further queries.

[2020-02-28 08:43] #1301 closed

[2020-02-28 08:47] Gousia-MSFT commented on #1321
@tingyiy Sorry about the link, this isn't the right one. But the behaviour you observed is right and looks like this isn't documented somewhere. I will bring this up with the team internally.

[2020-02-28 08:47] #1321 closed

[2020-02-28 08:49] Gousia-MSFT commented on #1338
We could not repro the issue on our side. Please re-open with some additional information like the number of users who are seeing this and the desktop logs if you are still seeing the issue.

[2020-02-28 08:49] #1338 closed

[2020-02-28 08:52] Gousia-MSFT commented on #1349
@ii-batman Could you please share a more detailed steps for repro maybe a video recording of the issue?

[2020-02-28 09:16] Gousia-MSFT commented on #1390
Please re-open if you face any issues.

[2020-02-28 09:16] #1390 closed

[2020-02-28 09:27] Gousia-MSFT commented on #1222
The fix for a possible cause of this has been checked in. Could you please check this and re-open if you are still facing the issue.

[2020-02-28 09:27] #1222 closed

[2020-02-28 09:29] Gousia-MSFT commented on #1280
Please re-open if you are still facing the issue.

[2020-02-28 09:29] #1280 closed

[2020-02-28 09:52] leeford commented on #1405
Running 'npm update' before 'npm install' clears this up....

![image](https://user-images.githubusercontent.com/472320/75538090-fafb3d80-5a0f-11ea-9324-98fda8672a2c.png)

[2020-02-28 10:07] Abhijit-MSFT commented on #1412
If you still have any question on this please check this [Document](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-silent-aad).

[2020-02-28 10:07] #1412 closed

[2020-02-28 10:29] Wajeed-msft commented on #1409
1. If you are using [Azure Bot Service](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/add-authentication?tabs=dotnet#create-the-identity-provider) then SDK will take care of storing the access token. Also SDK takes care of retrieving new access token.

2. Verification code is directly passed as [signin/verifyState](https://github.com/microsoft/botbuilder-dotne

[2020-02-28 11:03] chaitnya12 commented on #1406
@Gousia-MSFT  I am facing this issue only when I add app to team using delegated permissions.

[2020-02-28 12:32] MagtheRag commented on #1231
Any news about this issue ?

[2020-02-28 13:24] Wajeed-msft commented on #1401
Could you please try [AuthBot.zip](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/manifest/AuthBot.zip) manifest and see if you could repro this? Please share the repro steps.

[2020-02-28 13:40] gabbsmo commented on #1401
A packaged repro is going to take time but I think I fixed this, for browsers at least. I am not able to get silent authentication to work in the Windows app.

I have an existing SPA using adal-angular that I want to wrap in a team tab. When following the docs I would get an error. What I did to get it working was to skip implementing redirectUri page for teams and reuse the one that I already had

[2020-02-28 21:47] siduppal commented on #388
@stpeteparadox can you use an OpenUrl select-action on the image?

[code]

[2020-02-28 22:53] aosolis opened #1413 ""Add a configuration page to your messaging extension" is empty"
https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/add-configuration-page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9d17811-3418-b8a4-b540-b36ac877b406
* Version Independent ID: 03bf3f55-31c7-02ab-91e3-2ad9e8dae63d
* Content: [Add a configuration page to your messaging extension

[2020-02-29 01:38] aosolis opened #1414 "Specify which domains need to be allowed"
You must allow your pages to be served in an IFrame, via X-Frame-Options and/or Content-Security-Policy HTTP response headers.
- which domains
- example Content-Security-Policy header

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9938300a-8983-2236-5d02-536b9b872225
* Version Independent ID: b336fba4-1e88-db4a-0a41-c9

[2020-03-01 06:27] GauravES opened #1415 "What is the simplest way to get UPN of a Teams User for a Bot Framework enabled Chat Bot?"
Much of the tenant information comes in with each user message., The bots themselves have been explicitly added by the user or tenant administrator, implying consent, so it seems an overkill for a bot to use a second hit simply to get UPN/email ID of the user using the bot the first time. This is often necessary to identify the user.

The bot framework provides a way (var userInfo = await connecto

[2020-03-01 17:36] icatchx22i commented on #1360
@Trinetra-MSFT Can you please link me to a Front-end workflow TAB authentication? The link only contains bot authentication?

[2020-03-02 05:49] Gousia-MSFT commented on #1415
@GauravES You could get the email id of the user by [fetching the roster](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dotnet#fetching-the-roster-or-user-profile) using Bot. The other way to do it is using [Graph API to fetch user email](https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http). In from.aadObjectId of the Act

[2020-03-02 06:30] Gousia-MSFT commented on #1372
@GabrielSandor I checked this internally and seems like everything works well in iOS as well. OOF messages may take a while to propagate from Outlook to Teams which is probably why when you checked, it was not there yet. Could you please try this sometime after setting the OOF message and check if you could see it?

[2020-03-02 06:47] Gousia-MSFT commented on #1408
@TechWatching Could you please try this sample to implement [SSO for Tabs](https://github.com/ydogandjiev/taskmeow)? SSO happens on Tabs and is not really specific to .Net backend. Please try out the sample and let us know if you face any issues.

[2020-03-02 07:04] stpeteparadox commented on #388
Hi Microsoft,

My team and I didn't go to the effort of testing and documentation for this post out of only pure love for Microsoft and technology. We have very real business needs. We are very real _paying_ customers of your M365 services.

Unfortunately it continues to appear that no one is taking our issue very seriously, or at least not appreciating what exactly is the problem. Perhaps it hasn

[2020-03-02 07:36] Gousia-MSFT commented on #1392
Please re-open if you are still facing the issue.

[2020-03-02 07:36] #1392 closed

[2020-03-02 08:46] GabrielSandor commented on #1372
@Gousia-MSFT I just checked for a colleague that set her status to out-of-office last week, and the iOS app still doesn't show the out-of-office message, only the status. If it's a synchronization delay, why is it taking so long?

[2020-03-02 10:34] stpeteparadox commented on #739
This is really a terrible restriction. Surely developers as Microsoft used Slack internally prior to the release of Teams? Please would you hire some of Slack's user experience specialists, because I have yet to see anyone from Microsoft provide their customers a reasonable explanation for this restriction. If Slack can do it, why on earth has Microsoft not been able to?

[2020-03-02 10:39] stpeteparadox commented on #681
Seriously?

C'mon Microsoft. You do realize most of Team's users are paying customers right?

Don't you think they deserve more than just a "it's by design" response to something that doesn't make any sense to those not involved in Teams development, and while Slack apparently manages this without issue?

[2020-03-02 17:36] drjolly1 opened #1416 "OneNote integration"
I have a synced OneNote Notebook in my company's OneDrive. It is set to anyone within the company can view. When I added the Notebook as a tab inside the General channel it showed me a list of available Notebooks. I selected the corresponding Notebook and I can see it no problem. The other team members cannot and get a 'you don't have access' message. If I share the link (not add them as an invite

[2020-03-02 21:51] laujan commented on #1362
Hello @tfischer. The article has been updated. Thank you!

[2020-03-02 21:51] #1362 closed

[2020-03-03 02:28] siduppal commented on #388
Thank you @stpeteparadox for your detailed response explaining the issue. I understand the importance of this issue and the pain caused by inconsistencies in rendering of Adaptive Cards across different Teams clients. Reading your response, I am filled with a feeling of gratitude to have passionate developers like you to serve.

The pop-over behavior for images wasn't part of the AdaptiveImage spe

[2020-03-03 05:55] feifeiJun commented on #1389
There are my manifest.  I am wondering that does 'searching by names' supported? Since i see some bot in Teams can be searched by name, some cannot.

`{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json",
    "manifestVersion": "1.5",
    "version": "1.0",
    "id": "d93e884b-199b-499e-b03b-1ef02fe64fc8",
    "packageName": "TorusBot.QnAMakerB

[2020-03-03 08:58] Gousia-MSFT commented on #1372
@GabrielSandor We could not repro the issue on our side.
![image](https://user-images.githubusercontent.com/45553518/75759201-31f88880-5d5b-11ea-9bd2-bdced5d8e975.png)
Could you please try updating the Teams client version?

[2020-03-03 09:06] #1312 closed

[2020-03-03 09:07] #1308 closed

[2020-03-03 09:08] Subhasish-msft commented on #1355
This is a duplicate question of
https://stackoverflow.com/questions/60140079/microsoft-teams-side-loaded-app-multiple-conversationupdate-events-firing

[2020-03-03 09:09] Gousia-MSFT commented on #1307
@RobDM Thanks for letting us know! We are looking into it.

[2020-03-03 09:11] GabrielSandor commented on #1372
@Gousia-MSFT The screenshot you're showing is from the Android app, isn't it? I'm referring to the iOS/Apple mobile application.

I have the latest version of the iOS app, 2.0.2. At least i believe it's the latest, App Store should keep the apps up-to-date automatically.

[2020-03-03 09:17] Gousia-MSFT commented on #1235
Could you please ensure you have sideloading enabled for your tenant?

[2020-03-03 09:21] HiltonGiesenow commented on #1355
Yes, I guess it can be closed. Is there any feedback on the bug though by any chance?

[2020-03-03 09:26] Gousia-MSFT commented on #1372
@GabrielSandor This screenshot is from iOS app. Could you please share a screenshot of what you see on the iOS app?

[2020-03-03 09:31] Gousia-MSFT commented on #1342
Is this related to Teams? Could you please be more specific?

[2020-03-03 09:34] GabrielSandor commented on #1372
@Gousia-MSFT it seems we have different versions of iOS, but i hope this doesn't make a difference to the Teams app.

Here is a screenshot:

![ooo](https://user-images.githubusercontent.com/3800303/75762170-e803a880-5d42-11ea-9c55-7927aa1315ff.png)

[2020-03-03 09:40] GabrielSandor commented on #1342
Yes, i believe it is related to Teams. Below are 2 screenshots, one from Teams devices settings and one from Windows 10 sound settings:

![teams devices](https://user-images.githubusercontent.com/3800303/75762585-9a3b7000-5d43-11ea-8af2-aee8c120a696.png)

![windows sound settings](https://user-images.githubusercontent.com/3800303/75762600-9f98ba80-5d43-11ea-9dce-c7aaeef4eb3b.png)

It would be real

[2020-03-03 10:04] Gousia-MSFT commented on #1372
Thanks for sharing the screenshot. We are looking into this.

[2020-03-03 10:07] Gousia-MSFT commented on #1305
@luizcieslak We could repro the issue with your code.. We are checking this internally.

[2020-03-03 14:28] wimvanhouts opened #1420 "Missing documentation on how to couple telephone number to voice bot"
Hi, I cannot seem to find any documentation that explains how to route a telephone number (bought via the calling plan) to a voice enabled bot. Please provide this documentation.
One would expect documentation about the following simple use case:
- Buy a telephone number
- Create a teams bot app that has calls enable
- Allow external user to cal this telephone number and interact with the bot
This

[2020-03-03 16:58] Gousia-MSFT commented on #1305
@luizcieslak fetch is Browser api and default mode is CORS. Could you please try setting request mode to no-cors and see if that fixes the issue?
https://developer.mozilla.org/en-US/docs/Web/API/Request/mode

[2020-03-03 18:33] nicowitteman commented on #1235
Certainly.

Nico

[2020-03-04 01:16] Josverl opened #1422 "I think there is an error in the same provided"
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#generating-a-deep-link-to-your-tab
in the section with the warning :
Ensure that all query parameters are properly URI encoded.
the below seems to be an error as the url before encoding does not have a ? for the query string

var encodedWebUrl = encodeURI('https://tasklist.example.com/123/456&label=Task 456

[2020-03-04 05:00] watayuk1 opened #1423 "userPrincipalName or mail address"
In my tenant, the email address and UPN are different, but it works fine by setting the email address to the deepkink user parameter of the chat.
Which should I set?

[2020-03-04 10:07] Trinetra-MSFT commented on #1423
@watayuk1 , Youc an use the email address as per your requirement

[2020-03-04 10:53] Subhasish-msft commented on #1416
Are they able to view the OneNote notebook outside teams (in browser ) but not in side Teams channel?

[2020-03-04 11:02] Subhasish-msft commented on #1422
Yes, _encodedWebUrl_ and _encodedContext_ are part of the final URL _taskItemUrl_.

final url is 'https://teams.microsoft.com/l/entity/fe4a8eba-2a31-4737-8e33-e5fae6fee194/tasklist123?webUrl=' + **encodedWebUrl** + '&context=' + **encodedContext**;

[2020-03-04 11:58] drjolly1 commented on #1416
Once they open/view the Notebook in a browser, the Notebook can be seen inside Teams. The Notebook does not have to be shared directly to the user just a general view only link.

[2020-03-04 12:15] Trinetra-MSFT commented on #1389
@feifeiJun , We are able to search the Bot using bot id.
![image](https://user-images.githubusercontent.com/50989436/75878596-dbb14580-5e3f-11ea-84d2-a702c3dee86f.png)

Just need to check are you trying to sideload the app manifest within Teams?
You can upload your app to private app store so other member can search the bot using bot id.

[2020-03-04 12:40] Subhasish-msft commented on #1416
I am not able to reproduce it. Can you please share some screenshot or a screen record.

[2020-03-04 13:42] feifeiJun commented on #1389
Does 'Private app store' mean that i just create one bot app in my personal App studio?
My requirement is that i want to other member could search my bot by **name** (TorusBotwithQnA), not just id or a link.

[2020-03-04 16:25] apollon7 commented on #1369
Now on iOS devices the links won't even work when target = "_blank" is used. The links I've tested include tel, mailto and Teams deep links.

![image](https://user-images.githubusercontent.com/30493494/75899890-685a0480-5e3c-11ea-8b8f-9d088b60469c.png)

[2020-03-05 00:40] SnazzySnail8 opened #1426 "Teams desktop notifications only showing up once the application is clicked into"
MS Teams desktop notifications only showing up once the application is clicked into.

I'm not getting the MS desktop notifications (though my settings are set to do so) until I click into the Teams application; then it seems I am blasted by notifications for every previous action.

[2020-03-05 00:58] watayuk1 commented on #1423
@Trinetra-MSFT  Thank you. I'll set mail address.

[2020-03-05 00:58] #1423 closed

[2020-03-05 05:40] Dmitresky opened #1428 "Get member in Teams Messaging Extension"
Is it possible to get conversation (group) members in Teams Messaging Extension? I have tried to do it in several ways and wasn't successful.
Also, I have tried via REST API, but got the next error:
    "error": {
        "code": "BotNotInConversationRoster",
        "message": "The bot is not part of the conversation roster."
    }
}
I need something like "Schedule a meeting" pop-up in TEAMs. It

[2020-03-05 05:53] thomassvensen commented on #1276
Yes, I have the same problem. I want to post to an incoming webhook from my web app, but cannot do it due to missing CORS policy support. I hope MS can add support for this?

[2020-03-05 07:31] Subhasish-msft commented on #1426
Are you minimizing Ms Teams or closing Ms teams ?

Can you please share screenshot of your notification settings.

[2020-03-05 10:04] Gousia-MSFT commented on #1428
@Dmitresky Yes, it is possible to fetch the members in the conversation using Message Extension but the bot needs to be a part of that conversation before it tries to fetch members. Could you please try [requesting to install your conversation Bot](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/messaging-extension-v3/create-extensions?tabs=typescript#request-to-install-your-con

[2020-03-05 18:40] luizcieslak commented on #1305
Hi @Gousia-MSFT! with `no-cors` it worked. Note that axios can't handle that (see https://github.com/axios/axios/issues/1358).

Thanks for the help. I'm clossing the issue now.

[2020-03-05 18:40] #1305 closed

[2020-03-06 11:12] Gousia-MSFT commented on #1349
Please re-open with requested information.

[2020-03-06 11:12] #1349 closed

[2020-03-06 11:20] Gousia-MSFT commented on #1393
Please re-open if you have any further queries.

[2020-03-06 11:20] #1393 closed

[2020-03-06 11:31] Gousia-MSFT commented on #1409
Please re-open if you have any further queries.

[2020-03-06 11:31] #1409 closed

[2020-03-06 20:57] agladboy commented on #1409
@Gousia-MSFT Thank you very much!

[2020-03-07 12:05] GauravES opened #1429 "Suggested Approach for maintaining state while the user has to temporarily switch focus back to a chat?"
As a modal window in an iframe, any selections that the user has already made in a web form in the taskmodule is lost if the user has to switch focus momentarily to a teams chat (i.e away from the task module).
What are suggested approach for maintaining state while the user has to temporarily switch focus back to a chat and returns to the task module, such that any inputs or selections they had m

[2020-03-09 02:48] JooshTaylor opened #1430 "Broken Link"
The link titled "enable the Microsoft Teams channel." under the subheading "Register your web service with the Bot Framework" 404s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7074cb5d-e8e9-b2ae-94c4-478d463ea9ab
* Version Independent ID: 4aba1156-1b6c-d2aa-f110-d60bc641dc80
* Content: [Create a messaging extension -

[2020-03-09 02:54] #1430 closed

[2020-03-09 07:54] Dmitresky commented on #1428
@Gousia-MSFT, thank you for your answer. It looks like it for SDK v3. I didn't find something like this for SDK v4. Is it exist for SDK v4?

[2020-03-09 12:42] koen-vissers commented on #1335
@Gousia-MSFT is someone returning here as soon as this is fixed? Or can we view the status elsewhere?

[2020-03-09 16:36] Gousia-MSFT commented on #1335
@NischaiV @koen-vissers We have raised a bug on this and it is being tracked internally. We are working on fixing this but we do not have a firm timeline to share with you.

[2020-03-09 17:27] aosolis opened #1432 "Clarify note about validDomains"
The "Important" note on validDomains (https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema#validdomains) is confusing partners. For bot authentication via Azure Bot Service to work, they need to add token.botframework.com to validDomains, even though they do not control it. We need to change the wording on this warning to better reflect what validDomains is rea

[2020-03-09 21:04] RokeyKokey opened #1433 "𝘱𝘹 or 𝘱𝘵?"
What measure does the sizing refer to—pixels (px), points (pt) or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28b26001-f33a-34e5-1f20-ecdaf45c84e2
* Version Independent ID: 1eb7cf0a-a71f-c355-64b9-97ee239b5a6c
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoft

[2020-03-10 06:19] Gousia-MSFT commented on #1406
@chaitnya12 This is a known issue. We have a bug on this and we are working on it.

[2020-03-10 06:21] Gousia-MSFT commented on #1408
Please re-open if you have any further queries.

[2020-03-10 06:21] #1408 closed

[2020-03-10 06:22] #1415 closed

[2020-03-10 07:04] sranvi opened #1436 "Chat history not pulling beyond particular date on Android Teams app"
I am having office 365 account and this is for office use.
I am facing an issue where for selected contact, the chat history isn't pulling beyond date feb 27 2020.
I can see the chat history for same contact on desktop teams app or web app but not in Mobile app. Tried signout, sign-in, reinstall the app, clearing cache but issue isn't fixed. When I am searching the old conversation, i can see it i

[2020-03-10 07:12] feifeiJun commented on #1389
@Trinetra-MSFT  any comments?

[2020-03-10 07:16] Gousia-MSFT commented on #1428
@Dmitresky The process would be the same for both V3 and V4. Could you please try putting a try catch while fetching the roster and do a justintimeinstall when you get an exception.

[2020-03-10 09:51] Trinetra-MSFT commented on #1389
@feifeiJun , Yes, When you sidelaod the bot in teams it will be available for all the members of that team, they can search it using name or id

[2020-03-10 11:47] Trinetra-MSFT commented on #1436
@sranvi , Could you please tell us which teams mobile build is running on your device?

[2020-03-10 11:54] Trinetra-MSFT commented on #1369
@apollon7. Could you please share the deep link syntax what you are trying?

[2020-03-10 12:05] sranvi commented on #1436
Hi,

Please see attached file for full build details.
Version:1416/1.0.0.2020022503

Thank you.

On Tue, Mar 10, 2020, 5:17 PM Trinetra-MSFT <notifications@github.com>
wrote:

[2020-03-10 13:01] Wajeed-msft commented on #1401
@gabbsmo - For Silent Auth to work, user needs to sign in at-least once if there is no existing session available. If you are looking for SSO then please take a look at [Single Sign-On](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso) documentation.

[2020-03-10 14:04] Gousia-MSFT commented on #1433
@RokeyKokey It refers to pixels.

[2020-03-10 16:41] Subhasish-msft commented on #1429
Currently on closing of task module, Teams framework does not receive any event. So it does not preserve any state.
Teams does not keep the htlm of task module running on switching focus, it actually closes it. User has to submit the task module to save the details before closing it.

[2020-03-10 19:30] RokeyKokey commented on #1433
Thank you.

[2020-03-10 19:30] #1433 closed

[2020-03-10 23:13] #1291 closed

[2020-03-10 23:21] #931 closed

[2020-03-11 00:08] laujan commented on #1405
Corrected Line 4627 in https://github.com/OfficeDev/msteams-samples-hello-world-nodejs/blob/master/package-lock.json.

[2020-03-11 00:08] #1405 closed

[2020-03-11 00:08] laujan commented on #1405
Thank you!

[2020-03-11 07:31] Subhasish-msft commented on #1310
@jmacdonald01 ,
 I have created an ICM ticket for this. Will track it internally and will get back to you if more info is needed.

[2020-03-11 08:24] apollon7 commented on #1369
@Trinetra-MSFT https://teams.microsoft.com/l/chat/0/0?users=user@domain.com

[2020-03-11 12:50] jmacdonald01 commented on #1310
Hi @Subhasish-msft, The issue has vanished as of last week. A recent update must have cleared it up.

[2020-03-11 16:55] pedroacuma commented on #1355
I have been getting this error too, what is the state of this issue?

[2020-03-11 19:03] jtan89 commented on #1235
This is happening as well for me. Side loading is enabled. I used the workaround of editing the manifest within app studio then 'downloading' the package. I then upload the downloaded package that has those edits.

[2020-03-12 05:54] Subhasish-msft commented on #1310
@jmacdonald01, As the issue is resolved now. I am closing it. Please reopen, if you face it again.

[2020-03-12 06:33] Subhasish-msft commented on #1355
@HiltonGiesenow, @pedroacuma  Thanks for following up. The bug is being assigned to engineering team. Will keep you updated once a fix is rolled out.

[2020-03-12 08:08] #1310 closed

[2020-03-12 08:09] HiltonGiesenow commented on #1355
great stuff, thanks!

[2020-03-12 19:32] Antti-Kiviniemi opened #1442 "The link "Create deep links to content and features in Microsoft Teams" is broken"
Results in 404. Should it link here: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links?view=msteams-client-js-latest ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd35a9c-c868-a7b9-825a-4be9419539d7
* Version Independent ID: 814c8be1-eae8-7316-8553-283ef07ffc09
* Content: [

[2020-03-12 20:47] dastewa opened #1443 "Mobile client personal app"
Pinning a personal tab app to the navigation bar on the mobile teams client requires activating developer preview mode. Is there a time line for when this will be out of preview? Or, is there a way to enable developer preview mode at a tenant level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 008da4e2-979e-c396-db28

[2020-03-13 07:50] Gousia-MSFT commented on #1416
Please re-open with requested information.

[2020-03-13 07:50] #1416 closed

[2020-03-13 11:48] Trinetra-MSFT commented on #1436
@sranvi , We are tracking this issue internally. Thanks for your patience.

[2020-03-13 18:40] PhilBax opened #1446 "Linux client appears to be unable to connect to gov network"
Trying to use the linux client to connect to teams on the gov network, but just stalls out. Log seems to indicate an invalid url.

Steps:
- Launch preview app.
- Enter work account (<username>@<companydomain>.com).
- Enter password.
- Window closes.
- Splash screen opens with at "Loading Microsoft Teams" for about 30 seconds.
- Teams window reopens saying "We've run into an issue" for about 10 sec

[2020-03-13 18:48] #1446 closed

[2020-03-13 18:48] PhilBax commented on #1446
Sorry, I didn't realize this was just for documentation :(

[2020-03-16 05:39] Trinetra-MSFT commented on #1436
@sranvi , Could you please use Report a Problem feature within Teams help section so we can get the logs?
![image](https://user-images.githubusercontent.com/50989436/76726241-a3323580-6776-11ea-9ec2-4dcae8b1100c.png)

[2020-03-16 09:15] sranvi commented on #1436
To which email id do you want me to send logs from Teams?

[2020-03-16 09:18] sranvi commented on #1436
I have sent the mail with logs to notifications@github.com and msteams-docs@noreply.github.com

Please check

[2020-03-16 11:08] XimenaWang opened #1447 "Unable to load package "Microsoft.Bot.Connector.4.6.2""
Follow the Teams samples, I want to download the package, but failed and got the error 401, could you give me some suggestions, For example, do I need to join any group? Any insight you have would be greatly appreciated, thanks
![image](https://user-images.githubusercontent.com/30890958/76750608-d1deea80-673b-11ea-8c97-c4db0f4d986f.png)

[2020-03-16 14:44] Trinetra-MSFT commented on #1447
@XimenaWang , However this doesn't seems to be a Teams specific issue. But I would suggest you to renter your credentials in visual studio and try to download the package from nuget source.

[2020-03-17 05:43] Gousia-MSFT commented on #1389
Please re-open if you have any further queries.

[2020-03-17 05:43] #1389 closed

[2020-03-17 05:53] Gousia-MSFT commented on #1406
This is being tracked internally.

[2020-03-17 05:53] #1406 closed

[2020-03-17 05:57] #1422 closed

[2020-03-17 05:59] Gousia-MSFT commented on #1426
Please re-open with requested information if you are still facing the issue.

[2020-03-17 05:59] #1426 closed

[2020-03-17 06:00] Gousia-MSFT commented on #1428
Please re-open if you are still facing any issues.

[2020-03-17 06:00] #1428 closed

[2020-03-17 06:02] Gousia-MSFT commented on #1429
Please re-open if you have any further queries.

[2020-03-17 06:02] #1429 closed

[2020-03-17 07:38] anuraj opened #1448 "Authentication documentation - Redirecting to 404 page"
The Authentication documentation redirecting to https://docs.microsoft.com/en-us/concepts/authentication/authentication.md page which doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b294c444-a6ae-a5e7-4f65-26715b1a3cf6
* Version Independent ID: 5df1b473-c136-64f6-b818-c34d0239cd1c
* Content: [Tips and fre

[2020-03-17 08:11] ttlnd opened #1449 "Administrator has disabled chat for this user spreads to other chat windows"
If a user that previously had disabled chat but now are available to chat starts chatting with you, the message

spreads to other chat windows and makes replying to other people disabled as well.

(by opening that chat window as a starting point)

It wasn't this user that was disabled before in the picture below. The only way to make it disappear is to click around in the other chat windows and th

[2020-03-17 08:22] Wajeed-msft commented on #1448
@laujan - Could you please help to fix this?

[2020-03-17 08:33] Gousia-MSFT commented on #1449
@ttlnd Thanks for reaching out to us. We are looking into this.

[2020-03-17 08:49] #1447 closed

[2020-03-17 19:04] mjzwick opened #1450 "Meeting Options in Dark Mode are Unreadable"
I am using Microsoft Teams Version 1.3.00.4460 on MacOS 10.15.3 in Dark Mode and Firefox 73.0.1 in Dark Mode. When I click the Meeting Options link when creating or editing a meeting in the MacOS Teams App, when I use that link in Firefox (you cannot use the link in Safari) which is also in Dark Mode, the dropdown lists for "Who can bypass the lobby?" and "Who can present?" are white text against

[2020-03-17 19:52] stevkan opened #1451 "Typing indicator sent from bot doesn't display in Teams threaded conversation"
When developing a bot using the BotFramework SDK (C# or Node), if a typing indicator is sent from the bot in a 1:1 or group chat, it displays to the user. However, if it's sent in a threaded conversation in a Team's channel (i.e. I've @mentioned the bot), it does not display to the user. Yet, any associated delay in the typing indicator is respected.

This is true when sending from the bot's adapt

[2020-03-17 20:04] #1448 closed

[2020-03-17 20:20] #1442 closed

[2020-03-18 05:19] Gousia-MSFT commented on #1451
@stevkan Typing indicator is only supported in 1:1 and group chat. It is not supported in Teams scope. Just like, in a team there is no typing indicator shown when a user types a message.

[2020-03-18 05:54] Gousia-MSFT commented on #1407
@yjayousi Please reach out to teamsubmATmicrosoft.com for help on this.

[2020-03-18 05:54] #1407 closed

[2020-03-18 05:58] Gousia-MSFT commented on #1449
@ttlnd This has been fixed. Could you please check and confirm if it's fixed for you?

[2020-03-18 09:27] Wajeed-msft commented on #1401
Please re-open if you are facing any issues.

[2020-03-18 09:27] #1401 closed

[2020-03-18 13:39] gabbsmo commented on #1401
@Wajeed-msft Thank you for your reply. I got silent auth working by implementing a separate login page.

/Teams/Login
[code]
The content page can then point to that page when manual login is required.

/Teams
[code]

[2020-03-18 20:43] laujan opened #1453 "test"

[2020-03-18 20:44] laujan commented on #1453
test

[2020-03-18 20:47] laujan commented on #1453
test

[2020-03-18 20:49] laujan commented on #1453
test

[2020-03-18 20:50] laujan commented on #1453
last try

[2020-03-18 21:38] #1453 closed

[2020-03-18 21:38] laujan opened #1454 "Testing Testing"
I need help!

[2020-03-18 21:42] laujan opened #1455 "hello"

[2020-03-18 21:49] laujan commented on #1455
Hello

[2020-03-18 21:50] #1455 closed

[2020-03-18 21:50] #1454 closed

[2020-03-18 22:01] laujan opened #1456 "testing test testing"

[2020-03-18 22:50] laujan opened #1457 "Testing empty body"

[2020-03-18 22:50] laujan commented on #1457
Help!

[2020-03-18 22:50] #1457 closed

[2020-03-18 22:52] laujan opened #1458 "Hello"
I tried to open [docs](docs.build.com) and it didn't work!

[2020-03-18 22:53] laujan commented on #1458
I tried to open docs and it didn't work!

[2020-03-18 22:54] laujan opened #1459 "One last test"
I need help!

[2020-03-18 22:59] #1456 closed

[2020-03-18 22:59] #1458 closed

[2020-03-18 22:59] #1459 closed

[2020-03-19 12:57] gabbsmo opened #1460 "Some things unclear in SSO docs"
**Create your AAD application in Azure**

It is not clear whether access_as_user scope is a requirement or just an example. My AD app has a scope user_impersonation already created automatically, can I use it instead?

It is not clear whether "Who can consent" is required to be "Admins and users" or if it is an example. In my case the app is always installed with admin consent.

It is not clear wh

[2020-03-19 14:36] Abhijit-MSFT commented on #1306
@berezovskyy-andriy - I missed out to respond after i test it. I was testing this in the latest version of the Teams (which is currently not available for public use) and that is the reason i did not face this issue. I was testing it the same way as you mentioned - copy the url in the browser and it will redirect you to Teams client.

[2020-03-19 16:40] tecandrew commented on #1446
@PhilBax have you found a workaround for this? I'm having the same issue...
I've tried apps (mainly FOSS) apps and viewing the network traffic I keep getting errors like

[code]

[2020-03-19 17:32] PhilBax commented on #1446
I have not! However, I logged the bug in the correct place here: https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/39933604-linux-client-not-working-on-gov-domain

Please post your extra info there and upvote it! We almost have enough votes to get us on the first page under "all ideas"!

[2020-03-20 07:06] Abhijit-MSFT commented on #1420
@wimvanhouts - Check this [Document](https://docs.microsoft.com/en-us/graph/cloud-communications-phone-number).

[2020-03-20 07:17] XimenaWang opened #1461 "Bot how to send important/urgent message to one person"
Hi All, my Bot can send proactive message to people now, but I want to mark the message as urgent,
![image](https://user-images.githubusercontent.com/30890958/77143221-d4915680-6a3f-11ea-8d77-b87712bef7ff.png)

Are there any properties I can change? I checked the Activity class, no category I can set, could you give me some advice, thanks!
![image](https://user-images.githubusercontent.com/3089095

[2020-03-20 10:37] pallagj opened #1462 "UPLOAD FAIL"
I can't upload an image to a group in Microsoft Teams. :((
I tried Chrome, Firefox, the desktop app.

[2020-03-20 10:58] Wajeed-msft commented on #1462
@pallagj - Are you trying to upload image in a group chat or setting an icon for your team? Could you please send screenshot of your issue?

[2020-03-20 11:12] Subhasish-msft commented on #1460
@gabbsmo , Could you please take a look at demo code and try it out once?

https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso#demo-code

[2020-03-20 11:51] sathishreddy48 opened #1463 "Authentication issue in tabs (tab as a task module)"
trying to open react page as a task module and while loading the page trying to authenticate and getting the teams channels info using logged in user-id I am getting different errors while doing this operation . Couldn't be able to fetch channels information in (task module ) page

React *.tsx files

invalid_resource; Error description:AADSTS500011

[2020-03-20 12:35] gabbsmo commented on #1460
@Subhasish-msft I did look at the demo code. I find that sso.auth.service defines a function getToken that gets a token using Teams SSO. I have done that successfully. What I cannot find in the example is what to do with the token to login to my adal app.

My Teams tab is just a very small page that is supposed to login the current user using adal and the redirect to another web page that is also

[2020-03-20 12:55] kogaba opened #1464 "No desktop notification when tab active"
If chrome is in background but teams is the active tab, I don't get desktop notifications.
lichess.org works with the same circumstances.

Tested on:
Chrome 80.0.3987.122 (Official Build)
Chrome 80.0.3987.149 (Official Build)

[2020-03-20 14:51] sathishreddy48 commented on #1463
few other details : Silent authentication issue

[2020-03-20 18:24] Wajeed-msft opened #1465 "Test issue - test comment notifications in channel"
Test issue - test comment notifications in channel

[2020-03-20 18:26] Wajeed-msft commented on #1465
This is a test comment.

[2020-03-20 18:28] Wajeed-msft commented on #1465
This is additional information along with image.
![image](https://user-images.githubusercontent.com/31851992/77194802-9f9c0700-6b06-11ea-837e-11752827c72b.png)

[2020-03-20 18:29] Wajeed-msft commented on #1465
This issue can be closed now.

[2020-03-20 20:10] #1413 closed

[2020-03-20 23:00] aosolis opened #1468 "Document that the result is cached for 30 minutes"
Document that the link unfurler result is cached for 30 minutes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bbff2e-4b80-f980-2ade-7c7a7950801e
* Version Independent ID: e837e1fd-ec0c-2d6f-b0db-b76cb2d268a4
* Content: [Link unfurling - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extens

[2020-03-20 23:12] aosolis commented on #1413
@laujan I think we need a page that describes the settings and authentication protocols for a messaging extension. The sample helps, but one basically has to reverse-engineer the protocol from the sample.

[2020-03-20 23:24] laujan commented on #1413
Okay. 😃

[2020-03-21 00:16] brunocbr commented on #192
Hi! Any news on that subject?

[2020-03-22 03:58] nastassiar opened #1469 "The sample doesn't show a option for a configuration"
I tried the C# sample and there is no settings or configuration option visible. When I set a breakpoint in OnTeamsMessagingExtensionConfigurationSettingAsyncit is never hit. Does the manifest need to be updated to include something? This also means for the sample there is no way to have it go through the Email search flow. I had to change the code to force it to this.

---
#### Document Details

⚠

[2020-03-22 22:24] nastassiar commented on #1469
Does the configuration page related to the setting "canUpdateConfiguration": true in the app manifest at all?

https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema

[2020-03-22 22:53] nastassiar commented on #1469
I didn't read closely enough! When I followed the instruction in the sample I was able to trigger the configuration: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/52.teams-messaging-extensions-search-auth-config#interacting-with-the-bot-in-teams

The issue is that it always errors out. My guess is that the sample is missing searchSettings.html? But I am not

[2020-03-23 05:19] Subhasish-msft commented on #1464
Have you enabled desktop notification setting ?
![image](https://user-images.githubusercontent.com/56869764/77283933-87d5a600-6cf3-11ea-80b7-deef67e74b49.png)

You need to enable chrome Notification settings as well. By default chrome blocks notifications.

[2020-03-23 05:47] Trinetra-MSFT commented on #1469
@nastassiar , Thanks for following up the documentation. Here is mentioned that Once the Messaging Extension is installed, click the icon for Config Auth Search in the Compose Box's Messaging Extension menu to display the search window. Left click to choose Settings and view the Config page

[2020-03-23 06:08] #1451 closed

[2020-03-23 06:12] Gousia-MSFT commented on #1449
Please reopen if you still have the issue.

[2020-03-23 06:12] #1449 closed

[2020-03-23 06:13] Trinetra-MSFT commented on #1461
@XimenaWang , Currently, this is not possible to mark a message **!IMPORTANT**  through bot, However you can @mention user to notify them but that works within team or channel conversation.

[2020-03-23 07:12] nastassiar commented on #1469
Thanks for the response. For the C# sample the configuration/setting does appear to work. After running it with no code changes when I choose settings I get: "Sorry, the setting of this compose extension is not available. Please try again later."

[2020-03-23 07:15] nastassiar commented on #1469
The code is running and works just fine for doing the actual search but the Settings are inaccessible which means one flow of the code is untestable (without making changes to the code).

[2020-03-23 07:35] Abhijit-MSFT commented on #1463
@sathishreddy48 - Try this [Sample code](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-auth). This has silent auth developed.

[2020-03-23 08:14] kogaba commented on #1464
"When tab active" I mean, if I select other tab than teams, desktop notification are coming.

[2020-03-23 16:26] glucan1 opened #1470 "Bot is unable to receive attached files in Teams"
I have a bot running in Teams (Bot Framework SDK v4) but when I'm trying to upload an attachment (other than an image) from a Microsoft Teams channel to my bot, the file doesn't show up anywhere in the message that the bot receives.
In bot's session.message.attachments i receive only its mention, as below.

[code]
 I want to mention that I set the supportsFiles property in the manifest to true.
 I

[2020-03-23 17:42] aosolis opened #1473 "Document that some device permissions are not available on desktop client"
The page notes that device permissions are not available on mobile. They're also currently not available on desktop client either (only browser is working).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce494c52-9c5f-d294-c304-53ac466fa3ea
* Version Independent ID: ebd112aa-71c4-a7d6-aa9f-6e14c50be25c
* Content: [Requ

[2020-03-23 17:43] aosolis opened #1474 "Clarify if device permissions work in task module"
The page is specific to tabs-- do device permissions work in task modules? If so please generalize the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce494c52-9c5f-d294-c304-53ac466fa3ea
* Version Independent ID: ebd112aa-71c4-a7d6-aa9f-6e14c50be25c
* Content: [Request device permissions for your Microsoft Teams

[2020-03-23 19:39] clearab commented on #1469
@EricDahlvang Can you take a look at this one?

[2020-03-23 19:59] EricDahlvang commented on #1469
Hi @nastassiar

Does the appsettings.json have the publicly exposed url for `SiteUrl`?

I just tried the sample, and the settings page loads as expected.

[2020-03-23 20:32] nastassiar commented on #1469
Yeah it has the ngrok link that connects to my localhost. I double checked it.

[2020-03-23 20:56] EricDahlvang commented on #1469
Do you see a GET request for `searchSettings.html` in the ngrok window?

![image](https://user-images.githubusercontent.com/11055362/77362363-07706e80-6d0e-11ea-8bde-1ff576a7aa3f.png)

[2020-03-23 22:55] nastassiar commented on #1469
I'm not sure what I was doing wrong before but it started working now!

Thanks for the help!

[2020-03-23 22:58] EricDahlvang commented on #1469
Oh, good to hear! :)

[2020-03-23 22:59] #1469 closed

[2020-03-24 10:42] Subhasish-msft commented on #1470
Hi @glucan1 ,

Bot can only send and receive file in personal chat. It does not work in the channel or group chat context.
Here is the [link](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet#using-the-teams-bot-apis)

![image](https://user-images.githubusercontent.com/56869764/77416706-3b20c680-6dea-11ea-8077-c47d75275d36.png)

[2020-03-24 11:37] Trinetra-MSFT commented on #1450
@mjzwick , We are looking into it. Meanwhile could you please test this on other devices.

[2020-03-24 12:41] Subhasish-msft commented on #1443
@dastewa , There is plan to go G.A with LOB in upcoming quarter.

[2020-03-24 12:47] dastewa commented on #1443
Awesome @Subhasish-msft , thanks for the update! Just to clarify, when this goes to GA, does it mean that activating developer preview mode will no longer be necessary for this feature?

[2020-03-24 12:59] Subhasish-msft commented on #1443
yes, You are right. Developer preview is not needed, once it goes GA

[2020-03-24 13:23] dastewa commented on #1443
Awesome, thank you! Closing.

[2020-03-24 13:23] #1443 closed

[2020-03-24 13:32] orion3311 commented on #1449
I am still having this problem. I have a small group of users who policy had disabled chat. I re-enabled them, and now even moved to a new policy, and users still show disabled. If a user chats to me, I can use the pop-up toast to reply to them, despite the normal chat box being "Disabled".

Had users log out/in, cleared entire Teams appdata/cache on both ends, etc.

[2020-03-24 13:49] mjzwick commented on #1450
The only other device I can test it on is my iPhone (iPhone 8 running iOS 13.3.1). I tried it using Firefox, and it worked in light and dark modes fine. I could not figure out how to get Chrome into dark mode (light mode is fine). The attached is for Firefox.
![CDF13DD5-6EB8-4249-A594-FB07465D85EC_1_201_a](https://user-images.githubusercontent.com/2848019/77432682-c8492880-6db4-11ea-89bd-b14439a6e

[2020-03-24 14:07] Gousia-MSFT commented on #1399
@wasim8906 Thanks for reaching out to us. We could repro this behaviour. We are checking this internally.

[2020-03-24 14:19] billbliss opened #1477 ""Awareness of a team's entire roster." is not correct"
See "Lesser known tab features"

A tab does not have access to the entire team roster at least not without an access token to call MS Graph. It's different from a bot in that respect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62b12649-8660-975a-87f6-2f7486b5dc79
* Version Independent ID: c1b86714-5b2e-79a8-5761-0f

[2020-03-24 14:33] Trinetra-MSFT commented on #1436
@sranvi , Sorry for the delay in response, Could you please send the logs over `microsoftteamsdev@microsoft.com` ? This will be really helpful for us to mitigate the issue.

[2020-03-24 15:43] michaelamar1991 opened #1478 "Hello, i have problem to get Teams APP to work."
generateWebhook() {
    microsoftTeams.initialize(() =&gt; {
      console.log("teams sdk init"); // This callback never fired back to me.
    });
    microsoftTeams.settings.setValidityState(true);

    microsoftTeams.settings.setSettings({
      websiteUrl: "https://cloudvisor.io",
      contentUrl: "https://0c2f5341.ngrok.io/teams",
      entityId: "1a408017-b1f5-447b-bd0c-b019b3955fa7",

[2020-03-24 20:26] SHAGGAR commented on #1037
I think the problem here is we don't want a web application.  We want something that has decent performance, which is not something you can create with javascript and electron.  I get that it lets you dedicate your summer interns to writing the teams client, but that has come at the cost of an extremely poor user experience.  The teams client is really awful.

If you were to release a c# client sd

[2020-03-25 01:48] bealsao opened #1482 "CSS and color codes for the recommendations?"
This article is great but it's difficult to work with just pictures in terms of colors and styles.

If possible, you can provide the associated CSS or just the color codes for each example that would help would be great!

I am aware that the color codes are under the "color" document (where I have been looking for them currently) however being color blind I find it difficult to hunt and match the

[2020-03-25 04:37] StingyJack commented on #1037
.net, wpf, winforms, all these things _just work right_ on a Windows desktop.  No crazy graphic artifacts, my OS accessibility settings are honored, etc.

I'd say let them who don't want to use windows use the electron crap, but I don't think they like it much either. Its like settling for the lowest common denominator when you could have built a better xplat UI tech based on netcore 3.x. I feel t

[2020-03-25 12:07] tabinnorway opened #1484 "The examples should work - should they not? They should at least compile."
Neither does. Download the C# example, open in VS - nothing works. Lots of errors. Try to upgrade NuGet packages and things get worse.
A little better with the Node example: Hoek.inherits is not a function. OK, we can probably track this down easily enough.

Teams is a popular application. The QA for the examples is not up to par.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-03-25 12:11] slyholborn commented on #1473
Same issue on linux desktop client : on fedora 31, mic and cam only works fo root user. (rpm version, no snap install)

[2020-03-25 16:39] SHAGGAR commented on #1037
The thing that makes it even worse is that its so obviously a cost cutting thing and not at all some "open source!/open tools!" thing.  Supporting multiple platforms with high quality clients is hard and expensive.  Electron/javascript gives you an equally poor experience across all platforms at a much lower maintenance cost.

An actual "open" approach would be providing the tools and APIs to allo

[2020-03-25 18:30] hinojosachapel opened #1487 "Add the reference to the javascript_nodejs version"
Please, update de document and add the reference to the **javascript_nodejs** version. Currently there are only references to Bot authentication in cs-auth-sample and Bot authentication in python-auth-sample.

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/46.teams-auth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-03-26 03:57] Gousia-MSFT commented on #1478
@michaelamar1991 Could you please share more details on what you are trying to do? Please share some links that you are following and the issue you are facing.

[2020-03-26 07:17] Trinetra-MSFT commented on #1484
@tabinnorway , Sorry for your inconvenience, Could you please take a look at latest [Bot Builder SDK V4](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples) sample code? Let me know if this doesn't help you out.

[2020-03-26 09:13] luispb opened #1490 "The link to the Office 365 Developer Program is not correct"
In the first line of the "Just need a development environment?" paragraph, the link to the Office 365 Developer Program is not working. I believe the right link should be: https://developer.microsoft.com/en-us/microsoft-365/dev-program

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3530b55-59c8-6eec-b257-b7a5f2ed046b

[2020-03-26 09:19] Wajeed-msft commented on #1462
@pallagj - Could you please share more information here?

[2020-03-26 09:32] pallagj commented on #1462
Oh, I tried it again. Sometimes it working.

In Chorme, in the desktop application:
There is a button for upload image, it is okay, but if I click the link in the button, it doesn't work, just around the text, but I think it is guessable.

I think it is okay, now, may it be fixed, first time, when I wrote the issuse it doesn't work at all, just if I tried lot's of posiotion of the button with doub

[2020-03-26 09:34] Wajeed-msft commented on #1462
Thanks for confirmation. Closing this issue.

[2020-03-26 09:34] #1462 closed

[2020-03-26 10:55] hyoshioka0128 opened #1491 "Showing "**話し言葉の bot**" (extra asterisks appears)"
ja-jp:"https://docs.microsoft.com/ja-jp/microsoftteams/platform/concepts/extensibility-points"
![extensibility-points](https://user-images.githubusercontent.com/40815708/77639229-c5f4f300-6f9b-11ea-89fb-11284683d733.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0497b303-6e14-d6bc-2580-e2392fb2815d
* Version Indep

[2020-03-26 14:07] MKCPC commented on #1449
I am getting this same issue too and I cant find a resolution.  One thing I haven noticed is if I visit the web version https://teams.microsoft.com I am able to reply to these users.

[2020-03-27 05:27] XimenaWang commented on #1461
Hi team, we have implemented the mention feature in channel, and just want to know if ms teams can support the !IMPORTANT feature in personal conversation. if it can' t support now, would you mind tell me when this feature will be available in the future , thank you in advance!

[2020-03-27 05:58] Gousia-MSFT commented on #1372
@GabrielSandor This issue has been fixed with the latest release. Could you please check and confirm?

[2020-03-27 07:12] Zalutskiy commented on #1040
Maybe someone will help this link.
[https://techcommunity.microsoft.com/t5/teams-developer/you-don-t-have-permissions-to-add-for-adding-a-bot/m-p/918612](url)

[2020-03-27 09:21] GabrielSandor commented on #1372
@Gousia-MSFT i updated to version 2.0.4 and i still don't see the out of office extended message.

[2020-03-27 10:02] hinojosachapel opened #1494 "Missing javascript_nodejs versions"
Please, add javascript_nodejs versions. The initiative is fantastic but useless for the javascript_nodejs community. Even the cards definitions are not in json format so, we cannot reuse it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100070d1-40f9-b5eb-be0a-6199de26e0e6
* Version Independent ID: 5d1269e3-2775-ebf6-

[2020-03-27 10:12] Trinetra-MSFT commented on #1494
@hinojosachapel , Thanks for pointing this out, Currently production ready templates are available in C# on github, Java script node js versions are not available we will take this for further enhancement.

[2020-03-27 10:40] hinojosachapel commented on #1494
Yeah, that's my point! Keep the good work on! Regards.

[2020-03-27 19:17] rlingineni opened #1495 "Formatting Message Text in a Deeplink"
Let's say I want to send a list of links to a user as part of the message - how can we make sure that Teams will render it as a hyperlink.

For example - if my draft deeplink draft message has `https://microsoft.com` - that is not being rendered by the text editor as a hyperlink. This causes pain for our customers who have to copy and paste that link.

msft alias: @ralingin

---
#### Document Deta

[2020-03-27 20:15] laujan commented on #1494
Thank you!

[2020-03-27 20:15] #1494 closed

[2020-03-27 21:05] #1491 closed

[2020-03-27 21:54] laujan commented on #1491
Hi @hyoshioka0128. I updated the above-mentioned article; please let me know if you continue to see the extra asterisks. Thank you!

[2020-03-29 12:23] vbarrier commented on #568
I got the same error @Wajeed-msft can you help me?

[2020-03-30 05:30] Trinetra-MSFT commented on #1495
@rlingineni , Are you talking about deep link or sending a normal link to the user in draft message? sending link to user in draft message create hyperlink too. Please take a look at below screenshot:
![image](https://user-images.githubusercontent.com/50989436/77878222-79e4cf80-7275-11ea-808f-6ee30653dd00.png)

[2020-03-30 06:28] Trinetra-MSFT commented on #1450
@mjzwick , We have tested this at our end, it works fine for Android, iOS mobile devices. This works as well windows teams desktop and web verison in firefox but issue persist on Mac iOS we are discussing this internally about it.

[2020-03-30 06:32] Trinetra-MSFT commented on #1369
@apollon7 , We tested this for teams mobile Android platform, it works at our end. Meanwhile could you please check tel protocol is enabled in your maching

[2020-03-30 06:36] Gousia-MSFT commented on #1470
Please re-open if you still have any queries.

[2020-03-30 06:36] #1470 closed

[2020-03-30 07:33] anuraj opened #1499 "How to maintain user state?"
I am integrating my app to teams using Tabs feature. I am able to integrate authentication with my API. My challenge is how can I maintain state - for example - I am getting some configuration values from my API when the user is authenticated, and I want to display the content inside the tab based on these values. How or where I can store these kinds of state information? I tried with local storag

[2020-03-30 07:52] Gousia-MSFT commented on #1372
@GabrielSandor I just checked with the team. It looks like the release with the fix is not out yet. Hopefully it will be out soon but we do not have a firm ETA for this.

[2020-03-30 08:19] Abhijit-MSFT commented on #1499
@anuraj - What values are you trying to send?

[2020-03-30 08:24] anuraj commented on #1499
Something like my user's tenant info, their email address, their rank, profile pic information like this. Also, authentication token, which is required for all the requests once they logged in to our app.

[2020-03-30 08:40] Abhijit-MSFT commented on #1499
@anuraj - All this information can be fetched from tab context. Check these [docs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context)

[2020-03-30 08:43] anuraj commented on #1499
So if I understand correctly, as part of the response I need to set those values as query strings, and teams runtime will set it as part of context? So I can later read it from the context.

[2020-03-30 08:57] Trinetra-MSFT commented on #1461
@XimenaWang , Thanks for the update, Currently marking a message !IMPORTANT is not possible through bot, You can directly notify the user in 1:1 conversation using bot. Please raise a [uservoice ](https://microsoftteams.uservoice.com/forums/555103-public/filters/new)so we can take this as feature request.

[2020-03-30 17:50] rlingineni commented on #1495
Hey @Trinetra-MSFT , thanks for getting back. Apologies for not being clear.

Where this fails is with multiple links. Note that the first link doesn't render. If I was sending a user a list of bugs, they are unable to access them. They have to copy and paste each link individually.

![image](https://user-images.githubusercontent.com/5509813/77944554-c71c6d80-7284-11ea-98d1-8bbb25453f91.png)

A se

[2020-03-31 03:56] sathishreddy48 commented on #1463
I am actually looking for something else , while opening task module I am getting this issue , issue fixed with latest updates pushed from Microsoft recently .

[2020-03-31 03:57] sathishreddy48 opened #1501 "Unable to invoke bot from Microsoft teams(web)"
TransactionLockHelper.ts:155 Uncaught (in promise) Error: IndexedDbTransaction Aborted, Error: , History: abort-
    at e.transactionFailed (TransactionLockHelper.ts:155)
    at IDBTransaction._trans.onabort (IndexedDbProvider.ts:398)
e.transactionFailed @ sha256.js:1
_trans.onabort @ sha256.js:1
13Refused to set the document's base URI to '<URL>' because it violates the following Content Security

[2020-03-31 06:44] Subhasish-msft commented on #1501
Hi @sathishreddy48, Can you please provide more insight about the issue? In what scenario you are facing this?

[2020-03-31 07:05] sathishreddy48 commented on #1501
Sure , We have created a bot with tabs (tabs with silent-authentication ) ,While trying to communicate with the bot using bot commands we are not able to get the response . till 29th March 8 PM IST we are able to communicate without any issues but after that is stopped working , when we see the logs in console we've received above error results .

logs in the browser console :

Refused to set the

[2020-03-31 07:45] zorro2b opened #1502 "Blank Notifications on macOS Catalina"
On macOS Catalina 10.15.4, the chat notifications in the notification centre show up blank in the corner of the screen until you click on them.
This makes them not very useful.

[2020-03-31 09:52] Subhasish-msft commented on #1501
From this error, it can be deduced that it is trying to set '' (null) as base url.

[2020-03-31 10:03] sathishreddy48 commented on #1501
Could you please explain me why it is setting to Null ?? from where we need to change that value ?is this happening because of our settings ??

[2020-03-31 10:13] doronneumann commented on #1321
I have spent a whole day on this ! WHY THE HELL DONT YOU DOCUMENT IN BOLD ?????

[2020-03-31 14:23] gregmilligan opened #1504 "Broken link"
The "here" link at the bottom of the first section is broken.  Here's the URL:  https://education.microsoft.com/courses-and-resources/resources/microsoft-teams-moodle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 685f497e-473f-7767-3f4e-5a0d1271a2ec
* Version Independent ID: 79dc20db-c743-8150-a660-abd9ffb03b4d
* Cont

[2020-03-31 16:44] tingyiy commented on #1321
I feel you @doronneumann.

[2020-04-01 13:41] kosset commented on #1484
@tabinnorway Regarding the NodeJS sample, try uninstalling gulp from global scope `npm uninstall -g gulp`, then re-install all the dependencies from the sample-project `npm install` and run the app `npm start`.

I had the same problem and this worked for me. Cheers :)

[2020-04-01 18:25] laujan commented on #1490
Hi @luispb! The hyperlink to the Developer Program has been updated. Thank you again!

[2020-04-01 18:25] #1490 closed

[2020-04-01 18:33] laujan commented on #1504
Hi @gregmilligan! The broken hyperlink in the Moodle instructions article has been updated. Thank you, again.

[2020-04-01 18:33] #1504 closed

[2020-04-01 20:30] clearab opened #1506 "Bots section missing calling bot fields"
The parameters necessary to enable a calling/meeting bot aren't documented here, but I'm fairly certain the should be. The two values needed are listed here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/registering-calling-bot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b449c9ba-a

[2020-04-02 03:39] EnviteDev opened #1508 "Configuring Outgoing webhooks programmatically and receiving messages without @mention the outgoing webhook"
Is there any option to configure the outgoing webhook programmatically through REST API or Client SDK ? It will ease our work as it does not need user intervention as well User does not need to @mention the outgoing webhook every time to send the message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb9c5bd5-1ac6-dcc

[2020-04-02 06:12] Gousia-MSFT commented on #1508
@EnviteDev Outgoing webhooks work similar to bots and requires an @mention to listen to the user. Currently the only way to setup an outgoing webhook is from the Teams client as documented [here](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-outgoing-webhook#create-an-outgoing-webhook).

[2020-04-02 06:50] XimenaWang commented on #1461
ok, I created one in uservoice, waiting the new feature, thanks for your response

[2020-04-02 06:50] #1461 closed

[2020-04-02 07:47] Gousia-MSFT commented on #1478
Please re-open with requested information

[2020-04-02 07:47] #1478 closed

[2020-04-02 08:05] Farcry69 opened #1509 "CPU / RAM issue"
Hello,

I have a massive issue here with Microsoft Teams. It goes crazy and take ALL my ram and ALL my CPU at least once a day.

I have a i7 8700k 4.8Ghz and 32Go of RAM.

I don't know more about the issue. Microsoft Teams was idle in the background while I was playing a game. And it crashed my PC in a second.

I tried to take a screenshot of it, but it was full lagging so I don't have everything

[2020-04-02 11:04] Gousia-MSFT commented on #1509
@Farcry69 Thanks for reaching out to us. We are looking into this.

[2020-04-02 12:30] Noja13it opened #1510 "Task Modules launched by Adaptive Card Actions do not display content"
We are attempting to open a task module from clicking an Action on one of the Adaptive Cards sent by our bot to the channel.

We have tried using a Deeplink with `Action.OpenUrl`, as described [here](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules#task-module-deep-link-syntax).

As well as by using `Action.Submit` using the `task/fetch` method

[2020-04-02 17:50] aosolis opened #1511 "Getting started samples point to apps that use v3"
Convert samples to v4, or remove them from the list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2b0e7e8-c51e-5715-308d-43d20ef5349f
* Version Independent ID: 43c28753-a32d-d81b-450c-a13dab27ab0b
* Content: [Microsoft Teams code samples - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/samples/code-s

[2020-04-03 04:38] hyoshioka0128 opened #1514 "[LOC]Inappropriate japanese "C のクイックスタート#"→"C# のクイックスタート""
ja-jp:https://docs.microsoft.com/ja-jp/microsoftteams/platform/messaging-extensions/what-are-messaging-extensions

![what-are-messaging-extensions_j](https://user-images.githubusercontent.com/40815708/78324661-40cb9880-75b0-11ea-8d66-40064d8186f4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd5f91c-206f-f03c-d8

[2020-04-03 05:59] Trinetra-MSFT commented on #1495
We can't reproduce this issue at our end. Could you please try to send multiple links like this?
![image](https://user-images.githubusercontent.com/50989436/78328957-0bb64a80-759e-11ea-8519-872487ab2f5f.png). Please help us to know your which teams client version you are running on.

[2020-04-03 06:12] Trinetra-MSFT commented on #1499
@anuraj , No, `microsoftTeams.getContext(function(context) { /* ... */ })` uses [Teams javascript client SDK](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#getting-context-by-using-the-microsoft-teams-javascript-library) which returns you users email, UPN, tenant id and much more information, while uploading the manifest within teams you need to set enti

[2020-04-03 07:13] Wajeed-msft commented on #1501
@sathishreddy48 - Could you please share the Bot Id for which you are facing this issue? Also, are you facing this issue only on Web client?

[2020-04-03 07:30] anuraj commented on #1499
@Trinetra-MSFT Let me explain my scenario, I am authenticating with my token endpoint. I am getting a token. This token is required for all other API calls.

As per my understanding, I need to store the token is some storage which is associated with the current user. Since the authentication is happening with Teams SDK, I won't be getting the users credentials. I tried with local storage API to st

[2020-04-03 11:22] Nikitha-MSFT commented on #1510
@Noja13it -Could you please confirm if you have added the domain of the URL you are trying to open, in valid domains?

[2020-04-03 11:30] Noja13it commented on #1510
@Nikitha-MSFT The URL `wide-teams-stage.azurewebsites.net` is added in `"validDomains"` in our app manifest.

It is the same URL we serve all content for the app from.

[2020-04-03 12:25] Nikitha-MSFT commented on #1510
@Noja13it - Could you please share your app manifest?

[2020-04-03 12:36] Noja13it commented on #1510
[code]

[2020-04-03 14:45] sathishreddy48 commented on #1501
Yes only in web client , I've created bot with lower version (2.1 core) and it worked .

[2020-04-03 16:54] danswiser opened #1515 "Deep link to Voicemail Tab."
Is it possible to link to the Voicemail tab where users can view their voicemails?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent ID: 6b4203f0-2844-06c9-eaa3-9cc03e6f76c0
* Content: [Create deep links - Teams](https://docs.microsoft.com/en-us/microsoftteams/pla

[2020-04-03 21:39] siduppal commented on #388
Hi @stpeteparadox - I hope you are staying healthy in these unprecedented times. I just wanted to drop you an update to share that we are addressing the item you brought up on Teams web/desktop for images in Adaptive Cards. Users will be able to hover over an image in Adaptive Card and tap on an icon to expand it.

![captured (3)](https://user-images.githubusercontent.com/7799064/78404525-7aea6980

[2020-04-04 21:57] laujan commented on #1487
Hi @hinojosachapel! Thank you for your feedback. The javascript references have been added to the above referenced article. Thanks again!

[2020-04-04 21:57] #1487 closed

[2020-04-04 22:12] laujan commented on #1514
Hi @hyoshioka0128! Thank you for raising this issue. The above referenced article has been updated.  Thanks again!

[2020-04-04 22:12] #1514 closed

[2020-04-05 17:46] Trinetra-MSFT commented on #1502
@zorro2b , Thanks for reporting this. This is a known issue. we are looking into this.

[2020-04-05 21:17] Mike-Gibson opened #1519 "Deep link to tab in group chat"
The documentation gives clear steps in order to create a link to 'personal' or 'team' tabs, but does not specify how to deep link to a tab that's installed in the 'groupchat' scope, which is a configurable tab (like team).

The context when linking to a team tab requires 'channelId' but in a group chat, we only have a chatId. I've tried both:
[code]
and
[code]
but neither link to the tab in the gr

[2020-04-06 04:35] Trinetra-MSFT commented on #1436
@sranvi , This probably a sync issue, Could you please try to refresh cache and try again? However these are known issue with the chat history:
Observed Issues:
1. The number of chats in the Chat tab is too low and possibly missing some chat conversations
2. Cannot scroll chat message history for a given chat > than 30 days old (this issue)

Let me know if you are still facing this issue

[2020-04-06 04:57] sranvi commented on #1436
Hi, I cleared the Teams app cache and started new session of app but I am still facing issue.
This is causing problems for me as this is business account and when m using Teams on mobile and i want to access older messages for some important content, i can not open those messages. I can search for it and it does appear in search result but I can't open that message and it says 'Couldn't find messa

[2020-04-06 06:25] Nikitha-MSFT commented on #1510
@Noja13it - could you please provide steps to reproduce the issue?

[2020-04-06 06:59] Subhasish-msft commented on #1515
@dan-wesley ,
Currently deep link to Voicemail tab is not implemented. You can deep link to App's tab.

[2020-04-06 08:27] Gousia-MSFT commented on #1307
@RobDM We have raised a bug for this and we are tracking it internally

[2020-04-06 09:27] Trinetra-MSFT commented on #1499
@anuraj , We have Bot builder SDK v4 samples for authentication. May be this will help you to solve the issue. Please take a look at [TeamsAuth ](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth)sample code.

[2020-04-06 09:59] anuraj commented on #1499
@Trinetra-MSFT I saw the content for Bots. But what about tabs? I do see a lot of applications running in the tab. Why MS doesn't have a sample for tabs with authentication? 😕

[2020-04-06 10:07] Trinetra-MSFT commented on #1499
@anuraj , Here is the sample for [Authentication in Tabs](https://github.com/OfficeDev/microsoft-teams-sample-complete-csharp). You can try this , let me know if this doesn't help you.

[2020-04-06 11:33] tk-contexxtai opened #1520 "Link is wrong"
Hey,
the link to "this form" does not target to a working form....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75dcbc89-3e4e-6ccc-aab0-49debb445e7c
* Version Independent ID: afd117d9-e02e-fa13-a858-9f6bafb61d1f
* Content: [App Certification - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/d

[2020-04-06 16:23] dan-wesley commented on #1515
@Subhasish-msft you got the wrong dan I think @danswiser

[2020-04-07 14:01] tmpkn opened #1521 "Mentions or notifications for Connector Messages"
Is there a way to @mention individuals / channels / teams from a Connector message? It's not documented anywhere, and when I use the "at" + "team name" it's simply displayed as a text (doesn't trigger notification).

We use Connectors for high priority messages and right now have to rely on end users manually changing their channel configuration to notify them of all messages.

[2020-04-07 14:21] Subhasish-msft commented on #1515
I am really sorry. Thanks for the correct tag.

[2020-04-07 14:40] gregmilligan opened #1522 "Broken link in first video"
The first video tells customers to go to https://aka.ms/TeamsMoodle, but that sends them to https://education.microsoft.com/en-us/courses-and-resources/resources/microsoft-teams-moodle, which is a broken page.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 685f497e-473f-7767-3f4e-5a0d1271a2ec
* Version Indepen

[2020-04-07 14:41] gregmilligan commented on #1522
Whoops - just realized I already reported this bug.  Sorry for the duplicate...

[2020-04-07 23:26] nastassiar commented on #1474
I have the same question!

[2020-04-07 23:26] victor-kironde opened #1523 "Missing Link"
Hi,
The Python API Docs link is missing in "Deleting messages" Section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 293d28d8-bd82-299a-05b3-4f798e485542
* Version Independent ID: 2f747d61-5ff7-be26-d55d-fdc715f4293d
* Content: [Update and delete messages sent from your bot - Teams](https://docs.microsoft.com/en-us/m

[2020-04-08 00:41] anuraj commented on #1499
@Trinetra-MSFT Thanks. Let me explore and will try to implement it. Will get back if there are any questions.

[2020-04-08 05:38] Gousia-MSFT commented on #1522
Closing this as this is duplicate.

[2020-04-08 05:38] #1522 closed

[2020-04-08 06:33] #1307 closed

[2020-04-08 06:36] Gousia-MSFT commented on #1372
@GabrielSandor Could you please try sign out and sign in back and see if that fixes the issue?

[2020-04-08 07:21] GabrielSandor commented on #1372
@Gousia-MSFT i updated MS Teams to the latest version (2.0.6), signed out and in again, but i still don't see the out of office message.

[2020-04-08 07:42] mirceamic opened #1524 "Mobil App shows deleted Teams"
On the phone I can see deleted Teams as if they were never deleted.
Other colleagues have confirmed the same issue.
On the Desktop App, everything is as it should be.
MS Teams Mobile version: 1416/1.0.0.2020032405

[2020-04-08 07:47] Trinetra-MSFT commented on #1521
@tmpkn , @mention in webhook is not supported, This feature is under review Please take a look at [UserVoice](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/32313991-allow-webhooks-extensions-to-mention-individuals)

[2020-04-08 12:26] mauricio208 opened #1525 "Skype support?"
If I understand correctly when creating a bot with Azure Subscription if I add on "Supported account types" Skype, then the bot will work also for people writing to it from Skype?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e52a9fa-a482-2929-c462-47da5e8b38d1
* Version Independent ID: ce956c12-2916-9d6c-4fbb-5d0755

[2020-04-09 08:46] Trinetra-MSFT commented on #1508
Please feel free to reopen the issue if you have further query

[2020-04-09 08:46] #1508 closed

[2020-04-09 08:52] #1521 closed

[2020-04-09 11:48] vbvbvbv opened #1526 "Vague @ mentions in adaptive cards guidance"
Hi all, there's no explanation how to get Teams User ID required for Flow adaptive cards mentions - in https://github.com/MicrosoftDocs/msteams-docs/blob/master/msteams-platform/task-modules-and-cards/cards/cards-format.md

Also, not clear how to make this for multiple users at once , for example.

[2020-04-09 12:01] Virrefirre opened #1527 "Profile pictures"
You must log out of teams to see other people's new profile pictures.

[2020-04-09 15:22] bomski opened #1529 "Team-member can invite persons to team"
We found today a security/permission bug in MS Teams.

Steps to reproduce:

1. Create a new team as member of an existing team
2. Invite new persons via e-mail address
3. New Team created

So far so good, but the invited persons also gets added to the first team where the user is only a member and should not allowed to add new members.

We could reproduce the bug twice and the invited persons real

[2020-04-09 15:57] GabrielSandor opened #1530 "Not all sounds are outputted through the selected speaker"
When i set a speaker in Devices settings (custom setup) that is not the same as the default speaker in Windows, some sounds such as the call ring are not outputted through the selected speaker but through the default one.

[2020-04-09 16:48] v-kydela opened #1531 "Are Adaptive Cards 1.2 supported?"
It seems this document hasn't been updated in a few months, and [the Adaptive Cards website](https://docs.microsoft.com/en-us/adaptive-cards/resources/partners) says Teams supports 1.2. Does it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb4394d-25b1-8752-3996-fe3a2934732d
* Version Independent ID: 6d391381-89d0-1

[2020-04-10 08:03] wimvanhouts commented on #1420
Thx, figured it out also via one or two other articles. However, added some remarks from experience to that article which was giving me headaches. Maybe it saves time of other people. You can close this ticket

[2020-04-10 08:03] #1420 closed

[2020-04-10 09:36] stpeteparadox commented on #388
Hi @siduppal

Thank you and likewise wishing you, your family and Microsoft colleagues much health and best wishes.

This is wonderful news. Thank you very much. Any thoughts on when this might be available even if in preview form?

Prior to your reply, our team went ahead and converted the underlying content that is normally transmitted in the adaptive-card via a screenshot, into a full adaptive-

[2020-04-10 17:11] edireson opened #1533 "Link broken"
The link under Further Reading, third bullet point, "Microsoft Graph permissions for calls and online meetings bots" is a 404 Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a05d4dc-11a1-f548-15bd-8767de4d16b2
* Version Independent ID: 3a17e6f9-93c4-949b-d8a7-f2e41059ba79
* Content: [Calls and Online Meeting

[2020-04-11 09:16] jackygeee opened #1534 "Links to botframework doesn't work"
Hey guys,

these two links doesn't seem to work:
https://dev.botframework.com/bots
https://dev.botframework.com/bots/new

[2020-04-11 09:19] Abhijit-MSFT commented on #1530
@GabrielSandor, Is this query related to MS Teams? If yes, can you please provide more details on your query.

[2020-04-11 09:23] GabrielSandor commented on #1530
@Abhijit-MSFT yes, it's related to MS Teams desktop, version 1.3.00.4461. What kind of details do you need?

[2020-04-11 09:29] Abhijit-MSFT commented on #1534
@jackygeee, Both the links work fine for me. Is there any error that you encountered?.
You can create new bot in [Azure Portal](https://ms.portal.azure.com/) directly in case these two url's doesn't work for you.

[2020-04-11 10:00] jackygeee commented on #1534
@Abhijit-MSFT oh yeah probably a browser issue - my fault.
Thanks for your help!

[2020-04-11 10:00] #1534 closed

[2020-04-11 13:05] Abhijit-MSFT commented on #1529
@bomski, Thanks for reaching out. Please tell me if my steps are different from what you tried because i tried two time and both the time it was WAD.

- I am part of 3 different teams (member and not owner)
- Created new Team
- Invited new user using e-mail address
- New user accepted the invite and logged into Teams
- On my side i see that new user got added to the only Team where i had invited h

[2020-04-13 04:50] Trinetra-MSFT commented on #1526
@vbvbvbv , Currently @Mention within cards is in developer preview. But However you can @mention user in Adaptive Card following way:
Adaptive card json for @mention user:
[code]
![image](https://user-images.githubusercontent.com/50989436/79092909-0dd39280-7d70-11ea-8ef7-7757def3f9fd.png)

You can get the channel Id and other required parameters from Activity Object.

[2020-04-13 05:27] Gousia-MSFT commented on #1527
@Virrefirre -Thanks for reaching out to us. We have forwarded your feedback to the right team and we are working on making this experience better.

[2020-04-13 05:29] Trinetra-MSFT commented on #1369
Please feel free to reopen the issue if you have further query

[2020-04-13 05:29] #1369 closed

[2020-04-13 06:19] Gousia-MSFT commented on #1327
@beauzeaux Apologies on the late response here. We could repro what you reported and we are working on updating the docs to reflect the proper conditions to trigger user consent flow.

[2020-04-13 06:39] Gousia-MSFT commented on #1509
@Farcry69 Please use the report a problem feature under "Help" to report this issue.
![image](https://user-images.githubusercontent.com/45553518/79098421-8d1c9280-7d7f-11ea-93de-84c52454d004.png)

[2020-04-13 06:51] Gousia-MSFT commented on #1495
Please re-open if you are still facing the issue.

[2020-04-13 06:51] #1495 closed

[2020-04-13 06:57] Trinetra-MSFT commented on #1450
@mjzwick , We have opened a Bug for this. We will let you know once it is fixed.

[2020-04-13 07:05] vbvbvbv commented on #1526
@Trinetra-MSFT Thanks for your reply, this is valid for Bot Builder, while for example using Power Automate Flows which post adaptive cards via MS Teams doesn't get you ability to get these values easily and having simplified way of using <at> mentions would be more beneficial.

I managed to find a workaround by using OrgID in this format instead , which works fine on desktop version of Teama but

[2020-04-13 10:22] Abhijit-MSFT commented on #1525
@mauricio208, Yes bot will work for Skype as well.

[2020-04-13 10:40] Abhijit-MSFT commented on #1530
@GabrielSandor, Call ring is set to default speaker. Did you observe any other sound coming from default speaker even though speaker settings are changes?

[2020-04-13 10:52] GabrielSandor commented on #1530
@Abhijit-MSFT i expected all sounds in MS Teams to be outputted to the selected speaker in the Device settings, not just the voice in the calls. Is this by design, then?

[2020-04-13 15:21] jzbuaa opened #1535 "misleading description about the user consent procedure"
"When you call getAuthToken - and additional user consent is required (for user-level permissions) - we will show a dialog to the user encouraging them to grant additional consent."

this is misleading as it suggests that the user consent dialog will be shown by Teams, but the fact is that developers have to do the work themselves, just as the great demo project "Task Meow" shows.

---
#### Docume

[2020-04-13 15:31] matula opened #1536 "How to force "Add to a Team" when installing app"
I've seen some apps that have a single "Add to a Team" button on install, instead of just "Add" with "Add to a Team" in a dropdown. What part of the manifest needs to be updated to have this happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9a

[2020-04-13 15:36] matula commented on #1536
For reference, this is what I'm currently using. Thanks in advance.
[code]

[2020-04-14 03:57] Gousia-MSFT commented on #1372
@GabrielSandor We can not repro the issue on our side with any build of Teams app on iOS. Could you please confirm if the user set a OOF message or only OOF status.

[2020-04-14 03:59] Manish-Ghumnani opened #1539 "Using Deep Links with Action.OpenUrl within a bot message"
There is no way to identify a user who clicked on the Card Action which navigates to the tab. For a deep link shown in a bot message in a group/team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent ID: 6b4203f0-2844-06c9-eaa3-9cc03e6f76c0
* Content: [Create deep

[2020-04-14 04:04] Kanishk10Gupta opened #1540 "Removes me from Groups"
randomly kicks me out of groups, without notification
unable to join meetings

[2020-04-14 04:55] Alexees opened #1541 "Bullet Point stays when removing infront of code snippet"
I use bullet points quite often as a tool for listing text. Just now I had the following issue:
Within my first bullet point, I added a code snipped and pressed enter, so I would get the followup bullet. I then decided to remove it. The first backspace did nothing. It only got rid of the caret. Pressing backspace a second time removed the code snippet and let the caret appear at the end of the fir

[2020-04-14 07:15] GabrielSandor commented on #1372
@Gousia-MSFT I am absolutely sure that the user in question has both an OOF status and a message. See the screenshot in the desktop app for the same user i attached a mobile screenshot above:

![image](https://user-images.githubusercontent.com/3800303/79196418-bea56480-7e38-11ea-9555-ce1f1de149e0.png)

[2020-04-14 08:56] Trinetra-MSFT commented on #1536
@matula , If you want to add your bot to team specific only, you need to update the scope to Team only in bot scope & remove compose extension part because compose extension have default scope as personal. Please see the attached screenshot:
![image](https://user-images.githubusercontent.com/50989436/79205228-4603cf80-7e5b-11ea-8667-4dfbd9e3f1df.png)

[2020-04-14 09:54] Subhasish-msft commented on #1535
The additional consent dialog is displayed when the app required additional permission. It will be displayed by microsoft authetication dialog. User need not do that manually.

![image](https://user-images.githubusercontent.com/56869764/79211397-d514e580-7e63-11ea-8c82-8c6b87533af7.png)

[2020-04-14 10:08] Subhasish-msft commented on #1541
@Alexees , Thank you for reporting this issue, I have shared this info with engineering team.

[2020-04-14 10:48] GabrielSandor opened #1542 "Phone number not showing in contact card until after re-login"
Whenever a colleague has their phone number set in their Teams contact card, i can't see it unless i logout and login again. I believe the phone number comes from Active Directory. This looks like a synchronization issue in Teams.

[2020-04-14 10:48] GabrielSandor commented on #1542
This is probably related to https://github.com/MicrosoftDocs/msteams-docs/issues/1527.

[2020-04-14 11:19] KenticoMartinS opened #1543 "Channel disappearing"
Hi,
we are experiencing problems with disappearing channels. We have created a channel and when a user opens its link in a browser or re-login on his device, the channel disappears.

When he/she clicks on the link he gets the following messages: "We can't find that channel due to connectivity issues. Please try again later."

[2020-04-14 11:23] neel-hektor opened #1544 "Validation Policies page click thru broken"
"Validation policies: It must pass all current AppSource validation policies for Teams tabs and bots. Please note that these policies are subject to change."

the click thru for "AppSource validation policies " redirects to https://dev.office.com/officestore/docs/validation-policies which gives "IP address could not be found error"

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-04-14 13:37] ximbal opened #1545 "Support for i18n and l10n (internationalization and localization)"
We work in a True! Bilingual environment, we work and collaborate in English and French.

We are performing a POC and quickly realized that there isn't any reference for i18n and l10n (internationalization and localization).

As we keep adding knowledge to the bots we would like to avoid duplication on the LifeCycle and Management of the bots by simply using a Configuration file?

Is there any ite

[2020-04-14 14:19] camil-o opened #1546 "Post a message to the webhook using cURL"
The example given there does not work.
[code]
It should be update to something like this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28316a67-22fa-8a05-1ae0-fbe1c5720ef9
* Version Independent ID: 8a250e46-2a30-af86-839d-9f83a8b48041
* Content: [Sending messages to Connectors and Webhooks - Teams](https://doc

[2020-04-14 17:09] siduppal commented on #388
@stpeteparadox we are hoping to get this out in GA around Build. Pls feel free to start a separate GitHub issue thread on the sluggish problem you noticed and we will investigate that one too.

Cheers!

[2020-04-15 02:10] #388 closed

[2020-04-15 05:48] Trinetra-MSFT commented on #1436
@sranvi , We are unable to reproduce this issue at our end. Meanwhile could you please help to answer few questions for clarification:
	1. Is this happening for just one chat or multiple chats?
	2. For which types of chats is this happening?
	3. Are the messages they are searching for possibly deleted from the other user?
Version:1416/1.0.0.2020022503, tested:	 We have tested for the same version

[2020-04-15 07:15] Gousia-MSFT commented on #1543
@KenticoMartinS Thanks for reporting this. We have forwarded this to the right folks who are looking into it. Will get back to you if we need any further information.

[2020-04-15 09:05] Subhasish-msft commented on #1542
@GabrielSandor, Thanks for reporting it. We have forwarded your feedback to the dev team.

[2020-04-15 11:09] xamde opened #1549 "images broken"
The images under "Mobile and desktop differences for connector cards using HTML" are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001a12ea-30fa-d626-18a9-02a518bfb37f
* Version Independent ID: e5f5f69e-66e9-d1b2-e19a-485d0ffcd6fa
* Content: [Text formatting in cards - Teams](https://docs.microsoft.com/en-us/mi

[2020-04-15 11:17] Trinetra-MSFT commented on #1540
@Kanishk10Gupta , Your question is not clear. Please provide some more context related to issue. What exactly you are facing

[2020-04-15 11:18] Trinetra-MSFT commented on #1539
@Manish-Ghumnani , I think you can get the userInfo from the [tab context](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context) or [bot context](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-context).

[2020-04-15 12:05] Gousia-MSFT commented on #1545
@ximbal Could you please see if this helps: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/apps-localization

[2020-04-15 14:55] cesarhoeflich commented on #1543
I found a relationship with the browser language in Teams Web. When opened in PT-BR, all channels are visible, in EN-US some channels disappear.

[2020-04-15 15:04] GabrielSandor opened #1550 "Cannot choose download folder"
Teams does not let you choose the download folder, and downloads everything in the default Windows download folder. It would be useful to have a setting that allows you to change it.

[2020-04-15 20:29] lankaim opened #1553 "Can devs use VS 2019 instead of VS 2017?"
VS 2019 is the current version of VS. Can this tutorial be completed with VS 2019 instead of VS 2017?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f98c73d-bb68-3088-6e7d-2c576a8292f6
* Version Independent ID: 08b9df7d-4997-c681-e73a-235ec1e4fc7b
* Content: [Get started with C#/.NET - Teams](https://docs.microsoft.co

[2020-04-15 23:25] adhoke-ava opened #1554 "Unable to find Teams app "App Studio""
When I search in Teams, I get no results for an app named "App Studio." Refining the complete app list to "Developers and IT" does not contain any apps that seem even similar to App Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f98c73d-bb68-3088-6e7d-2c576a8292f6
* Version Independent ID: 08b9df7d-4997-c681-e

[2020-04-16 03:58] Manish-Ghumnani commented on #1539
yeah but that is only for personal tabs, how to access the tab context for a team tab?

[2020-04-16 05:32] Gousia-MSFT commented on #1554
@adhoke-ava Could you please try login to Office 365 admin center, in settings for Microsoft Teams. and turn on the option "Allow external apps in Microsoft Teams" and see if that helps?

[2020-04-16 06:05] Nikitha-MSFT commented on #1553
@lankaim - VS 2019 and VS2017 both versions can be used for the sample tutorials [ here ](https://docs.microsoft.com/en-us/microsoftteams/platform/tutorials/get-started-dotnet-app-studio#feedback)

[2020-04-16 07:10] Trinetra-MSFT commented on #1550
@GabrielSandor , Thanks for pointing this. Yes currently teams download everything in default windows folder. Please raise a [UserVoice ](https://microsoftteams.uservoice.com/)for this.

[2020-04-16 07:29] GabrielSandor commented on #1550
@Trinetra-MSFT thanks for the suggestion, but i already see at least requests on UserVoice for this feature and they seem largely ignored:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38432071-ability-to-download-to-a-folder-of-choice-instead
https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/40174198-can-t-change-download-folder
https://microsoftte

[2020-04-16 09:02] jovelfer opened #1555 "Webhook to a specific tab in Teams channel"
Hi,

We have a specific tab in a channel (planner type), and we would like to post messages to this specific tab, to add new tasks to that planner tab..., is it possible with webhooks?, and if it is, how would yo do?

Thanks a lot in advance.

[2020-04-16 09:29] iv230 commented on #1235
Got the same problem here. So I cannot move to the testing step.

[2020-04-16 09:29] Gousia-MSFT commented on #1510
Please re-open with requested information if you are still facing the issue.

[2020-04-16 09:29] #1510 closed

[2020-04-16 09:59] Trinetra-MSFT commented on #1539
@Manish-Ghumnani , When invoked, the [microsoftTeams.getContext((context) => {}) ](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/configuration-page#use-the-getcontext-function-to-retrieve-context)function retrieves the Context interface. You can add this function to your configuration page to retrieve context values:

[2020-04-16 15:43] adhoke-ava commented on #1554
@Gousia-MSFT this is for my company's tenant, not a development tenant. I don't have admin access. Do I need to sign up for the O365 developer program to get a test tenant?

[2020-04-17 05:47] Gousia-MSFT commented on #1543
@KenticoMartinS It appears that we have a livesite incident we are investigating that would explain what you are seeing. Meanwhile, could you please use the "Report a problem" feature under Help to report this:
![image](https://user-images.githubusercontent.com/45553518/79536183-0c220b80-809d-11ea-891e-e5d26a1b5077.png)

[2020-04-17 06:11] Gousia-MSFT commented on #1555
@jovelfer Webhooks are only built for channels. It is not possible to add a webhook to a tab.

[2020-04-17 07:51] joshamil opened #1561 "Bot cannot access images added by clipboard"
Hi there,
I am working on a bot which receives messages from Teams via the Botframework and sends them to another application. I'm using .NET Core.

When sending a normal file, I can access it with the Attachment.Content["downloadUrl"] of the activity which I receive from the Botframework.

But when I insert images from the clipboard, it is stored in another way, with the Activity I get two attach

[2020-04-17 08:12] KenticoMartinS commented on #1543
Hi @Gousia-MSFT,
I'd love to report this issue, but unfortunately, I don't have that option for some reason.
![image](https://user-images.githubusercontent.com/17612117/79547293-fa883600-8093-11ea-8e93-fdac17c0a7db.png)

[2020-04-17 11:06] Subhasish-msft commented on #1561
@joshamil ,

MS teams framework treat attachment object and clipboard image differently.

- When user paste an image in MS teams chat, it does not treat it as an usual attachment. Rather it receives as an image type and stores it in MS Teams internal storage and sends the Image URL in Activity.Attachment[0].
- you need to download the image content from that URL and upload to your blob storage.
-

[2020-04-17 14:10] JGGALVISR commented on #1235
I have the same issue,  has anyone been able to solve it?

[2020-04-17 14:15] iv230 commented on #1235
Looks like we have to go to our organisation settings to enable the custom application uploading.

[2020-04-17 15:01] technicallynick commented on #1531
This is listed at the top of [this section](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#adaptive-card) now. Likely as a result of this report.

[2020-04-17 15:17] v-kydela commented on #1531
@technicallynick - Unlikely, because my report was responding to that note

[2020-04-17 19:23] jChapman opened #1563 "Broken link to azure portal"
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/create-a-bot-for-teams#with-an-azure-subscription

Appears as

![image](https://user-images.githubusercontent.com/1152464/79605719-6da6a200-80be-11ea-81b1-969eba60412a.png)

Appears to be included in from this md file: https://github.com/MicrosoftDocs/msteams-docs/blob/8989688ef25fc367f01a5b7af608e6ffe29752ec/msteams-platform/inc

[2020-04-17 20:55] #1553 closed

[2020-04-17 21:06] laujan commented on #1563
Hi @jChapman. The broken link in the  **Create a bot for Microsoft Teams** article has been fixed. Thank you again for bringing the issue to our attention!

[2020-04-17 21:06] #1563 closed

[2020-04-17 21:08] laujan commented on #1549
Hi @xamde. The broken links in the **Format cards in Teams** article have been repaired. Thank you again for bringing the issue to our attention!

[2020-04-17 21:08] #1549 closed

[2020-04-17 21:38] #1533 closed

[2020-04-17 21:40] laujan commented on #1533
Hi @edireson. The broken link in the **Calls and online meetings bots** article has been fixed. Thank you again for bringing the issue to our attention!

[2020-04-17 21:46] #1544 closed

[2020-04-17 21:47] laujan commented on #1544
Hi @neel-hektor. The broken link in the **Prepare for AppSource submission* article has been fixed. Thank you again for bringing the issue to our attention!

[2020-04-17 22:06] laujan commented on #1531
Hi @v-kydela . Yes, [Adaptive Cards v1.2](https://github.com/microsoft/AdaptiveCards/releases/tag/v1.2.0) are [supported in Microsoft Teams](https://developer.microsoft.com/microsoft-teams/blogs/adaptive-cards-1-2-are-ga-in-microsoft-teams/). I have updated the **Cards reference** article to reflect the latest Adaptive Cards release. Thank you!

[2020-04-17 22:06] #1531 closed

[2020-04-18 00:14] #1353 closed

[2020-04-18 01:15] gravldo commented on #1554
this is not working for me - i have a E3 account and have turned on external apps for teams

[2020-04-18 01:54] apoorvanand commented on #1546
Same issues observed by trying out ths example.

[2020-04-18 22:34] laujan commented on #1482
Hi @bealsao. I have updated the **Buttons, links, and controls** article to add a reference to the Fluent UI site where [suggested color values for buttons can  be found](https://fluentsite.z22.web.core.windows.net/components/button/definition?showCode=false&showRtl=false&showTransparent=false&showVariables=true#types-emphasis). Thank you again for bringing this issue to our attention.

[2020-04-18 22:35] #1482 closed

[2020-04-19 14:39] Gousia-MSFT commented on #1529
Please re-open if you are still facing the issue.

[2020-04-19 14:39] #1529 closed

[2020-04-20 08:05] abduldblogger commented on #1201
Hi there,
I am too facing the same issue, followed the steps mentioned above, but it didn't work

[2020-04-20 08:33] cpjoshi opened #1567 "Per bot per thread limit table is confusing"
It's not clear why there are four limits for "Send to Conversation", "Get Conversation Members" etc.

e.g.
Get Conversation Members	1	14
Get Conversation Members	2	16
Get Conversation Members	30	120
Get Conversation Members	3600	3600

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57254c9-963d-ea1d-ecaf-dd0e7913526c
*

[2020-04-20 10:58] Subhasish-msft commented on #1567
@cpjoshi ,

Multiple entries are for rate limit of that particular range of time.
For example in 1 sec, 14 API call can be made. where as in 2 secs, 16 is the limit, not 27 (2*14).

Hope it helps.

[2020-04-20 22:54] liangchr opened #1568 "example is wrong"
compose extension example has type "search" but it should be "query"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* Content: [Manifest schema reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/

[2020-04-21 05:09] #1450 closed

[2020-04-21 05:23] Trinetra-MSFT commented on #1536
Please feel free to open if you have any further queries

[2020-04-21 05:23] #1536 closed

[2020-04-21 05:26] Trinetra-MSFT commented on #1539
Please feel free to reopen, if you have further query

[2020-04-21 05:26] #1539 closed

[2020-04-21 05:31] Trinetra-MSFT commented on #1499
Please feel free to reopen if you have further queries

[2020-04-21 05:31] #1499 closed

[2020-04-21 05:44] Trinetra-MSFT commented on #1526
@vbvbvbv , This Id can be fetch through only Activity Object. There is no Graph API to get this

[2020-04-21 06:49] joshamil commented on #1561
Thank you @Subhasish-msft for your great explanation and the code sample!
I completely forgot about the MicrosoftAppCredentials.

Now it works as intended :)

[2020-04-21 06:49] #1561 closed

[2020-04-21 20:38] itoledo opened #1569 "Deep link to voice/video call"
Hi, is there any way to call a specific user/group of users? Like "click to call"?
Tried with this URL: https://teams.microsoft.com/l/call/0/0?attendees=demo@birdie.cl and it launches a new call on desktop, but with no attendees other than me. Tried a few iterations but it seems the functionality is there, just need the correct incantation/parameters. In mobile this URL just crashes the app.
Using

[2020-04-22 01:39] kvmakanna opened #1570 "I am mostly concerned about security for outgoing webhook."
Can anyone with request trigger a notification? or can I setup security constraints when doing a request to my app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb9c5bd5-1ac6-dcc8-4ed6-d6aad2432776
* Version Independent ID: 43e90995-bba4-86b6-1f1c-ab749e546a4b
* Content: [Add custom bots to Microsoft Teams with outgo

[2020-04-22 01:40] kvmakanna commented on #1570
I need to create a record in my application and only few users should have the ability to do so. And if I have multiple sandboxes that I am working on, how do I do that?

[2020-04-22 08:07] cpjoshi commented on #1567
Thank You.

[2020-04-22 08:07] #1567 closed

[2020-04-22 09:24] skelz0r opened #1571 "Handle retries on incoming webhook"
I experimented that when Microsoft Teams API tries to send an incoming payload to my application it only tries 2 times if it's not a 2XX http status response.

How can I retrieve missing payloads ? Some bot API (like Facebook Messenger API ([source](https://developers.facebook.com/docs/messenger-platform/webhook#response))) retries regularly (until a certain limit).

I saw an another system on Dir

[2020-04-22 11:02] Subhasish-msft commented on #1569
@itoledo , Deeplink to voice/video call is not supported in teams currently. You can deeplink to the scheduling dialogue and create meeting though.

[2020-04-22 12:47] Trinetra-MSFT commented on #1571
@skelz0r ,  Teams tracks requests via a fixed-rate window and incremental counter measured in seconds. If too many requests are made, the client connection will be throttled until the window refreshes. You can implement retry logic in your code and save the logs.
Please take a look at [rate limiting for connector](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how

[2020-04-22 13:16] Subhasish-msft commented on #1570
@kvmakanna , Outgoing webhooks are visible to all members of the team just like a bot. So any team member can @mention and trigger the outgoing webhook. You can add a bot in that case. Inside bot code you can add logic to validate or restrict any request before making the api call.

[2020-04-22 13:42] skelz0r commented on #1571
Thanks for your answer @Trinetra-MSFT

I'm talking about webhooks from Microsoft Teams API to my application, not from my application to Microsoft Teams API : it makes no sense to speak about rate limit from Microsoft Teams API, which I can't control in my case.

[2020-04-22 15:59] ndileep opened #1572 "Finding version of the app/manifest"
Even after we publish a new version of a bot, all users might not upgrade it immediately. When a bot service gets a request, how can the bot service find out which version of the manifest is being used by the user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c780d605-b1b2-716f-5888-503608769b5a
* Version Independent

[2020-04-22 18:57] EZ-BZ opened #1573 "Application crashes when selecting video background"
Application crashes and restarts after selecting a video background before joining a meeting.  This is consistently reproduced in Windows when using Teams versions higher than 1.3.00.3564 (works fine in this version).
[Teams_logs.txt](https://github.com/MicrosoftDocs/msteams-docs/files/4518718/Teams_logs.txt)

[2020-04-22 21:58] ndileep opened #1574 "Getting user email in message extension"
When a user clicks message extension in a team where the bot is not installed, the bot service gets the user's aadObjectId. Is there a way to get the user's email address using Teams APIs (without calling any Graph API)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca47e045-6669-e130-c75a-df31ab2fa3e8
* Version Indep

[2020-04-23 03:38] bealsao commented on #1482
Thank you! I appreciate it!

[2020-04-23 05:44] Gousia-MSFT commented on #1372
@GabrielSandor We cannot repro the issue on our side in any version of the app. Could you please report an issue from the Settings menu in the app. That will also give us some tenant & user details to check further.

[2020-04-23 06:16] Gousia-MSFT commented on #1573
@EZ-BZ Thanks for reaching out to us. We are looking into this.

[2020-04-23 06:49] Gousia-MSFT commented on #1543
@KenticoMartinS This is fixed now. Please check and re-open if you are still facing the issue.

[2020-04-23 06:49] #1543 closed

[2020-04-23 07:09] #1555 closed

[2020-04-23 07:14] Gousia-MSFT commented on #1545
Please re-open if you have any further queries here.

[2020-04-23 07:14] #1545 closed

[2020-04-23 07:24] Trinetra-MSFT commented on #1574
@ndileep , You can fetch the user principle name from the context itself . Please follow the below the steps to get the `UPN`.
1. [Get Access Token  ](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0#get-token)
![image](https://user-images.githubusercontent.com/50989436/80070885-599ced80-8561-11ea-9d30-78b9a5789afd.png)

[2020-04-23 07:30] GabrielSandor commented on #1372
@Gousia-MSFT i sent my device details as instructed, let me know if you can't locate the email.

[2020-04-23 09:48] SlimShadys opened #1575 "Teams returns to the Team List after minutes / hours of being AFK"
I usually records online lessons and they went pretty fine so far.
I noticed one thing tho, that after about 40m/1h of recording the screen, the application automatically goes into the Team List by itself. I don't press any button, it does it all by itself, reducing the owner's screen to the top left part of the screen.
And I manually need to re-size the screen back to full-screen in order to see

[2020-04-23 09:57] Trinetra-MSFT commented on #1572
@ndileep , You can get the name & installedApps for user by calling [List Teams Apps](https://docs.microsoft.com/en-us/graph/api/teamsappinstallation-list?view=graph-rest-1.0&tabs=http#example-2-get-the-names-and-other-details-of-installed-apps), graph API. The API returns manifest version which is currently running.

[2020-04-23 14:16] Subhasish-msft commented on #1464
@kogaba , I have shared this feedback with internal teams. Thanks for your feedback.

[2020-04-23 17:43] clearab opened #1578 "Call out that https is required"
This page should call out https is required for the url and fallback url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 800b748d-fb81-8f4d-adc2-3ee610394346
* Version Independent ID: b1ebd031-c5cd-ffeb-d9b2-d752511900db
* Content: [Using Task Modules in Microsoft Teams bots - Teams](https://docs.microsoft.com/en-us/mi

[2020-04-23 19:15] liangchr commented on #1574
@Trinetra-MSFT but what if the bot is not installed on the team? The user got the aadId +tenentId from a globally installed messaging extension. When I use.{{serviceUrl}/v3/conversations/{conversationID}/members} it says I can't get the information because the bot is not installed in the conversation.

[2020-04-23 19:20] justgfather commented on #1531
Hi @laujan , ActionSubmit inside ActionSet still doesn't work on my side in Teams. Here is my code:
`public static IMessageActivity BuildIntentSelectionCardJustin(ITurnContext turnContext, dynamic data)
        {

            var intentRefList = GetIntentRefList();
            var intentCurrentList = intentRefList.Where(kv => ((IList<DispatchLuis.Intent>)data).Any(di => di.ToString().Equals(kv.Key

[2020-04-23 19:57] v-kydela commented on #1531
@justgfather - Teams does not support string submit actions. You will need to put something in the `Data` property that can be represented as a JavaScript object. Please read my blog post for more information: https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/

[2020-04-23 20:15] justgfather commented on #1531
@

Can you show me how to do it? I do not understand

[2020-04-23 20:21] v-kydela commented on #1531
@justgfather - Look in the **Adaptive Cards in Teams** section to see how to use an `imBack` submit action in Teams.

You are commenting on a closed issue. If you still need help, post a question on Stack Overflow.

[2020-04-23 23:52] aosolis commented on #1327
The list of what triggers consent is also incorrect. Incrementing the version number does not **by itself** make the update require user consent.

[2020-04-23 23:54] aosolis commented on #1327
Changing the permissions array does not trigger consent either.

[2020-04-24 00:06] aosolis opened #1579 "User consent flow on update needs better explanation, with screenshots"
Please document the UX for an upgrade the requires user consent, for both personal and team scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d29cfd09-9067-d939-960a-b33931707c4d
* Version Independent ID: 6c0b95fa-b5b4-5ace-15e7-55d2b007b792
* Content: [Post publishing - Teams](https://docs.microsoft.com/en-us/micr

[2020-04-24 01:13] jdeagar opened #1580 "Can't get past the "Create bot" step."
From App Studio when I attempt to invoke the create bot step of this tutorial my teams application shows a waiting spinner for a few seconds like it is trying to do something and then it goes away and nothing happens. I don't see any feedback or errors so I am at a loss as to what to troubleshoot. Any suggestions as to what the problem might be? I have tried starting over and still notsuccess.

--

[2020-04-24 02:19] liangchr opened #1581 "@ndileep , You can fetch the user principle name from the context itself . Please follow the below the steps to get the `UPN`."
@ndileep , You can fetch the user principle name from the context itself . Please follow the below the steps to get the `UPN`.
1. [Get Access Token  ](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0#get-token)
![image](https://user-images.githubusercontent.com/50989436/80070885-599ced80-8561-11ea-9d30-78b9a5789afd.png)

[2020-04-24 02:20] liangchr commented on #1581
but what if the bot is not installed on the team? The user got the aadId +tenentId from a globally installed messaging extension. When I use.{{serviceUrl}/v3/conversations/{conversationID}/members} it says I can't get the information because the bot is not installed in the conversation.

[2020-04-24 05:50] skelz0r commented on #1571
Hi there,

Any news ? If there's no way to retrieve latest missing payloads, what do you recommend to handle apps restart/bugs ?

[2020-04-24 06:20] jzbuaa opened #1582 "Use the app api to notify users of changes."
Could someone please explain more details on how to use the api to send notification to user's activity feed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd35a9c-c868-a7b9-825a-4be9419539d7
* Version Independent ID: 814c8be1-eae8-7316-8553-283ef07ffc09
* Content: [Design guidelines for tabs - Teams](https://docs.mi

[2020-04-24 07:03] Trinetra-MSFT commented on #1582
@jzbuaa , You can @mention user to notify in activity feed or you can take a look at [Get change notification API](https://docs.microsoft.com/en-us/graph/api/resources/webhooks?view=graph-rest-1.0).

[2020-04-24 07:21] Subhasish-msft commented on #1580
@jdeagar , Is it on teams desktop app or web application ?

[2020-04-24 12:23] Nikitha-MSFT commented on #1581
You can fetch user profile using graph [API](https://docs.microsoft.com/en-us/graph/api/user-get?view=graph-rest-1.0&tabs=http). You can also fetch user profile through passing aadObject id in GetMemberAsync function as documented [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dotnet#get-single-member-details)

[2020-04-24 12:24] Trinetra-MSFT commented on #1574
@ndileep , Did you tried fetching the user profile through [Get User](https://docs.microsoft.com/en-us/graph/api/user-get?view=graph-rest-1.0&tabs=http) Graph API? You can also retrieve the details of a particular user using their Teams user Id, UPN, or AAD Object Id. Please look at
[get single user]( https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dotne

[2020-04-24 13:01] jdeagar commented on #1580
Desktop app.

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Subhasish <notifications@github.com>
Sent: Friday, April 24, 2020 1:21:19 AM
To: MicrosoftDocs/msteams-docs <msteams-docs@noreply.github.com>
Cc: Jon Eagar <jon.eagar@betterbranches.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/msteams-docs] Can't get past the "Create bot"

[2020-04-24 15:02] ndileep commented on #1574
Doesn't calling the graph API requires extra permissions from the user? With just the bot token and the payload it receives from MS when the user clicks the message extension, is there a way to get user's email without asking for extra permissions? (The scenario here is that the bot is not installed in the team/1:1 channel where the user is clicking the message extension).

[2020-04-24 15:44] Tomaeusd opened #1583 "Teams channel folder renaming not reflected in Sharepoint"
We found a bug where if you create a channel in Teams (desktop app), when a corresponding folder is created in Sharepoint and you change the name of a channel in Teams, the folder remains the same in Sharepoint and you have to manually rename the folder there to accurately reflect Teams. It is not automatically synced/updated like the rest of the files within that folder. Please advise. Thank you!

[2020-04-24 17:08] clearab opened #1584 "Just in time not documented in v4 docs"
It looks like the just-in-time flow isn't documented in the new messaging extension docs. This should be added: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/messaging-extension-v3/create-extensions?tabs=typescript#request-to-install-your-conversational-bot. I'm not sure if it really only works with action commands, I think you can use it at almost any point in a messaging ext

[2020-04-24 20:24] liangchr commented on #1574
@clearab This is a cool solution we overlooked. Thanks for the suggestion

[2020-04-24 20:58] clearab opened #1585 "Still using v3"
This article is still using the v3 SDK in the code samples, and needs to be updated to v4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd744899b1
* Version Independent ID: 8097fcbd-adcc-ce49-a378-426c65af9296
* Content: [Send proactive messages - Teams](https://docs.microsoft.com/en-us/micr

[2020-04-24 21:16] OhHappyDagger opened #1586 "Editing a message with a photo allows for all content to be deleted."
Steps to reproduce:
1. Post a message by pasting a photo into the message field from your clipboard.
2. Edit the message
3. Click on the image itself, not outside of the image
4. Press CTRL+A to select all (I believe this is where the bug is, instead of just selecting the message content, it selects all content in the Teams window.)
4. Press Backspace

Force-quitting Teams returns it to normal.

[2020-04-24 22:45] #1535 closed

[2020-04-24 23:39] clearab commented on #1574
If you're looking for a specific user, use the TeamsInfo.GetMember() endpoint in the newest SDK version to avoid latency issues in large teams.

[2020-04-25 13:34] cwerner1 opened #1588 "MS Teams Volume Control can not be set seperately"
While having an meeting in MS-Teams I can't reduce volume of the meeting. It only let you control the output of main mixer. Which leaves you with an completed muted desktop on an Mac.
You don't have a seperated volume control for each application, as on windows.

[2020-04-26 09:34] TechWatching opened #1589 "When will the restriction for applications running in Azure App Services will be removed ?"
The note "We also do not support applications that use the azurewebsites.net domain" indicates that this is not supported supported yet but there is no way to track progress on this feature and when to expect it.
This is really important for my company as we are running our teams application in App Service and want to use SSO. However we do not plan to purchase a specific domain for our applicatio

[2020-04-26 14:04] shereenfathy opened #1590 "Microsoft Teams APP Studio - messages endpoint field not found in manifest editor"
i installed bot using app studio tool in Microsoft Teams and i used it many times to change the bot messaging endpoint url and it was working fine but, i try to edit it now but the messaging endpoint field not found in both bots& messaging extension pages.
any help?
![image](https://user-images.githubusercontent.com/31906452/80309799-793d4b80-87d7-11ea-844e-b4eea4609da4.png)
![image](https://user-

[2020-04-26 20:42] viperfx opened #1591 "Where is the REST API docs?"
Ive noticed a disturbing trend of the MSTeams docs focusing on their SDK and making all examples the SDK only.

This is REALLY BAD idea. Not everyone will develop in a technology stack based on the SDKs available. Even us, we use python internally but we still prefer to use the REST API and implement our own SDK.

Please add back REST API and JSON examples.

---
#### Document Details

⚠ *Do not ed

[2020-04-26 22:02] viperfx opened #1592 "Deep link needs to have a fall back"
I was able to test a scenario, where if you provide a weburl with a context to a channelId, see this scenario:

[code]

When the tab does not exist in the team (it's not added by the user), the desktop app, just goes to the general channel.

It should open the WebUrl in a browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-04-26 22:04] ndileep commented on #1574
Thanks @clearab, for your reply. Won't this require user to have permission to install the bot? In most of the enterprises the admin or a few members have bot install permission.

[2020-04-26 22:42] clearab commented on #1574
Yes, the user would need to have permissions to install a bot in that context. In organizations that use apps, it usually isn't _that_ locked down, but you'd definitely have some % of users that were unable to complete that process.

If you think about it however, this is exactly why you're unable to retrieve the roster of that particular context. Retrieving that roster requires someone who has be

[2020-04-26 22:54] ndileep commented on #1574
Thanks Andrew!

The scenario in our case is that the Admin installed the app as a "pinned app in the Teams app navigation bar". The app then shows up on the left navigation bar of the client and also as a message extension for all users in 1:1 and team channels. The users themselves don't have permission to install the app.

[2020-04-26 22:56] clearab commented on #1574
Ok, in that case it won't matter, as the app is already installed for them. You'll get a conversation update event of MembersAdded when that happens, that will contain the necessary information. You should store it then.

Approach number 1 above will also work.

[2020-04-26 22:59] clearab commented on #1574
You'll get one of these for every user: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet#team-members-added

[2020-04-27 01:07] ndileep commented on #1574
Yes, for new members after the app installed, we can make use of the events. Looks like for existing members there is no way to get UPN without calling Graph APIs, which requires some other flow to get required permissions.

[2020-04-27 02:46] clearab commented on #1574
No, for existing users you have all the necessary information to retrieve a full Teams Channel Account. The psuedocode would be something like this:

1. On messaging extension invoke, retrieve the teams userId for that user (something like activity.recipience.from.id). This value should be stored.
2. Call CreateConversation using that user Id. Example [here](https://github.com/clearab/teamsProacti

[2020-04-27 03:40] #1527 closed

[2020-04-27 04:06] Gousia-MSFT commented on #1554
@adhoke-ava Yes, could you please check with the tenant admin to allow external apps?

[2020-04-27 04:26] Abhijit-MSFT commented on #1530
@GabrielSandor, missed to respond you. Did you try the secondary ringer option. In my testing i found all the sounds coming from my headphone. please try it once.

[2020-04-27 04:45] Manish-Ghumnani opened #1593 "Fetching list of teams channels within a private chat"
Is there a way to get the list of channels the user belongs to when the bot is initially installed in a private chat ?
The scenario is that - the user installs the bot to the private chat and then after performing some steps wants the bot to send a message to one of the teams channels, but there doesn't seem to be a way to fetch the team Id when the bot is in the private chat, maybe I missed somet

[2020-04-27 04:53] Manish-Ghumnani opened #1594 "Fetching list of channels in a private chat"
Is there a way to get the list of channels the user belongs to when the bot is initially installed in a private chat ?
The scenario is that - the user installs the bot to the private chat and then after performing some steps wants the bot to send a message to one of the teams channels, but there doesn't seem to be a way to fetch the team Id when the bot is in the private chat, maybe I missed somet

[2020-04-27 05:49] Gousia-MSFT commented on #1593
@Manish-Ghumnani You could get the list of teams that a user is part of, using the [List Joined Teams](https://docs.microsoft.com/en-us/graph/api/user-list-joinedteams?view=graph-rest-1.0&tabs=http) graph api. Are you trying to send a [proactive message](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet) in a channel?

[2020-04-27 05:58] Subhasish-msft commented on #1590
Hi @shereenfathy , Thanks for sharing the feedback. We are looking into it.

[2020-04-27 06:03] Gousia-MSFT commented on #1575
@SlimShadys Are you recording the screen while on a Teams call? Is this something you have seen frequently?

[2020-04-27 06:11] Gousia-MSFT commented on #1586
@OhHappyDagger Thanks for reporting this. We have raised a bug for this and we are tracking it internally.

[2020-04-27 06:47] Manish-Ghumnani commented on #1593
@Gousia-MSFT thanks for your reply, from what I know, the Graph API needs permissions and also an authProvider ? Is there a way to avoid that and get the info through the bot context?

[2020-04-27 07:02] SlimShadys commented on #1575
@Gousia-MSFT Very frequently. And yes, I record the screen while on a Teams call.
I wonder if it's something related to the fact I don't touch any buttons for an amount of time since I'm paying attention to the lesson, and so that Teams has this weird behaviour automatically after this fixed amount of time.

[2020-04-27 07:25] Trinetra-MSFT commented on #1571
@skelz0r , When you are making request to your service through webhook, could you please put it in
[code]
block and see what error code you're receiving when request fails or you can logs the response and send it to me?

[2020-04-27 09:02] GabrielSandor commented on #1530
@Abhijit-MSFT i tried that and now the ringer is not outputted through neither of the speakers.

[2020-04-27 12:05] Trinetra-MSFT commented on #1436
Please feel free to reopen if you have further queries.

[2020-04-27 12:05] #1436 closed

[2020-04-27 12:06] Trinetra-MSFT commented on #1540
Please feel free to reopen, if you have further update on this

[2020-04-27 12:06] #1540 closed

[2020-04-27 12:10] Trinetra-MSFT commented on #1581
This is an duplicate of #1574

[2020-04-27 12:10] #1581 closed

[2020-04-27 12:25] skelz0r commented on #1571
I think there's a misunderstanding.

When a user sends a message to my bot, Microsoft Teams API sends me a payload through an endpoint which I specified when I created my bot.

Microsoft Teams sends payload to MY endpoint, which is a part that I managed.

If my endpoint doesn't respond a 2XX (success response), Microsoft Teams doesn't retry to send the payload, which is a huge problem : my webapp

[2020-04-27 12:32] Nikitha-MSFT commented on #1592
We are looking into this

[2020-04-27 12:40] Trinetra-MSFT opened #1595 "Microsoft Teams Authentication flow for tabs document code sample still points to v3"
Microsoft Teams Authentication flow for tabs document code sample still points to v3, It should be updated to SDK v4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d5b8b0f-3da3-8642-6edf-dc6608a830cf
* Version Independent ID: f93cdabd-f6ab-29d0-f3c9-78deb21ca521
* Content: [Authentication flow for tabs - Teams](https:

[2020-04-27 13:28] ExplodingCow opened #1596 "Read Receipts for Microsoft Teams bot Conversation Events"
Hello there,

I would like to ask whether I am able to obtain the read receipt of the user from the Conversation Events?

[2020-04-27 14:51] adhoke-ava commented on #1554
@Gousia-MSFT I work for a company with 30,000+ employees. I don't think they're going to turn on external Teams apps just for me. I'm going to close this issue as it seems there's no other resolution. Feel free to reopen it if there are other options. I will be signing up for the O365 Developer Program and using that development tenant instead.

[2020-04-27 14:51] #1554 closed

[2020-04-27 18:13] davidlinhares commented on #1572
In that case there needs to be an extra service for interacting with Graph API. I believe the question is how can we determine which bot version is being invoked when we receive a command/request?

[2020-04-27 18:42] FaizanButt1997 commented on #1499
Please guide me if you find any solution I'm stick on same problem where I store user-credential and access-token ?
Please reply im waiting

[2020-04-28 00:43] #1523 closed

[2020-04-28 03:41] SamJarmanPP commented on #1590
I think there are two more (possibly related) bugs here:

1. You cannot create a new bot - you get a spinner and then nothing.
2. You cannot select an existing bot - the radio button just glitches.

Any ideas would be welcome. I've tried reinstalling App Studio, reinstalling teams, trying on a fresh manifest and even tailing the log files, but nothing helpful there.

cc @Subhasish-msft

[2020-04-28 03:42] SamJarmanPP commented on #1580
I've also got this (referred to [here](https://github.com/MicrosoftDocs/msteams-docs/issues/1590#issuecomment-620361758).. also macosx desktop.

Did you figure it out @jdeagar?

cc @Subhasish-msft

[2020-04-28 04:10] Gousia-MSFT commented on #1596
@ExplodingCow Currently bot does not receive a read receipt status when a message is read by user. Here is a list of all the [events](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/subscribe-to-conversation-events?tabs=dotnet) currently available for Bots. However, sending read receipts for bots is something we are working on but we do not have an ETA on when th

[2020-04-28 06:17] Nikitha-MSFT commented on #1583
We could repro the issue on our side raised a bug

[2020-04-28 06:36] oliver1191 opened #1599 "some words display as '�'' when using french language in MS Teams app localization(manifest 1.5)"
<ul>
<li><b>Description:</b> Teams display wrong values in app static tab and 'what can i do' input command
            For example,value 'élément' display '�l�ment',it seems that Teams can not recognize the char 'é'</li>
<li><b>Manifest Version:</b> 1.5</li>
<li><b>Teams Language:</b> Français (France)</li>
</ul>
<div>Manifest.json<div>
<pre>{
   //hide bot other message
   "localizationInfo": {

[2020-04-28 07:32] Lysakers opened #1600 "Link to "Request-a-team" app not working"
The link to "request-a-team" app returns a 404 page not found.
Unable to find it when looking through on GitHub as well.

[2020-04-28 08:29] Gousia-MSFT commented on #1372
@GabrielSandor Thankyou for sharing the details. Our team will look at it.

[2020-04-28 09:55] markolb81 opened #1601 "Usage of location in deep links for meetings"
We require to use the location property in the meeting create deep-link. Is there any date we can expect that feature to work, or any workaround available?

Thank you very much in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent ID: 6b4203f0-2844-06c9-ea

[2020-04-28 10:05] Nikitha-MSFT commented on #1589
We have an active work item on this but we cannot give you an ETA on the fix.

[2020-04-28 10:42] Gousia-MSFT commented on #1601
@markolb81 Could you please share the scenario here? Do you need the user's location while creating meeting through deeplink?

[2020-04-28 10:47] Trinetra-MSFT commented on #1600
@Lysakers , Which link you are referring, Could you please be bit more clear on the issue or provide the document where you are seeing this?

[2020-04-28 11:40] stuartridout commented on #1600
The link to GitHub at the bottom of https://docs.microsoft.com/en-us/microsoftteams/platform/samples/app-templates#request-a-team-app

The 404 link is https://github.com/OfficeDev/microsoft-teams-apps-requestateam

[2020-04-28 12:20] Trinetra-MSFT commented on #1600
@stuartridout , @Lysakers , It seems you don't have access to that repo, it was working for me and able to navigate to following github repo : [https://github.com/OfficeDev/microsoft-teams-apps-requestateam](https://github.com/OfficeDev/microsoft-teams-apps-requestateam) after clicking on Get it on Github link in the documentation: [https://docs.microsoft.com/en-us/microsoftteams/platform/samples/

[2020-04-28 13:06] Subhasish-msft commented on #1580
@jdeagar, @SamJarmanPP , We are looking into the issue, thanks for your patience.

[2020-04-28 13:08] boseabhishek commented on #1546
Try formatting the json without the slashes and it works! I have also put the payload with -d at the end.

[2020-04-28 14:13] jpalarchio opened #1603 "Missing GitHub Repo - "Request-a-team app""
The link to the GitHub repo for "Request-a-team" fails, it seems to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100070d1-40f9-b5eb-be0a-6199de26e0e6
* Version Independent ID: 5d1269e3-2775-ebf6-cf9a-8d1ee7038397
* Content: [Microsoft Teams app templates - Teams](https://docs.microsoft.com/en-us/microsoft

[2020-04-28 14:18] laujan commented on #1603
Hi @jpalarchio. The repo should be public later today. I will let you know as soon as it is available. Thank you!

[2020-04-28 14:59] Markus-Wolff opened #1604 "Authentication for ASP.NET Core with Graph"
I have currently an ASP.NET Core Application calling Graph in User Scope. It uses Microsoft.Identity.Web to obtain the tokens.
When I try to integrate this App as a Tab in Teams, then authentication does not work as it seems to use iframe.
I checked all the examples (e.g. those for bot) and most of them do the authentication either via JavaScript or use App scope.
Is there any sample app or exampl

[2020-04-28 15:37] markolb81 commented on #1601
HI, the scenario is as follows:
1. User asks a chatbot where a suitable meetingroom (time, occupation, capacity, equipment, ...) could be found.
2. Bot answers, and within that answer the best suitable meetingroom is linked in the answer-text to create a meeting directly from that chat-message.

I see two workarounds from a process view, which I don't like very much:
1. create an ICS file and let

[2020-04-28 16:43] NonSoliCedit opened #1605 "Participant List Intermittently Disappears"
Teams for Mac 1.3.00.8663
MacOS 10.14.6

The right hand Participants pane intermittently will not show the list of participants even if I click on the drop down icon next to "Currently in the meeting (N)". The thumbnails are still across the bottom but if more than 12 or so people it lumps the remaining people into a single circle that says "+(N-12)"

Sometimes the list is there, sometimes it is n

[2020-04-28 19:23] pdoich opened #1607 "Google auth on Microsft Teams mobile app returns 403: disallowed_useragent"
Hi there,

We are trying to open Trello team tab within the MIcrosoft Teams mobile app, select the Google authentication method and got 403: disallowed_useragent back from Google. Please, see the steps to reproduce here https://softserveinc-my.sharepoint.com/:v:/p/pdoich/Ec_1z_p8SWhCpKEUm4qsUc4Bmj-OrKhp5wGF6Lz5uHM0RQ?e=dY4WBA

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-28 22:38] joeyglocke commented on #1327
@laujan the full list of manifest changes that trigger user consent update is here: https://docs.microsoft.com/en-us/microsoftteams/manage-your-lob-apps#end-user-update-experience

We should update any other docs that reference this.

@aosolis can you make sure the list on that link looks accurate to you? Another set of eyes would help.

[2020-04-29 00:36] aosolis commented on #1327
@joeyglocke
- the list is missing change to supportsCalling and supportsVideo
- for changes to webApplicationInfo, consent is only required in team scope

[2020-04-29 03:49] oliver1191 commented on #1599
This issue has been solved when I check the installer bot package.It seems that the App Studio can not recognize some words like  'é'. So close this issue!

[2020-04-29 03:49] #1599 closed

[2020-04-29 05:52] Subhasish-msft commented on #1599
Thanks for the update @oliver1191 . Closing it.

[2020-04-29 06:36] Gousia-MSFT commented on #1605
@NonSoliCedit Thanks for reaching out to us. We are looking into this.

[2020-04-29 08:04] jerry-le commented on #1591
I thought the REST API is not added, but turn out it was there but removed!
I have no ideas on why the Teams Platform did that. Please add it back.

[2020-04-29 08:17] Abhijit-MSFT commented on #1607
We are working on it. Thanks for reaching out to us.

[2020-04-29 09:11] Lysakers commented on #1600
It now works as intended.

[2020-04-29 11:22] stuartridout commented on #1600
This is no longer listed on the app templates page so should not be closed.

[2020-04-29 11:39] Nikitha-MSFT commented on #1604
@Markus-Wolff - Are you trying authentication in [tab](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-flow-tab)? Could you please check the sample [here](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/tree/master/src/views/tab/simple). You could use these pages in your C# sample as well.

[2020-04-29 12:20] Lysakers commented on #1600
Seems the app is removed from the app template page after i closed the issue.
Reopening again.

[2020-04-29 12:52] Markus-Wolff commented on #1604
@Nikitha-MSFT - Thanks.  Yes, I saw this sample and also a similar version of it with the JavaScript-Bot in C#. However, currently, I use authentication as described here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph
There, I acquire the token via: tokenAcquisition.GetAccessTokenOnBehalfOfUserAsync(scopes);
Is

[2020-04-29 14:09] Bug-10 opened #1609 "Device buttons stopped working in latest Teams release"
Previous behavior: Buttons on device could answer calls, end calls, mute/unmute both from Teams and device (status was synched between app and device)
Post release behavior: Device only works as microphone/camera, no interaction between buttons and app.

Logitech BCC950
Jabra PHS002W
Upgraded firmware on devices, no improvement.

[2020-04-29 15:54] dakneeul1 opened #1610 "Can't edit Teams Meeting Options when part of multiple organisations"
User (Meeting organizer) was unable to edit meeting options in teams app for windows, as it added an '#EXT' to their username (as they're part of another organisation), which i'm assuming doesn't equate to what the meeting options page wants (their singular username without the #EXT).

Meeting could've been created pre-joining the second organisation.

The user is part of the main organisation, an

[2020-04-29 15:58] dakneeul1 commented on #1610
![organisation_bug](https://user-images.githubusercontent.com/17067700/80617905-902fa800-8a3a-11ea-8519-7427c8285c28.PNG)

[2020-04-29 17:05] clearab commented on #1591
Looks like this page got missed when we were adding examples. You can find them here: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bot-conversations/bots-conversations#updating-messages

@laujan Can you move the JSON tabs for updating and deleting messages from the link above to this page?

[2020-04-29 17:07] clearab commented on #1591
Out of curiosity, why would you choose to implement your own SDK? I think seeing the REST calls is very helpful for both understanding and debugging, but what would the motivation for not using the Python SDK be?

[2020-04-29 20:59] BenedekFarkas commented on #1586
Just found this myself and have a 100% repro. I had a good laugh though. :D

![image](https://user-images.githubusercontent.com/2797449/80646310-c554ee00-8a6c-11ea-8e5a-370603175cb6.png)

[2020-04-30 04:44] shaikShehanaaz opened #1612 "Adaptive card formatting in MS Teams"
How to format buttons in Adaptive card in MS Teams. Currently the card is getting rendered as enter image description here
![image](https://user-images.githubusercontent.com/37263235/80672700-0380fa80-8acb-11ea-8059-7b196127ea94.png)
Our aim is to render it as follows:
![image](https://user-images.githubusercontent.com/37263235/80672725-1c89ab80-8acb-11ea-8204-d134299ef9d5.png)
We would like to di

[2020-04-30 05:43] Trinetra-MSFT commented on #1609
@Bug-10, Could you please tell us which Teams build you are running on? Are you facing issue Teams desktop/Web or mobile?

[2020-04-30 06:01] Trinetra-MSFT commented on #1610
@dakneeul1 , Could you please tell us, where you are seeing this issue Teams desktop client or web version?

[2020-04-30 06:39] Trinetra-MSFT commented on #1612
@shaikShehanaaz , I've tested this in [https://adaptivecards.io/designer/](https://adaptivecards.io/designer/) and i can see the expected output:
![image](https://user-images.githubusercontent.com/50989436/80679737-169bc680-8adb-11ea-84d2-4d0316843d6f.png)
Are you facing this issue while Bot throwing the card?

[2020-04-30 07:45] SlimShadys commented on #1575
@Gousia-MSFT I have this problem also when not recording the screen.
This is the log. Bare in mind that the problem occurred at 09:24:31s.

Thu Apr 30 2020 09:24:31 GMT+0200 (Ora legale dell’Europa centrale) <10836> -- info -- Blur main window
Thu Apr 30 2020 09:24:31 GMT+0200 (Ora legale dell’Europa centrale) <10836> -- info -- Is foreground set to false
Thu Apr 30 2020 09:24:31 GMT+0200 (Ora leg

[2020-04-30 08:21] shaikShehanaaz commented on #1612
@Trinetra-MSFT .When the card is rendered in MS Teams the design is not same as the one shown in the designer.

[2020-04-30 08:28] dakneeul1 commented on #1610
Teams Desktop Client - when clicking the 'Meeting Options' it takes you to a browser page.

[2020-04-30 12:26] Bug-10 commented on #1609
Teams Desktop, two different users (each with one of the devices listed)
Both clients are running Microsoft Teams Version 1.3.00.9267 (64-bit). It was last updated on 4/23/20 & 4/24/20.

[2020-04-30 13:16] darbid commented on #1569
Landed here from google after a long time clicking on deep link links.  I understand Teams will replace Skype For Business.  It would be a great idea that as skype:+1###### will call a number it would be a really great (expected) that the replacement can do it as well.

[2020-04-30 22:14] viperfx commented on #1591
That's a fair question @clearab

We developed our application back in the days when only the REST API and .NET resources were available. Node SDK followed, then python SDK followed, but I believe there were many months between those becoming available.

We are keen to explore the python SDK more, and we are not saying we will never use it, but at the moment, it just does not make sense to drop our

[2020-04-30 22:42] clearab commented on #1591
That definitely makes sense - they Python SDK came along quite a bit after the others. Please don't take the below as a sales pitch, I think it's awesome you've built your own SDK and I'm going to guess there is a lot of things there that are specific to the way you use bots that meet your needs :).

But to give a quick overview of the SDK:

Yes, the SDK has most of that built in, and is built to

[2020-04-30 22:56] viperfx commented on #1591
Thanks for the detailed feedback. All of that does sound great and it's
tempting to merge the SDK for us.

For sure, would love to connect. Will reach out to you.

On Thu., Apr. 30, 2020, 18:43 Andrew Clear, <notifications@github.com>
wrote:

[2020-04-30 23:18] #1591 closed

[2020-05-01 00:04] laujan commented on #1568
Hi @liangchr. The Manifest Schema reference document has been updated. Thank you, again!

[2020-05-01 00:04] #1568 closed

[2020-05-01 00:05] #1511 closed

[2020-05-01 00:07] #1477 closed

[2020-05-01 00:17] clearab commented on #1612
If you remove the style: emphasis it should work unfilled. The best way to test how your adaptive cards will look in Teams is to use the card editor in App Studio - you can even use it to send yourself a test card so you can validate across clients.

[2020-05-01 00:17] #1612 closed

[2020-05-01 06:47] ShadowXVII opened #1614 "Proofing Tools / Spell don't work within tab pages?"
The Proofing Tools don't appear to work in the tab pages. Is this intended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9938300a-8983-2236-5d02-536b9b872225
* Version Independent ID: b336fba4-1e88-db4a-0a41-c91a57384aee
* Content: [Extend your Teams app with a custom tab - Teams](https://docs.microsoft.com/en-us/mic

[2020-05-01 12:34] joshtransient commented on #1392
I also receive this on a brand new dev tenant with no restrictions on the app permission policy.

[2020-05-01 19:37] #1578 closed

[2020-05-01 20:09] gewarren opened #1616 "404 Page not found"
_From @mirandtech on Wednesday, April 8, 2020 2:14:21 PM_

**Describe the bug**
A clear and concise description of what the bug is.
https://docs.microsoft.com/en-us/microsoftteams/platform/redirects/?redirectedfrom=MSDN

page not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and conci

[2020-05-01 20:09] gewarren commented on #1616
_From @welcome[bot] on Wednesday, April 8, 2020 2:14:22 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-05-01 21:56] aaronrogers commented on #1484
@kosset, I've tried that and I get a whole slew of errors.  If I delete `node_modules` and `package-lock.json` I get farther as everything installs with `npm install`.  However, when I run `npm start` I get `sh: nodemon: command not found`.  So I install nodemon. `npm install --save-dev nodemon`  Then with `npm start` I get

[2020-05-02 09:07] dikdiv opened #1617 "The chat channel is not visible on the desktop client"
Bug description:
User A has the Teams client version 1.3.00.9267 (64-bit) installed on the desktop (OS: Windows 7 x64), and the teams mobile client is installed on the andorid smartphone.
The Teams client on user A's desktop is turned off (the desktop is turned off).
User B creates a new chat channel with user A. User A sees a message from user B under the mobile client.
User A starts the Teams cl

[2020-05-03 23:03] ndileep opened #1619 "Verifying requests from Teams Tab"
Hi, 1) How can the backend service confirm that the initial tab load request is coming from Microsoft? 2) Even if we implement the SSO, how can the backend service confirm that subsequent requests are coming from the loaded tab?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52221dd3-95ec-96b9-1da8-9478527c2602
* Versi

[2020-05-04 03:02] vaibhavagarwaljss opened #1620 "Form link doesn't work"
Above page has "If you already have an app in the app store and you'd like to join the program you can contact us by filling out this form."

This link seems expired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75dcbc89-3e4e-6ccc-aab0-49debb445e7c
* Version Independent ID: afd117d9-e02e-fa13-a858-9f6bafb61d1f
* Cont

[2020-05-04 05:04] Gousia-MSFT commented on #1617
@dikdiv Thanks for reaching out to us. We have forwarded this to the right team who could look into it.

[2020-05-04 05:44] Gousia-MSFT commented on #1575
@SlimShadys Thanks for sharing these details. I have forwarded the report to the right folks!

[2020-05-04 05:54] Gousia-MSFT commented on #1593
@Manish-Ghumnani Yes, you would need to get an access token with the required permissions to use this Graph API. It is not possible to do this only with the Bot. The Bot can only fetch the details of the conversation where it is part of.

[2020-05-04 05:57] #1596 closed

[2020-05-04 06:14] Trinetra-MSFT commented on #1619
@ndileep , You can check with [get context for your tab](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/create-tab-pages/configuration-page#get-context-data-for-your-tab-settings)

[2020-05-04 06:14] Gousia-MSFT commented on #1399
We have raised a bug for this and we are tracking it internally.

[2020-05-04 06:14] #1399 closed

[2020-05-04 06:28] Gousia-MSFT commented on #1586
We have an open bug on this which is being tracked internally. Thanks for reporting it.

[2020-05-04 06:28] #1586 closed

[2020-05-04 06:34] ShadowXVII commented on #1614
Added teams bug entry as well: https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/40333423-bug-spell-check-does-not-work-on-personal-tabs

[2020-05-04 06:36] Gousia-MSFT commented on #1601
@markolb81 Specifying the location in the deeplink is currently not supported. I have raised a feature ask for this but we do not have an ETA when this would be available.

[2020-05-04 06:56] #1589 closed

[2020-05-04 06:58] Trinetra-MSFT commented on #1582
Please feel free to reopen you have further queries

[2020-05-04 06:58] #1582 closed

[2020-05-04 06:59] Trinetra-MSFT commented on #1574
Please feel free to reopen if you have further query

[2020-05-04 06:59] #1574 closed

[2020-05-04 07:01] Trinetra-MSFT commented on #1571
This is not possible as of now, configuring the SMBA request at your end.

[2020-05-04 07:01] #1571 closed

[2020-05-04 07:23] Trinetra-MSFT commented on #1600
@stuartridout @Lysakers , The app is removed from the documentation it seems

[2020-05-04 07:30] Trinetra-MSFT commented on #1609
@Bug-10 , Could you please try to update your Build version to latest , the build you are running is not latest one, Current public build for teams is running on Microsoft Teams Version 1.3.00.11555 (64-bit) public ring. Or you can report a problem directly from help section
![image](https://user-images.githubusercontent.com/50989436/80944418-28e17180-8e07-11ea-8ad5-9aa267b51997.png)

[2020-05-04 12:05] Bug-10 commented on #1609
Microsoft Teams Version 1.3.00.12058 (64-bit). It was last updated on 5/2/20

Confirmed that both devices are now working again.

[2020-05-04 12:05] #1609 closed

[2020-05-04 13:23] ndileep commented on #1619
We can get the context on the front end and send to the backend, but same information someone can send from postman also. How can the backend verify that the information is in fact coming from the Teams Client? Similarly, during the very first load or refresh of the tab within a Teams Client.

[2020-05-04 22:49] joeyglocke commented on #1327
@laujan I have screenshots of the update UI, ping me when you're working on this

[2020-05-05 10:17] Nikitha-MSFT commented on #1604
Could you please try [auth providers](https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?tabs=CS). If that helps

[2020-05-05 11:50] Trinetra-MSFT commented on #1603
Please feel free to reopen if you have further queries

[2020-05-05 11:50] #1603 closed

[2020-05-05 15:19] Markus-Wolff commented on #1604
I also had a look there some time ago, however, it does not seems to work in combination with User Scope API calls (as Planner Graph-APIs don't allow delegated callls).

I have currently the ASP.NET Core Application with Razor Pages. With the first tabs-sample from you, I manage to successfully obtain the token in JavaScript.
The business logic that calls the Graph-API needs some logic and also SQ

[2020-05-05 17:26] Subhasish-msft commented on #1580
@jdeagar , @SamJarmanPP - This issue is fixed now. Can you please confirm if you are still facing it.

[2020-05-05 20:09] SamJarmanPP commented on #1580
Fixed for us - thank you!

[2020-05-06 03:07] Subhasish-msft commented on #1580
thanks for the update. closing it

[2020-05-06 03:08] #1580 closed

[2020-05-06 05:54] Digesha opened #1621 "View Meeting Details Button Disappeared"
Hello,

I created a meeting in channel using API.But i can't see view meeting details button/link for this meeting.As i have attached screenshot.

![using api](https://user-images.githubusercontent.com/51788674/81141936-bea60980-8f8b-11ea-8075-d507cc451cba.PNG)

If i create meeting directly through teams platform than it is showing this button.As in attached screenshot

![direct](https://user-imag

[2020-05-06 07:18] Nikitha-MSFT commented on #1592
we could reproduce the issue on our side. There is an active feature request on this.

[2020-05-06 07:23] Nikitha-MSFT commented on #1614
Currently teams does not provide this service.

[2020-05-06 08:48] Trinetra-MSFT commented on #1546
Please feel free to reopen if you have further query

[2020-05-06 08:48] #1546 closed

[2020-05-06 13:08] viperfx commented on #1592
Thanks for the update. Can you share a ticket number?

[2020-05-06 13:16] Trinetra-MSFT commented on #1572
@davidlinhares , Yes  it requires an extra service for graph API. User is asking for the manifest version which is running for bot. This can not be fetched from Activity.

[2020-05-06 13:24] Trinetra-MSFT commented on #1610
@dakneeul1 , We are looking into this and discussing internally. We will get back to you on this soon

[2020-05-06 13:30] Trinetra-MSFT commented on #1526
Please feel free to reopen if you have further query

[2020-05-06 13:30] #1526 closed

[2020-05-06 13:46] merczan opened #1622 "[Linux] During scrolling exam screen turns black"
Hi
As per title. I was in the middle of an exam or quiz whatever that function is called and when I was scrolling with my bluetooth mouse I was getting black screen covering exam area and I had to reenter every single answer. I was getting that black screen constantly when scrolling. At one point I was getting back every 2 or 3 minutes and my answers were saving.

Thank you for time

[2020-05-06 16:17] skelz0r commented on #1571
Not an issue you will address in the following weeks ? Do you know how developers handle this problem ? I have some solutions but it seems to be a bit complicated ..

Thanks.

[2020-05-06 18:22] alirezarahimifarid opened #1623 "Call disconnects on answering"
After updating the Microsoft Teams Apps on iOS I can't answer ay calls on my Microsoft Teams Apps on my PC.
As soon as I log off from iOS version (2.0.9) I was able to answer the calls.
This issue started 5/5/2020 right after I update my Teams App on my cellphone.
Please check this link:
https://techcommunity.microsoft.com/t5/microsoft-teams/call-disconnects-on-answering/m-p/1362405#

[2020-05-06 19:33] aosolis opened #1624 "Document that you can size the auth popup"
by adding width and height parameters, like ?width=600&height=600
Also document that the actual size is capped as a percentage of the Teams client size, so if the Teams window is small the popup window will be smaller than the specified dimensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 503e124f-2b80-d6ae-581a-

[2020-05-06 19:47] callworthp commented on #1623
We too are seeing this issue. We have found that if we sign out of the iOS app, remove the app, re-install the app from the App Store and log back in the problem is solved. At that point we can stay signed into the app in all locations and calls are answered as expected without issue.

[2020-05-06 23:07] laujan commented on #1600
Hello @stuartridout and @Lysakers. Sorry for the publication issue; the request-a-team app is now live. Thank you for your patience! [request-a-team](https://docs.microsoft.com/en-us/microsoftteams/platform/samples/app-templates#request-a-team-app)

[2020-05-06 23:07] #1600 closed

[2020-05-07 07:32] XimenaWang commented on #739
@stpeteparadox Hi stpeteparadox , it seems that the adaptive card still can't adapt the width, you can take a try with O365ConnectorCard(https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#office-365-connector-card ), it works well for me ^_^

[2020-05-07 07:55] Abhijit-MSFT commented on #1622
@merczan, Please share more details on this. Is it something related to Teams?
Please share screenshot if it is possible.

[2020-05-07 08:33] xieofxie opened #1627 "Get vertical scroll bar in task module but not able to scroll the page using that."
It looks like
![img](https://user-images.githubusercontent.com/60354515/80090247-d5586380-857c-11ea-95af-f86c74988086.png)
See issue https://github.com/microsoft/botframework-skills/issues/162

@Sujit-Gaikwad I manually created one here since I don't have the permission to transfer it.
Hope Teams's people will help you solve this.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-07 08:56] warren-genpoint opened #1628 "MS Teams Connector Webhook URLS not working"
This is basically what i am getting as addressed in a previous issue

https://github.com/MicrosoftDocs/msteams-docs/issues/344

I am having that exact same issue with the webhook URL not being valid.  Has this issue resurfaced?

**Update**

I was following this article - https://docs.microsoft.com/en-us/learn/modules/msteams-webhooks-connectors/7-exercise-o365-connectors

Step 1 - Created the conn

[2020-05-07 09:07] Trinetra-MSFT commented on #1623
@alirezarahimifarid , You can try the solution suggested by @callworthp. Let me know if you need any further assistance on this.

[2020-05-07 09:37] Nikitha-MSFT commented on #1627
I could not reproduce the issue from our side. Could you please share your manifest?

[2020-05-07 10:05] Sujit-Gaikwad commented on #1627
@xieofxie thanks for your help

[2020-05-07 10:18] Gousia-MSFT commented on #1628
@warren-genpoint There are multiple issues reported on the issue you referred. Could you please be more specific about the issue you are facing?

[2020-05-07 10:20] stpeteparadox commented on #739
Thanks @XimenaWang . That's good to know.

My understanding is that O365ConnectorCard uses the legacy MessageCard format, but that Teams doesn't support the Hero Image property of that format. So in our use-case that won't work for us.

Also, we don't want to go down the road of using something that the Teams team doesn't appear to be paying much attention to, whereas AdaptiveCards seem to have ac

[2020-05-07 10:22] Sujit-Gaikwad commented on #1627
@Nikitha-MSFT
PFA

**Bot manifest file**

[manifest .txt](https://github.com/MicrosoftDocs/msteams-docs/files/4592333/manifest.txt)

[2020-05-07 10:45] warren-genpoint commented on #1628
@Gousia-MSFT I updated my post, to be more specific.  But basically the webhook URL i get from the connector gives me a 410 Gone error.

[2020-05-07 10:52] alirezarahimifarid commented on #1623
It worked for me but as you can see the response in this post, other people still have the same issue even after reinstalling the app. I can see the Service Health item in Admin Center now.[https://techcommunity.microsoft.com/t5/microsoft-teams/call-disconnects-on-answering/m-p/1366193#M57156](url)
![Teams 2 0 9](https://user-images.githubusercontent.com/12750491/81286598-2acd4f80-9016-11ea-8e5e-d

[2020-05-07 11:28] Abhijit-MSFT commented on #1592
@viperfx, This is not a bug. This is a feature ask raised in Uservoice portal. You can check this on [UserVoice](https://microsoftteams.uservoice.com/)

[2020-05-07 18:06] mcouvill commented on #316
I am a non freemium user and having this issue as well. It doesn't matter what domain I use. Having to Publish it first is counter productive since I don't want to publish until I know it actually works. Can we get some clear communication and documentation as to how this is actually supposed to work because clearly what is there is wrong.

[2020-05-07 21:16] stormtrooper1138 opened #1631 "Asking a participant to join caused recipient to not be able to see shared content"
I invited a participant that accepted an invitation to join a meeting scheduled. When they weren't on, I went to the the "Show Participants, looked at their status, and then clicked on their profile and selected the option "Ask to Join".

During the first moments of the meeting, the host shared a document, but this participant I asked to join could not see the shared content. He hung up after a co

[2020-05-08 07:43] #1601 closed

[2020-05-08 09:22] mfbhatt commented on #1484
I am getting following error while running the code.

import path from 'path';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at wrapSafe (internal/modules/cjs/loader.js:1047:16)
    at Module._compile (internal/modules/cjs/loader.js:1097:27)
    at loader (C:\SourceCode\msteams-app\node_modules\babel-register\lib\node.js:144:5)
    at Object.require.extensions.<computed> [a

[2020-05-08 10:56] inks007 opened #1633 "Teams meeting ignores right channel on stereo/dual microphone devices"
Steps to reproduce:

Use any microphone setup with two channels. Tested with:
- [ART USB Dual Pre](https://artproaudio.com/product/usb-dual-pre-project-series-two-ch-usb-pre/)
- [Behringer ULM202USB](https://www.behringer.com/Categories/Behringer/Wireless-Systems/Microphone/ULM202USB/p/P0AQE)

Teams meetings will only utilise the 1st (left) microphone channel.
When testing the 2nd microphone chann

[2020-05-08 11:17] RiddhiKarani opened #1634 "Teams Channel API returning incorrect data"
I am using the API - https://graph.microsoft.com/v1.0/teams/" + team_id + "/channels

this API is returning me a private channel on a team which this user is not even a part of.

when i go to teams client i dont see the private channel but the API returns to me the private channel

[2020-05-08 15:42] pierregober commented on #1484
I was having this same issue. I ended up cloning a forked repo. https://github.com/jrkerns/msteams-samples-hello-world-nodejs

This one works after you install the necessary dependencies (npm install).

You will run into an issue with gulp 3 syntax issues when trying to create the app package but I got this resolved asking around on StackOverflow. Check out this:
https://stackoverflow.com/question

[2020-05-09 00:39] aosolis commented on #939
@laujan is this on your radar? The current pages basically say figure it out from the sample :)
https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/add-configuration-page

[2020-05-09 01:29] laujan commented on #939
Hi @aosolis. I don't have much bandwidth prior to Build, but I will add it to the top of my post-Build backlog. 🙂

[2020-05-10 16:08] shereenfathy opened #1636 "Call icon doesn't appear in the bot channel"
Hello,
I have created a bot and registered it in  Bot Framework without an Azure subscription by using the legacy portal and I checked "enable calling" checkbox, but when I open the bot in teams I can't find the call icon, but when I upload manifest file in app studio tool then install the bot the icon appears.
![image](https://user-images.githubusercontent.com/31906452/81504260-977f6d00-92e8-11ea

[2020-05-10 21:23] beth-panx commented on #1508
@Gousia-MSFT is this on the road map? Would be great to have webhooks configured as part of creation of a Teams team via graph api.

[2020-05-10 22:25] merczan commented on #1622
Hey, sorry for taking so long I needed footage to show you what is happening. Yes, it is on linux and it is happening on your official app release.
Here is a link with a video for you to download, expires in 7 days or after 1 download.

https://send.firefox.com/download/7997ef1ca053f25c/#F2H5R8KB79H9as6515

Soft installed on newest ubuntu 20.04 LTS

[2020-05-10 22:28] merczan commented on #1622
When I do nothing or scroll with side bar manually it works but when I use m scroll wheel it just shows a black screen and I have to rejoin the test.

[2020-05-11 05:44] Abhijit-MSFT commented on #1631
@stormtrooper1138 , It could be network glitch. Are you facing any issue now?

[2020-05-11 08:18] Gousia-MSFT commented on #1628
@warren-genpoint Could you please share your manifest file with us?

[2020-05-11 08:25] Gousia-MSFT commented on #1593
Please re-open if there are any other queries here.

[2020-05-11 08:25] #1593 closed

[2020-05-11 08:31] garyturnbull opened #1637 "Missing step to enable bot in Teams"
Using the steps here to access the bot from Teams results in Failed to send messages each time you try to send a message in Teams. There's a missing step to navigate to the Bot Channels Registration in the Azure Portal, click on Bot Management | Channels and add the Microsoft Teams channel, select Messaging and click Save.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-11 09:44] warren-genpoint commented on #1628
Hi,

This is the one I download from the connector dashboard (Sideload Connector to Teams).

{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.3/MicrosoftTeams.schema.json",
  "manifestVersion": "1.3",
  "id": "68a5f105-3251-4a5b-8bef-08ea79c75e8e",
  "version": "1.0.0",
  "packageName": "com.My First Teams Connector",
  "developer": {
    "name": "Developer",
    "websit

[2020-05-11 11:27] Nikitha-MSFT commented on #1627
Could you please share your Bot-ID?

[2020-05-11 11:29] Gousia-MSFT commented on #1636
@shereenfathy That is the expected behaviour. The app manifest has the setting for enabling calling for Bot.

[2020-05-11 12:18] Abhijit-MSFT commented on #1622
Provided link is expired.

[2020-05-11 15:10] el commented on #687
@clearab the link you point to is no longer valid. How can we achieve this?

[2020-05-11 15:42] stormtrooper1138 commented on #1631
I haven’t had the meeting since Friday. The individual hung up from my invite to join and joined using the link, and had no problems. We don’t have our corporate network requiring VPN for most Microsoft 365 features since we log into the domain.

I will attempt it again in my next Teams meeting and let you know.

Jeff Gomez <mailto:jeffgomez1@churchofjesuschrist.org> | Data Analyst
Welfare & Self-

[2020-05-11 16:19] Abhijit-MSFT commented on #1631
Sure, Thank You

[2020-05-11 16:37] clearab commented on #687
That link redirects to the correct page. I'm not sure what you mean by invalid?

https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/action-commands/define-action-command#respond-with-an-adaptive-card-message-sent-from-a-bot

[2020-05-11 17:37] #1637 closed

[2020-05-11 19:16] aosolis opened #1639 "Document that using Bot Framework actions don't work in a task module"
The technique described here of adding 'msteams' to data, with a bot framework action, does not work in an adaptive card task module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 672a763d-189b-8ba0-f66e-c07f1dc0a962
* Version Independent ID: 1ac7a9bd-138b-3bf8-60a3-1842d87371fd
* Content: [Add card actions in a bot -

[2020-05-11 20:29] LGerrard commented on #1620
Thank you Vaibhav for bringing this to our attention. The link has been fixed.

[2020-05-11 20:30] LGerrard commented on #1520
Thank you for bringing this to our attention. The link has been fixed.

[2020-05-12 05:25] Nikitha-MSFT commented on #1639
Could you please share more details where you are facing issue? Also could you please share card json?

[2020-05-12 05:36] Subhasish-msft commented on #1634
@RiddhiKarani , Thanks for reporting the issue. We have created a bug and working on it.

[2020-05-12 07:26] merczan commented on #1622
https://vimeo.com/417510745

[2020-05-12 07:55] pgrzesik opened #1640 "Default EULA"
Hello,

in the description of `EULA`, it states that "AppSource requires an end-user licensing agreement (EULA), which you can provide as an attachment. If you choose not to submit a EULA, one will be provided on your behalf.". Is there a way to see how the default, provided EULA looks like?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-05-12 11:22] Subhasish-msft commented on #1633
@inks007 , This is by design. The reason for not averaging the input channels is that it can create a comb filter effect, where in the extreme case, you can take two audible signals which are out of phase, average them, and then you get silence. In less extreme settings, but for the same reason, the average just does not sound as good as when selecting the best mono channel. We select the first ch

[2020-05-12 12:03] shereenfathy commented on #1636
@Gousia-MSFT  is that means I can't use the bot framework legacy portal for enabling calling in my bot?
in other words "enabling calling" checkbox in the legacy portal not enough to make Microsoft teams appear the call icon in my bot channel?

[2020-05-12 13:41] greedj opened #1641 "Teams Outlook add-in causing disk thrashing"
This has been an issue for months now and is very frustrating.
When enabled, the Teams Outlook add-in causes Outlook to thrash the disk, impacting I/O and performance severely. This is happening across the organization and the only help I see online is people saying to disable the add-in.

Outlook: 16.0.12527.20278
Teams Add-in: 1.0.20031.2
Teams: 1.3.00.8663

Note: This was happening in older bui

[2020-05-12 14:24] inks007 commented on #1633
@Subhasish-msft Thanks for the reply.

The extreme case you mention would only occur if someone improperly tries to plug a powered, balanced mono microphone via adapters into a stereo 3.5mm mic input.

Proper stereo microphones don't have significant path differences to create severe out-of phase interference with mono down-mixing. Nor should they be out-of-phase, unless there is a design flaw.

W

[2020-05-12 18:54] bijaykush opened #1643 "Get call notification when a MS Teams user gets/make call from/to PSTN (configured through Direct Routing)"
As per the document it seems like we have to use MS Calling bot endpoint to get the call notifications(i.e. the case when bot is involved in the call ). But in case, when we have used Direct Routing with own SIP Trunks in MS Teams for incoming/outgoing call to PSTN, How can we get notifications like call is being establishing, established, terminated, etc.?

Any suggestion or workaround will be ap

[2020-05-13 03:26] abbodh opened #1645 "How to perform sign out?"
I am looking for a way to perform sign out? Is it even possible to logout when using SSO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52221dd3-95ec-96b9-1da8-9478527c2602
* Version Independent ID: 32e9c2d8-733d-0865-2ea3-727d8684a10d
* Content: [Single Sign-On - Teams](https://docs.microsoft.com/en-us/microsoftteams

[2020-05-13 03:35] jerry-le opened #1646 "Can't update message"
By using the REST API `PUT /v3/conversations/{conversationId}/activities/{activityId}
`, I always encounter this error when trying to update an existing message:

[code]

The request body:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 293d28d8-bd82-299a-05b3-4f798e485542
* Version Independent ID: 2f747d61-5ff7-

[2020-05-13 03:39] jerry-le commented on #1646
@clearab please help

[2020-05-13 04:11] Gousia-MSFT commented on #1646
@jerry-le Could you please share some piece of code you are trying? Also, here is a similar [issue](https://stackoverflow.com/questions/61614466/receive-forbidden-error-when-try-to-update-or-delete-bot-activity-in-ms-teams) reported few days back. Could you please check if your issue is similar to this?

[2020-05-13 04:51] Digesha opened #1647 "Can't delete meeting using API."
Hello,
I created a meeting using API and now trying to delete it using API.

I am using this document https://docs.microsoft.com/en-us/graph/api/onlinemeeting-delete?view=graph-rest-beta&tabs=http  to delete meeting.

But it throws this error while deleting-
Array
(
    [error] => Array
        (
            [code] => BadRequest
            [message] => Invalid meeting id c18ea81c-263c-4511-862d-3

[2020-05-13 04:58] jerry-le commented on #1646
Thanks, Gousia.

By following the issue you mentioned above, it's turned out I got the same mistake. I should get the activity id from the response instead of the id receiving when the user makes an action (a button on an adaptive card in my case)

But it's leading to another issue. When I send an activity with text only, the response has `id` field, but when the activity includes an attachment (w

[2020-05-13 06:14] Trinetra-MSFT commented on #1647
@Digesha , What endpoint you are trying to call? Could you please try to call:
DELETE: https://graph.microsoft.com/beta/me/onlineMeetings/{id}
It works at our end. Let me know how it goes

[2020-05-13 06:56] Trinetra-MSFT commented on #1610
@dakneeul1 , The workaround for this is to open the web client (teams.microsoft.com) in the same browser and switch back to the main organization using the dropdown in the top right corner.

[2020-05-13 09:23] Nikitha-MSFT commented on #1645
Currently teams does not provide a in-build sign-out function. Could you please implement your own sign-out? Also could you please go through the [sample](https://github.com/ydogandjiev/taskmeow/blob/master/src/services/auth.service.js#L36).

[2020-05-13 11:59] omatron opened #1649 "The cURL for Linux Doesn't work."
In this documentation: https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#post-a-message-to-the-webhook-using-curl

// on macOS or Linux
`curl -H 'Content-Type: application/json' -d '{\"text\": \"Hello World\"}' <YOUR WEBHOOK URL>`

This returns:
Bad payload received by generic incoming webhook.

**The correct command is:**
`curl -H 'Content-Ty

[2020-05-13 15:01] nikosalexakis commented on #1321
Hi,

I have the same issue. But I also tried to send only attachments.
I noticed that I am getting back an activity id only if 1 attachment is part of the message.
If more than 1 attachments are present in the replyMessage then no activityId is returned.

Any suggestion?

Thanks

[2020-05-13 19:01] nikosalexakis commented on #1646
Hi,

I just want fo add here that I have the same issue
even if no text is set and only attachments (adaptive card or hero card).
If my reply contains only 1 attachment, I get back an activity `id` otherwise if more than 1 attachments (cards) are present in the reply, then the I get back an empty object.
example message:

[code]

[2020-05-13 20:25] brandonrachal opened #1650 "Accessing a different tenants channel memberships"
I was going back and forth between two tenants when I came across a strange issue.
I got a list of members from a channel and noticed that all the display names were blanks.

[code]

When I looked up the user I got this message:

[code]

That's when I realized I had just looked up the members of a channel using a different tenants token. This should not be possible and the messages I receive for t

[2020-05-13 21:24] Jon889 commented on #1546
The documentation needs to be changed to remove the escaping slashes from the payload.

[2020-05-14 06:16] Gousia-MSFT commented on #1636
@shereenfathy Yes, you need to enable calling for the bot in the bot framework and add this setting in the manifest to be able to make calls.

[2020-05-14 06:53] lsweeney2018 commented on #1116
I have the same error. Can't upload to Teams. Are there any variables that we have to enter in the env file? You mentioned adding the domain above "Please make sure you are adding your site domain inside the validDomain list of your manifest." Can you give instructions on this please.
I have validated the manifest in Teams and it has passed

[2020-05-14 07:03] Minxpinx commented on #1116
I have the same error. Can't upload to Teams. Are there any variables that we have to enter in the env file? You mentioned adding the domain above "Please make sure you are adding your site domain inside the validDomain list of your manifest." Can you give instructions on this please.
I have validated the manifest in Teams and it has passed

[2020-05-14 07:04] Subhasish-msft commented on #1650
We have created a bug and discussing this issue with internal team, will update you shortly.

[2020-05-14 07:05] Minxpinx opened #1651 "Can't upload to Teams - works fine in local host"
I have the same error 0 Can't upload to Teams. Are there any variables that we have to enter in the env file? You mentioned adding the domain above "Please make sure you are adding your site domain inside the validDomain list of your manifest." Can you give instructions on this please.
I have validated the manifest in Teams and it has passed.  Sideloading is enabled on the tenant

---
#### Documen

[2020-05-14 07:17] Trinetra-MSFT commented on #1572
Please feel free to reopen if you have further query

[2020-05-14 07:17] #1572 closed

[2020-05-14 08:10] Gousia-MSFT commented on #1651
@Minxpinx could you please share a screenshot the issue?

[2020-05-14 08:30] Chekrii opened #1652 "Unable to render Iframe on Task module which is having SSO in Ms teams"
Hi All,

I am trying to display MS forms on the task module on the button click of an adaptive card in my chatbot which is built Using MS Bot framework.

I am using the IFrame to display the MS form on the Task module.
But if the form requires authentication then the form is not displaying on Task module. Instead, it is showing "Fill out the form".

The IFrame that I am using is : -

`<iframe  hei

[2020-05-14 09:38] #1621 closed

[2020-05-14 10:25] StephenClarkApps opened #1653 "When I Open a Word Document in Teams it's Stuck on Spanish for Spellchecking"
When I Open a Word Document in Teams it Stuck on Spanish for Spellchecking, if I go into the menu and change this to English it has no effect and incorrect modifications are still suggested. If I go out of the application and back in it resets to Spanish corrections again.

My environment is:
MacBook Pro (15-inch, 2017)
The version is:
Microsoft Teams Version 1.3.00.8663.

(Which is not to mention

[2020-05-14 13:32] shereenfathy commented on #1636
ok, thank you but please add this note to the doc to be clear for everyone.

[2020-05-14 17:56] v-smahaj opened #1654 "Access token generated after SSO sign in is showing unauthorised while calling Graph API API with Group.Read.All permissions"
Implemented SSO on teams tab. Granted consent for Group.Read.All permission. When using token for Graph API call, it is showing Unauthorised error. Also, same token is generated when app is installed in different tenants.

[2020-05-14 21:28] Sujit-Gaikwad commented on #1627
@Nikitha-MSFT sorry am not able to share bot id

but we used following solution for reference that might help you to analysis issue :
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/54.teams-task-module

[2020-05-14 23:19] clearab commented on #1646
@aosolis please correct me if I'm wrong - If you send more than one attachment the Teams backend will split your message into more than one activity, which is why you end up with no Id. The best way to handle this is to send a separate message for each attachment.

The same thing is happening when you send both text and an attachment - it is getting split into two messages. You unfortunately need

[2020-05-15 00:28] aosolis commented on #1646
@clearab is correct, the service “splits” the list into individual messages.

If your scenario is to update the card in response to a click on a button on the card, then another option is to use the replyToId in the message. That will contain the ID of the activity with the card, so you can use it to update.

If you need to update the message proactively, or if you’re updating a different message,

[2020-05-15 04:44] Gousia-MSFT commented on #1654
@v-smahaj Could you please use [jwt.io](https://jwt.io) to confirm if the access token has all the permissions granted?

[2020-05-15 04:47] v-smahaj commented on #1654
I have checked token at jwt.io. It is only showing user_impersonation in scope. Other API permissions are not listed there.

[2020-05-15 05:29] Gousia-MSFT commented on #1636
@shereenfathy Thanks for sharing your suggestion here!.

[2020-05-15 05:29] #1636 closed

[2020-05-15 05:44] Minxpinx commented on #1651
Hi
Here are the screenshots. I have also attached the manifest. Do I need to
add details to the environm
ent env file?

[image: image.png]

env
[image: image.png]
# The domain name of where you host your application
HOSTNAME=hellopnp2.azurewebsites.net

# App Id and App Password ofr the Bot Framework bot
MICROSOFT_APP_ID=00000000-0000-0000-0000-000000000000
MICROSOFT_APP_PASSWORD=

# Port for loca

[2020-05-15 06:56] Trinetra-MSFT commented on #1652
@Chekrii , I tried to add MS Form in Teams task module it works as expected. I tried with your URL, it is saying form doesn't exist.
Test Form created by me
![image](https://user-images.githubusercontent.com/50989436/82020485-cca00c80-96a6-11ea-9f0a-599544eea21c.png)
**With your Form URL:** = [https://forms.office.com/Pages/ResponsePage.aspx?id={ID}&embed=true](https://forms.office.com/Pages/Respo

[2020-05-15 08:19] Nikitha-MSFT commented on #1604
Currently we don't have a sample for tab authentication in C#. But we have an sample for [bot authentication](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/46.teams-auth) in C#.Could you please try AJAX to pass token to  the graph clients.

[2020-05-15 08:40] Chekrii commented on #1652
Hello  @Trinetra-MSFT ,

I have added "forms.office.com" in validdomain array.
This issue I am facing in Desktop client, where on Task module it is showing "Fill out the Form" option instead of form.

In the web, the form is opening properly.

[code]
This is the Iframe I am using.

[2020-05-15 08:53] Trinetra-MSFT commented on #1652
@Chekrii , Thanks for sharing the information. You have SSO implemented in Form, right?
Let me check this at my end. I will get back to you soon.

[2020-05-15 08:54] Chekrii commented on #1652
Yes @TravisCragg-MSFT, I have enabled SSO on the form.

[2020-05-15 09:40] nikosalexakis commented on #1646
@aosolis @clearab thanks for the reply.
I can understand that the message is split into multiple activities and why I don't get back a single activityId.

IMO though this is not the expected behavior.
Since I am only sending **1 message**, I should get **1 activityId** (even if multiple attachments are present, which is valid btw.). MS Teams could group them into 1 activity and let the rendering d

[2020-05-15 10:16] franciscojgonzalez commented on #1235
Same issue here

[2020-05-15 12:11] Nikitha-MSFT commented on #1653
Is your document native language is English? Also could you please check teams language is set to English?

[2020-05-15 13:02] StephenClarkApps commented on #1653
Yes indeed. The native language is English, however when I go into review
and open the spelling options from within teams it will initially show as
Spanish. When I change that to English it shows as English in the settings
menu but still corrects for Spanish. When and come out of the document and
go back into it, then go back into the language setting menu it has again
reverted to Spanish.

On Fri

[2020-05-15 15:26] tca-ms commented on #1404
I've also encountered this issue. The document says

This implies that if `fetchTask` is set to `false` and a `taskInfo` object is provided, the url specified in the `taskInfo` will be loaded without having to call the bot. The behavior I've observed is that the form for the static parameter list is displayed instead. I've tried supplying an empty list for the `parameters` field, or removing it en

[2020-05-15 21:22] TechWatching commented on #1619
Interesting question, I was wondering the same thing. I did not try but maybe we could solve that by passing the azure ad token in the authentication header of the requests, what do you think ? Maybe this way the backend would just be configured to handle Azure AD authorization.

[2020-05-15 21:27] TechWatching opened #1656 "How to automatically configure this using azure cli or template ARM ?"
Could you provide the azure cli sample to automatically configure everything in Azure AD for the SSO to work ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52221dd3-95ec-96b9-1da8-9478527c2602
* Version Independent ID: 32e9c2d8-733d-0865-2ea3-727d8684a10d
* Content: [Single Sign-On - Teams](https://docs.microsoft.com

[2020-05-16 00:11] ndileep commented on #1619
Yes, that would work @TechWatching. I was checking if there is a way without using SSO or any other types of authorization.

[2020-05-16 12:51] stpeteparadox opened #1657 "Sluggish adaptive card rendering on mobile devices"
**_Background_**

This issue follows the recommended action at the end of Issue #388.

Our current proactive bot posts an hourly notification to a Teams channel containing detailed information on various systems, including both current status and changes over time. Because of the breadth of the data, the report is converted to an image and posted to the Teams channel (actually we continue to rely

[2020-05-16 16:05] mdhruv1 opened #1658 "Creating Incoming Webhook and outgoing webhook"
The information is incomplete. What I would like a full working example step by step how I can use this. Just now I do not have all the information here.  Ideally you can say if in curl the webhook can be invoked this way this how you will configure it in teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ff2a84-a

[2020-05-16 16:14] mdhruv1 opened #1659 "Examples"
Can we get example of this code in python and node. for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57254c9-963d-ea1d-ecaf-dd0e7913526c
* Version Independent ID: 610c8514-bd72-46cc-75f1-991e2242019b
* Content: [Rate limiting - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-li

[2020-05-18 04:28] Gousia-MSFT commented on #1658
@mdhruv1 Could you please check this document to see how to[ configure an incoming webhook to Team](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook#remove-an-incoming-webhook-from-a-teams-channel)?

[2020-05-18 07:01] Nikitha-MSFT commented on #1627
We could able to reproduce the issue on our side. Raised a bug.

[2020-05-18 08:08] mdhruv1 commented on #1658
Thanks for sharing. What I am missing is an example of the post or get of the webhook url

The document shows us the steps but not an example content .

That is my challenge

Thanks
Dhruv

 from my iPad

[2020-05-18 10:34] Chekrii commented on #1652
Hello @TravisCragg-MSFT , any Update on the issue because one of the important feature depends on this one.
Thanks

[2020-05-18 11:20] nikosalexakis opened #1661 "Media playback not supported in MS Teams"
Although MS announced the support on Adaptive cards 1.2, (https://developer.microsoft.com/en-us/microsoft-365/blogs/adaptive-cards-1-2-are-ga-in-microsoft-teams/)

when I tried to embed a video (which is supported in v1.1) it was not working in MS Teams
![image](https://user-images.githubusercontent.com/32068259/82207256-3112d400-9912-11ea-8b40-523dad943529.png)

You can try it with App Studio by

[2020-05-18 15:37] Abhijit-MSFT commented on #1656
@TechWatching, You have many options. Here goes the [cli tool](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) option. You can automate things in Azure using [rest api](https://docs.microsoft.com/en-us/rest/api/azure/) and [Powershell scripting](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest)

[2020-05-18 16:32] Subhasish-msft commented on #1657
@stpeteparadox , Can you please share the iOS version and MS Teams build version of the device (iPhone 7). Also if you are not on latest version of MS Teams, can you please try updating it.

Regarding the earlier issue, Teams has a limitation of size 28 KB for the entire message payload, not just the Adaptive Card. Teams will add more data to your card. Here is the [doc](https://docs.microsoft.com

[2020-05-18 17:02] TechWatching commented on #1656
I know Azure Cli but I did not find how to create or update an app registration to expose an API like the one described in this documentation. What azure cli command should be used, with what parameter is what is missing from this documentation page. Maybe an ARM template sample could be a nice addition too.
I successfully add SSO to my teams tab  using the azure portal but I am unable to do autom

[2020-05-18 18:09] abbodh opened #1662 "@mention in adaptive card doesn't seems to be working"
Hi - it looks like the code snippet for @mentions is not latest and do not work in Teams. Can someone please point to the documentation on how @mentions work in adaptive cards using C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001a12ea-30fa-d626-18a9-02a518bfb37f
* Version Independent ID: e5f5f69e-66e9-d1b2-e19a-