[2019-10-21 17:39] #1066 closed

[2019-10-21 18:41] Mark-Bailey-SingleWire commented on #1065
Turns out this is happening in the web client (Chrome) and the OS X client. The Android and iOS client show the apostrophe correctly.

[2019-10-21 18:42] jiruss commented on #1066
@clearab there's a big difference in still working and deprecated. Perhaps you should check your information before using exclamation points on  your assertion.

![image](https://user-images.githubusercontent.com/20343098/67233285-e9c27480-f410-11e9-8366-cd9ce6719be6.png)

Ref here.
https://github.com/microsoft/BotBuilder-V3

I work in Bot Framework support and the majority of customers building b

[2019-10-22 05:47] Gousia-MSFT commented on #1065
@Mark-Bailey-SingleWire Thanks for reporting this. We have raised a bug for this and we are tracking it internally.

[2019-10-22 08:28] davegr99 opened #1073 "Highlighted links in wiki destroys entire wiki section --> markup problem"
Hi everyone,

looks like there's a bug in MS Teams Wiki.
Everytime I try to highlight a link to a document from the team in a wiki section, it opens the document but also deletes the section from wiki where the link was located.

To reproduce:
1. Copy a link from a document located in Teams
2. Paste the link into a wiki section
3. Highlight it with the text marker
4. Click on the link
5. Watch how

[2019-10-22 09:30] melli79 opened #1074 "Unable to re-enter login credentials"
Problem:
I have changed my (company) Microsoft login credentials today.  Since then teams reports that I have to re-login.  Whenever I click on this popup, teams restarts, but after 10s the same popup re-appears.

(I have already restarted the computer, same behavior.)

Expected behavior:  After a failed auto-login attempt I get the possibility to re-enter my credentials (maybe even switch the use

[2019-10-22 11:09] Gousia-MSFT commented on #1062
@NewFuture It is not possible to send a HTML tag from a message extension. You could use [TaskModule ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview)if you want to open Html content from bots.

[2019-10-22 11:17] Gousia-MSFT commented on #1034
@apatils @dneduva @gustavomcarmo This has been fixed now. Could you please check and confirm once?

[2019-10-22 11:17] Gousia-MSFT commented on #1035
@Sameen1234567 This has been fixed now. Could you please check and confirm once?

[2019-10-22 11:32] dneduva commented on #1034
Yes,
I am sorry about not getting back to you, we were on holiday for the past week or so.
But I have double checked; all of my connectors are working and notifications are being received from the Webhook Connector as expected.
Thank you.

Best Regards,
Dan Neduva
CI/CD Engineer
    - - - - - - - - - - - -- - - - - -
[cid:image001.png@01D588E5.78E85CC0]

M: +972-54-9196633
Azrieli Center  |  26 Ha

[2019-10-22 11:35] Gousia-MSFT commented on #1034
Thanks for the confirmation.

[2019-10-22 11:35] #1034 closed

[2019-10-22 11:37] Gousia-MSFT commented on #1035
#1034

[2019-10-22 11:37] #1035 closed

[2019-10-22 12:04] melli79 commented on #1074
Problem seems resolved after the second reboot. (I assume that we have problems with updating the SSO tokens.) Now I could re-enter the credentials (and even the user).

Therefore you can reduce the priority.

Nevertheless it would be nice to have an option to overrule the auto login.

[2019-10-22 15:48] dkubes opened #1075 "Mac Teams app -can't access settings"
If you click on the gear icon on the Mac app, instead of opening "settings" it opens up "manage teams"

[2019-10-22 17:21] Trinetra-MSFT commented on #1074
Closing this issue as problem is resolved

[2019-10-22 17:21] #1074 closed

[2019-10-23 03:29] Trinetra-MSFT commented on #1075
Could you please share some screen shots?

[2019-10-23 03:44] Trinetra-MSFT commented on #1073
We are not able to reproduce this issue. Are you pasting the link in wiki page content section and highlighting? Could you please share some screenshots?

[2019-10-23 03:45] dkubes commented on #1075
Sure!
![IMG_0485](https://user-images.githubusercontent.com/56885111/67355643-c63d1e00-f525-11e9-8af1-4828cff85e82.jpeg)

[2019-10-23 03:46] dkubes commented on #1075
Shouldn't this open settings, as it does on other versions of Teams, rather than Manage Teams? There are no settings (light/dark mode etc.) within the menu system.

[2019-10-23 04:16] Gousia-MSFT commented on #1075
@dkubes You could open Teams settings by clicking on the profile picture and choose Settings:
![image](https://user-images.githubusercontent.com/45553518/67357110-dda5f680-f579-11e9-9d4e-23a82b170984.png)
You will be able to change the light/dark mode from here:
![image](https://user-images.githubusercontent.com/45553518/67357148-fca48880-f579-11e9-9b71-f18889a040e1.png)

[2019-10-23 05:42] davegr99 commented on #1073
Exactly.

Firstly, copying the link to an alternate text. The link opens a Word file, which is located in the channel "general". Wiki is in "general" as well.

![image](https://user-images.githubusercontent.com/56866638/67361309-8186a680-f568-11e9-9ddc-2bc14aa6ee07.png)

After that, use the highlight option to highlight the alternate text for the link.
![image](https://user-images.githubuserconten

[2019-10-23 07:05] Trinetra-MSFT commented on #848
Referring to this #[issue](https://github.com/dotnet/sourcelink/issues/166).

[2019-10-23 07:05] #848 closed

[2019-10-23 07:23] Trinetra-MSFT commented on #1045
Currently there is only Silent Authentication supported in Microsoft Teams. For any third party app, you needs to Sign In at least once to consent. If you logout from Teams client then it clears out the cache and your needs to Sign In again. Please try out [Auth Sample manifest](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/blob/master/manifest/AuthBot.zip) to see the experience.

[2019-10-23 07:26] anomepani commented on #1045
Thanks, @Trinetra-MSFT  for feedback and I will look into provided Auth Sample Manifest and get back to you if I need help.
Thanks again for the support.

[2019-10-23 15:12] #1075 closed

[2019-10-24 03:21] NewFuture commented on #1062
@Gousia-MSFT  thanks.

is it right?

[2019-10-24 03:45] Gousia-MSFT commented on #1062
@NewFuture You can insert an image but that should be a thumbnail image as described earlier. You cannot use <img> tags to insert image. Here is how you could send a thumbnail image:
[code]

[2019-10-24 04:10] NewFuture commented on #1062
@Gousia-MSFT thanks, but the `ThumbnailCard` has some different behaviors with pure `img`

[2019-10-24 09:28] anomepani opened #1080 "How can we achieve SSO Authentication in Teams Tab With server side using ADAL.NET Instead of adal.js"
I am exploring SSO Authentication in Teams Tab which provides the use of adal.js which is client-side.
How can we achieve SSO Authentication in Teams Tab With server side using ADAL.NET  Instead of adal.js
Thanks in advance.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be314181-4800-4d02-cf62-fb276dc7cdd2
* Version In

[2019-10-24 10:52] Gousia-MSFT commented on #990
@Vikrant2585 Could you please provide the following information which would help us to investigate this better:
1. Desktop logs (They can be found at ~/Library/Application Support/Microsoft/Teams/logs.txt).
2. Web logs(Press Option+Command+Shift+1 with Teams app running, go to Downloads).
3. A video recording of the issue.

[2019-10-24 14:37] ngrigoriev opened #1081 "Closing the main window makes Teams unusable"
Environment Mac OS X 10.14.6
Teams: 1.2.00.28258.

It happened to me several times, accidentally clicking Cmd+W and closing the main Teams window. After that there seems to be no way to reopen it from the Teams app. Other apps like Slack etc (or even Outlook) have the shortcuts to reopen the windows, such as Cmd+1 in Outlook. When I accidentally close Teams window, the only way to get back is to r

[2019-10-24 19:13] butchmarshall commented on #691
Just checking back on this one - any update?

[2019-10-24 20:10] #691 closed

[2019-10-24 23:17] beauzeaux opened #1082 "High Contrast Color Ramp"
Can we get a "High Contrast" color ramp as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab4100d3-1a06-29b9-dedc-d0eaed0b4718
* Version Independent ID: 3c582b5e-e654-458d-62da-95706b3370fc
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/design/c

[2019-10-25 00:48] nkramer opened #1083 ""Context" link is broken"
should be https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-js/microsoftteams.context?view=msteams-client-js-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525acdf7-3f72-b657-63ea-ddb95c4fb247
* Version Independent ID: c5d9575a-ace3-8441-4516-ad2c7adb3d99
* Content: [Get context for your tab - Tea

[2019-10-25 03:38] Trinetra-MSFT commented on #1073
@davegr99, We still could not able to repro this issue. After you highlight a alternate text which have a link associated with it, clicking on that text should navigate to the  inserted link. Please find the attached screenshot.
![image](https://user-images.githubusercontent.com/50989436/67541522-da8c4100-f706-11e9-99ff-8cd43952773e.png)
If you are still facing this issue, Please record a video an

[2019-10-25 04:05] clearab commented on #1083
fixed!

[2019-10-25 04:05] #1083 closed

[2019-10-25 05:01] anomepani opened #1085 "How to redirect user from one of custom tab in Microsoft teams app to specific team"
How to redirect user from one of custom tab in Microsoft teams app to specific team?
I have seen in feature like get team link and you can sent it to chat message and of you click on that link it will automatically redirect to that specific team.

I am not clear how we can do it programatically to generate link to team and redirect to that team in tabs(custom app)  using microsoft team sdk

---
##

[2019-10-25 05:28] Gousia-MSFT commented on #1085
@anomepani Could you please try [Deeplinking from Tab](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deep-links#deep-linking-from-your-tab). You could use microsoftTeams.executeDeepLink() method to deeplink from your tab. Here is an example to open deeplink on button click from tab:
`<button type="submit"onclick="microsoftTeams.executeDeepLink('deeplinkurl')">Go To DeepLink</bu

[2019-10-25 05:31] anomepani commented on #1085
@Gousia-MSFT thanks for quick reply I will definitely try for sure and get back to you  if I  need help.
Thanks

[2019-10-25 05:40] davegr99 commented on #1073
Yes, the link takes me to the document, but after that, when I close the document, the wiki section is empty. Here's the video you asked for:

[Teams issue.zip](https://github.com/MicrosoftDocs/msteams-docs/files/3770514/Teams.issue.zip)

Thanks for your help!

[2019-10-25 13:43] narulasrinivas commented on #764
I'm experiencing same. Any help would be appreciated.

[2019-10-25 14:03] sschutten opened #1086 "Unexpected behavior of notification text and summary"
The docs say:

However, I notice a different behavior when using the Microsoft Bot Framework SDK.

In the following sample I've set message.text to `This is the activity text` and message.summary to `This is the summary text`. Notice it doesn't show the summary in the activity feed.

![image](https://user-images.githubusercontent.com/10097564/67577028-fbbd5380-f73f-11e9-93c2-2bd63d50a2d8.png)

Now

[2019-10-25 14:19] butchmarshall opened #1087 "Example for native mobile app?"
I've implemented this flow and it works perfectly in the website and fails miserably in the Android/iOS apps.

Can documentation be added here that implements the authentication flow in those environments as well?

Below is the message contained in the hash.

![image](https://user-images.githubusercontent.com/339763/67578601-ca795f00-f710-11e9-8604-90a4cb29d48e.png)

---
#### Document Details

⚠ *

[2019-10-25 16:17] MattEngler opened #1088 "Recording in Teams"
When I hit the record button it says there was an issue and it actually started recording.

[2019-10-25 17:03] dwtuts commented on #1088
Could you get the logs and past them to this issue?
https://docs.microsoft.com/en-us/microsoftteams/log-files

[2019-10-25 18:07] IQof20 opened #1089 "Passing PowerApps Parameters"
What I'm not finding clear here is the passing of URL parameters into PowerApp tabs.  I've attempted a number of methods to get "inline variables" passed into a PowerApp tab and it does not seem to work (e.g. https://...&name=value).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a891841a-a110-d18e-25c1-fc29e7d4a5e3
*

[2019-10-29 05:21] Gousia-MSFT commented on #1088
@MattEngler Could you please share a video recording of the issue along with the logs captured during the repro? You could get the logs by clicking Ctrl+Alt+Shift+1 with Teams app in focus.

[2019-10-29 06:15] Trinetra-MSFT commented on #1089
@IQof20, In Powerapps parameters can be sent in URL like `https://...?Name=xyz`
You can achieve this even by setting up value to the variable by using Set function and access that variable whereever it required. Please check the documents.
https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/functions/function-set

[2019-10-29 06:45] Trinetra-MSFT commented on #1080
Currently SSO authentication in teams tab uses only adal.js library which creates a hidden iframe for OAuth 2.0 implicit grant flow and set `prompt=none`. But you can also configure msal.js library for Single-sign on Please take a look at [Single-sign-on with MSAL.js](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-sso).

[2019-10-29 06:52] anomepani commented on #1080
@Trinetra-MSFT Thank you. I will take look for sure. Actually I want to use ADAL.NET or MSAL.NET to store cache token on the server-side instead of client-side. Can you advise on how to achieve SSO Authentication in MS Teams In tab With Adal.Net or MSAL.NET

[2019-10-29 07:05] Gousia-MSFT commented on #1086
@sschutten Are you trying this in personal scope or channel scope? The activity feed customization only applies to 1:1 messages between a bot and a user, as called out in the [page](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/activity-feed):
Note
This applies to one-to-one messages between a bot and a user. Messages inserted into a channel generate a notification in the activ

[2019-10-29 07:14] Gousia-MSFT commented on #1087
@butchmarshall Are you doing this in Tab? Currently SSO is only supported in Tabs. Support for SSO in bots is something we are working on.

[2019-10-29 07:36] Trinetra-MSFT commented on #1087
@butchmarshall, Are you trying SSO in Message extension? if this is the scenario currently SSO is only supported in tabs, we are working on support for Bot and Message Extension too.

[2019-10-29 09:19] Gousia-MSFT commented on #1062
@NewFuture Could you please help me understand what difference you are talking about? Please share a screenshot of what you are expecting it to be like.

[2019-10-29 09:20] Gousia-MSFT commented on #1064
Please re-open if you still face any issues.

[2019-10-29 09:20] #1064 closed

[2019-10-29 10:33] sschutten commented on #1086
@Gousia-MSFT I'm sorry I haven't been clear on that. Yes, I'm trying this in the personal scope, where it should work. I'm aware that it doesn't work in the channel scope.

[2019-10-29 10:33] Gousia-MSFT commented on #1053
@anomepani Resource value is currently not supported here. We are working on updating the docs to reflect the expected behaviour.

[2019-10-29 12:14] IQof20 commented on #1089
That works (of course if you have a tenantID already in your PowerApps URLs then it's &Name=xyz), but what I'm really talking about is heavily outlined on my blog here:  http://persnicketypowerapps.blogspot.com/2019/10/you-cannot-pass-web-parameters-into.html

[2019-10-29 12:44] butchmarshall commented on #1087
Hi @Trinetra-MSFT - yes I'm doing SSO in a messaging extension.

The [OAuth 2.0 code grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code) seems to work for me in both web and native app without any authorization prompts!

Is this expected?  Can I rely on this in the foreseeable future to authentication my users?  If not - how is user authentication s

[2019-10-29 21:48] uwekolsch opened #1102 ""Valid domain cannot use tunnel site" error again"
I get the same error as in the message from March 13 - "Valid domain cannot use tunnel site" - but  "sideloading of external app" is enabled. I tried the pro version of ngrok so that I can use a non ngrok URL, this got me around the error but now I have a invalid SSL cert and I can't use the http version. How do I get around this?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-29 22:48] clearab commented on #1102
Hi - Is the message an error, or a warning? App Studio should still allow you to install the app for dev/test purposes.

[2019-10-30 07:20] uwekolsch commented on #1102
Seems to be a warning, because now I can ignore it and just install the app. But I'm pretty sure when I tried this last night it did not work, it never got me to the tab selector. Thanks for your quick response.

[2019-10-30 16:32] markthiessen opened #1104 "Why are these templates not targeting .NET Core?"
It seems strange that these examples are all targeting NET4x and using jQuery... is there a dependency issue or are these just out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98cd21c7-e87c-3c5b-7574-998a355f9f08
* Version Independent ID: 5e312707-facc-03fc-af59-90267d0c7b8a
* Content: [Get started with C#/.

[2019-10-30 16:50] markthiessen commented on #1104
Going down the internet rabbit holes to find useful info to get started and found https://stackoverflow.com/a/56174075/56128

Apparently 3.x doesn't support .NET Core, while 4.x does. But there's also no migration path for 3.x to 4.x so I'd like to start with 4.x so whatever I build isn't obsolete in a few months. Maybe this documentation should mention this and help people get started on the next

[2019-10-30 18:46] tonypapousek commented on #492
Any update on this? Why close an issue for a known bug? The Helper still users significant energy in macOS, which is just silly for a glorified chat application.

[2019-10-31 03:53] clearab commented on #1104
The 4.6 version of the Bot Framework SDK was just published today, with full 1st party support for Teams. Documentation and samples will be updated to reflect over the next few days - with additional sample and documentation support to follow.

[2019-10-31 07:15] dhruvp29 opened #1107 "Participants of the Channel are not able to join the Meeting"
I created an online meeting using graph API in my one of the channel in the Teams.

I am following the example given here. [Create Online Meeting in the channel of the team](https://github.com/paywuAtMicrosoft/microsoft-graph-docs/blob/paywu/3323-calling-onlinemeeting-update/api-reference/beta/api/application-post-onlinemeetings.md)

Below are the API request and its body.

Request: `https://graph

[2019-10-31 09:06] Gousia-MSFT commented on #990
Please re-open with requested information.

[2019-10-31 09:06] #990 closed

[2019-10-31 09:08] Gousia-MSFT commented on #1063
Please re-open if you still face any issues.

[2019-10-31 09:08] #1063 closed

[2019-10-31 09:17] #1102 closed

[2019-10-31 14:05] mplwork commented on #401
So why is this closed then? Where is the v4 doc?

[2019-10-31 17:24] clearab commented on #1055
fixed

[2019-10-31 17:24] #1055 closed

[2019-11-01 07:23] Trinetra-MSFT commented on #1107
Could you please try to set your `AcceeLevel ` parameter to `SameEnterprise` and test the same?

[2019-11-01 07:31] dhruvp29 commented on #1107
Hi @Trinetra-MSFT , Tried as per your feedback but still facing the same issue.

[2019-11-03 11:34] MaheshakaMudli commented on #396
How to we get the message while initiating action in messaging extension. I am using yeoman generator to create a teams project for messaging extension. The user will have a custom action to create a task using the messaging in the teams.

[2019-11-04 05:16] Trinetra-MSFT commented on #1107
@dhruvp29 , Thanks for trying out, We are looking into the issue.

[2019-11-04 05:41] #1053 closed

[2019-11-04 05:45] Gousia-MSFT commented on #1062
Please re-open of you still face any issues.

[2019-11-04 05:45] #1062 closed

[2019-11-04 06:02] #1065 closed

[2019-11-04 06:11] NewFuture commented on #1062
@Gousia-MSFT, sorry for my late reply.
Could you contact me in Microsoft Teams (just search `New Future`)?
I will show you the difference.

[2019-11-04 06:50] Trinetra-MSFT commented on #1080
@anomepani , Please take a look at [SSO in Tabs](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/19.a.single-sign-on-for-enterprise-apps).

[2019-11-04 08:12] nlenlited opened #1115 "Login loop when device time is off in Microsoft Teams Web"
**What should happen:**
Microsoft teams to sign in OR state it cannot sign the user in because of a date/time difference.

**What happens now:**
The login is retried a bunch of times and it will simply state "Cannot sign you in" without valid reasoning.

**Steps to reproduce:**
- Log out any Teams , Office365 and/or services using a Microsoft Account or Office365 login.
- You can optionally clear

[2019-11-04 09:47] lre871 opened #1116 "Error when uploading the app to teams"
I've followed this steps but if i want to upload the app to teams i get an error message that this was not successful but there is no reason why. gulp serve works fine, the settings and permissions are correctly set. I did not change anything in the code. Could somebody help me please, i could not debug this without the reason for why it is not working. The error message is: "Es ist ein Fehler auf

[2019-11-04 10:09] Trinetra-MSFT commented on #1116
Could you please try to [sideload](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deploy-and-publish/apps-upload) your app manifest in teams?

[2019-11-04 10:12] lre871 commented on #1116
Thanks for your answer. I've already tried this out but if i add it to a team i get the message that something went wrong. Adding it to Teams instead of an existing team works, but this is not what i need.

[2019-11-04 10:19] Trinetra-MSFT commented on #1116
This issue arises when sideloading is not enabled for your tenant. Do you see Upload a custom app for admin user or a normal user? Please share your app manifest so we can test it on our end.

[2019-11-04 10:23] lre871 commented on #1116
Sideloading should be enabled... i did this with the global admin.
I dont know how to share this file so i paste it here (i changed my name and the name of the app, tab and bot):
{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json",
  "manifestVersion": "1.5",
  "id": "4a0c8f50-fedf-11e9-b5f0-bdd2e31dc28b",
  "version": "0.0.1",
  "packageName":

[2019-11-04 11:00] Trinetra-MSFT commented on #1116
@lre871 , Thanks for sharing the manifest, We are looking into it.

[2019-11-04 11:00] lre871 commented on #1116
Thank you!

[2019-11-04 11:13] Trinetra-MSFT commented on #1116
@Ire871, We tried to sideload your manifest in teams, it working fine. Could you please confirm your host, is it local ngrok or any other domain? Please make sure you are adding your site domain inside the validDomain list of your manifest.

**Note**: If you have enabled sideloading for your tenant recently please wait for some time, it usually take 7-8 hours to reflect the changes.

[2019-11-04 11:24] lre871 commented on #1116
the host is ngrok (local) and i have enabled sideloading a view weeks ago. If i understood right, sideloading means loading the app to the store? this works fine. only adding it to the team does not work.

[2019-11-04 16:42] Trinetra-MSFT commented on #1116
@lre871 , Please confirm few things,
1. Did you added Microsoft Teams channel while creating your bot ?
![image](https://user-images.githubusercontent.com/50989436/68139312-f0440680-ff4f-11e9-9959-996bb62c37b4.png).

2. Is your Bot working in web chat emulator?

[2019-11-04 17:36] JonathanFingold opened #1117 "The text "**@Mention**" is not being rendered correctly in the article"
## Issue

re: section [Handling menu commands in your bot code](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/create-a-bot-commands-menu?tabs=dotnet#handling-menu-commands-in-your-bot-code)

The Markdown `**@Mention**` renders as normal text and includes the asterisks (**).

## Additional context

It might be an issue with our publishing tools, as it renders correctly in VS

[2019-11-05 05:06] Gousia-MSFT commented on #1115
@nlenlited Could you please share a video recording of the issue?

[2019-11-05 17:34] #1117 closed

[2019-11-05 17:55] ewquon opened #1122 "Problem connecting to teams, reconnecting"
I'm having regular connection issues in Teams. Even with the app open, messages will push to my phone instead. There is an error message displayed at the top of the window, and I need to click on that to restart teams before new messages appear in the app. This happens daily.

I'm running OS X High Sierra.

[2019-11-06 03:41] Trinetra-MSFT commented on #1122
Could you please share some screenshot for what error you are getting?

[2019-11-06 13:19] Alexees opened #1124 "Bullet point formatting breaking between desktop and mobile teams"
I've written a fairly long list using bullet points in the desktop Teams client. Later on, I wanted to add another entry to that list from my mobile device.
First of all, pressing return for next line did not add another bullet point, but even worse, when I just added the text I wanted without it, it removed all bullet points.
I realized that a day later looking at that same list from the desktop

[2019-11-06 13:58] arpitgupta19 commented on #1015
@JanOnGit Please confirm if this issue is happening on both android and iOS ?

[2019-11-06 20:40] anomepani commented on #1085
Any updates on this which provide working demo on this

[2019-11-07 01:42] tjnicolas opened #1127 "Wiki Content went missing"
Our wiki page and section are still accessible but have empty content after we edit it. There is no deletion happened. Please help. Thank you.

[2019-11-07 05:09] Gousia-MSFT commented on #1124
@Alexees Could you please share some screenshots of the issue you are seeing on mobile?

[2019-11-07 05:13] Gousia-MSFT commented on #1127
@tjnicolas Could you please elaborate more on the issue you are facing? From how long are you seeing this issue?

[2019-11-07 05:16] tjnicolas commented on #1127
I just experienced it yesterday.

Suddenly, all contents of 1 section went missing.

Is there a chance I can retrieve the wiki content?

From: Gousia-MSFT <notifications@github.com>
Sent: Thursday, November 7, 2019 1:14 PM
To: MicrosoftDocs/msteams-docs <msteams-docs@noreply.github.com>
Cc: tj <tj@bizbox.ph>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/msteams-docs] Wiki Conte

[2019-11-07 05:24] Gousia-MSFT commented on #1127
@tjnicolas I am checking this internally. Will get back to you on this. Thanks!

[2019-11-07 05:26] tjnicolas commented on #1127
OK Thanks. Just in case, I have the wikiMetadata that you can reference if necessary.

From: Gousia-MSFT <notifications@github.com>
Sent: Thursday, November 7, 2019 1:24 PM
To: MicrosoftDocs/msteams-docs <msteams-docs@noreply.github.com>
Cc: tj <tj@bizbox.ph>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/msteams-docs] Wiki Content went missing (#1127)

@tjnicolas<https://github

[2019-11-07 07:33] Alexees commented on #1124
Sure:
This is the screenshot of a message I wrote on Desktop:
![image](https://user-images.githubusercontent.com/32508825/68368578-a9653500-0138-11ea-81ab-d1db360c0721.png)

This is how the message looks when viewed on mobile:
![image](https://user-images.githubusercontent.com/32508825/68368852-2db7b800-0139-11ea-9fbe-fa9f6eed323a.png)

And this is how it looks when I edit the message on mobile, s

[2019-11-07 09:54] Subhasish-msft commented on #1085
The URL format you used is correct. You need to provide different channeId and groupId in each deeplink.
Below is the valid deeplink URL format:
`https://teams.microsoft.com/l/team/<ChannelId>/<ChannelName>?groupId=<TeamId>&tenantId=</TenantId>`

[2019-11-07 13:48] davegr99 commented on #1073
Hello again,
how's the progress with this issue after two weeks?
Could you replicate it?

[2019-11-07 19:26] ewquon commented on #1122
![image](https://user-images.githubusercontent.com/18267059/68420410-88610c00-0159-11ea-81b3-5bddfa18a725.png)
Clicking "refresh now" restarts Teams.

[2019-11-07 23:25] ewquon commented on #1122
Note that I am connected to the internet at this point, and no other applications on my laptop are experiencing any connectivity problems.

[2019-11-08 00:36] butchmarshall commented on #1087
Just an update.

It looks like the above works in Android but iOS forces a login on first view.

Androids login (from initially logging into the app) also expires after a few days after initial login and eventually forces another login...

[2019-11-08 13:22] anomepani commented on #1085
@Subhasish-msft thanks for the reply redirection worked for me. However, in-browser `unknown` text is appended and in-browser console  `postMessage` not allowed error is occuring not sure what is the reason for that

[2019-11-09 17:35] MaheshakaMudli opened #1132 "Messaging extension created using yo generator works fine with ngrok but fails when deployed in teams."
I have created a messaging extension using yo generator which uses a task module to accept user data. I have created a web app bot and tested it in emulator and web chat as well. The bot works fine. I have installed the bot in teams as well and it is working fine. I have tested the messaging extension using ngrok server and it works fine. But when I package the solution and upload the package in t

[2019-11-10 04:14] clearab commented on #1132
If you are using a web content page for your task module, you need to add your domain to the 'validDomains' portion of you app manifest.

[2019-11-11 06:34] Subhasish-msft commented on #1086
@sschutten, Currently summary property is considered for activity-feed only if the message contains an attachment. Otherwise, it is derived form message text and summary is ignored. That's why in this case Hero card summary is working fine but not the text message.
We are updating same in the document shortly.

[2019-11-11 08:59] Gousia-MSFT commented on #1088
Please re-open with requested information.

[2019-11-11 08:59] #1088 closed

[2019-11-11 09:07] Trinetra-MSFT commented on #1122
@ewquon, Are you still facing this issue? Can you provide som log files from the time the issue appears?

[2019-11-11 09:10] Trinetra-MSFT commented on #1116
@Ire871, Please try to create a new bot [Create a Bot](https://dev.botframework.com/bots/new) and let me know if you still face this issue. It seems your bot is not listening on port.

[2019-11-11 09:37] Gousia-MSFT commented on #1124
@Alexees Thanks for sharing the screenshot!! We are looking into this.

[2019-11-11 10:05] Gousia-MSFT commented on #1081
@ngrigoriev Thanks for reaching out. We are looking into this?

[2019-11-11 14:14] MaheshakaMudli commented on #1132
@clearab we tried adding my domain in valid domains section in app settings but still it did not work. we have created a simple echo bot and used it in extension. Seeing at the error it seems as if some code is required in bot which we is missing. In the task module we have created a user form and fetching some data from graph using msal.

[2019-11-11 16:19] ewquon commented on #1122
Where can I find the relevant log files?

From: Trinetra-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/msteams-docs <reply@reply.github.com>
Date: Monday, November 11, 2019 at 2:08 AM
To: MicrosoftDocs/msteams-docs <msteams-docs@noreply.github.com>
Cc: "Quon, Eliot" <Eliot.Quon@nrel.gov>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/msteams-docs] Problem connecting to

[2019-11-11 21:21] v-kydela opened #1134 "OAuth cards"
Can you provide some clarity about whether OAuth cards are supported in Teams using the Bot Framework? The Bot Builder SDK contains [code](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L284) that suggests OAuth cards are not supported in Teams:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-12 07:00] Trinetra-MSFT commented on #1134
@v-kydela ,There are currently some restrictions to where you can use the OAuthCard.
    1. The card will not work with guest access.
    2. It will not work with Microsoft Teams free.
    3. It can only be used for bot authentication.
    4. It only works for bots registered in the Azure Bot Service.

Please take a look at [OAuth Card](https://docs.microsoft.com/en-us/microsoftteams/platform/task

[2019-11-12 18:06] v-kydela commented on #1134
@Trinetra-MSFT - Yes, I can see those restrictions. The documentation still says OAuth cards are supported with the Bot Framework, yet the source code prevents the use of OAuth cards with Teams

[2019-11-12 23:11] EricDahlvang commented on #1134
**This is a documentation bug.**  Teams supports the OAuthPrompt, but only because the OAuthPrompt uses a SignIn card IF the channel is Teams:
see: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.cs#L315

and

https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Prompts/OAuthPrompt.

[2019-11-13 01:05] clearab commented on #1134
The documentation should be update shortly, our apologies for the confusion.

[2019-11-13 08:17] EricDahlvang commented on #1132
It looks like the console log above shows a NotImplemented exception.

Have you tried this sample: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/54.teams-task-module

[2019-11-13 13:16] sharmajnu opened #1142 "executeDeepLink joins wrong meeting"
We had a scenario where we had two meetings at same time with same name. The first meeting is cancelled and when we call executeDeepLink  with second meeting url it joins the first cancelled meeting.

Note: If I open the url directly on browser I am joining the correct meeting (second meeting). this issue is only happening with executeDeepLink .

[2019-11-14 07:17] Subhasish-msft commented on #1142
Are you getting same join URL for both meetings? And are you using same channel for creating both meetings?

[2019-11-14 09:49] Gousia-MSFT commented on #1115
Please re-open with requested information.

[2019-11-14 09:59] Gousia-MSFT commented on #1122
@ewquon You could get the logs by pressing Ctrl+Alt+Shift+1 with Teams app in focus.

[2019-11-14 11:51] paul-cheung opened #1147 "typo in the page"
Should "Take advantage **_off_**" be "Take advantage of" in the first paragraph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b081ffcd-32a2-03ed-1ca9-1d32bdeff00b
* Version Independent ID: 763faefd-c15e-4d32-78ff-9fc95e7f0c73
* Content: [Understand your use cases - Teams](https://docs.microsoft.com/en-us/microsofttea

[2019-11-14 13:00] #1087 closed

[2019-11-14 13:05] #1089 closed

[2019-11-14 13:24] Trinetra-MSFT commented on #1073
@davegr99 , We still could not able to repro this issue. It is working fine on our end.

[2019-11-14 13:38] davegr99 commented on #1073
That's problematic.
But you see in the video, that it's not working.
Right? So I'm not hallucinating 🤐

[2019-11-14 14:31] Afshin1980 commented on #1040
Same problem here

[2019-11-14 23:28] Grand-Poobah opened #1148 "too many notifications"
While I am in a conversation the person on the other end will reply
i get a banner and a activity alert

I would think that since i am looking at the conversation and it has focus that it would not send the notification and show the alert

Even worse is the notification location cannot be moved so it is over the interface
Besides this the notification and alert come in after i already ready and re

[2019-11-15 02:58] Trinetra-MSFT commented on #1148
@Grand-Poobah , Thanks for reaching out to us. You can customize the notification settings, Select your profile picture at the top, right corner of teams than  select **Settings**->**Notifications** from there you can fine tune what notification you want to see and where those appears.
![image](https://user-images.githubusercontent.com/50989436/68913607-dc837600-0781-11ea-852e-5e0a12605a9e.png)

[2019-11-15 15:47] Grand-Poobah commented on #1148
I understand that however if i am in the chat and it has focus it should not be notifying me

[2019-11-17 05:13] sharmajnu commented on #1142
Same channel was used to create the meeting, and we were getting join on the first cancelled meeting in teams, not in the second actual meeting.

[2019-11-18 11:06] Gousia-MSFT commented on #1116
Please re-open if you still face any issues.

[2019-11-18 11:06] #1116 closed

[2019-11-19 09:10] Marcus1571 commented on #826
Nov 19, 2019: this is definitely still an issue! Not solved at all.

[2019-11-19 11:39] Gousia-MSFT commented on #1080
Please re-open if you still have any queries.

[2019-11-19 11:39] #1080 closed

[2019-11-19 23:10] clearab commented on #1148
Thank you for your feedback - we've let the product team know and hopefully they will address this in a future release.

[2019-11-19 23:10] #1148 closed

[2019-11-19 23:11] clearab commented on #1147
Thanks for letting us know, it will be fixed in the next release.

[2019-11-20 05:12] MaheshakaMudli commented on #1132
Finally got it working. We were using two different web app, one for the bot and the other for the solution which is why the code was not able to communicate with the bot. Moved the code in the same web app of the bot and working like a charm.

[2019-11-20 05:12] #1132 closed

[2019-11-20 05:55] PranavJoshi1070 commented on #1040
I have same issue and tried to enable Sideloading in Setup Policies. However the toggle button is disabled in the "First Line Worker" policy section. I am logged in with tenant admin credentials.
(I was able to to enable the upload custom apps to ON for "Global (Org-wide default)" policies).
Am I missing something here? please guide. Thank you.

![Teams](https://user-images.githubusercontent.com/5

[2019-11-20 09:47] nlenlited commented on #1115
@Gousia-MSFT : I'm not sure why I have to create a screen recording if you have to re-create the issue anyways.. (to verify it).. but here you go;

https://youtu.be/GwKaI84gytk

Please re-open.

[2019-11-20 09:53] nlenlited opened #1153 "Re-opened 1115: Login loop when device time is off in Microsoft Teams Web"
_Re-opening this issue by creating a new issue (Author cannot re-open it as stated here; https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github)_

Old issue: https://github.com/MicrosoftDocs/msteams-docs/issues/1115

**What should happen:**
Microsoft teams to sign in OR state it cannot sign the user in because of a date/time difference.

**What happens now:**
The login is r

[2019-11-20 10:04] Subhasish-msft commented on #1142
Can you please share some screenshots of the cancelled meeting and how you are executing the meeting URL

[2019-11-20 12:58] #1073 closed

[2019-11-21 07:28] simoneTheNewBlack opened #1155 "why custom app is not available on mobile version?"
I have installed an app from the app store and it works fine on desktop and web version.
but i could not find it inside the "more apps"

[2019-11-21 12:00] nikheelneelay opened #1156 "Sample code repository"
Can you please share sample code repository to see the implementation of this feature in bot hosted on MS Teams channel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd744899b1
* Version Independent ID: 8097fcbd-adcc-ce49-a378-426c65af9296
* Content: [Send proactive messages - Teams](https:/

[2019-11-21 12:06] Gousia-MSFT commented on #1156
@nikheelneelay Could you please try this [sample ](https://github.com/OfficeDev/microsoft-teams-sample-complete-csharp/blob/32c39268d60078ef54f21fb3c6f42d122b97da22/template-bot-master-csharp/src/dialogs/examples/teams/ProactiveMsgTo1to1Dialog.cs)to send a proactive message to the user?

[2019-11-21 20:37] pavanjains opened #1157 "Teams fails to join the call with Audio Video Bot"
I compiled the sample AudioVideoPlaybackBot bot followed all the instructions, I can see messages reach the Visual studio but call does not connect. It gives following error message": "MediaControllerConversationAddParticipantFailed. DiagCode: 7112. Please help Bot Id is e8459a67-c315-445f-abf4-588c8da4bdb5

$>2019-11-21T14:51:35.2386656Z Info: LoggingMessageHandler.cs:167 SendAsync
ScenarioId: db

[2019-11-21 22:48] LalitAgrawala004 opened #1158 "Mobile client developer preview not showing up"
I followed all the steps mentioned above. I am able to see developer preview option on my desktop client but on mobile client it is not visible. Can you please help me ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 008da4e2-979e-c396-db28-4acf57deb530
* Version Independent ID: f1413f77-5eb3-e1fd-9235-d322d6e4eb6c
* C

[2019-11-22 02:02] Gousia-MSFT commented on #1124
@Alexees Are you seeing in this in both Android and iOS?

[2019-11-22 02:05] rstrauss-logyx opened #1160 ""Setting up a custom incoming webhook" doesn't work"
Setting up a custom incoming webhook
says:
1. In Microsoft Teams, choose More options (⋯) next to the channel name and then choose Connectors.

There’s no “Connectors” option when I click on …  next to the channel name…
If one needs some sort of permission,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28316a67-22fa-8

[2019-11-22 05:17] Alexees commented on #1124
I do not own an iOS device

[2019-11-22 06:01] Gousia-MSFT commented on #1160
@rstrauss-logyx Could you please share a screenshot of the issue you are seeing?

[2019-11-22 06:10] Gousia-MSFT commented on #1158
@LalitAgrawala004 What's the Team app version you are on? Could you please try updating your teams app version to the latest one? Here is how you can enable [Developer preview on Mobile](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-intro#on-a-mobile-client).

[2019-11-22 06:17] Gousia-MSFT commented on #1155
@simoneTheNewBlack Personal apps on mobile are still in developer preview. Could you please [enable developer preview on Mobile](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-intro#on-a-mobile-client) to see your custom apps under "More apps" on mobile?

[2019-11-22 07:58] Gousia-MSFT commented on #1122
Please re-open with requested information if you are still facing this issue.

[2019-11-22 07:58] #1122 closed

[2019-11-22 09:20] Trinetra-MSFT commented on #1157
@pavanjains, Thanks for reporting this , we are looking into this.

[2019-11-22 16:19] LalitAgrawala004 commented on #1158
I am having latest version of team app on my mobile. and followed the step
mentioned in the document.. As  I mentioned, I am able to see in desktop
version but not in mobile app. Attached is the screenshot from my mobile
app.

On Fri, Nov 22, 2019 at 1:10 AM Gousia-MSFT <notifications@github.com>
wrote:

[2019-11-22 17:22] ksikorsk commented on #1157
Hi,

Thanks for the logs, helps us see what is happening under the hood.  First off, I see you're doing local runs of your bot.  While this can be done and we provide some guidance, it is not a method we officially support.

That being said, I see that our media service cannot connect to your local media processor.

[code]

I would confirm that your ports match the port ngrok opened up for you, an

[2019-11-22 19:37] pavanjains commented on #1157
Hi,
Thanks for this pointer.

I have verified that ngrok port matches also CName is correct as well, I verified it with simple TCP client server programs. Does that mean that my Bot is misbehaving? Is there Teams log that I can look to confirm what is it going on.

Regards,
Pavan

[2019-11-22 19:40] ksikorsk commented on #1157
The other common issue is not using the right certificate for your bot.  Do you have an ssl certificate for "*.pavan-msteam.vbrick.com" and are you using this to initiate the media platform?

[2019-11-22 22:11] rstrauss-logyx commented on #1160
The image has 2 snapshots, one of the team "..." menu and one of the channel menu...

![image](https://user-images.githubusercontent.com/37351823/69463885-c5b8c280-0d31-11ea-976c-946ce953489d.png)

[2019-11-24 19:34] slavikko opened #1163 "Link: Microsoft Graph APIs for calls and online meetings (https://docs.microsoft.com/en-us/graph/api/resources/calls-api-overview) leads to 404"
Microsoft Graph APIs for calls and online meetings (https://docs.microsoft.com/en-us/graph/api/resources/calls-api-overview) leads to 404, should it maybe point to this: https://docs.microsoft.com/en-us/graph/api/resources/communications-api-overview?view=graph-rest-beta ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-25 00:42] #1147 closed

[2019-11-25 06:07] Trinetra-MSFT commented on #1163
@slavikko , Did you provided all the [Permission's](https://docs.microsoft.com/en-us/graph/api/resources/communications-api-overview?view=graph-rest-beta#authorization) which is documented?

[2019-11-25 08:59] Subhasish-msft commented on #1085
@anomepani, Are you still facing this issue? Can you please share screenshot of browser console error that you are getting. Sorry for the late response?

[2019-11-25 10:50] pkostelnik commented on #951
On my tenant even as on my customer there is no ponit for developer mode(s). Independent of the clientarchitecture (x86/x64) and yes, sideloading is enabled OrgWide, on Team and even for (specific)User.
So please reopen and clarify a solution.

[2019-11-25 10:50] pkostelnik commented on #646
On my tenant even as on my customer there is no ponit for developer mode(s). Independent of the clientarchitecture (x86/x64) and yes, sideloading is enabled OrgWide, on Team and even for (specific)User.
So please reopen and clarify a solution.

[2019-11-25 14:22] pavanjains commented on #1157
Thanks Cert was an issue.

[2019-11-25 14:22] #1157 closed

[2019-11-25 21:05] pmeripe commented on #600
Even I am looking for open a teams new chat window from a SharePoint page, I don't want to provide any users in deep link.

[2019-11-26 05:52] KayMKM opened #1166 "Can't logout account"
Once I login with an account, it can't be log out anymore. I think Teams should have a "Clear state" feature like the emulator. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63519845-323f-be8f-ce15-d7f39e46b5a7
* Version Independent ID: 70952f91-56e9-ff08-59f6-e237d4aaeca9
* Content: [Add authentication to you

[2019-11-26 06:03] Gousia-MSFT commented on #1124
@Alexees Ok. We have raised a bug for this and we are tracking it internally.

[2019-11-26 07:28] vladschiop opened #1167 "shareToMicrosoftTeams is not defined"
I am trying to dynamically render the Share Button, but it seems that shareToMicrosoftTeams is not defined in the launcher script. Is there any other resource that I have to reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5964e0a9-bba0-c5a3-8099-f3845037726c
* Version Independent ID: 24565c3b-2bb5-2482-a6c7-7

[2019-11-26 07:42] vladschiop commented on #1167
Update: The problem was that the script was not loaded at the point when I was trying to call renderButtons.

[2019-11-26 09:47] anomepani commented on #1085
Getting error in console but I  am able redirect to specific team.so Closing this issue.

[2019-11-26 09:47] #1085 closed

[2019-11-26 09:55] Gousia-MSFT commented on #1167
@vladschiop Were you able to solve the issue? What is the script version you are using?

[2019-11-26 12:16] marmstrong94 opened #1168 "Voicemail Flow Hangs App on iOS"
In iOS App version 1.0.89, call flow options the app has a chance of indefinitely hanging under the right circumstances, forcing the user to force the app closed and reopen.

To reproduce:
1. Pull out sidebar > Settings > Calling > If unanswered > If unselected, select Voicemail.
2. Press Voicemail again, the app will draw an animated loading circle indefinitely.
3. The app must be forced closed.

[2019-11-26 16:13] Perzan commented on #364
@Wajeed-msft Despite the page you linked, I still cannot find any option that allows me to enable"installing external application" anywhere. The page does not seem to address installing external apps. Is there a step-by-step solution how to enable this?

My colleague with admin rights has already tried to upload my teams bot, but all he gets is "Something went wrong, please try again later ". I'm

[2019-11-26 16:22] beauzeaux opened #1169 "Continuation Passing Style in Sample"
Given that [Promises](https://developer.mozilla.org/en-US/docs/web/javascript/reference/global_objects/promise) have been a part of the ECMA script spec for a while now, the `authContext._renewIdToken` there should at least be a demonstration of how to wrap it in a Promise.

E.G.
[code]

This would let the call integrate with the async/await from Babble/Typescript.

---
#### Document details

⚠ *D

[2019-11-26 20:03] pmeripe commented on #1167
How can I share to an individual or multiple users?

[2019-11-27 04:54] Gousia-MSFT commented on #1168
@marmstrong94 Is this related to Microsoft Teams? Could you please share a video recording of the issue?

[2019-11-27 05:59] nikheelneelay commented on #1156
@Gousia-MSFT

Hi, this sample is for Bot framework v3. Could you please share link for Bot framework v4 sample?

[2019-11-27 06:42] Trinetra-MSFT commented on #1166
@KayMKM , Could you please try to clear your team's cache and do a hard refresh?

[2019-11-27 08:25] KayMKM commented on #1166
How can I clear the cache?

[2019-11-27 12:21] vladschiop opened #1174 "Deep Link to Files Tab"
How can I get the information to create a deep link to a channel's Files tab? I tried to retrieve the tabs from a channel using Graph Api (List tabs in channel), but the Files tab is missing from the response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45541337-ecd7-5cf6-cbe4-3f0d2f39aa79
* Version Independent ID:

[2019-11-27 13:39] renanleonellocastro opened #1175 "The "LIKES" animations multiply after several clicks"
I was using the desktop application of teams in my computer and I realize that if you click several times in different "LIKES" type in the same comment, the like type instead of replacing each other, it will multiply and a lot of "LIKES" type of the same person will start appearing in the same message you liked before. Below there is a sample of what happened after several clicks in the "LIKE" but

[2019-11-27 22:50] rbakshi2 opened #1176 "Images not loading for "Create Identity Provider" in "Add Authentication for you teams bo""
Instead of the images, there code showing up in docs

![image](https://user-images.githubusercontent.com/15854508/69764477-44906f80-1125-11ea-8f03-239c390fe4ed.png)

[2019-11-27 22:55] rbakshi2 opened #1177 "Potential break in sequence from"Configuring idenity provider", to "Test connection string""
![image](https://user-images.githubusercontent.com/15854508/69764655-fa5bbe00-1125-11ea-9539-a808f3d696fa.png)

So after configuring the idenitity provider with your bot, the next step mentioned is to test connection string; but right after the one hits 'save', the whole configuration tab collapeses, hence the user won't see the test connection tab anymore.

Would instead suggest to have a step to

[2019-11-28 05:06] Gousia-MSFT commented on #1174
@vladschiop Currently we do not have this documented anywhere. This is in our backlog and we are working on it.

[2019-11-28 06:29] Gousia-MSFT commented on #1158
@LalitAgrawala004 Sorry I cannot view the screenshot. Could you please share it again?

[2019-11-28 11:45] Gousia-MSFT commented on #1156
@nikheelneelay Here is a sample for sending [Proactive message in v4](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/16.proactive-messages).

[2019-11-28 15:52] bluego78 opened #1180 "Detect Teams Browser"
How can i detect if an application is loaded from teams or not?
I've tried to check te user agent, but it's Mozilla...
I can't find a solution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfa1a29-bcf4-0cc5-ae3a-b185a00fd7bc
* Version Independent ID: c68181e1-151b-fc78-2671-fe9b397b702e
* Content: [Get context for yo

[2019-11-28 18:37] Abhijit-MSFT commented on #1177
Are you referring to these [documents](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=csharp).
After configuring the identity provider, you need to get into the newly created OAuth Connection and Test the Connection.

[2019-11-28 18:39] Abhijit-MSFT commented on #1176
Are you referring to these [documents](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=csharp)?

[2019-11-28 21:26] Josverl opened #1182 "what are the size limits"
what are the upper limits of the entity ID, Displayname and Urls ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97467996-693f-eb7b-10ed-7deaf4858718
* Version Independent ID: 8d69428f-965a-89b3-4561-f07655030397
* Content: [Settings interface - Teams](https://docs.microsoft.com/en-us/javascript/api/@microsoft/teams-j

[2019-11-29 04:44] Gousia-MSFT commented on #1180
@bluego78 When a user sends a message in teams your bot receives an activity payload which contains the channel id. You can use that activity.channelId to see from where the application is loaded.
![image](https://user-images.githubusercontent.com/45553518/69844185-0e6ffe80-1291-11ea-8319-e92903fbe316.png)

[2019-11-29 05:07] Trinetra-MSFT commented on #1182
@Josverl, The max length for entity id is 64 and for name it is 128
![image](https://user-images.githubusercontent.com/50989436/69844884-1e3d1200-1294-11ea-8cc6-49870cb8b816.png).

Please take a look at [Microsoft Schema Refrenece](https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json)

[2019-11-29 06:31] Gousia-MSFT commented on #1127
@tjnicolas If the content was ever saved before being lost, maybe it is possible to recover the raw content from the eDiscovery portal. It is saved as a html there, so some of the formating might be lost, but that is an option to explore. Could you please check if this can help?

[2019-11-29 06:41] Gousia-MSFT commented on #1081
@ngrigoriev Could you please share a video recording of the issue?

[2019-11-29 07:06] Subhasish-msft commented on #1142
@sharmajnu, We have raised a bug for this and we are tracking it internally.

[2019-11-29 07:41] Gousia-MSFT commented on #1167
@pmeripe Using shareToTeams you can share the link directly to a person. Are you facing any issues here? Could you please elaborate on what exactly you are trying to achieve?

[2019-11-29 07:49] Josverl commented on #1182
Thanks. Would it be possible to add a link to the schema ref to this page?

[2019-11-29 12:26] vladschiop commented on #1174
@Gousia-MSFT is not implemented or just not documented? Thank you!

[2019-12-01 17:32] IntranetFactory opened #1185 "Mobile app support?"
I've enabled developer preview, and the token callback works in both the desktop app and in the browser.

 But with the latest verion of the mobile app with enabled developer mode neither successCallback nor failureCallback are called. I've tested with both iPhone and Android.

Should one of the callbacks be called on mobile?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-12-01 18:24] IntranetFactory commented on #1185
Problem was caused by older version of js SDK

[2019-12-01 18:24] #1185 closed

[2019-12-02 08:46] Trinetra-MSFT commented on #1166
@KayMKM ,
1. Quit Microsoft Teams
2. Delete or rename the following directory/folder:

3. Start Microsoft Teams.
The folder you renamed or deleted will be recreated and a fresh cache will be downloaded from the service

[2019-12-02 08:58] Trinetra-MSFT commented on #1182
Yes, You can provide schema reference within your app manifest. Please take a look at [Microsoft Schema Reference in manifest](https://github.com/OfficeDev/msteams-samples-hello-world-csharp/blob/master/Microsoft.Teams.Samples.HelloWorld.Web/Manifest/manifest.json)

[2019-12-02 09:00] Trinetra-MSFT commented on #1169
Thanks for your suggestion. We will look into this.

[2019-12-02 14:21] TroyWalshProf commented on #322
Having the same issue again

[2019-12-02 19:50] pavanjains opened #1186 "Compliance Sample Bot VBSS no video received"
Hi,
I am using compliance bot provided in the sample folder. I can get the video when I make video call however when just sharing content there is nothing received on vbss. Please help me how to further debug this. I am running the bot locally with *.wild.cert and ngrok tunneling the media and signaling.

Below is the logs from VS

'WaWorkerHost.exe' (CLR v4.0.30319: RdRuntime): Loaded 'C:\vbrick\

[2019-12-03 02:27] kumarkunal229 commented on #316
@Wajeed-msft . I am facing the same issue and unable to perform httppost action from message card. need help !

[2019-12-03 07:53] Gousia-MSFT commented on #1107
@dhruvp29 Participants joining depends on the policy of the channel. Could you please tell us if it was a private channel or a public channel?
Also what was the message that was shown to the participant who was trying to join? Like were they in lobby?

[2019-12-03 09:07] dhruvp29 commented on #1107
Hi @Gousia-MSFT  It is a public channel.
Participants are not getting any error messages. as they are not able to click the meeting. If we create any meeting from teams UI,  we are able to see the view meeting details option as per the below screenshot.
![MeetingDetailsOptionMissing](https://user-images.githubusercontent.com/18227071/70036191-44d3b380-15da-11ea-9349-039d2db0808f.png)

the above op

[2019-12-03 11:15] Gousia-MSFT commented on #1081
Please re-open with requested information.

[2019-12-03 11:15] #1081 closed

[2019-12-03 11:19] Gousia-MSFT commented on #1168
Please re-open with requested information if you are still facing the issue.

[2019-12-03 11:19] #1168 closed

[2019-12-03 11:21] Gousia-MSFT commented on #1180
Please re-open if you face any more issues.

[2019-12-03 11:21] #1180 closed

[2019-12-03 11:30] prabhakarreddy1234 opened #1188 "Send a file to incoming webhook"
Is it possible to send a file to incoming webhook. If yes, what types are supported and same request schema would be helpful.

[2019-12-03 12:43] rutujlangalia commented on #1156
Hi @Gousia-MSFT ,

I used ngrok and attached a debugger in the code. I access Bot contact on teams with a new user and waited if it will hit ConversationUpdate but it failed.

For reference I am attaching the files below where I made changes as you suggested on StackOverflow.

[DialogBot.txt](https://github.com/MicrosoftDocs/msteams-docs/files/3916596/DialogBot.txt)
[DialogAndWelcomeBot.txt](https

[2019-12-03 14:59] ngrigoriev commented on #1081
I have found a work-around for your problem - teams window can be reopen by launching it again (while the app is still running with the main window closed) or by clicking Teams icon in the dock. If you do not want to spend 30 seconds reproducing it as per my clear description, why should I spend 5 minutes recording and posting the video?

[2019-12-03 16:04] ewquon commented on #1122
This issue still persists and requires a "refresh" (i.e. Teams restart) to fix.

Log was saved after restarting the app, with command+option+shift+1 on Mac:
[MSTeams Diagnostics Log 12_3_2019__9_02_14_AM_chatListData.txt](https://github.com/MicrosoftDocs/msteams-docs/files/3917519/MSTeams.Diagnostics.Log.12_3_2019__9_02_14_AM_chatListData.txt)

[2019-12-03 22:05] LalitAgrawala004 opened #1189 "Developer preview option not showing up on android phone."
Hi
Developer preview option not showing up for me on android phone. However, on Iphone and desktop app, the option is showing up. So, I am pretty sure my account has been set up correctly. Does it work on a particular version of android?

My phone has android 8.0 and teams app version is

![image](https://user-images.githubusercontent.com/17126892/70093712-00064780-15ef-11ea-9c35-baed1bd55efc.png)

[2019-12-03 22:09] #1104 closed

[2019-12-03 22:10] #1169 closed

[2019-12-03 22:10] #1134 closed

[2019-12-04 13:28] fgyula17 opened #1190 "Seems that https://github.com/OfficeDev/msteams-samples-hello-world-csharp.git is an old sample"
I find completely different approach for message extension development with c# on this site and on this: https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/what-are-messaging-extensions
This site mentions "https://github.com/OfficeDev/msteams-samples-hello-world-csharp" as sample but the other one has a link to "https://github.com/microsoft/BotBuilder-Samples/tree/master

[2019-12-04 16:20] LalitAgrawala004 opened #1192 "Dev Tools on Iphone/IPad"
This section only talks about Dev Tool on Desktop and Android client. I am able to enable developer preview on IPhone/Ipad but how to debug/inspect element?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df1efbb-c6b2-a495-303d-7abf19c57f72
* Version Independent ID: a5b5782f-7031-a989-5e42-dd3010e18893
* Content: [DevT

[2019-12-04 16:53] annaacc opened #1193 "App Studio"
Messaging endpoint is bahaving strange.
Every time I try to update the endpoint the green success indicator shows, but the endpoint does not switch to the new one.

[2019-12-05 01:57] clearab opened #1200 "2.5k 404's in the last 30 days"
Need to research and determine where the majority are coming from. One culprit is definitely https://docs.microsoft.com/en-us/microsoftteams/add-bots (that page should just be removed entirely)

[2019-12-05 05:48] Gousia-MSFT commented on #1190
@fgyula17 Both of these just use two different versions of SDK. [https://github.com/OfficeDev/msteams-samples-hello-world-csharp](https://github.com/OfficeDev/msteams-samples-hello-world-csharp) uses v3 SDK and https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore uses v4 SDK. You could try anyone of these. Both are correct.

[2019-12-05 07:04] Gousia-MSFT commented on #1192
@LalitAgrawala004 Currently it is not possible to access dev tools on iOS.

[2019-12-05 10:29] VikrantSingh01 commented on #1015
@JanOnGit : Hey, Do you see this on both iOS and Android ?  Also can you share the App Manifest ?

[2019-12-05 11:37] Abhijit-MSFT commented on #1188
No, you can not send a file using incoming webhook.

[2019-12-05 13:41] fuserke1981 opened #1201 "Teams - crashes after about 20 minutes every time. Error caa70004"
Hi

I'm not able to use Teams on my pc. After 20 min I'm getting error code - CAA70004. After that i have to restart but the same issue stays. Even clearing the cache does not help. The only thing I can do is to reinstall it but after 20 min it's the same error again. :-S

Who can help to solve this?

Greetings

[2019-12-05 15:59] Gousia-MSFT commented on #1193
@annaacc We had a regession but we have fixed it now. Could you please check and confirm.

[2019-12-06 03:21] Trinetra-MSFT commented on #1201
@fuserke1981 , Could you please use `Report a Problem` feature in help section of Microsoft Teams? So we can see the catch the error logs.
![image](https://user-images.githubusercontent.com/50989436/70292891-84321800-1805-11ea-8c29-74b592269a71.png)

[2019-12-06 06:19] Gousia-MSFT commented on #1107
@dhruvp29 This is a known client issue. You can only join such created meeting using the join url.

[2019-12-06 06:26] dhruvp29 commented on #1107
@Gousia-MSFT Thanks for the update. Is there any API using which we can achieve the Meet Now functionality available in teams UI?
OR
we can initiate a call in teams channel?

[2019-12-06 08:27] Gousia-MSFT commented on #1175
@renanleonellocastro Thanks for reaching out. We cannot reproduce the issue. Could you please use the report a problem feature to report this? Our team will then be able to look into this.
![image](https://user-images.githubusercontent.com/45553518/70307949-4696b480-1830-11ea-901a-d2bd137f8d32.png)

[2019-12-06 08:30] Gousia-MSFT commented on #1174
@vladschiop It is just not documented. Here is a sample format for deeplink to files.
https://teams.microsoft.com/l/file/5E0154FC-F2B4-4DA5-8CDA-F096E72C0A80?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&fileType=pptx&objectUrl=https%3A%2F%2Fmicrosoft.sharepoint.com%2Fteams%2FActionPlatform%2FShared%20Documents%2FFC7-%20Bot%20and%20Action%20Infra%2FKaizala%20Actions%20in%20Adaptive%20Cards%20-%20D

[2019-12-06 10:35] fuserke1981 commented on #1201
@Trinetra-MSFT Well when i look in the webapp i can only see:

![image](https://user-images.githubusercontent.com/58558784/70316601-5d331080-181c-11ea-9fdf-3ede726f9b08.png)

And in the desktop app i cannot do anything
greetings

[2019-12-06 16:06] pavanjains opened #1205 "Questions"
How can I make calls to another organizations?

Also above page says you cannot record, what does that mean? You are not allowed to record or it is more for record API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac64d14f-aec8-9dd6-e987-d2325de46fd6
* Version Independent ID: ba050a58-d98a-68f7-3190-8001d2a9d12c
* Co

[2019-12-06 18:12] renanleonellocastro commented on #1175
In the help button, I am not able to see the "Report a problem" item.

![image](https://user-images.githubusercontent.com/10985679/70345411-c45fbd80-183a-11ea-9f58-508d994d51ba.png)

[2019-12-09 06:08] Gousia-MSFT commented on #1175
@renanleonellocastro Could you please share the logs captured during the repro? These logs can be obtained by pressing Ctrl+ALt+Shift+1 with teams app in focus.

[2019-12-09 07:42] Trinetra-MSFT commented on #1205
@pavanjains , Please take a look at [Calling and Meeting Bot](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/calls-meetings-bots-overview) and
[How to register your calling and meeting bot](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/registering-calling-bot).

There is [Call Record](https://docs.microsoft.com/en-us/graph/api/ca

[2019-12-09 08:52] Gousia-MSFT commented on #1189
@LalitAgrawala004 Thanks for reporting this. We have raised a bug for this and we are working on fixing this.

[2019-12-09 09:08] Gousia-MSFT commented on #1166
Please re-open if you are still facing an issue.

[2019-12-09 09:08] #1166 closed

[2019-12-09 12:16] Gousia-MSFT commented on #1156
@rutujlangalia Please use the [StackOverflow ](https://stackoverflow.com/questions/59088977/how-to-get-a-welcome-message-on-teams-even-before-user-sends-any-message)question asked by you to track this. Let's use one point of communication to avoid confusion.

[2019-12-09 12:16] #1156 closed

[2019-12-09 17:12] borbea opened #1209 "App inside Team no longer sets browser cookie as of today 9 Dec 2019"
Hello
Starting this morning, most users can no longer access our applications. No changes have been made to the application, but it appears that authorization cookies are no longer being saved in the browser. The response header contains the following value
`set-cookie: Listy_Authentication=168f6364-81fa-43ed-ab56-e6a8d4695e49; path=/; samesite=lax` but cookie is never set in the browser.

We were

[2019-12-09 17:42] nedarb opened #1210 "The sample manifest JSON is invalid"
Hi - the sample manifest JSON is invalid. It looks like the composeExtensions.commands section is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* Content: [Manifest schema reference - Teams](https://docs.micros

[2019-12-09 18:24] #1210 closed

[2019-12-09 18:53] jvalentovich commented on #1209
Was able to resolve some of the issue by setting `SameSite = SameSiteMode.None` on the cookie (which wasn't needed as of 1/6/2019). That resolved the issue in Chrome, Edge, and Edge Beta (chromium based). However, cookies are still not being saved in the Windows Desktop Client.

[2019-12-10 06:35] Gousia-MSFT commented on #1189
@LalitAgrawala004 Could you please check if this is resolved now?

[2019-12-10 10:10] Trinetra-MSFT commented on #1107
@dhruvp29 , You can use `meetNow `a MeetingType. Please see the request body here:

[code]

From the response you can isolate easily the most important information

-  joinURL

Send that joinURl into participants you want to add into a meeting. But there is more in that meeting.

[2019-12-10 10:14] Trinetra-MSFT commented on #1201
@fuserke1981 ,
Could you please follow below steps to get the error logs?
Please follow below steps to provide error logs when you sign in
1.	Fully exit the Microsoft Teams desktop client. To do this, either right click Teams from the Icon Tray and select ‘Quit’, or run Task Manager and fully kill the process.
2.	Go to File Explorer, and type in %AppData%\Microsoft\teams.
3.	Once in the directory,

[2019-12-10 10:39] dhruvp29 commented on #1107
@Trinetra-MSFT Thanks for the answer but, in my case, I do not want to send the meeting URL separate.
I want that, it should send the notification in the channel similarly it is being sent when we perform Meet Now using Teams UI.

[2019-12-10 11:31] Trinetra-MSFT commented on #1107
@dhruvp29 , Please take a look at [Create an online meeting in a Microsoft Teams Channel with a user token](https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-beta&tabs=csharp#example-3-create-an-online-meeting-in-a-microsoft-teams-channel-with-a-user-token).

[2019-12-10 11:35] dhruvp29 commented on #1107
@Trinetra-MSFT I am already using that API and getting the issue.
Please check the question again.

[2019-12-11 02:33] #1155 closed

[2019-12-11 02:35] simoneTheNewBlack commented on #844
hi there,

just wonder if there is any update for the MSAL auth in Teams?

[2019-12-11 14:50] Gunnar-TX opened #1214 "GUID of the Connector in Teams"
So I created a connector for a channel in Teams and got a long string with several GUIDs, which is the link for the connector.

Where exactly can I find the required GUID?
Is it a substring of the connector link?

[2019-12-11 15:58] LalitAgrawala004 commented on #1189
@Gousia-MSFT no it is still not fixed. I deleted the old app and installed it again but I am not seeing the developer preview option.

[2019-12-12 00:46] pbeiler1 opened #1217 "Teams Calls drop when leaving Wi-Fi"
My iOS smartphone, drops Teams-Calls, when I move off of a Wi-Fi network connection, to the cellular network connection.  Is there a setting to tweak here?

Edited this to better state the problem.

[2019-12-12 05:29] Trinetra-MSFT commented on #1217
Teams need internet connectivity to make a call. leaving network connection definitely drop your call.
Please let me know if you face any issue while on connection

[2019-12-12 05:39] Gousia-MSFT commented on #1214
@Gunnar-TX Are you trying to [create an incoming webhook](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook) for a channel or a [Custom connector](https://docs.microsoft.com/en-us/outlook/actionable-messages/connectors-dev-dashboard#build-your-own-connector)? If you are building your own connector, you could get the id of the connector in

[2019-12-12 12:04] Gunnar-TX commented on #1214
@Gousia-MSFT I am trying to follow this guide: https://docs.gitlab.com/ee/user/project/integrations/microsoft_teams.html

Which leads me to https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#setting-up-a-custom-incoming-webhook
However, I am stuck at the note:

[2019-12-12 14:38] pbeiler1 commented on #1217
On my other VOIP system, the call does not drop when switching from Wi-Fi connection, to a cellular connection.

[2019-12-12 23:29] laujan commented on #1176
resolves #1176

[2019-12-12 23:29] #1176 closed

[2019-12-13 06:00] #1190 closed

[2019-12-13 06:12] Gousia-MSFT commented on #1189
@LalitAgrawala004 The issue is fixed but it will be available in next store build soon.

[2019-12-13 10:58] SiegbertSchnoesel opened #1220 "Misleading title"
This article does not really cover receiving images

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294157df-f255-42c7-4e31-c9f0a9f0c3ea
* Version Independent ID: 25335b03-ad4a-d314-74f0-36284a922c3c
* Content: [Send and receive files - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversa

[2019-12-13 11:11] Xolution13 opened #1221 "HttpPOST on MessageCard returns ODataContentTypeException"
We set up a new Microsoft Teams Connector and successfully set the settings to POST cards to the received WebhookUrl.
In the body that we send, we included the option to make HttpPost requests to a defined target URL (using ngrok.io tunnel for development). You can see the sent messageCard below:

[code]

The card is displayed correctly in the channel in Microsoft Teams.
When a user clicks on this

[2019-12-13 11:22] #1220 closed

[2019-12-13 19:20] dangaier opened #1222 "Documentation for OnTeamsMessagingExtensionSelectItemAsync"
There's no documentation for OnTeamsMessagingExtensionSelectItemAsync.  Yes, there's a sample, but that's it.

Does OnTeamsMessagingExtensionSelectItemAsync support returning an AdaptiveCard?

It works when I return a ThumbnailCard or HeroCard as the MessagingExtensionAttachment.  In this case, Microsoft Teams properly inserts the card in the compose area.

But it doesn't seem to work when I retur

[2019-12-13 23:33] renanleonellocastro commented on #1175
Yes sure. The logs are attached here. The log file is about the following 2 like types (heart and thumbs up) in the same message from the same person.
![image](https://user-images.githubusercontent.com/10985679/70838472-22fedb80-1de7-11ea-9c21-8abb9f2dea80.png)
![image](https://user-images.githubusercontent.com/10985679/70838578-bc2df200-1de7-11ea-94a7-b0ca296a0063.png)
[MSTeams Diagnostics Log 12

[2019-12-15 17:21] IntranetFactory opened #1223 "Mobile support?"
&gt; Invoking a task module from JavaScript is not supported on mobile.

I'm opening the Task module IFrame with an Action.Submit button from a bot in the desktop app. But the button does not even show in mobile (even in the developer preview). So are task modules from a bot not supported at all in mobile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-12-15 18:20] #1163 closed

[2019-12-16 04:31] Gousia-MSFT commented on #1223
@IntranetFactory TaskModules are supported on mobile. You should be able to open a task module from a button. You mentioned you are not able to see the buttons on card. Could you please share the json for your card?

[2019-12-16 04:42] Gousia-MSFT commented on #1221
@Xolution13 Could you please confirm if you are testing this in the same account where you have created the connector?

[2019-12-16 06:16] Trinetra-MSFT commented on #1222
@dangaier , The messaging extension does not allow sending adaptive cards like that. It requires using the `MessagingExtensionResult` of the framework and just the card sent in the response.

When you get a call from the messaging extension its action is of type `"composeExtension/query"`

Create a list
[code]

Now create a MessagingExtensionAttachement
[code]

send the invoke response
[code]

All

[2019-12-16 07:20] IntranetFactory commented on #1223
The button with the label "Open" shows on the desktop app and desktop browser, but is missing in the iPhone app

[code]

[2019-12-16 09:35] Xolution13 commented on #1221
Yes, I created the connector with my account and am testing this with my account in my team.

[2019-12-16 14:00] josuedepinho opened #1225 "Cannot create a Planner in private Channel"
Hello,

Thank you for the new feature "private channels". Unfortunately, creating a planner tab does not work, as it is not found anywhere in the apps hub. It is an authorized application in our business and I can create a tab for planner in any other public channel.

Thank you

Josué

[2019-12-16 15:39] dangaier commented on #1222
Yes, I know.  Obviously I'm using the Bot.Builder and Teams SDKs because I'm asking about OnTeamsMessagingExtensionSelectItemAsync!!!

Yes, I'm returning a MessagingExtensionResult.  But it doesn't seem to work when I return a MessagingExtensionResult w/ Adaptive Card in OnTeamsMessagingExtensionSelectItemAsync.  Again, it works fine when I return the exact same thing in OnTeamsMessagingExtensionQ

[2019-12-16 16:12] ewquon commented on #1122
Problem persists. If I try to save a log (with command+option+shift+1, as before) before clicking "Refresh now", it doesn't work (no file is saved to ~/Downloads).

[2019-12-17 00:05] clearab commented on #1160
This looks like apps are disabled for your organization. Please see https://docs.microsoft.com/en-us/MicrosoftTeams/deploy-apps-microsoft-teams-landing-page. Let us know if that is not the cause of the issue.

[2019-12-17 00:18] rstrauss-logyx commented on #1160
That's a long page.  What do you want me to look for there?  I searched for "enabled" and "disabled" and found nothing.  How do I know if they are disabled for my organization or if this is a bug?  I am in a hierarchy of organizations: Which one governs this?  Who would I speak with (name and phone number) to find out if we can get the BitBucket and GitHub apps enabled?  (Please advise MS to add t

[2019-12-17 01:06] rstrauss-logyx commented on #1160
Note that whatever this is set to, that information should be available in the app- both which permissions or roles I have, and which I don't have.
In the configuration for the app, there should be a way to set the email or URL for questions or issues.  Your docs clearly were wrong- citing icons I can't see.  Rather than just pointing me to a non-existent apps icon, it should also say what to do i

[2019-12-17 01:14] clearab commented on #1160
Hi - Sorry for not being clear, responding to this Issue was how to let us know.

[2019-12-17 01:19] rstrauss-logyx commented on #1160
I believe you meant, “responding to the email”…
I clicked on the link in the 2nd one:  “Closed #1160”
-r
Randy Strauss, desk: 650-604-0431 (Bldg N210, Rm 145, Cube 36)
PS:  I considered powering my computer off and on a few times…

From: Andrew Clear <notifications@github.com>
Reply-To: MicrosoftDocs/msteams-docs <reply@reply.github.com>
Date: Monday, December 16, 2019 at 5:15 PM
To: MicrosoftDocs

[2019-12-17 01:19] clearab commented on #1160
Your organization's tenant admins control the availability of apps for your organization. If they choose to intentionally disable them they no long appear in the list of available options. I unfortunately cannot assist you in locating your administrators; I do not have access to that information. If you do not know who your administrators are, would it be possible for you to open a ticket with you

[2019-12-17 01:20] clearab commented on #1160
I deleted your comment because it contained your email address.

[2019-12-17 01:29] rstrauss-logyx commented on #1160
I will go back through our channels.

Though I believe you that you gave MS’s rationale, but your logic is seriously flawed.
It certainly IS possible to document the effect of most options.  Documenting permutations is rarely necessary, much less “all possible” ones.
This would NOT be confusing if this information was relegated to an Exceptions section at the bottom, or a separate page.

And consi

[2019-12-17 06:21] ndambrosio opened #1226 "Update needed for "Turn on Microsoft Teams for your organization""
Looks like we need to update the **Turn on Microsoft Teams for your organization** section as the Teams org-wide settings have been removed from the Microsoft 365 Admin center.  Teams org-wide settings are now made using the Teams admin center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3530b55-59c8-6eec-b257-b7a5

[2019-12-17 15:56] Abhijit-MSFT commented on #1225
@josuedepinho - Currently planner is not supported in the Private Channels.

[2019-12-17 16:24] Abhijit-MSFT commented on #1226
@ndambrosio - Yes, few settings are moved to Teams admin settings. You get the proper redirection in 365 Admin center to the new settings. Are you looking for any particular settings?
![image](https://user-images.githubusercontent.com/48427340/71014285-b736ae80-2117-11ea-875d-e3e7a0616095.png)

[2019-12-17 17:29] clearab commented on #1160
Thank you for the feedback, we'll take that into consideration for a future iteration. The Connectors option is not available in your environment.

[2019-12-17 17:29] #1160 closed

[2019-12-17 17:46] #1225 closed

[2019-12-17 18:21] clearab commented on #1223
Hi - I think you may need to lowercase all your parameter names, i.e. "Type" becomes "type". Can you please try using the designer at adaptivecards.io to validate your card? If it parses there correctly and you're still seeing issues, please let us know.

[2019-12-17 18:24] clearab commented on #1222
This would be silly but, does your AdaptiveCard have a preview (even though at that point in the flow it would be pointless)?

[2019-12-17 18:26] clearab commented on #1221
That headers section looks off, can you send it w/o that section?

[2019-12-17 18:34] ndambrosio commented on #1226
There is no reference to Teams or Skype in the M365 Admin Center in 4 different commercial tenants I checked again today.

[2019-12-17 20:40] IntranetFactory commented on #1223
It works with the desktop and android app, and only fails in iOs. Does the iOS app handle that differently?

[2019-12-17 22:24] IntranetFactory opened #1228 "Screenshots & videos?"
When I look at Apps which are already listed in the Teams Apps section most show screenshots and/or videos (e.g. Flow App), but I couldn't find how I can provide screenshots or videos in the manifest of our App

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID:

[2019-12-18 04:17] Gousia-MSFT commented on #1201
Please re-open with requested information if you are still facing the issue.

[2019-12-18 04:17] #1201 closed

[2019-12-18 04:20] Gousia-MSFT commented on #1205
Please re-open if you still have any queries.

[2019-12-18 04:20] #1205 closed

[2019-12-18 05:56] MaheshakaMudli opened #1229 "How to pass large data to html in task module(a html page hosted in azure) in Messaging Extension in Teams app"
We are using a task module(a html page hosted in azure) in Messaging Extension to show a custom user form. The task module is called when custom action is clicked in teams. Our requirement is to pass large data to the task module. The only option we found is through query string while calling the task module but passing large data is not possible through query string. Is there any alternate way to

[2019-12-18 05:57] Gousia-MSFT commented on #1228
@IntranetFactory Could you please share a screenshot of the ask you have? What do you mean by adding screenshot to manifest?

[2019-12-18 06:02] Gousia-MSFT commented on #1175
@renanleonellocastro Thanks for reporting this. We have looked into the issue and seems like this is fixed in internal rings. It should reach production builds soon.

[2019-12-18 10:31] Xolution13 commented on #1221
Removed the header section. Still same result unfortunately:

date: Wed, 18 Dec 2019 10:25:13 GMT

[code]

[2019-12-18 12:41] IntranetFactory commented on #1228
I've uploaded the manifest of our application to MS Teams. When I add that app I see the text from the manifest. Other applications (like Flow) show images and videos above the text, and I'm wondering how I can add those as well

![image](https://user-images.githubusercontent.com/7462342/71087195-972fdb00-2169-11ea-94fd-36935159cdf3.png)

![image](https://user-images.githubusercontent.com/7462342/

[2019-12-18 18:21] Trinetra-MSFT commented on #1222
@dangaier , @clearab , Sorry for the wrong understanding. Yes @clearab  is right, There should be preview property in your adaptive card attachment. You can display a preview of an Adaptive Card or Office 365 Connector card in the result list simply by its preview property.
Please take a look at [Response card types & Preview](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-exte

[2019-12-18 18:48] dangaier commented on #1222
You're not following...please have someone who understands Messaging Extensions in Teams take a look at this.
OnTeamsMessagingExtensionSelectItemAsync is invoked when you select a Messaging Extension preview item.   OnTeamsMessagingExtensionSelectItemAsync should return the full (not preview) card that you want to insert into the compose area.

Yes there's a sample app that shows how to use it: ht

[2019-12-19 09:08] Subhasish-msft commented on #1229
@MaheshakaMudli , Please refer to the documentation here for [Initial invoke request from a message](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/action-commands/create-task-module?tabs=dotnet#initial-invoke-request-from-a-message) .

Here a [sample code](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/51.teams-messaging

[2019-12-19 10:05] MagtheRag opened #1231 "Personal scoped Teams app tab does not show iFrame in Native App and mobile"
We have an app for Teams.
The app has 2 personal scoped tabs. Each tab points to 2 different pages inside of SharePoint.
When using the web version of Teams, not the native app, everything works fine and we have no complains.

When using the native app _sometimes_ the iframe does not load at all, looking into the dev tools we see that it is a Cors problem. _Sometimes_ flipping between the tabs doe

[2019-12-19 12:22] Trinetra-MSFT commented on #1222
This looks like a regression bug, this was working fine few weeks back. I have raised bug for this. I'll update you on this.

[2019-12-19 12:45] butchmarshall opened #1232 "Should specify what the "summary" field controls"
It took me awhile to figure out how to get control what the activity / mobile notification text says.

e.g. before including "summary":

![Screenshot from 2019-12-19 07-42-34](https://user-images.githubusercontent.com/339763/71174438-2fde5d80-2233-11ea-9746-0c59d1a384c0.png)

after:
![Screenshot from 2019-12-19 07-42-40](https://user-images.githubusercontent.com/339763/71174446-37056b80-2233-11ea-

[2019-12-19 12:50] butchmarshall opened #1233 "Inconsistencies on mobile/desktop Feed/Activity sender name"
The desktop notification refers to itself as "TemboSocial" while the mobile notification refers to itself as "Recognition".  The mobile notification refers to itself as "TemboSocial Recognition"...

My "Bot" is set up as "TemboSocial Recognition"
My App names "Short Name" is Recognition.
My Developer information"Name" is TemboSocial.

![Screenshot from 2019-12-19 07-42-40](https://user-images.gith

[2019-12-19 14:56] pmeripe commented on #1167
@Gousia, I would like to share current page link with teams user from SharePoint classic page. At present I can share with Team or a channel. Please suggest the fix.

[2019-12-19 16:39] pmeripe commented on #1174
Hello, is there a way to open new chat window, I mean blank window?

[2019-12-19 22:34] paulconlin commented on #1167
I'm actually having this issue as well, and seeing a few different things happen. I made a codepen here that has the script included in the head and shareToMicrosoftTeams is never defined -

https://codepen.io/paulconlin/pen/VwYpbym

Was also seeing this on our site -
![MicrosoftTeams-image (44)](https://user-images.githubusercontent.com/10995964/71215395-37c2ef80-227d-11ea-8878-53bf727aa0c6.png)

[2019-12-20 05:30] Gousia-MSFT commented on #1223
@IntranetFactory Could you please share a snapshot of the version of your app?

[2019-12-20 05:40] Gousia-MSFT commented on #1214
@Gunnar-TX Could you please try creating a cutom connector from the [connector developer dashboard](https://outlook.office.com/connectors/home/login/#/publish)? Please follow the screenshot attached in my previous comment to get the connector id.

[2019-12-20 08:11] IntranetFactory commented on #1223
The MS Teams connector is part of an large application. So we currently cannot share source code. Is there any logging in the C# library we can enable to provide you with the information you need?

[2019-12-20 15:20] nicowitteman opened #1235 "Not authorized"
After following the instructions building and uploading in manifest editor, when I click "Install" I am told I am not authorized to add the app to this team

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f98c73d-bb68-3088-6e7d-2c576a8292f6
* Version Independent ID: 08b9df7d-4997-c681-e73a-235ec1e4fc7b
* Content: [Get

[2019-12-21 13:16] nicowitteman commented on #1235
Closed prematurely

[2019-12-23 02:00] gpduck opened #1238 "mpnId property in developer section"
The mpnId property of 'developer' is marked as required and the description says it is optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* Content: [Manifest schema reference - Teams](https://docs.microsoft.com/en

[2019-12-23 10:23] Gousia-MSFT commented on #1235
@nicowitteman Could you please share a screenshot of the error message you see while you try to upload your manifest?

[2019-12-23 11:43] nicowitteman commented on #1235
![image](https://user-images.githubusercontent.com/24809990/71356053-54af3980-2581-11ea-8864-9f128c9746cd.png)
I am able to add the app via Apps --> Upload a custom app and then add it to a specific team, but this does not offer the opportunity to edit the manifest like described above.

[2019-12-23 18:44] #1238 closed

[2019-12-23 18:44] clearab commented on #1238
Thanks!

[2019-12-23 18:54] maksim-pankov opened #1240 "Missing step for Azure subscription"
When using Azure subscription, be sure to add Microsoft Teams as a channel from the featured channels list after creating your bot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e52a9fa-a482-2929-c462-47da5e8b38d1
* Version Independent ID: ce956c12-2916-9d6c-4fbb-5d07556378bc
* Content: [Create a bot for Microsoft Te

[2019-12-23 18:56] #1226 closed

[2019-12-23 18:57] clearab commented on #1226
Thanks for letting us know!

[2019-12-24 00:38] clearab commented on #964
This is fixed.

[2019-12-24 00:38] #964 closed

[2019-12-24 00:39] clearab commented on #943
This article has been refactored, thanks for letting us know.

[2019-12-24 00:39] #943 closed

[2019-12-24 00:39] clearab commented on #935
This is now documented

[2019-12-24 00:39] #935 closed

[2019-12-24 07:22] #1127 closed

[2019-12-24 07:24] Gousia-MSFT commented on #1124
This is resolved now. Please check.

[2019-12-24 07:24] #1124 closed

[2019-12-24 07:26] #1045 closed

[2019-12-24 07:27] #1015 closed

[2019-12-24 07:28] #982 closed

[2019-12-24 07:30] Gousia-MSFT commented on #973
This is resolved now. Please check.

[2019-12-24 07:30] #973 closed

[2019-12-24 07:32] #981 closed

[2019-12-27 06:24] Gousia-MSFT commented on #1223
@IntranetFactory Please let us know the version of the Teams mobile app you are using. You could get that under Settings->About.

[2019-12-27 09:41] Gousia-MSFT commented on #1221
@Xolution13 Could you please check with your tenant admin If the connector is enabled in the tenant settings access list?

[2019-12-27 12:31] NischaiV opened #1244 "ExtensionTabService: getAuthTokenForApp: Failed with error - App resource defined in manifest and iframe origin do not match"
Hi,
I followed the steps mentioned in [this page](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso) to get a single sign-on functionality for my custom tab in MS Teams. But I get the following error and I could not find out the reason for the same. I re-checked the resource URL used in both manifest as well as App registration page.

_**ExtensionTabS

[2019-12-27 21:44] paulconlin commented on #1167
Any update on this?

[2019-12-29 06:42] georgschwienbacher opened #1245 "gulp installation"
The suggested installation command for gulp "npm install gulp" didn't work for me. Instead, I've used "npm install --globald gulp-cli"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4fa27cb-544f-f8a2-97a7-4b31528c1b80
* Version Independent ID: fa69cd6f-1ef4-706d-2816-aa709714b0aa
* Content: [Get started with App Studi

[2019-12-30 05:59] Subhasish-msft commented on #1245
"npm install gulp" doesn't work sometimes because of version conflicts.
We need to use "rm --global gulp" to clear out any version conflicts and then run "npm install --global gulp-cli".

[2019-12-30 07:09] Gousia-MSFT commented on #1229
Please re-open if you still have any queries.

[2019-12-30 07:09] #1229 closed

[2019-12-30 07:12] Gousia-MSFT commented on #1228
@IntranetFactory This is added as part of your app submission. This is not something which is specified in the manifest. Please reach out to **teamsubmATmicrosoft.com** for more information on this.

[2019-12-30 07:12] #1228 closed

[2019-12-30 07:19] Gousia-MSFT commented on #1214
Please re-open if you still have any queries.

[2019-12-30 07:19] #1214 closed

[2019-12-31 06:11] TechWatching opened #1249 "How can an app be automatically uploaded to a Team through CD"
I want to use Azure Pipelines to automate the upload of my teams application to Microsoft Teams. It can be useful when my manifest change and I want my CI /CD pipeline to upload the new manifest in teams without having to do it manually through App Studio. How can I do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-31 10:16] sonam-embee opened #1250 "Unable to connect O365 group with API getting error { "error": { "code": "UnknownError", "message": "404 FILE NOT FOUND", "innerError": { "request-id": "ea4d7cc5-2a83-4f70-a64c-ba209e6f92c7", "date": "2019-12-31T06:36:14" } } }"
Hi we are migrating Microsoft Office 365 groups from an office 365 tenant to other tenant via API but getting below error when trying to connect with Graph API, please help.
{ "error": { "code": "UnknownError", "message": "404 FILE NOT FOUND", "innerError": { "request-id": "ea4d7cc5-2a83-4f70-a64c-ba209e6f92c7", "date": "2019-12-31T06:36:14" } } }

[2019-12-31 15:59] Ky7m commented on #1249
@TechWatching you can automate this through Microsoft Graph API https://docs.microsoft.com/en-us/graph/api/teamsapp-publish?view=graph-rest-1.0

[2019-12-31 16:24] TechWatching commented on #1249
Yes I saw that thanks but that's not exactly what I need. This API allows to publish to the tenant catalog but I just want to upload it on a Team in my tenant the same way I am doing it with App Studio but programmatically. Moreover to use the API I need to have a global administrator account of the tenant which I don't.

[2020-01-02 07:33] Trinetra-MSFT commented on #1217
@pbeiler1 , Android does not keep the cellular connection up and running,  like ios does. So if you go kill wifi on an android, you have no network connectivity until Android spins up the cellular connection and gets it connected, which itself can take multiple seconds. If it takes long enough, this will become a call drop.

[2020-01-02 08:55] Trinetra-MSFT commented on #1250
@sonam-embee , Could you please check the permissions `Group.Read.All, Group.ReadWrite.Alls, User.Read.All, Directory. Read.All.`?

[2020-01-02 08:55] Gousia-MSFT commented on #1244
@NischaiV Could you please verify the resource name you have specified in Azure settings?

[2020-01-02 08:58] sonam-embee commented on #1250
Yes, it is there.

[2020-01-02 09:11] Abhijit-MSFT commented on #1231
@MagtheRag, How are you pulling the SharePoint page inside the Teams?

[2020-01-02 09:14] NischaiV commented on #1244
@Gousia-MSFT Its "api://<App URL>/<App_ID>"
But this issue got resolved when I added **_"inTeamsSSO=true"_** in the configuration URL. I missed this because it was not mentioned anywhere in the documentation. Probably it is a good idea to add it in as this is a change when compared with MSAL/ADAL way of authentication.

[2020-01-02 09:17] Gousia-MSFT commented on #1244
@NischaiV Cool!! Thanks for letting us know.

[2020-01-02 09:17] #1244 closed

[2020-01-02 09:23] Trinetra-MSFT commented on #1250
@sonam-embee , Are you using any external tool for migrating office365 groups to other tenant? Currently migration to different tenant is not possible using Graph API, You can get the[ list of groups](https://docs.microsoft.com/en-us/graph/api/group-get?view=graph-rest-1.0&tabs=http#request) using below API than set the target and destination host for migration.

[2020-01-02 09:44] sonam-embee commented on #1250
We are using third party app for O365 groups migration that uses API to migrate the data but we are getting issue wile connecting to this group with Micrsoft Graph API

[2020-01-02 09:45] sonam-embee commented on #1250
We are using third party tool to migrate, it uses API to migrate data but having issue while connecting tghis group with Microsoft Graph API

[2020-01-02 11:10] MagtheRag commented on #1231
The SharePoint pages are defined in the Teams app manifest file. Like this:
"staticTabs": [
    {
      "entityId": "eXXX",
      "name": "title1",
      "contentUrl": "https://xxx.sharepoint.com/teams/d2/SitePages/xxxx.aspx",
      "websiteUrl": "https://xxx.sharepoint.com/teams/d2/SitePages/xxxx.aspx",
      "scopes": ["personal"]
    },
    {
      "entityId": "eXXX2",
      "name": "title2",

[2020-01-02 12:32] Subhasish-msft commented on #1249
You can take a look into this beta API https://docs.microsoft.com/en-us/graph/api/user-add-teamsappinstallation?view=graph-rest-beta&tabs=csharp

[2020-01-02 13:15] TechWatching commented on #1249
The app needs to already been in the company catalog, it does not solve the original problem of updating the app manifest.

[2020-01-02 15:09] NischaiV opened #1251 "Custom tab does not work in android Teams app"
Hi,

The custom tab that I built works perfectly fine in the Teams desktop client, website and IOS (13.3) app. But it fails to load the same in the android app and gives an 'IndexOutOfRangeException'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52221dd3-95ec-96b9-1da8-9478527c2602
* Version Independent ID: 32e9c2d8-

[2020-01-02 15:17] NischaiV commented on #1192
@Gousia-MSFT Are there any plans for this?
I am also facing some styling issues, only in IOS app, with my custom tab and am not able to inspect them.

[2020-01-03 04:03] Gousia-MSFT commented on #1251
@NischaiV Could you please elaborate more on what is that you are trying to load inside Tab? What is the error message you see on screen? A screenshot might help understand better.

[2020-01-03 04:28] #1245 closed

[2020-01-03 15:22] NischaiV commented on #1251
The problem was that the same code that works in all Teams client fails in the android Teams app. I dug a little deeper into the code and found that the 'getContext().EntityId' method is returning different values. I am getting the same value from Desktop client, browser and IOS app, but when using the android app, I am getting a very different value.

microsoftTeams.getContext(function (context)

[2020-01-06 13:18] Joachimzeelmaekers commented on #1221
I'm getting the same issue.
I'm using ngrok for forwarding and i'm posting this body to the incoming webhook.

Tried multiple payloads but never getting a result in my local webhook.
`{
  "@context": "https://schema.org/extensions",
  "@type": "MessageCard",
  "themeColor": "8083c0",
  "title": "Customer support",
  "text": "Support requested from Oswald chatbot X",
  "potentialAction": [
    {

[2020-01-06 13:36] Joachimzeelmaekers commented on #1221
Do you have any references or links that can help to find where we should exactly look?

[2020-01-07 08:24] Ed-Mar opened #1253 "npm install msteams-samples-hello-world-nodejs"
when using the code from msteams-samples-hello-world-nodejs  use "npm update" then npm insatll". if you do just npm install it will fail with errors. So just update the git project so you can install it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4fa27cb-544f-f8a2-97a7-4b31528c1b80
* Version Independent ID: fa69cd

[2020-01-07 09:46] Xolution13 commented on #1221
I am not sure, if I looked in the right place. So,  @Gousia-MSFT can you please verify that I checked the "tenant settings access list":

In the Microsoft 365 Admin Center, I choose _Settings_ and then selected _Services & add-ins_. Then I clicked on _Microsoft Teams_ and checked, if my connector was listed there (**Tenant-wide settings -> Apps**).

The connector is listed and enabled in this list

[2020-01-07 19:37] dnys1 commented on #1240
I had the same issue. Was very confused why I couldn't reach my bot.

[2020-01-08 07:10] Gousia-MSFT commented on #1223
Please re-open with requested information.

[2020-01-08 07:10] #1223 closed

[2020-01-08 07:13] Gousia-MSFT commented on #1221
@Xolution13 Could you please try putting the targetUrl to any of the link generated in [webhook.site](https://www.webhook.site) and see if the request reaches there?

[2020-01-08 07:17] IntranetFactory commented on #1223
The version is 1.0.92 with developer preview enabled running on an iPhone.

[2020-01-08 07:53] RukaiYu commented on #539
@Wajeed-msft We also have this concern. Is there an upon limit of the large team/group that may have performance issue?
Thanks!

[2020-01-08 08:14] kafka-yu opened #1254 "Get conversation paged members returns 403"
Hi There,
This issue is the follow of #539

First, we're also using the getConversationMembers API to get the member list of a group chat. And we have the same concern that when the group/channel members count is large, will that API work correctly? Is it fast or slow? Is there an upon limit numbers of the members it can handle?

The second question is is there any other API that we can use to get

[2020-01-08 08:45] Joachimzeelmaekers commented on #1221
I tried this and I'm not getting any requests on the generated link.

[2020-01-08 09:04] Trinetra-MSFT commented on #1254
Could you please give a try to below piece of code to fetch the member list in a channel?
[code]

Let me know if you face any issue.

[2020-01-08 18:47] clearab commented on #1254
Hi - The paged member endpoint is currently in development and will be made available soon. For group chats, the upper bound on the getMembers call is smaller than the maximum number of users you can have in a group chat, so it should always return all members. Fast and slow are pretty subjective, but in this case I believe you'll find the API to return quickly.

There is currently no way to retur

[2020-01-08 18:50] clearab commented on #539
Hi - The pages getMembers endpoint is on the backlog, and will be available soon.

[2020-01-09 03:14] kafka-yu commented on #1254
Thank you @Trinetra-MSFT @clearab

We're looking forward to the availability of the paged member API.

[2020-01-09 03:14] #1254 closed

[2020-01-09 03:21] kafka-yu opened #1255 "getConversationMembers response is incorrect when members remove/add in a calendar group chat"
Hi There,

We found Teams can create a group chat from a scheduled meeting.

![image](https://user-images.githubusercontent.com/3942409/72035024-a66df880-32d1-11ea-8193-b3320a938dab.png)

Open the "Chat with participants" it will open a group chat, assume it has 4 people.

In this chat, then add 2 more people. We call the **TeamInfo.getMembers()** method, it seems the response only has the members

[2020-01-09 03:38] JessAtrust opened #1256 "Microsoft Teams is now available on Linux"
Microsoft Teams can not be executed on our current Linux OS firmware, it shows no space left, therefore it seems require some space to save their data. How to specify the path of saved data?
Our root directory is a chroot jail, and the space of root is always 100% used, therefore, we need to know how to specify the path of saved data for Microsoft Teams, or how to pass the space checking of Micros

[2020-01-09 10:59] solj2018 opened #1259 "Teams Meeting app"
Hi, Can we make a teams app to capture actual attendee list for a teams meeting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57a31a0-e815-faa4-653d-795ae8a8e4d7
* Version Independent ID: 8f48ea3d-231b-2776-41b7-11890ea2d3c0
* Content: [Microsoft Teams developer platform - Teams](https://docs.microsoft.com/en-us/mic

[2020-01-09 12:14] vrvrvrvrvr opened #1260 "Bots in channel and group chat conversations require the user to @ mention the bot to invoke it in a channel"
Is it technically possible to to hear all messages in MS Teams channel that bot can reply to end user messages using QnA service? Documentation states that mentioning is obligatory or end users have to use 1:1 conversations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f83b32eb-4265-39bd-e52f-78daf388d1ad
* Version In

[2020-01-09 13:24] Xolution13 commented on #1221
@Gousia-MSFT we tried this as well but the requests are not reaching the webhook.site url.

However, we decided to set up a new free Microsoft Teams developer account, that is completely detached from our old accounts (new teams) and there setting up the connector and receiving the POST-actions works fine. Is it possible, that there are some issues with old/legacy accounts?

[2020-01-10 00:18] nickhodge opened #1261 "Support webApiPermissionsRequests"
See also spfx $schema add in manifest -- where you can "pre-request" certain Microsoft Graph scopes at App install time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f94a488-d636-92b3-21eb-c88744c8f272
* Version Independent ID: 7b3413f4-9ade-accf-5cb2-83fead11a32a
* Content: [Manifest schema reference - Teams](https

[2020-01-10 02:10] GFoley83 opened #1262 "Provide example on how to support SameSite cookie attribute"
Can you confirm that no other code is needed to make sure the approach covered above supports the SameSite cookie attribute?

Currently when testing in Chrome with the following flags enabled:
chrome://flags/#same-site-by-default-cookies
chrome://flags/#cookies-without-same-site-must-be-secure

I can see that cookies issued from http://login.microsoftonline.com are being blocked.

---
#### Documen

[2020-01-10 02:10] GFoley83 opened #1263 "SameSite cookie attribute"
The note above states that:
&gt;It's recommended that you set the intended use for your cookies rather than rely on default browser behavior.

but you don't provide an example of how to accomplish this.
What changes to the code above should be made to support the SameSite cookie attribute?

Currently when testing in Chrome with the following flags enabled:
chrome://flags/#same-site-by-default-cook

[2020-01-10 02:41] kafka-yu opened #1264 "getMembers method works without BotNotInConversationRoster error after bot removed in group chat"
Hi there,

We find if bot installed in a group chat and then remove it.
Then the TeamInfo.getMembers() won't throw the "BotNotInConversationRoster" error.

Is it a cache there on the Teams backend?

We currently use this method to detect if the group chat has included our bot. Is there any other way to do this without calling the TeamInfo.getMembers()?

Thanks for your time to help!

[2020-01-10 05:00] Gousia-MSFT commented on #1260
@vrvrvrvrvr Currently it is not possible for your bot to listen to all the messages in the channel. The bot responds to messages only when it is @ mentioned.

[2020-01-10 07:20] Trinetra-MSFT commented on #1263
@GFoley83 ,Here is the documentation for [Microsoft Teams and the SameSIte cookie attribute](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/samesite-cookie-update).

[2020-01-10 07:25] Trinetra-MSFT commented on #1262
Closing this it is a duplicate of #1263 .

[2020-01-10 07:25] #1262 closed

[2020-01-10 07:33] GFoley83 commented on #1263
Thanks @TravisCragg-MSFT but that just elaborates on the issue; my original question still remains: there's no code example or steps provided on how to actually mitigate this issue.

[2020-01-10 08:05] Subhasish-msft commented on #1259
@solj2018,
Yes You can make use of Graph API in an app for fetching meeting info and participant details.
https://docs.microsoft.com/en-us/graph/api/onlinemeeting-get?view=graph-rest-1.0&tabs=http

[2020-01-10 11:58] Gousia-MSFT commented on #1264
@kafka-yu Thanks for reaching out to us. We could repro the issue and we are checking it internally.

[2020-01-10 12:10] Chekrii opened #1265 "Deep Link in Teams for Who Bot"
Hi All,

I am able to create Deeplink to my bot with

"https://teams.microsoft.com/l/chat/0/0?users=<<MyBotID>>&message=Who am I"

but I am unable to create Deep link for who Bot in teams which is an In built bot provided by Teams.

Please help
Thanks.

[2020-01-10 20:21] HaveSpacesuit opened #1267 "Dev Tools Not Opening"
Clicking Open DevTools... doesn't. The button is there in the context menu, but nothing noticeable happens when clicking it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df1efbb-c6b2-a495-303d-7abf19c57f72
* Version Independent ID: a5b5782f-7031-a989-5e42-dd3010e18893
* Content: [DevTools for Microsoft Teams tabs -

[2020-01-12 15:18] StingyJack opened #1272 "Be aware that nobody will acknowledge email sent to the "General Questions" address"
I've sent two in the last year and received no reply or acknowledgement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ddf42e-0a47-7717-52d4-e549155480a2
* Version Independent ID: 4bbe9beb-233f-cfd5-097b-f280aab5fde8
* Content: [Send feedback - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback

[2020-01-13 01:55] NickPl commented on #1235
Same thing here...

[2020-01-13 02:27] kafka-yu commented on #1264
Thanks @Gousia-MSFT !

[2020-01-13 02:27] kafka-yu commented on #1255
@Gousia-MSFT May I ask your help to check this one? Thanks a lot!

[2020-01-13 05:17] Gousia-MSFT commented on #1267
@HaveSpacesuit Could you please confirm if you have enabled DevPreview? If you are still facing this after enabling developer preview, please quit Microsoft Teams and see if it's visible when you launch it again.

[2020-01-13 07:32] Gousia-MSFT commented on #1251
@NischaiV I could not repro the issue. When I tried to get entityid using Teams Tab context, I get the entityid of the tab as expected. Could you please try updating your teams app to the latest version?

[2020-01-13 08:09] honorew opened #1273 "get user's phone no"
how to get user's phone no by this.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: ca47e045-6669-e130-c75a-df31ab2fa3e8
* Version Independent ID: de5e719f-c97a-0fee-c83d-f6ca176191b2
* Content: [Get Team's specific context for your bot - Teams](https://docs.microsoft.com/zh-cn/microsoftteams/platform/bots/how-to/get-teams-context?tabs=dotnet#feedback)
* Content Sour

[2020-01-13 09:03] Gousia-MSFT commented on #1273
@honorew Context does not return the mobile number of the user. Could you please try using [GetProfile ](https://docs.microsoft.com/en-us/graph/api/resources/users?view=graph-rest-1.0)Graph API to fetch users mobile number?

[2020-01-13 12:58] Gousia-MSFT commented on #1265
@Chekrii Please try out this link to deep link to Who Bot:
https://teams.microsoft.com/l/chat/0/0?users=28:c8f1cda6-5af5-40bf-a9f3-2fa21b72adde

[2020-01-13 13:01] Chekrii commented on #1265
Thank you so much. It helped me a lot :)

[2020-01-13 13:04] #1265 closed

[2020-01-13 20:58] pkueecslibo opened #1275 "cannot prompt window inside chat window"
I use teams and trying to talk to a bot. When click the login card for me to login to teams, it does not pop up login window.  If I type the url in browser, it can open correctly.

![44582252096632101](https://user-images.githubusercontent.com/10372089/72291511-5b6f2080-3604-11ea-8196-01c45960a20d.jpg)

[2020-01-14 03:52] Gousia-MSFT commented on #1275
@pkueecslibo Could you please try adding token.botframework.com in your valid domains of the manifest and re-upload the manifest?

[2020-01-14 07:51] iabukai commented on #316
Same here:
https://stackoverflow.com/questions/59719288/unable-to-send-http-post-request-from-microsoft-teams-messagecards-potention-ac/59725280#59725280

[2020-01-14 10:44] kkhanhluu opened #1276 "Incoming webhook and cors policy"
Inside a custom ms team tab app, i try to make a post request to incoming webook, but this request was blocked by cors policy. Did anyone face this problem?
![image](https://user-images.githubusercontent.com/38130967/72337646-32619500-36c3-11ea-858f-3e769513195c.png)

[2020-01-15 04:24] acmcg commented on #1040
Many of the policies in Teams take hours to be enforced. This seems to be atypical for M365 services. Is there are reason, and considering that many of these would be deemed as security related should it be so?

[2020-01-15 06:00] pkueecslibo commented on #1275
No, this does not work. I actually tried this before, no help.

At 2020-01-13 19:52:59, "Gousia-MSFT" <notifications@github.com> wrote:

@pkueecslibo Could you please try adding token.botframework.com in your valid domains of the manifest and re-upload the manifest?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-15 21:56] billbliss commented on #1209
A few days after you posted these questions, we published this article: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/samesite-cookie-update. This explains what to do for the latest versions of Chrome and Edge.

However the version of Chromium in the Teams client is not the newest version. The article referenced above mentions that you must do browser UserAgent sniffing to ren

[2020-01-16 06:25] Gousia-MSFT commented on #1275
@pkueecslibo Could you please share your app-manifest with us? Please send out an email to microsoftteamsdevATmicrosoft.com if you do not want to share it here publicly.

[2020-01-16 07:32] pkueecslibo commented on #1275
Thanks for your reply. I actually share my app-manifest to another team member and they can use this with no issue. But in my teams I never  prompt a window and let me sign in.

在 2020-01-15 22:25:55，"Gousia-MSFT" <notifications@github.com> 写道：

@pkueecslibo Could you please share your app-manifest with us? Please send out an email to microsoftteamsdevATmicrosoft.com if you do not want to share it

[2020-01-16 10:16] pkueecslibo commented on #1275
Hi @李博<mailto:libo_pku@126.com>,

Could you please share the repro steps for the issue you are seeing? What is the command to get the signin card? Please share a video recording of the issue for a better understanding.

Thanks,
Gousia.

From: 李博 <libo_pku@126.com>
Sent: Thursday, January 16, 2020 1:01 PM
To: MicrosoftDocs/msteams-docs <reply@reply.github.com>; Microsoft Teams Developer Support <mi

[2020-01-16 11:35] Chekrii opened #1279 "[Who Bot]Documentation On Who bot in Teams"
Hi

Can I get documentation regarding Who Bot.

Can I need few clarification regarding below queries:-

The card who bot is rendering below in teams. . Is this an Adaptive card

What are the Graph API call that are doing for manager , peers and Works with.

How to show online and away status beside User Pic  and Graph API call.

<img width="396" alt="CardInWhoBot" src="https://user-images.githubus

[2020-01-16 11:46] Gousia-MSFT commented on #1279
@Chekrii  Who Bot is a first party app and not everything implemented in Who Bot is publicly available. Here are few things that are available publicly.
1. Graph API to get manager: https://docs.microsoft.com/en-us/graph/api/user-list-manager?view=graph-rest-1.0&tabs=http
2. Graph API to get availability status:- https://docs.microsoft.com/en-us/graph/api/presence-get?view=graph-rest-beta&tabs=htt

[2020-01-16 11:52] Chekrii commented on #1279
* Can I get the name of card which is used in above Pic(Hero/Adaptive)

[2020-01-16 18:15] billbliss commented on #1272
What "General Questions" email address are you referring to?

[2020-01-16 19:16] StingyJack commented on #1272
![image](https://user-images.githubusercontent.com/15381181/72555453-95416080-386a-11ea-9b64-51ce5fbb3304.png)
The one that you replied back to me a few days ago about, after I had sent another two messages after the ones mentioned in this.

[2020-01-16 19:45] billbliss commented on #1272
We look at all of them, but don't always reply. What is your email address or if you prefer, the subjects of the emails so we can look?

[2020-01-16 19:58] billbliss commented on #1272
Ah I know who you are, I just clicked through on your GitHub profile, your name's right there.

I'm going to re-word "General questions" to mean "General questions about the Teams developer platform" because that email address is NOT designed for general questions about Teams. We get them anyway but that's not what the email address is for.

When we do get general suggestions, we forward them to t

[2020-01-17 00:34] #1177 closed

[2020-01-17 00:35] #1182 closed

[2020-01-17 00:40] #1188 closed

[2020-01-17 00:42] #1193 closed

[2020-01-17 00:46] #1209 closed

[2020-01-17 01:04] #1259 closed

[2020-01-17 01:05] #1260 closed

[2020-01-17 01:07] #1261 closed

[2020-01-17 04:42] Gousia-MSFT commented on #1264
@kafka-yu We have raised a bug for this. We are tracking it internally.

[2020-01-17 04:42] #1264 closed

[2020-01-17 05:52] louisnow opened #1280 "Teams for Linux starts typing text automatically after sharing your screen."
Start a call, share your screen, After exiting the call or even before you finish the call, try typing a sentence or copy pasting text with ctrl+c ctrl+v. You should see very weird behaviour with random keys being pressed. The issue disappears if you exit teams.
OS: Linux Mint 19.3
Kernel: 5.0.0-37-generic
Teams Build No: teams_1.2.00.32451_amd64

[2020-01-17 10:04] MagtheRag commented on #1231
Why is this closed ??

[2020-01-17 12:37] danvilenica commented on #1244
@NischaiV hi i'm having the same problem but didn't understand your solution "inTeamsSSO=true". Can you clarify where did you add it?

[2020-01-17 17:52] laujan commented on #1231
@MagtheRag , sorry about that, it has been reopened.

[2020-01-17 17:53] laujan commented on #1231
@Abhijit-MSFT, please review.

[2020-01-17 18:55] iyabchen opened #1281 "Could you check the typo before you publish?"
All those typo, like "Publish to you organization app catalog", makes the page looks like phishing text. Could you run spell check before publish?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73c78d6b-1600-b57a-e9b8-ef48d6e7223b
* Version Independent ID: 86b8e707-77a3-3a6e-53cc-b95e7bb2a622
* Content: [Distribute you

[2020-01-17 22:16] Ky7m commented on #1244
@danvilenica I assume there is a reference to this flag https://github.com/ydogandjiev/taskmeow/blob/master/manifest/sso/manifest.json#L28
and following processing flow
https://github.com/ydogandjiev/taskmeow/blob/master/src/services/auth.service.js#L16
https://github.com/ydogandjiev/taskmeow/blob/master/src/services/sso.auth.service.js#L6

[2020-01-18 01:01] laujan commented on #1281
👍 Thank you for the catch.  I have made the correction and pushed it to the live branch.

[2020-01-18 01:01] #1281 closed

[2020-01-19 18:19] PGBartlett opened #1284 "Deep Link to Start Meeting"
Is it possible for my app to deep link to Teams to start a scheduled meeting by phone or video?

[2020-01-20 09:31] Subhasish-msft commented on #1284
yes. if it is a tab, then you can use microsoftTeams.executeDeepLink(<meetingURL>).

You can refer this [link](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links) for more detail

[2020-01-20 10:01] rijaljayanta opened #1287 "Notification alert not raised in Teams User when messages are replied from bot in Teams Channel"
I have turn on the notification in my Team's setting. As per the documentation I have set the TeamsChannelData objects Notification.Alert property to true. But the Banner and feed notifications are not raised.

I used this code snippet to turn on Notification.Alert property to true.
`  message.TeamsNotifyUser();`

For reference:
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/

[2020-01-20 12:55] Trinetra-MSFT commented on #1287
@rijaljayanta , Are you trying to set attachment in message or it is Text?

**Code snippet for sending as an attachment**
[code]

**Sending a Text**
[code]

Could you please give a try to above snippet and let us know if this doesn't help you.

[2020-01-20 18:06] Subhasish-msft commented on #1249
You can [update the app manifest](https://docs.microsoft.com/en-us/graph/api/teamsapp-update?view=graph-rest-1.0) first and then [upgrade installed app](https://docs.microsoft.com/en-us/graph/api/user-upgrade-teamsappinstallation?view=graph-rest-beta&tabs=http) for particular user/ team. Sorry for late reply. Hope it helps.

[2020-01-21 01:42] synth opened #1288 "Is there a callback for full app uninstall?"
The tab documentation details how to handle removal of a tab by registering a `removalUrl` and `registerOnRemoveHandler`.

However, if a user uninstalls the app, the tabs will be uninstalled along with it, but the callbacks and urls will not get called.

Is there a handler that can be invoked when the app is uninstalled so that we can do data cleanup on all the added services (tabs, connectors, ex

[2020-01-21 05:22] Gousia-MSFT commented on #1221
@Xolution13 Yes, it could be possible that the connector is disabled in your tenant setting access list. Good to know you got it working. Thanks!!

[2020-01-21 05:22] #1221 closed

[2020-01-21 06:29] #1251 closed

[2020-01-21 06:35] #1267 closed

[2020-01-21 07:59] rijaljayanta commented on #1287
@Trinetra-MSFT Thanks for your response.

I tried both attachment and text messages using the same code snippet before, but it's not working in the case of a message reply in a conversation thread of Teams Channel.

When messages are posted by a bot in Teams channel in a new thread, notification alert is raised. But when the message is replied in that thread notification alert not raised.

Does th

[2020-01-21 08:51] pepsikat commented on #1158
I have the same issue.

Android version: 10
Attached is the screenshot from my mobile app
https://sun9-55.userapi.com/c855324/v855324578/1d6a1f/4q5jfUwFXWE.jpg

[2020-01-21 09:26] Trinetra-MSFT commented on #1217
We are unable to repro this issue. @pbeiler1 Could you please share some more light on this? Which device you are using and please try this with different network connection if connection will be slow, it will definitely drop the call.

[2020-01-21 09:34] Trinetra-MSFT commented on #1255
@kafka-yu , We have opened a bug for this and we are tracking this internally.

[2020-01-21 11:11] Gousia-MSFT commented on #1279
@Chekrii This is neither Hero card nor Adaptive card. Again this is a special kind of card which is not publicly available.

[2020-01-21 14:24] BukeMan opened #1289 "Developer Preview link broken"
The Developer Preview link in the first paragraph is broken.
I assume the correct link is following: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-intro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac64d14f-aec8-9dd6-e987-d2325de46fd6
* Version Independent ID: ba050a

[2020-01-22 06:47] Trinetra-MSFT commented on #1287
@rijaljayanta , It should work for existing conversation too. Could you please share some sample code what you are trying out so we can take a look?

[2020-01-22 08:08] Gousia-MSFT commented on #1217
Please re-open if you are still facing the issue.

[2020-01-22 08:08] #1217 closed

[2020-01-22 08:17] #1279 closed

[2020-01-22 08:46] Garv-Sharma opened #1290 "Fetching user's email id from Teams channel bot: TeamsInfo.getMembers() is not working/missing"
Required TeamsActivityHandler and TeamsInfo but the file teamsInfo.ts is missing from node modules, so getMembers() is undefined.
I used this [link](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=typescript&source=docs#fetching-the-team-roster) to fetch user profile.

[2020-01-22 10:07] rijaljayanta commented on #1287
@Trinetra-MSFT, I have used the below code to reply to a conversation in a channel. This code replies to the existing message thread successfully but I'm not getting notification alert. I have turned on the notification in my Teams account setting too. Is there anything I'm missing?
[code]

[2020-01-22 12:19] Trinetra-MSFT commented on #1290
@Garv-Sharma,
Could you please try take a look at this sample for [TeamsConversationBot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/57.teams-conversation-bot)?
Here is the sample code which will return the roaster of members in a channel when your bot installed in channel.
[code]

[2020-01-22 15:01] HiltonGiesenow opened #1291 "I'm not sure this is still accurate: "Some settings (like your messaging endpoint) can be updated in App Studio as well.""
Is this still correct: "Some settings (like your messaging endpoint) can be updated in App Studio as well."? I can't see anywhere in App Studio that the messaging endpoint can be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e52a9fa-a482-2929-c462-47da5e8b38d1
* Version Independent ID: ce956c12-2916-9d6c-4fb

[2020-01-22 15:13] HiltonGiesenow commented on #1291
I see now - it's IF you use App Studio to CREATE the bot. Could this be updated to be more clear please

[2020-01-23 10:46] Trinetra-MSFT commented on #1263
@GFoley83 , May this will help you [Upcoming SameSite Cookie Changes in ASP.NET and ASP.NET Core](https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/)

[2020-01-23 11:01] Trinetra-MSFT commented on #1253
Feel free to reopen this. Will update you once the doc is updated.

[2020-01-23 11:01] #1253 closed

[2020-01-23 11:11] ParkHost opened #1293 "Mark as Important throught webhooks"
Is it possible to mark an message as important / urgent through webhooks / MessageCard?

[2020-01-23 11:34] Joachimzeelmaekers opened #1294 "[Microsoft Teams Deeplink]: deeplink navigating to a tab in a channel of a team"
**Use case**
I'm trying to send an action card with a deep-link URL in the channel using an incoming webhook in a Teams channel. This works perfectly as you can see below.
<img width="705" alt="Screenshot 2020-01-23 at 12 22 15" src="https://user-images.githubusercontent.com/22617224/72980549-13f24c80-3ddb-11ea-9e10-55a97968b4e8.png">

The url of the 'Takeover' button should redirect to the custom

[2020-01-23 13:22] Joachimzeelmaekers commented on #1294
Fixed the issue. I added a query param to the webUrl without encoding the url. This ruined the deep-link.

[2020-01-23 13:22] #1294 closed

[2020-01-23 13:31] Trinetra-MSFT commented on #1288
@synth , I think we can close this as discussion for removing app is already going on another thread. Please feel free to reopen.

[2020-01-23 13:31] #1288 closed

[2020-01-23 14:44] jmeredithklein opened #1295 "Knowing who clicked an action on a connector card"
Are there any plans to add functionality to connector cards that enable you to know who clicked an action on a connector card similar to bot cards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28316a67-22fa-8a05-1ae0-fbe1c5720ef9
* Version Independent ID: 8a250e46-2a30-af86-839d-9f83a8b48041
* Content: [Sending messa

[2020-01-23 16:57] synth commented on #1288
Sure @Trinetra-MSFT. Thanks. My only comment is perhaps the behavior in https://github.com/OfficeDev/microsoft-teams-library-js/issues/303 should be added to the docs :) thx for your help.

[2020-01-24 04:12] Abhijit-MSFT commented on #1293
Currently this is not available. This is lined up in future releases.

[2020-01-24 04:12] #1293 closed

[2020-01-24 20:58] GauravES opened #1301 "Sample code requested for Notifications in Tabs"
Are these notifications Web Push Notifications or something else?  Request sample code for web app to send notifications to a tab, particularly when the tab is not in focus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce494c52-9c5f-d294-c304-53ac466fa3ea
* Version Independent ID: ebd112aa-71c4-a7d6-aa9f-6e14c50be25c

[2020-01-27 04:36] Gousia-MSFT commented on #1301
@GauravES These are prompts that will ask the user to consent to access the device permissions your application needs. Could you please try adding these to your tab as described and see the experience.

[2020-01-27 05:12] Gousia-MSFT commented on #1256
@JessAtrust We don't support changing the path, but the specific path we currently use is ~/.config/Microsoft/Microsoft Teams/ ... or if you have insiders, it would be ~/.config/Microsoft/Microsoft Teams - Insiders

[2020-01-27 05:13] #1256 closed

[2020-01-27 05:21] GauravES commented on #1301
Thanks - the prompt for permissions is fine and described in the article;  There are many kind of notifications available in the web app domain.  In Safari, APNS and in Chrome, FCM.  There are web push notifs using service workers. (https://developers.google.com/web/fundamentals/push-notifications).  And there are mere desktop notifications that let a web page use native popups to show alerts.

Pe

[2020-01-27 14:00] icelandgrecian opened #1302 "Mobile Support for Tabs"
Any news on when mobile support for tabs is coming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5840ee-09e8-93a6-51d8-508eef388b0a
* Version Independent ID: 621a526e-59dd-e81a-ee89-6a714bc055c8
* Content: [Tabs on mobile - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/design/tabs-mobile)
* C

[2020-01-27 16:13] jauzcanga opened #1303 "[iOS -Notifications issue] - Showing only active organization notification when two or more accounts/organisations created"
I have two accounts/organizations on my iPhone's MSteams-app.

The problem is, I'm receiving notifications only from the active one, so I have to be opening and changing organizations constantly just to see if I'm missing something.

Currently on iPhone 11

[2020-01-27 19:20] Trinetra-MSFT commented on #1302
Please take a look at [Tabs on Mobile](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/design/tabs-mobile).

[2020-01-27 21:27] luizcieslak opened #1305 "Couldn't not trigger webhook using browser API"
Hi!

my company recently moved to Teams from Slack and we are migrating the current webhooks to it.

Following the [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#setting-up-a-custom-incoming-webhook) the cURL works fine but when I put it in a browser, it gives me an `Network Error`, not returning a HTTP Status.

example:
[co

[2020-01-28 06:53] Abhijit-MSFT commented on #1303
@jauzcanga, you get noticification like in the below images. Are you not getting these notification?
On Desktop -
![image](https://user-images.githubusercontent.com/48427340/73241667-b25e2380-41c8-11ea-8f2b-27dee0a8045e.png)

On Mobile -
![image](https://user-images.githubusercontent.com/48427340/73241739-f6512880-41c8-11ea-857f-689c900057d8.png)

[2020-01-28 14:37] berezovskyy-andriy opened #1306 "Unable to resolve start & end datetime from deep link into 'New meeting' dialog when timezone on user machine differs from teams user organization timezone"
According to documentation [Generating a deep link to the scheduling dialog](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#generating-a-deep-link-to-the-scheduling-dialog) for
**Start Date Time = "01/15/2020 17:10:23"
End Date Time = "01/15/2020 18:15:08"**
I prepared next deep link :
https://teams.microsoft.com/l/meeting/new?content=SomeContent&startT

[2020-01-28 15:14] RobDM opened #1307 "DevTools not opening on Mac"
When I first enabled Developer Preview mode I was able to open the web inspector on a personal tab, but now a day later this is no longer working and apparently stuck that way.  The Developer menu no longer appears, and the usual CMD+OPT+I key combo doesn't do anything.

I've verified in the Profile > About section that the Developer preview option is checked.  I've tried closing, killing, and res

[2020-01-28 16:50] icelandgrecian commented on #1302
This doesn´t answer my question, it says 'Full support for tabs on mobile clients is coming soon' and it has said this since about October. When we look some times apps show on the mobile app and sometimes they don´t and the teams context doesn´t seem to provide all the information we need if we can get the app to actually show on the mobile device, for example userRoleType is missing and other va

[2020-01-28 21:10] tingyiy opened #1308 "how do i create channel conversation in python and javascript"
it looks like only the C# sample does that. javascript and python creates 1 to 1 messages instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd744899b1
* Version Independent ID: 8097fcbd-adcc-ce49-a378-426c65af9296
* Content: [Send proactive messages - Teams](https://docs.microsoft.com/en-

[2020-01-29 02:51] #1263 closed

[2020-01-29 02:58] #1290 closed

[2020-01-29 03:09] #1255 closed

[2020-01-29 04:51] Abhijit-MSFT commented on #1308
@tingyiy, this [document](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/channel-and-group-conversations?tabs=python) will help you with Channel/Group conversation using python.

[2020-01-29 05:03] Subhasish-msft commented on #1295
No, we don't. This would be a good feature to consider for future connector-like functionality though.

[2020-01-29 06:29] Gousia-MSFT commented on #1307
@RobDM Did you follow this documentation to open [Devtools for Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/developer-tools).

[2020-01-29 14:15] RobDM commented on #1307
@Gousia-MSFT Yes, those instructions for bringing up the dev tools for Mac were working the first day I enabled developer preview.  But they no longer work now, even though developer preview is still enabled.

[2020-01-29 15:49] jmacdonald01 opened #1310 "Windows 10 desktop app always restarts on close"
I am running the Windows desktop app on Windows 10. The first time I attempt to close the app, every time, the app will immediately restart. The splash screen that appears while the app is booting displays the message "There was a glitch, and we're recovering". Once the app boots, a pop-down message appears at the top of the chat window, reading "There was a glitch, and we had to restart the app.

[2020-01-29 16:50] louisnow commented on #1280
On the latest version of the build, the problem has stopped.
However it can reappear in sometimes as outlined below.
Start a call, share your screen and then end the call.
Put your computer to sleep, wake it up, on the login screen where you enter the password, the keyboard sometimes will behave erratically. I have to use the on screen keyboard to login and then problem disappears

Here are the lo

[2020-01-29 18:02] jonathanranger opened #1311 "Why the documentation is gone"
Why can't I reach The Microsoft Bot builder SDK Teams Extensions documentation anymore ?
https://msdn.microsoft.com/en-us/microsoft-teams/bots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdb8216-60c7-a0a1-7eb6-02d42d783292
* Version Independent ID: 77a75dd2-6f45-bc76-b968-0cf58c427ef5
* Content: [Requested page can

[2020-01-29 18:03] jonathanranger commented on #1311
See https://www.npmjs.com/package/botbuilder-teams for the link that redirect here.

[2020-01-29 18:24] laujan commented on #1311
Hi @jonathanranger. If you are looking for current documentation, bots for Microsoft teams (v4 and above) are built on the [Microsoft Bot Framework](https://dev.botframework.com/).  *See* [Conversational Bots](https://review.docs.microsoft.com/microsoftteams/platform/bots/what-are-bots). If you are looking for documentation on bots v3, *see* [Add bots to Microsoft Teams apps](https://docs.microsof

[2020-01-29 18:29] jonathanranger commented on #1311
Pretty fast response. Thanks !

[2020-01-29 20:17] GauravES opened #1312 "Clarification Requested: 15000 ops in 3600 secs for the entire bot."
Clarification Requested:  15000 ops in 3600 secs for the entire bot across all tenants.

If the main activity of the bot was to respond to user messages, such as a LUIS bot or a remote advisor bot, does this mean that the bot is limited to sending 15000/3600 = ~4 messages/sec as measured over an hour?

Are there any limits on inbound messages (say from Teams end users to the bot?)

---
#### Docume

[2020-01-29 20:49] tmanOC commented on #1240
Same here spent hours on this. Please update the documentation

[2020-01-29 22:48] laujan commented on #1311
👍

[2020-01-29 22:48] #1311 closed

[2020-01-29 22:53] jsuddsjr opened #1314 "Link contentUrl to replacement token documentation"
The URL specified in `contentUrl` for the tab can contain replacement tokens.
* `{userObjectId}` - AAD GUID for the current user
* `{theme}` - The selected theme name,  "default" (light), "dark" or "contrast"
* `{locale}` - The client locale, such as "en-us"

There may be others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-29 23:26] jsuddsjr commented on #1314
I just realized these tokens are documented, but they are not linked from this page. It would be helpful to include a link to [Get context for your tab](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context).

[2020-01-30 06:55] Gousia-MSFT commented on #1307
@RobDM Thanks!! I am checking with with the team internally.

[2020-01-30 10:05] Abhijit-MSFT commented on #1306
@berezovskyy-andriy, Your string will change when you change your time zone.
try this string - https://teams.microsoft.com/l/meeting/new?content=SomeContent&startTime=2020-01-15T17%3A10%3A23%2B02%3A00&endTime=2020-01-15T18%3A15%3A08%2B02%3A00&subject=SomeSubject

Check this [Document](2020-01-15T18%3A15%3A08%2B02%3A00) for all the parameters.

you did not add the offset to the datetime string.
the

[2020-01-30 10:53] Trinetra-MSFT commented on #1305
@luizcieslak , Could you please try to POST following message card to [webhook url](https://outlook.office.com/webhook/1e1e55d5-bd0e-4f9a-a758-777013e30caa@e0b90a4b-c4ab-46c6-8c8f-98d332fc2db0/IncomingWebhook/3a0bf00f31cf4346b3cd5f91669f6361/1cd8d6fa-aa29-47aa-9297-c4988a0c3c39) using fiddler? Let me know if it gives the correct result or not?
[code]
It should give you the card in channel.

![imag

[2020-01-30 10:58] Subhasish-msft commented on #1310
Could you please share the Teams log by pressing (Ctrl+Shift+Alt+1)? Logs will be downloaded to your default Downloads folder. Can you share it on email [Microsoft Teams Developer Support](mailto:microsoftteamsdev@microsoft.com)

[2020-01-30 11:23] NischaiV commented on #1251
Hi @Gousia-MSFT ,
Sorry about the late reply. I still have the issue. I am setting the context variable from the tab configuration page as follows:
[code]
It returns me the string (as expected) when trying to access from the Desktop client, web browser or ios Teams app. But it returns a GUID value when accessing using android Teams app. This fails to load my custom tab.
I also noticed that, from a

[2020-01-30 11:26] berezovskyy-andriy commented on #1306
Hi @Abhijit-MSFT  thnx fo reply, as you can see in my original description (in the end) i already tried to do that, actually that's why create an issue because it does not work with format 2020-01-15T17:10:23+02:00
Thnx

[2020-01-30 11:54] Trinetra-MSFT commented on #1312
@GauravES , Yes, You understood it right. [Bot per data center limit](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit#bot-per-data-center-limit) is 15000 operations allowed within 3600 sec.However if you concerned about the limit you can always implement the [Back-Off strategy](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit#example-b

[2020-01-30 14:13] jmacdonald01 commented on #1310
[MSTeams Diagnostics Log 1_30_2020__9_12_39_AM_calling.txt](https://github.com/MicrosoftDocs/msteams-docs/files/4134319/MSTeams.Diagnostics.Log.1_30_2020__9_12_39_AM_calling.txt)
[MSTeams Diagnostics Log 1_30_2020__9_12_39_AM_cdl.txt](https://github.com/MicrosoftDocs/msteams-docs/files/4134320/MSTeams.Diagnostics.Log.1_30_2020__9_12_39_AM_cdl.txt)
[MSTeams Diagnostics Log 1_30_2020__9_12_39_AM_cdl

[2020-01-30 21:33] GauravES commented on #1312
As feedback, we are porting  a remote advisor solution for 100K plus employee companies from SfB Trusted Apps to Teams,  and expect 100+  support sessions to be ongoing during most of the peak shifts. That would be ~100 threads, and although the per thread limit is ok for any one of those 100 conversations, across 100 conversations and replies mediated by the bot, the 4 messages/second will easily

[2020-01-31 09:22] #1249 closed

[2020-01-31 10:47] Trinetra-MSFT commented on #1287
Hi @rijaljayanta,  We tried your code at our end it seems you are sending the wrong conversation Id because of that it is not raised.
Could you please try below piece of code?

[code]

![image](https://user-images.githubusercontent.com/50989436/73533581-30c6f980-4445-11ea-9b1f-2390cfd4dfe8.png)

[2020-01-31 10:54] Trinetra-MSFT commented on #1250
Please feel free to reopen the issue, if you still have any query

[2020-01-31 10:54] #1250 closed

[2020-01-31 10:56] Wajeed-msft commented on #489
This issue has been resolved. Please re-open if you are facing the same issue.

[2020-01-31 10:56] #489 closed

[2020-01-31 11:12] Wajeed-msft commented on #316
@iabukai - Are you facing this issue for non Freemium user? Also, HTTP post action work only in the same tenant where Connector is registered unless it's approved and published in App Store.

[2020-01-31 11:16] Wajeed-msft commented on #600
Please use [microsoftTeams.executeDeepLink(/*deepLink*/)](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#deep-linking-from-your-tab) to trigger deeplink opening without opening intermediate page.

[2020-01-31 11:16] #600 closed

[2020-01-31 11:30] #751 closed

[2020-01-31 12:24] luizcieslak commented on #1305
@Trinetra-MSFT I couldn't make the request using [jsfiddle](https://jsfiddle.net/obzkt7a3/4/) because of CORS request block :/

However, the [codesandbox](https://codesandbox.io/s/youthful-breeze-jor5u) link show the error I'm receiving.

[2020-01-31 12:30] Trinetra-MSFT commented on #1302
@icelandgrecian , Full support for tabs in mobile is on our roadmap. We will update you once it will be rolled out.

[2020-01-31 16:46] Josverl opened #1316 "teamSiteUrl is not documented for standard channels"
Hi there,
I just noticed that the `teamSiteUrl` is only documented for private channel, but is workst just fine for standard channels as well.
I have not checked teamSitePath or teamSiteDomain, but i suspect the same is true for these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfa1a29-bcf4-0cc5-ae3a-b185a00fd7bc

[2020-01-31 17:55] matula opened #1317 "How do you get the bearer token? And what's the base url for "POST /v3/conversations""
Under the "Example" heading, it says you must have a bearer token, but how does the bot/app get that token? Then, after I get the token, what's the full endpoint to post the message? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd744899b1
* Version Independent ID: 8097fcbd-adcc-ce49-

[2020-01-31 18:26] jkipk opened #1318 "Must be signed in to Teams for this to work on website?"
Running a WordPress site, using New Edge Stable, and I have the basics of the sharing button working, but only if I"m signed in via the web to Teams. IE - no sharing button if I sign out of Teams and then hard refresh the browser. Is this correct?
I'm just getting started with this and haven't dug in too deep, but as many ppl use the Teams app, we won't be able to offer the chance to share if they

[2020-01-31 21:57] tingyiy opened #1321 "not getting activity id when sending"
the problem i am running into in python, is that when i send message i got back an empty id, which cannot be used to update my message later.
e.g. await turn_context.send_activity(Activity(...))
returns {'additional_properties': {}, 'id': ''}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 293d28d8-bd82-299a-05b3-4f798e

[2020-01-31 22:25] clearab commented on #1317
That portion is only applicable if you're not using the SDK to create and send messages (using the REST endpoints directly). If that is what you're doing you can learn more about using them here: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0.

@laujan it might make sense to collapse the JSON examples (and accompanying

[2020-01-31 22:25] #1317 closed

[2020-02-01 01:14] aosolis opened #1323 "clientInfo entity is not documented"
We mention clientInfo entity on this page, but we have not documented its properties and their possible values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469debbc-327b-5c18-126c-dc281513736f
* Version Independent ID: e7f25391-bbb5-9cca-07a8-1ab92bd28dcb
* Content: [Search with messaging extensions - Teams](https:/

[2020-02-03 06:53] Gousia-MSFT commented on #1280
@louisnow We cannot reproduce the issue on our side. Could you please let us know the mint flavour/desktop environment you are on so that we will try it on the same system?

[2020-02-03 09:10] louisnow commented on #1280
Hi @Gousia-MSFT
The typing error occurs without having to go to sleep even. I just had a call where another person was added to the call and after the call was over, the typing error presented itself. Quitting teams fixed it.
I always use two monitors either external only or dual display (don't know if that could be it)
Here is the output of `inxi -Fxz` with the info about my two displays and X.Or

[2020-02-03 17:23] michaewlewis opened #1324 "Scroll bar usability"
If you zoom out to 85% or lower, the horizontal scroll bar is not easily accessible in MS Teams. There is only one pixel available on the scroll bar before it switches to the window sizing pointer. Even at 100%, there is only 3 pixels available before it switches to window sizing. If side scrolling with the wheel worked consistently, it would be less of a problem, but that only works some of the t

[2020-02-03 18:16] jkipk commented on #1318
Still working through this, but it's a make or break issue for us: I have the Share to Teams icon showing and working correctly, however if either a) I sign out of Teams on the web, and then refresh the browser, or b) click on the icon to open the Share to Teams dialog, the icon then disappears. I can apparently get it back by refreshing, but it's not an experience (Teams icon sometimes there, som

[2020-02-04 00:56] clearab opened #1325 "Document image size restrictions for cards"
I believe images in cards sent from a bot must be 1024x1024 and &lt; 1 MB in size. If this is the case, can that be added to this page?

Reference Issue in Bot Framework SDK repository: https://github.com/microsoft/botbuilder-dotnet/issues/3261

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 001a12ea-30fa-d626-18a9-02a5

[2020-02-04 00:58] clearab commented on #1325
I pulled the restriction from here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet#message-content which I believe applies to images embedded in cards, but I'm uncertain.

[2020-02-04 06:05] Gousia-MSFT commented on #1324
@michaewlewis Thanks for reaching out to us. I have forwarded this to the right team.

[2020-02-04 08:22] NischaiV commented on #1244
Hi @danvilenica,
You have to add "inTeamsSSO=True" at the end of your URL to get it working.

[2020-02-04 09:54] Trinetra-MSFT commented on #1295
Please raise a [uservoice ](https://microsoftteams.uservoice.com/) so we can take this as future.

[2020-02-04 09:54] #1295 closed

[2020-02-04 16:31] bzyg7b commented on #1324
@Gousia-MSFT where is the correct place to log Teams bugs?

[2020-02-04 18:29] beauzeaux opened #1327 "Vague conditions for triggering user consent flow"
The conditions for triggering the user consent flow are currently pretty vague. Can we get a clear enumeration of what manifest changes constitute a 'new capability'?

Some examples:

- Addition of valid domains
- Adding contents to the 'webApplicationInfo' section
- Messaging Extensions added when there is already a bot?

Also why does a version bump necessitate an upgrade?

---
#### Document Det

[2020-02-05 03:20] Subhasish-msft commented on #1318
@jkipk, Are you using teams icon image in your WordPress page, on click it should redirect to MS Teams? If yes, then can you please share some screenshots and how you are implementing it.

[2020-02-05 05:29] Gousia-MSFT commented on #1327
@beauzeaux A teams app mainly has 4 capabilities: [Tabs](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/what-are-tabs), [Bots](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/what-are-bots), [Message Extension](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/what-are-messaging-extensions) and [Connector](https://docs.microsoft.com/en-us/mi

[2020-02-05 05:56] Gousia-MSFT commented on #1324
@bzyg7b You can use the Report a problem option under Help tag.
![image](https://user-images.githubusercontent.com/45553518/73814877-4ef87500-480a-11ea-91eb-c1505def5095.png)

[2020-02-05 06:33] kafka-yu commented on #695
+1

Also hope we can use this method. We want to show notification case user is going to leave the tab.

[2020-02-05 07:14] rijaljayanta commented on #1287
Hi @Trinetra-MSFT , I think my case is somewhat different than you are  expecting. Actually, I'm trying to reply the message in Teams channel instead of **private chat message**.

As per the code snippet below, I am getting notification alert for the **firstMessage** but not in the case of the **secondMessage**. Here the secondMessage the reply message in existing conversation thread of the Teams

[2020-02-05 08:26] derekblankmccoy opened #1329 "Chat - Quick replies do not trigger a read receipt"
When using a quick reply (the one built into the notification), a read receipt for the message is not triggered. I don't know if this is by design, but surely replying to a message means it was inherently read?

[2020-02-05 09:19] dalemyers opened #1330 "The page doesn't explain how to remove command menus"
If you simply remove it from the manifest, then they are continued to be rendered in the app. How can they be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a982542-ae03-2ada-cf71-4d586272e0c3
* Version Independent ID: 9e1fd82b-79e4-1b8d-5367-a8de3d04b3aa
* Content: [Create a command menu for your bot - Teams

[2020-02-05 09:20] kafka-yu opened #1331 "How can I get the Teams User Id in a personal tab?"
Hi team,

Is there any away I can get the Teams User Id? Currently I can only get the AadObjectId in the tab via the getContext() method.

Thanks!

[2020-02-05 12:30] Trinetra-MSFT commented on #1329
Could you please share the screenshots? Where are you facing this issue is it teams mobile or desktop?

[2020-02-05 12:57] Trinetra-MSFT commented on #1331
Could you please clarify what you are looking for?

[2020-02-05 13:25] GauntStrelok opened #1332 "I can see a team as a guest in web Teams, but desktop app doesn't show that team at all"
I was invited to a team as a guest, as a result I can see that team in my teams, but only in the web, when Iam on the desktop app(or the mobile app) I can't see the team i was invited into.

Ask me if you need more information.

[2020-02-05 15:44] derekblankmccoy commented on #1329
Both mobile and desktop
![image](https://user-images.githubusercontent.com/11743619/73857168-6e08fe00-482e-11ea-9ba2-955c14a4ceeb.png)

[2020-02-05 16:02] jkipk commented on #1318
Thanks, I think I have this worked out. I am using the Teams icon (by including the Teams script in the WordPress header and then adding this line to my social media unordered list:
           <li class = "teams-share"><a class="teams-share-button social-icon ms-depth-4" data-msg-text = "From OnMSFT.com" data-href = "'.$onmsftTeams.'" target="_blank" title="Share to Teams" data-icon-px-size="48"><

[2020-02-06 06:25] Gousia-MSFT commented on #1332
@GauntStrelok - Could you please confirm if  you have  switched to the tenant where you were added as a guest?

[2020-02-06 06:52] kafka-yu commented on #1331
Oh I mean the Id some thing like:
[code]

It is from the request via a command or msg ext.
![image](https://user-images.githubusercontent.com/3942409/73912711-2f3b7c80-48f0-11ea-88ae-3456ce6446d2.png)

Is it possible that we can get it from the Tab via the JS sdk or sth?
Thanks!

[2020-02-06 08:34] NischaiV opened #1335 "Android Teams app overwriting Teams context.EntityId"
Hi @Gousia-MSFT ,
I still have the issue with Android Teams app. I am setting the context variable from the tab configuration page as follows:
[code]
When I access this data (as follows), It returns me the string (as expected) when trying to access from the Desktop client, web browser or ios Teams app.
[code]
But it returns a GUID value when accessing using android Teams app. This fails to load my

[2020-02-06 09:38] Trinetra-MSFT commented on #1331
Are you talking about [Bot context](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-context#fetching-the-team-roster) or [Tab Context](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/access-teams-context#getting-context-by-using-the-microsoft-teams-javascript-library)? The Id you are referring is in Bot context, it will not be available in tab co

[2020-02-06 11:55] GauntStrelok commented on #1332
Yeah, I didn't, so i will close this.
Now I found the way to change the tenant and to change to the other teams tenant, but the strange thing was that i was able to join the other team in my own tenant on the web...
Doesn't matter.

[2020-02-06 11:55] #1332 closed

[2020-02-06 14:34] kafka-yu commented on #1331
Yeah, BotContext indeed. So I can only use the SDK's tasks.submitTask() to send a request to Bot, then I can get the BotContext info there, right?

[2020-02-06 17:02] Subhasish-msft commented on #1318
@jkipk, Thanks for your explanation. As the issue is resolved, I am closing this thread. If you get any issue related to Teams, you can re-open this or create a new one.

Thanks,
Subhasish

[2020-02-06 17:02] beauzeaux commented on #1327
If it is only addition of a tab/bot/messaging extension/connector, can we explicitly list those as the only flows that necessitate user consent?

I phrased that incorrectly, I meant why does a version change require user consent? I have just tested this and it appears that a version bump _doesn't_ require the user to re-consent.

[2020-02-06 18:40] #1318 closed

[2020-02-06 21:01] GabrielSandor opened #1336 "Contact card not wide enough and truncates information"
Contact cards that pop up when you hover the mouse pointer over a username's photo are not wide enough and cannot accommodate longer text such as the location of the person.

[2020-02-06 21:03] GabrielSandor opened #1337 "Mobile app (iOS) not showing name of speed dial contact when being called"
The mobile Teams app (at least on iOS) only shows the phone number of the speed dial contact that is calling you, while the desktop app is able to show the saved name.

[2020-02-06 21:06] GabrielSandor opened #1338 "Second text line in first conversation with someone is lost if typed to soon"
When i start a conversation with someone for the first time, i usually say "hello" to them on the first line. Then, i press enter and quickly start typing the 2nd line. Something happens in the meantime, seems to be a refresh of sorts, and my 2nd line is lost mid-typing, so i have to re-type it.

[2020-02-06 21:08] GabrielSandor opened #1339 "Whiteboard not available in 1-to-1 calls"
The whiteboard is only available in pre-scheduled meetings, not in ad-hoc calls too.

[2020-02-06 21:10] GabrielSandor opened #1340 "Team disappeared without a trace"
A team that i have created has disappeared without a trace. The conversations, the attached files, everything. Our system administrators can not find any clues about it, and none of the team members claim to have deleted it themselves. Is it normal for a team to disappear like this?

[2020-02-07 00:12] EmilyyC opened #1341 "No documentation on cateogory mapping"
We get questions on from ISVs on
-	 category mapping between Partner Center & Teams store
-	Hero category displayed in the app listing
-	Error in categories displayed in the store
but theres no documentation for these

[2020-02-07 05:38] Gousia-MSFT commented on #1336
@GabrielSandor Thanks for sharing your feedback. This has been implemented in internal builds and should be available in public builds soon. Unfortunately, we do not have a firm timeline about this.

[2020-02-07 05:38] #1336 closed

[2020-02-07 05:48] Gousia-MSFT commented on #1338
@GabrielSandor We could not repro the issue on our side. Are you seeing this everytime you try to chat with someoone?

[2020-02-07 08:50] GabrielSandor commented on #1338
@Gousia-MSFT I noticed this happening only the very first time I talk to someone, when there is no prior conversation history.

[2020-02-07 08:53] GabrielSandor opened #1342 "Cannot set system default audio devices"
There is no setting in Devices that allows you to set the audio devices to the system settings in Windows -> Sound settings. This means you have to remember to manually change them, as they don't pick up automatically the system default when you plug different audio devices.

[2020-02-07 08:55] GabrielSandor commented on #1337
I just noticed the names don't appear in the recent list either, again just for the mobile app.

[2020-02-07 09:48] Trinetra-MSFT commented on #1331
Yes, You are on the correct way. Once you initiate microsoftTeams.submitTask(taskInfo,submitHandler). Your bot will receive task/submit but for that you need to pass bot id within taskinfo object.

[2020-02-07 09:56] Gousia-MSFT commented on #1335
@NischaiV Thanks for reporting this with detailed steps. We could repro this now and we have raised a bug for this. This is being tracked internally.

[2020-02-07 09:59] #1302 closed

[2020-02-07 10:02] Trinetra-MSFT commented on #1303
Please feel free to reopen if you still facing this issue.

[2020-02-07 10:02] #1303 closed

[2020-02-07 10:03] Trinetra-MSFT commented on #1289
This is fixed please check.

[2020-02-07 10:03] #1289 closed

[2020-02-07 10:06] Trinetra-MSFT commented on #969
Please feel free to reopen if you still facing this issue.

[2020-02-07 10:06] #969 closed

[2020-02-07 10:06] BukeMan commented on #1289
looks good now. thank you!

[2020-02-07 10:09] #963 closed

[2020-02-07 15:19] RobDM commented on #1307
I've verified that this is reproducible on other Mac machines, not isolated to my setup.

[2020-02-07 22:40] rizwanja opened #1343 "Teams Mobile (Android) app error when accessing the microphone on custom app tab"
Is there mobile support for permissions such as microphone access? I get a runtime permissions error on the Teams mobile app in my custom app tab. It works fine on the Teams desktop app though.

I confirmed that both Teams and the browsers on my mobile device have the use of microphone enabled.

[2020-02-08 00:06] gabrielmdeal opened #1344 "Document how to use a deep link without opening a new browser tab"
If my bot sends a message containing a `TextBlock` with a deep link, then a new browser tab is opened when the user clicks on the link. This happens in Chrome and in the Microsoft Teams desktop app, both running on Linux.

If my bot sends the same deep link URL into an `Action.OpenUrl`, then the Teams tab is opened in the current browser tab when the user clicks on the link.  No new browser tab is

[2020-02-09 20:44] datakid opened #1346 "Teams in Ubuntu starts on boot without permission"
Teams is set to start at boot without permission.

[2020-02-10 05:33] Gousia-MSFT commented on #1280
@louisnow We tried to reproduce the problem on Linux Mint but we did not see the issue. Could you please run the following command when the problem happens again?

This will list the files that are currently open and mapped as executable to any process and greps for XTestFakeKeyEvent in them. This is a guess that some process might be generating XTestFakeKeyEvent events.

[2020-02-10 05:53] Gousia-MSFT commented on #1338
@GabrielSandor We could not repro the issue on our side. Do you see this happening to only you or you have noticed this with others aswell?

[2020-02-10 08:36] kafka-yu opened #1347 "The close flow is broken when opening Calendar invite DeepLink in a task module in adaptive card."
Hi Team,

We found an issue that:
1. I have a customized html page, and have a button to open a calendar deeplink: e.g.
[code]
2. Then I open this page via the task module from message extension.
[code]
3. I can see this page open in a dialog box. And I can open the deeplink to see the Teams calendar invite window.
4. When I click the "Close" button, it lets me to choose "Discard changes" or not.

[2020-02-10 09:33] Gousia-MSFT commented on #1343
@rizwanja Could you please try using [Request device permissions](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/native-device-permissions) from tab?

[2020-02-10 11:30] Gousia-MSFT commented on #1346
@datakid This is the default behaviour for Teams desktop client. You can go to Settings and turn it off.
![image](https://user-images.githubusercontent.com/45553518/74146274-c4a77b00-4c26-11ea-99a1-b48e8b8dc03b.png)

[2020-02-10 13:12] louisnow commented on #1280
I think this could be a device specific issue.
Here's exactly what I tried:
Start a video call, share screen, stop sharing screen. The problem has now started.
Open a text editor and type `asd`, the key presses won't show up for a second then suddenly start printing `a` continuously. It's as if it believes the key is being held.
I connected an external keyboard. External keyboard works and key pre

[2020-02-10 15:18] kafka-yu commented on #1331
Thank you @Trinetra-MSFT

[2020-02-10 15:18] #1331 closed

[2020-02-10 16:45] rizwanja commented on #1343
@Gousia-MSFT Yep, tried that as well. I get the permissions prompt when using the Desktop client but nothing when using mobile.

[2020-02-10 19:00] laujan commented on #1314
Updated on master, will go live this week. #1314.

[2020-02-10 19:00] #1314 closed

[2020-02-10 19:27] laujan commented on #1086
The activity feed notification behavior is now documented here: https://docs.microsoft.com/microsoftteams/platform/bots/how-to/conversations/conversation-basics?tabs=dotnet#adding-notifications-to-your-message

[2020-02-10 19:27] #1086 closed

[2020-02-10 21:25] datakid commented on #1346
How do I get to the settings?  There are no obvious "settings" links in the usual places (bottom of menus, top right corner, bottom left corner, etc). In fact, I can't see *any* settings options. Using Version: 1.3.00.958 (stable branch) on Ubuntu 19.10

[2020-02-10 21:28] datakid commented on #1346
Fascinatingly at least one likely spot - the "? Help" button - has everything you'd expect, except settings, including things I didn't know I needed.
![Screenshot from 2020-02-11 08-27-01](https://user-images.githubusercontent.com/97304/74191850-789d1a80-4ca8-11ea-9b3b-2a8c2cd84727.png)

[2020-02-10 21:30] datakid commented on #1346
Oh don't worry, I found it. I almost deleted my posts bc embarrassment, but then I thought it might be a good example for the UI/UX team to think on.

[2020-02-10 21:30] #1346 closed

[2020-02-11 03:41] HaveSpacesuit commented on #1267
I had experienced some view in which the context menu only had a few items, including DevTools. Clicking the icon 7 times produces a very large context menu in which I can successfully interact with DevTools. I'm unsure how to recreate the state I saw the one time.

Thanks. 🙂

[2020-02-11 06:04] louisnow commented on #1280
I ran the command as a bash script
[code]

Now when the problem occurred, there still wasn't any change in the output of the log. So maybe XTestFakeKeyEvents isn't the culprit.

[2020-02-11 07:13] Gousia-MSFT commented on #1301
@GauravES We do not support Web Push Notifications in the Teams Desktop Client today and that's not something we plan to change. We are currently working on support for pushing notifications to users in Teams via our Graph APIs But we don't have a firm ETA to share with you.

[2020-02-11 13:40] RudolfTomori-MSFT commented on #1280
Could it happen because the rendering process is overloaded? Do you see some other issues when the keyboard issue is active? Like resizing the GUI window would be too slow? Does mouse pointer move smoothly over the teams window? Could you check system process monitor if you see some CPU usage spike when the keyboard issue is active?

[2020-02-11 13:56] RudolfTomori-MSFT commented on #1280
What you are experiencing seems similar to https://forums.lenovo.com/t5/ThinkPad-11e-Windows-13-E-and/E480-keyboard-problems/td-p/4190409 and the bug description on launchpad https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1787782. The reporter claims the issue is gone after updating BIOS and firmware. Could you try this?

[2020-02-11 14:23] RobDM commented on #1307
Another update, I think I've found a partial workaround.  Once switching to Developer Preview mode, Teams must be **fully shut down and restarted** before the Open Dev Tools option will appear in the right-click menu for the Teams icon in the Mac taskbar.  So I'm able to get to the web inspector now.

So what's still broken is as follows:

- Keyboard shortcut for web inspector doesn't work on Mac

[2020-02-11 14:55] #1347 closed

[2020-02-11 15:01] ii-batman opened #1349 "Adding GitHub Enterprise on MS Teams getting "Something went wrong""
Hi, I am trying to install [https://appsource.microsoft.com/en-gb/product/office/WA104381552?src=wnblogmar2018](url) and I get a "something went wrong" in MS Teams....
Any ideas what could be causing this?
I have full permissions in MS Teams policies.
Thanks, ii

[2020-02-11 15:57] louisnow commented on #1280
Hi @RudolfTomori-MSFT,
Thanks for the quick reply. My bios is up to date so I don't think that is the problem although the description of the bug on launchpad is very similar. Installing firmware updates besides the bios will be tricky for me as I don't have windows, I'll figure something out. I'll keep you posted about the results after updating my firmware.
My mouse seems to work fine, however T

[2020-02-11 20:54] GabrielSandor commented on #1338
@Gousia-MSFT i'll try to find an available colleague to run this experiment it.

In the meantime i'll give a more detailed description of what happens:

The first time i'm writing a message to someone i haven't talked to before on Teams, when i press enter, for a brief moment (about 1-2 seconds) Teams says "sending...". Right after the message is sent, the chat screen seems to do a full refresh. T

[2020-02-12 03:01] vamboda opened #1353 "Example is missing in Integration section"
Example is missing in section located at https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/design/tabs#integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd35a9c-c868-a7b9-825a-4be9419539d7
* Version Independent ID: 814c8be1-eae8-7316-8553-283ef07ffc09
* Content: [Design guidelines for tabs - Teams

[2020-02-12 05:53] Gousia-MSFT commented on #1324
@michaewlewis Thanks for reporting this. We have raised a bug on this and we are tracking it internally.

[2020-02-12 05:59] #1335 closed

[2020-02-12 06:12] Gousia-MSFT commented on #1343
@rizwanja This feature is currently not available on Mobile. We are wokring on this but we do not have a firm ETA to share with you.

[2020-02-12 06:56] Gousia-MSFT commented on #1349
@ii-batman Could you please try this in browser and see if you get any console errors?

[2020-02-12 07:59] HiltonGiesenow opened #1354 "Teams Bot 1-1 ConversationUpdate Events"
I'm struggling with the same situation in a few different Teams bots I've written, and trying to determine if I've just misunderstood the docs. When the bot is side-loaded to a test tenant, and then added to a 1-1 conversation, I'm getting two conversationUpdate/MemberAdded events. However, BOTH events contain BOTH user (i.e. end user and bot). I would have expected either one event, with both Mem

[2020-02-12 08:01] HiltonGiesenow opened #1355 "Teams Bot 1-1 ConversationUpdate Events"
I'm struggling with the same situation in a few different Teams bots I've written, and trying to determine if I've just misunderstood the docs. When the bot is side-loaded to a test tenant, and then added to a 1-1 conversation, I'm getting two conversationUpdate/MemberAdded events. However, BOTH events contain BOTH users (i.e. end user and bot). I would have expected either one event, with both Me

[2020-02-12 10:39] ii-batman commented on #1349
Hi @Gousia-MSFT  - what should I try?

[2020-02-12 23:15] #1323 closed

[2020-02-13 04:34] stpeteparadox commented on #388
Hi Microsoft / @Wajeed-msft ,

Any update on this bug / issue?

Most appreciated! Thanks

[2020-02-13 06:23] Gousia-MSFT commented on #1354
Duplicate of #1355

[2020-02-13 06:23] #1354 closed

[2020-02-13 06:44] Trinetra-MSFT commented on #1337
Could you please tell us which teams client version you are using?

[2020-02-13 06:51] Gousia-MSFT commented on #1305
@luizcieslak The target url you are setting should be a https url. Could you please try setting a https url for target and see if that fixes the issue?

[2020-02-13 08:25] GabrielSandor commented on #1337
@Trinetra-MSFT
Version: 2.0.2
Build: 1.077.2020012502 (general)
Calling version: 2019.46.01.6

[2020-02-13 08:41] NischaiV commented on #1335
@Gousia-MSFT May I know when can I expect a fix for this bug?
I see that you have closed the issue, so was it resolved already?

[2020-02-13 10:16] Trinetra-MSFT commented on #1337
@GabrielSandor , Thanks for your information we are looking into this.

[2020-02-13 12:24] luizcieslak commented on #1305
@Gousia-MSFT Hi! All the urls are https: in the sandbox, jsfiddle and @Trinetra-MSFT example given. All of them still gives the same error.

Could you reproduce that locally?

[2020-02-13 22:44] rizwanja commented on #1343
@Gousia-MSFT Thank you for the update. Is there any workaround for the time being that we can explore? Something that will allow the user to use their mic for capturing speech to text using the Teams mobile app while on a custom tab (i.e. through relaying the message somehow using a bot + messaging extension)?

[2020-02-14 03:45] icatchx22i opened #1360 "Can you please provide recent example using a front-end framework?"
It appears that only, 'OfficeDev/microsoft-teams-sample-todo' uses a front-end authentication workflow using React. Thing is, it appears that it uses very old methodology and is generally very old (typescript 2.0.3). Is there a more recent clear example on how to authenticate via SPA/front end only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-14 05:56] Trinetra-MSFT commented on #1360
@icatchx22i , Yes Please take a look at [Bot Builder SDK 4 samples](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples) code.

[2020-02-14 06:03] Trinetra-MSFT commented on #1337
Could you please follow these steps and let us know the if you still face this issue:
1. Save a new speed dial contact PSTN number on desktop (mac)
2. Check that it appeared under the same name on Web (chrome)
3. Call the speed dial contact on mobile (iOS)
4. See the saved name on your mobile device in your call history

Let us know your repro steps we are unable to repro this. better to provide s

[2020-02-14 07:57] Gousia-MSFT commented on #1305
@luizcieslak I cannot repro the issue on my side. Could you please share a screenshot of the error you are seeing?

[2020-02-14 08:20] GabrielSandor commented on #1337
I saved a new speed dial contact and i can see it on the web app too, but there are no speed dial entries showing in the mobile app, so i can't call. I'd have to call the number manually, which defeats the purpose of speed dialing.

[2020-02-14 08:30] Trinetra-MSFT commented on #1329
@derekblankmccoy, Can you please check and let us know Read Receipt option is enabled in your teams settings?

![image](https://user-images.githubusercontent.com/50989436/74514323-561e3200-4f32-11ea-83dc-a1d741be6c31.png)

[2020-02-14 08:46] Trinetra-MSFT commented on #1312
You mentioned in the document you can implement back-off strategy for handling the exception for higher limits. The term data center represents your bot running for multiple tenants or multiple servers.

[2020-02-14 19:20] unicorn-devwriter commented on #1253
Can we reopen this until the doc is updated? I encountered this issue very recently. As the doc was not updated, it was very confusing to me.

[2020-02-14 19:25] abarringtonACR opened #1361 "Automatic webhook generation for connector"
Hi, I'm attempting to automate creation of teams and channels so that they will have a Jenkins webhook for each channel. Is there a way to configure a connector through the Teams api? I am looking to avoid doing this manually for many different channels.

[2020-02-15 00:59] icatchx22i commented on #1360
Hi @Trinetra-MSFT thank you for your reply and link. I realize from my initial question that i was not clear that im looking at the Authentication of an MSTeams Tab. I went through a few iterations with existing guides but hit all dead ends. Most of the examples i found work within a browser but not MSTeams due to the iframe limitations and all the Microsoft examples i found involve server-side te

[2020-02-15 06:14] tfischer opened #1362 "Can you confirm the sample code on this page is correct?"
Hi,

I am seeing different exceptions being thrown than the ones indicated on this page.  Is it possible to confirm the instructions on this page are correct and up to date with the latest botbuilder 4?

thanks,
Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57254c9-963d-ea1d-ecaf-dd0e7913526c
* Version Independen

[2020-02-15 17:47] HiltonGiesenow opened #1363 "variable name"
This is not a big thing, but nevertheless:

In the last sample on the page (C#), it declares a variable called "heroCard", but then actually instantiates a "ThumbnailCard", as follows:

var heroCard = new ThumbnailCard

maybe change the variable name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59bbff2e-4b80-f980-2a

[2020-02-16 12:46] GauravES commented on #1301
Thanks for the clarification.  If not Web Push notifications, then what kind of Notifications are these that a page can send?  And where will they appear? The page only has a code snippet for asking the user to allow/permit notifications, but no code snippets for sending a notification.

[2020-02-17 03:33] wusatosi opened #1364 "The botbuilder-teams npm package has been deprecated"
Hi! Maintainers.
Under the [Create A bot for Microsoft Teams Section](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-create#create-a-bot-for-microsoft-teams), the recommended npm package "botbuilder-teams", is marked as deprecated on its npm page.
Maybe give a head-up and remove the recommandation?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-02-17 03:35] wusatosi commented on #1364
Wow this issue system is brilliant!

[2020-02-17 03:36] wusatosi commented on #1364
For more context, this is the [link](https://www.npmjs.com/package/botbuilder-teams) to corresponding npm page
![deprecated](https://user-images.githubusercontent.com/26424577/74621909-bf43b680-5179-11ea-8af8-fb3a7a773acf.png)

[2020-02-17 05:20] Gousia-MSFT commented on #1361
@abarringtonACR Currently there is no way to configure a connector through API. We do not have any plans for this as of now. However you could [install the app using Graph API.](https://docs.microsoft.com/en-us/graph/api/user-add-teamsappinstallation?view=graph-rest-beta&tabs=http)

[2020-02-17 05:32] Gousia-MSFT commented on #1301
@GauravES The page talks about the steps to see these notification from within your tab. To do this, you need to update your [app's manifest page ](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/native-device-permissions#properties)by adding device permissions. Here is a [sample code](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/native-device-permissio

[2020-02-17 05:57] Gousia-MSFT commented on #1349
@ii-batman Please login to Teams on browser(https://teams.microsoft.com) and try to install the app. Open browser console(by pressing F12 and see if you see any console errors there?

[2020-02-17 06:11] Gousia-MSFT commented on #1343
@rizwanja Currently, there is no workaround to this. Support for device permissions on mobile is coming soon but we do not have a ETA to share.

[2020-02-17 06:51] Gousia-MSFT commented on #1321
@tingyiy Could you please share the response received by your bot?

[2020-02-17 08:45] mohamedalaa33 opened #1365 "Attach a file using webhook"
Hi I am trying to develop a poweshell script to attach output file while sending a webhook to a channel so is it supported or not supported till now ?

[2020-02-17 09:01] Chekrii opened #1366 "[MsTeams][ManifestFile][Botframework] Attachment icon is missing in mobile teams"
Hi Team,

* I have created manifest file for my Bot and uploaded in teams as app.
* I have set  "supportsFiles": true.
* I am able to see Attachment options in Desktop Teams app but it is missing in mobile Teams.
* Please find the attachment

<img width="494" alt="AttachmentIcon" src="https://user-images.githubusercontent.com/49824279/74638250-94655c80-5191-11ea-9a06-3dd3676fb445.PNG">

Any Soluti

[2020-02-17 09:10] Gousia-MSFT commented on #1366
@Chekrii Sending and receiving files through Bot is not currently supported on Mobile as documented [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet). We are working on this but we do not have an ETA to share.

[2020-02-17 09:16] Gousia-MSFT commented on #1365
@mohamedalaa33 Sending files using webhook is currently not supported.

[2020-02-17 09:18] mohamedalaa33 commented on #1365
@Gousia-MSFT  is there any workaround ?

[2020-02-17 09:20] Gousia-MSFT commented on #1365
@mohamedalaa33 As of now you could only provide hyperlink of the file in the message. Other than that there is no way to send files using webhooks.

[2020-02-17 09:24] mohamedalaa33 commented on #1365
@Gousia-MSFT is creating a bot to send and receive files can solve issue ?

[2020-02-17 09:25] Gousia-MSFT commented on #1365
@mohamedalaa33 Yes, you can use Bots to send and receive files.

[2020-02-17 09:26] Abhijit-MSFT commented on #1306
Hi @berezovskyy-andriy, sorry for the delayed response. The format ("2020-01-15T17:10:23+02:00") that you have given will not work. Provide datetime in this format "2020-01-15T17%3A10%3A23%2B02%3A00". This works for me.

Can you please try the URL that i added in the previous post and let me know your findings. I see that the date is showing wrong in your screen when you changed the timezone but f

[2020-02-17 09:27] mohamedalaa33 commented on #1365
@Gousia-MSFT  Thank you

[2020-02-17 09:27] #1365 closed

[2020-02-17 11:38] luizcieslak commented on #1305
@Gousia-MSFT are you using the browser to make the tests or cURL?

Here is the screenshot from codesandbox. Is not very helpful tho, the request doesn't even complete. I'm afraid that maybe it could be a CORS error as well.

<img width="1109" alt="image" src="https://user-images.githubusercontent.com/14146176/74650546-bdb9c480-5160-11ea-8b0c-2f3e9cd2f8a4.png">

[2020-02-17 12:24] berezovskyy-andriy commented on #1306
Hi @Abhijit-MSFT thanks for response
1. All my date times ofcourse was encoded into url. Today i tested on startTime=02%2F17%2F2020%2011%3A40%3A00&endTime=02%2F17%2F2020%2020%3A00%3A00 and reproduced an issue
2. I tested your link and reproduced an issue
3. As i see from your screenshot you don't use standart scheduling dialog or you have another Teams client. I used Teams client for Windows 10 64

[2020-02-17 12:57] PramodDeokar-ms opened #1368 "Detect close event when a task module is invoked from a bot"
As per doc,  It is currently not possible to detect close event when a task module is invoked from a bot.
Do we have any advancement in framework to detect the close event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 501d3295-997c-d252-d458-534673b36a52
* Version Independent ID: c90dcc98-df65-b45b-4f78-64d2cab91852

[2020-02-17 13:06] berezovskyy-andriy commented on #1306
I googled little bit and found this
https://www.microsoft.com/en-us/microsoft-365/roadmap?SilentAuth=1&wa=wsignin1.0&rtc=1&filters=Microsoft%20Teams&searchterms=48516
do you use this new calendar app ?

[2020-02-17 16:21] apollon7 opened #1369 "Teams mobile app (Android, iOS) can't open tel, mail links in personal app"
When clicking on a tel: or mailto: link in Teams mobile app (preview mode) - personal app I get forwarded to an error screen. The links are opened correctly when target="_blank" is used.

The same links are working (without target="_blank") if the SPFx solution is opened in the SharePoint mobile app, Edge mobile or on PC (Teams client/browser).

[2020-02-17 17:05] abarringtonACR commented on #1361
Hi @Gousia-MSFT, is there a way to automatically generate webhooks for a connector? That's the only part I am trying to configure.

[2020-02-18 02:05] vamboda opened #1371 "Highlight AAD app creation steps in 'Register your web service with Bot Framework'"
It would help the reader by placing relevant screenshots and highlights for these steps:
[code]
If the reader accidentally enters his/her own Id and password, app creation would fail SILENTLY. It becomes extremely difficult for the reader to debug this in the latter part of the tutorial.
Here is the docs link: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/create-a-bot-for-te

[2020-02-18 05:15] #549 closed

[2020-02-18 05:17] #644 closed

[2020-02-18 05:22] #1284 closed

[2020-02-18 05:26] Gousia-MSFT commented on #1275
Please re-open with requested information.

[2020-02-18 05:26] #1275 closed

[2020-02-18 05:30] #1272 closed

[2020-02-18 05:39] #855 closed

[2020-02-18 05:41] Gousia-MSFT commented on #874
@unt1tled Thanks for reaching out. We are tracking this bug internally.

[2020-02-18 05:41] #874 closed

[2020-02-18 05:43] Gousia-MSFT commented on #887
@MagtheRag Thanks for sharing your feedback. We will consider your pointers and are working on improvising the experience of Navigating between tabs.

[2020-02-18 05:43] #887 closed

[2020-02-18 05:45] #1142 closed

[2020-02-18 05:46] #1189 closed

[2020-02-18 05:47] Gousia-MSFT commented on #1192
@NischaiV Currently we do not have any plans for this.

[2020-02-18 05:47] #1192 closed

[2020-02-18 05:49] #1366 closed

[2020-02-18 05:51] Gousia-MSFT commented on #1361
@abarringtonACR No there isn't any way to automatically generate webhooks for a connector.

[2020-02-18 05:52] #1343 closed

[2020-02-18 07:41] GauravES commented on #1301
I think we are not understanding each other. The Sample code only refers to how to ask for notification permissions.  We still dont have any sample code for how to *send* a notification, after we have the permissions.

[2020-02-18 07:45] Trinetra-MSFT commented on #1369
Could you please help us to know what error you are getting , a screen shot of error will be helpful to understand the issue?

[2020-02-18 09:34] GabrielSandor opened #1372 "Out of office message not shown in mobile app"
The mobile app only shows the out-of-office status of a co-worker, and not the message, which might contain important information such as the leave duration and the escalation contact.

[2020-02-18 10:45] apollon7 commented on #1369
@Trinetra-MSFT sure, this is the error screen I've mentioned:
![scr](https://user-images.githubusercontent.com/30493494/74728753-9a1b7a80-5243-11ea-91e7-a1b0dd3b654b.jpg)

[2020-02-18 15:20] #1361 closed

[2020-02-18 17:22] s-KaiNet opened #1373 ""Upload your tab to Teams with App Studio" is duplicated"
As title says, the paragraph "Upload your tab to Teams with App Studio" is duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e39b179-334a-694f-9f3f-b19a53f54c92
* Version Independent ID: 12502141-5ccd-b98f-2f8f-2defe49c515f
* Content: [Create a Channel and Group Tab with ASP.NET Core - Teams](https://docs.mic

[2020-02-18 17:41] s-KaiNet opened #1374 "Broken link"
Link [Tabs design(~/tabs/design/tabs.md) is broken (`]` is missing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae27eac6-3289-3945-f3f1-fb9d811ff95c
* Version Independent ID: 720ebdd4-77fa-f0d4-d566-c8fff9afb08d
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platfor

[2020-02-18 17:43] s-KaiNet opened #1375 "Broken link"
Link Bot design(~/bots/design/bots.md) is broken (`]` is missing).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae27eac6-3289-3945-f3f1-fb9d811ff95c
* Version Independent ID: 720ebdd4-77fa-f0d4-d566-c8fff9afb08d
* Content: [Design Guidelines Reference - Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/

[2020-02-18 19:08] dastewa opened #1376 "Personal Notification"
Hi team, is there any recommended method for sending a Teams notification to a specific user without the use of a bot? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad9f167-7d29-f933-7b47-60bd744899b1
* Version Independent ID: 8097fcbd-adcc-ce49-a378-426c65af9296
* Content: [Send proactive messages - Teams](h

[2020-02-19 03:23] Gousia-MSFT commented on #1374
Duplicate of #1375

[2020-02-19 05:44] s-KaiNet commented on #1374
It's not duplicate, it's two different broken links...

[2020-02-19 06:21] Gousia-MSFT commented on #1374
@s-KaiNet Sorry about it. Re-opening.

[2020-02-19 07:30] Gousia-MSFT commented on #1372
@GabrielSandor You can see the OOF message of the user when you click on the name of the user from the chat.
![image](https://user-images.githubusercontent.com/45553518/74811546-b557ba00-5317-11ea-8ba4-2d3d31d0aec1.png)

[2020-02-19 07:34] GabrielSandor commented on #1372
Hello @Gousia-MSFT,

I don't see this in the iOS mobile app.

[2020-02-19 08:59] PrasadKasireddy commented on #1374
Thanks for reporting this issue, I have corrected the broken link and waiting for merge

[2020-02-19 09:22] PrasadKasireddy commented on #1375
Updated the broken link,  waiting for merge

[2020-02-19 09:51] TinavdV opened #1378 "Reply to a chat works on mobile but not on desktop"
It is possible to select reply in the team iOS and android applications, but there is no option to reply to a chat on the desktop version:
![image](https://user-images.githubusercontent.com/61229190/74821814-7704cf80-5304-11ea-852d-2a1d6091ddba.png)

On iOS:
![image](https://user-images.githubusercontent.com/61229190/74822594-a700a280-5305-11ea-843b-38f9ef941ebe.png)

On the desktop version:
![ima

[2020-02-19 09:58] Gousia-MSFT commented on #1378
@TinavdV Thanks for reaching out to us. We do have a feature request on this, which we are working on but we do not have an ETA on when this will be released.

[2020-02-19 10:10] Trinetra-MSFT commented on #1353
@laujan , Could you please help to update the doc for this?

[2020-02-19 10:36] TinavdV commented on #1378
Thanks for the quick reply Gousia! I tried to find a request but didn`t know where to look.

Is there any other place I can go to vote this up so that it can get to the front of the queue?  I find this the most annoying lacking feature in the desktop application, especially in large groups where there is no way to indicate to which person or message you are responding to.

[2020-02-19 10:40] Gousia-MSFT commented on #1378
@TinavdV This request is being tracked internally. However, you can vote for a [uservoice](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/31425436-ability-to-reply-to-a-specific-message-in-a-chat-t) here.

[2020-02-19 10:49] TinavdV commented on #1378
Ok, I voted!

Do you mean tracked internally by the Teams team, or internally within Microsoft?

[2020-02-19 11:10] Trinetra-MSFT commented on #1369
Could you please try this with target = "_blank"? If this works for you. it would be good

[2020-02-19 11:28] Subhasish-msft commented on #1376
You can send notification to an user only using proactive message from a bot. There is another way to send messages to a channel using [webhooks and connectors](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/what-are-webhooks-and-connectors)

[2020-02-19 12:33] MarkyDeParky opened #1380 "Schema url is invalid"
The proposed $schema url is not working. It's not the same from other documentation either.
The url that's not working:
https://developer.microsoft.com/json-schemas/teams/v1.5/MicrosoftTeams.schema.json
The url that's working correctly:
https://developer.microsoft.com/en-us/json-schemas/teams/v1.5/MicrosoftTeams.schema.json

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-02-19 13:27] TinavdV commented on #1378
Because if I can get access to track the request as a PFE, that would be great.

[2020-02-19 13:50] sebastianvr commented on #1330
Page does also not describe how to actually handle the commands in code. The paragraph only describes how to strip mentions.

[2020-02-19 14:46] dastewa commented on #1376
Ah, ok thank you @Subhasish-msft - I'll close :).

[2020-02-19 14:46] #1376 closed

[2020-02-19 14:59] apollon7 commented on #1369
Yes, as described above the tel and mailto links open correctly if target = "_blank" is used (neccessary in Teams on the web and Teams mobile app).
However it's not neccessary to use target = "_blank" in SharePoint Online, SharePoint mobile app or Teams Client (Windows).
Because I want to avoid that the user is left with an empty tab open after clicking on a phone number my application currently s

[2020-02-19 16:35] tingyiy commented on #1321
the response is in my comment.
It turned out this happens when both text and attachments are present in the message. If I send only text or attachments then i get the id back.

[2020-02-19 21:43] clearab commented on #1376
@dastewa: You can also use Power Automate (formerly Flow) to send messages to a user.

[2020-02-19 23:42] #1373 closed

[2020-02-19 23:52] #1374 closed

[2020-02-19 23:52] #1375 closed

[2020-02-20 05:49] Gousia-MSFT commented on #1378
@TinavdV  These requests are being tracked internally by the Teams team and are being worked on. It is not possible to provide access to the users to track the request.

[2020-02-20 05:57] Subhasish-msft commented on #1368
HI @PramodDeokar-ms ,

Currently, there is no provision to capture close event of a task module invoked form bot. Whereas you can capture the close event if you invoke task module from a Tab.

Can you please share in what scenario you need to capture the close event ?

[2020-02-20 06:45] Trinetra-MSFT commented on #1287
@rijaljayanta , TeamsNotifyUser doesn't work in channel. There is a Open Bug for this. We are working on it, We will update you once it is fixed.

[2020-02-20 06:48] #1287 closed

[2020-02-20 07:39] Gousia-MSFT commented on #1321
@tingyiy Sending a text message and an attachment at once does not generate a activity id. You need to send a single message at once to get the activity id.

[2020-02-20 08:12] PramodDeokar-ms commented on #1368
Thanks @Subhasish-msft

[2020-02-20 08:12] #1368 closed

[2020-02-20 10:23] Trinetra-MSFT commented on #1329
@derekblankmccoy , Feel free to reopen if you still facing this issue.

[2020-02-20 10:23] #1329 closed

[2020-02-20 16:25] tingyiy commented on #1321
yes that's what i found. is this mentioned some where i have missed?

[2020-02-20 17:21] mjzwick opened #1387 "Files with "#" character cannot be moved in Teams"
I am using the MacOS Teams application 1.3.00.362.

I have seen this multiple times today so easy to replicate. In the Files tab, upload a file that contains the pound sign character in the file name ('#'). Uploads into Teams fine. Create a Folder. Try to move the file into the folder by selecting the file, selecting Move, and picking the folder. Teams returns an error "cannot move file" without e

[2020-02-20 18:26] #1380 closed

[2020-02-20 18:31] berezovskyy-andriy commented on #1306
Hi @Abhijit-MSFT . I debug teams app little bit and *maybe* found a reason why this can happens. Please send this screenshot to developer team. Thank you.
![image](https://user-images.githubusercontent.com/22958533/74966566-8b85bc80-5417-11ea-9e89-0f1d552b099d.png)

[2020-02-20 18:34] laujan commented on #1364
Thank you! The article has been updated.

[2020-02-20 18:34] #1364 closed

[2020-02-20 19:00] #1363 closed

[2020-02-20 19:26] laujan commented on #1362
I am checking with the engineering team. I will let you know what they say.

[2020-02-20 20:12] dastewa commented on #1376
Thank you for that suggestion @clearab! That's awesome, I'll be diving into that some more - cheers!

[2020-02-21 08:54] Trinetra-MSFT commented on #1337
@GabrielSandor , Currently speed dial feature on mobile in not available for mobile. This is in our Road map but we don't have ETA to share with you.

[2020-02-21 14:49] feifeiJun opened #1389 "How to enable the bot searched by other people with bot's appID?"
I try this document, what I did:
1. I connected my bot with Teams channel in Azure portal
2. In app studio, I created one bot in Teams and linked the bot in Azure portal with AppId.
3. I install the Teams bot in group chat and conversation chat, other people can find it. But in personal chat, I and other people can search my bot in MSTeams by the bot AppId, but can't search by the bot's name. Actu

[2020-02-21 15:38] ii-batman commented on #1349
Errors:
DevTools failed to parse SourceMap: https://teams.microsoft.com/service-worker.js.map
DevTools failed to parse SourceMap: chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/sourcemaps/onloadwff.js.map
jsll-4.js:1 Cross-Origin Read Blocking (CORB) blocked cross-origin response https://web.vortex.data.microsoft.com/collect/v1?$mscomCookies=false&ext-javascript-msfpc=%27GUID%3D54703b720e5b48

[2020-02-21 16:01] rizwanja opened #1390 "Can't determine user timezone in tab from Teams context"
When accessing a Teams tab there doesn't appear to be a way that the user's time zone can be determined from the context properties. The closest property appears to be locale but that won't really work. Is there a way we can determine this?